<?php $theme = Mage::getSingleton('core/design_package')->getTheme('locale');?>


<nav class="global-mobile-nav-bottom show-for-small-only">
    
    <div class="row small-up-5">

        <div class="columns">
            <div class="icon-items">
                <a href="/" onclick="toggleUp('global-categorys')">
                    <i class="fa fa-home" aria-hidden="true"></i><span class="title">Home</span>
                </a>
            </div>
        </div>


        <div class="columns">
            <div class="icon-items">
                <a href="#" onclick="toggleUp('store-category')">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <span class="title">Category</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="icon-items">
                <a href="#" onclick="toggleUp('inboxModal')">
                    <i class="fa fa-inbox" aria-hidden="true"></i>
                    <span class="title">Inbox</span>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="icon-items">
                <a href="#" onclick="toggleUp('helpModal')">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <span class="title">Help</span>
                </a>
            </div>
        </div>




        <div class="columns">
            <div class="icon-items">
                <a href="#" onclick="toggleUp('accountModal')">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="title">Account</span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div id="global-category" class="slideup-container">
    <button onclick="toggleUp('global-category')" class="close-button" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="slideup-content">

        <div class="title">
            <img height="20" width="20" title="wearinasia" src="https://wia.id/media/wysiwyg/logo/wia-logo.svg" alt="">
            WEARINASIA
        </div>
        <div class="row small-up-1">
            <div class="columns">
                <div class="card">
                    <a href="<?php echo $this->getUrl('goods') ?>">
                        <div class="overylay-cta-v2 card-hero">
                            <div class="card-image">
                                <img src="https://via.placeholder.com/375x225" alt="">


                            </div>
                            <div class="card-content content-filter-black-1">


                                <h2>

                                    Goods

                                </h2>
                                <p>Find goods for your next live journey</p>
                                <div class="button tiny hollow white uppercase ">Shop now</div>





                            </div>
                        </div>
                    </a>

                </div>

            </div>
            <div class="columns">
                <div class="card">
                    <a href="<?php echo $this->getUrl('experience') ?>">
                        <div class="overylay-cta-v2 card-hero">
                            <div class="card-image">
                                <img src="https://via.placeholder.com/375x225" alt="">


                            </div>
                            <div class="card-content content-filter-black-1">


                                <h2>

                                    Experience

                                </h2>
                                <p>Explore an experience around you</p>
                                <div class="button tiny hollow white uppercase">Explore Now</div>





                            </div>
                        </div>
                    </a>

                </div>

            </div>

        </div>


    </div>

</div>

<div id="inboxModal" class="slideup-container">
    <button onclick="toggleUp('inboxModal')" class="close-button" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="slideup-content">

        <div class="title">
            Inbox
        </div>
        <div class="row">
            <div class="small-12 columns">

                <?php $orderId = Mage::getSingleton('checkout/session')->getLastRealOrderId();
            $order = Mage::getModel('sales/order')->loadByIncrementId($orderId);
            
            ?>

                <?php if( $order->getStatus() == 'pending'):?>
                <h5 class="caption">Pending Payment</h5>
                <b>#<?php echo $order->getIncrementId();?></b>
                <p>Anda belum menyelesaikan proses pembayaran. Silahkan melanjutkan proses pembayaran Anda</p>
                <a href="/snapbaru/payment/opensnap" class="button expanded">Complete Payment</a>
                <?php else:?>
                <p>No message</p>
                <?php endif;?>

            </div>
        </div>



    </div>

</div>

<div id="helpModal" class="slideup-container">
    <button onclick="toggleUp('helpModal')" class="close-button" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="slideup-content">

        <div class="title">
            Help
        </div>

        <div class="row">
            <div class="small-12 columns">
                <h5 class="caption">
                    Customer Service
                </h5>

                <ul class="category-list">
                    <li class="item">
                        <a href="tel:(021) 2222 7825">
                            <i class="fa fa-phone" aria-hidden="true"></i> <?php echo $this->__('Call Center')?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://tawk.to/chat/57f34baa1fd15618f0d8af85/default" target="_blank">
                            <i class="fa fa-comments-o" aria-hidden="true"></i> <?php echo $this->__('Live Chat')?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://wa.me/6281586012527?text=Halo%20mohon%20bantuannya">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i> <?php echo $this->__('Whatsapp')?>
                        </a>
                    </li>



                </ul>
            </div>

            <div class="small-12 columns">
                <h5 class="caption">
                    <?php echo $this->__('Shopping Information')?>
                </h5>

                <ul class="category-list">
                    <li class="item">
                        <a href="<?php echo $this->getUrl('help/shipping-information') ?>">
                            <?php echo $this->__('Shipping Information')?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('help/payment-information') ?>">
                            <?php echo $this->__('Payment Information')?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('help/return-exchange') ?>">
                            <?php echo $this->__('Return & Exchange')?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('store-location') ?>">
                            <?php echo $this->__('Store Location')?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('privacy') ?>">
                            <?php echo $this->__('Privacy')?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('term-conditions') ?>">
                            <?php echo $this->__('Term and Conditions')?>
                        </a>
                    </li>



                </ul>






            </div>


        </div>








    </div>

</div>

<div id="accountModal" class="slideup-container">
    <button onclick="toggleUp('accountModal')" class="close-button" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="slideup-content">

        <div class="title">
            Account
        </div>
        <?php if( ! Mage::getSingleton('customer/session')->isLoggedIn()):?>

        <div class="row small-up-2">
            <div class="columns">
                <a href="<?php echo $this->getUrl('customer/account/login') ?>"
                    class="button tiny secondary expanded">Login</a>
            </div>

            <div class="columns">
                <a href="<?php echo $this->getUrl('customer/account/create') ?>"
                    class="button tiny secondary expanded">Register</a>
            </div>

        </div>
        <?php endif;?>


        <div class="row">
            <div class="small-12 columns">
                <h5 class="caption">
                    My Account
                </h5>

                <ul class="category-list">

                    <li class="item">
                        <a href="<?php echo $this->getUrl('customer/account') ?>">
                            <?php echo $this->__('Profile')?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('sales/order/history') ?>">
                            <?php echo $this->__('My Order')?>
                        </a>
                    </li>



                </ul>






            </div>

            <div class="small-12 columns">
                <h5 class="caption">
                    <?php echo $this->__('Manage Experience')?>
                </h5>

                <ul class="category-list">
                    <li class="item">
                        <a href="https://wia.id/exp/product/onboard/step/1">

                            <?php echo $this->__('Host an Experience')?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('exp/booking/list') ?>">

                            <?php echo $this->__('My Booking')?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('exp/payout') ?>">

                            <?php echo $this->__('Payout Request')?>
                        </a>
                    </li>





                </ul>






            </div>

            <div class="small-12 columns hide">
                <ul class="category-list">

                    <li class="item">
                        <a href="<?php echo $this->getUrl('privacy-policy') ?>">
                            <?php echo $this->__('Privacy Policy')?>
                        </a>

                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('help') ?>">
                            <?php echo $this->__('Help Center')?>
                        </a>
                    </li>






                </ul>






            </div>


        </div>








    </div>

</div>

<?php if ($theme == "experience"): //experience?>

<div id="store-category" class="slideup-container">
    <button onclick="toggleUp('store-category')" class="close-button" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="slideup-content">

        <div class="title">
            Explore Experience
        </div>
        <div class="row">
            <div class="small-12 columns">
                <h5 class="caption">
                    Trending Experience
                </h5>
                <div class="hero-category">
                    <div class="row small-up-2">

                        <div class="columns">
                            <img src="https://via.placeholder.com/375x255" alt="">
                        </div>
                        <div class="columns">
                            <img src="https://via.placeholder.com/375x255" alt="">
                        </div>
                    </div>
                </div>



                <ul class="category-list">
                    <li class="item">
                        <a href="<?php echo $this->getUrl('experience/workshop') ?>">
                            Workshop
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('experience/concert') ?>">
                            Concert
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('experience/food-drink') ?>">
                            Food & Drink
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('experience/social') ?>">
                            Social
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('experience/arts') ?>">
                            Arts
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('experience/nightlife') ?>">
                            Nightlife
                        </a>
                    </li>



                </ul>






            </div>


        </div>

    </div>

</div>

<?php else: //goods?>

<div id="store-category" class="slideup-container">
    <button onclick="toggleUp('store-category')" class="close-button" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="slideup-content">

        <div class="title">
            Category
        </div>
        <div class="row">
            <div class="small-12 columns">
                <h5 class="caption hide">
                    Promos
                </h5>
                <div class="hero-category hide">
                    <div class="row small-up-2">

                        <div class="columns">
                            <img src="https://via.placeholder.com/375x255" alt="">
                        </div>
                        <div class="columns">
                            <img src="https://via.placeholder.com/375x255" alt="">
                        </div>
                    </div>
                </div>



                <ul class="category-list">
                    <li class="item">
                        <a style="color:#f57224" href="<?php echo $this->getUrl('goods/new-arrivals') ?>">New
                            Arrivals</a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('brand') ?>">
                            <?php echo $this->__('Brand');?>
                        </a>
                    </li>



                    <li class="item">
                        <a href="<?php echo $this->getUrl('goods/bags') ?>">
                            <?php echo $this->__('Bags');?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('goods/footwear') ?>">
                            <?php echo $this->__('Footwear');?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('goods/clothing') ?>">
                            <?php echo $this->__('Clothing');?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('goods/accesories/wallet') ?>">
                            <?php echo $this->__('Wallets');?>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<?php echo $this->getUrl('goods/accesories') ?>">
                            <?php echo $this->__('Accesories');?>
                        </a>
                    </li>

                    <li class="item">
                        <a href="<?php echo $this->getUrl('goods/tech') ?>">
                            <?php echo $this->__('Tech');?>
                        </a>
                    </li>



                </ul>






            </div>


        </div>

    </div>

</div>
<?php endif?>
