<?php $step = $this->getRequest()->getParam('step');?>

<?php if($step == '1'):?>

<?php $session = Mage::getSingleton('customer/session');
    if($session->getBookSession() == null){
        Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getBaseUrl());
       
    }
?>

<?php $customer = $this->getCustomerDetails();
//var_dump($customer);
?>


<?php

$session = Mage::getSingleton('customer/session');
$booksession = $session->getBookSession();
//var_dump($booksession);?>

<section id="booking-form" class="padding-center">

<form class="form" id="contact-info" method="post"
                        action=<?php echo $this->getUrl("service/product/saveOrder") ?>>
    
                        <input  type="hidden" name="product_id" value="<?php echo $booksession['product_id']?>">
                        <input  type="hidden" name="product_price" value="<?php echo $booksession['product_price']?>">
    

                        <div class="row small-collapse medium-uncollapse">
        <div class="medium-7 columns">
            <div class="booking-form-container">
                <h3>Contact Details</h3>
                <div class="booking-contact-details">

                    <div class="row">
                        <div class="medium-12 columns">
                            You are login as <?php echo $customer['full_name']?>
                                
                        </div>
                        
                    </div>

                </div>
                <div class="booking-contact-details">

                    <div class="row">
                        <div class="medium-6 columns">
                            <label for="address">Date</label>
                            <input class="required-entry" type="date" name="booking_date">
                        </div>
                        <div class="medium-6 columns">
                            <label for="address">Request Time</label>
                            <input class="required-entry" type="time" name="booking_time">
                        </div>
                        
                    </div>

                </div>
                <div class="booking-contact-details">

                    <div class="row">
                        <div class="medium-12 columns">
                            <label for="address">Address</label>
                            <input class="required-entry"  type="text" name="address[street]" value="<?php echo $customer['address']['street'];?>" placeholder="Jl. Pinus 1 no 58">
                            
                            <label for="address">Building</label>
                            <input class="required-entry" type="text" name="address[building]" value="<?php echo $customer['address']['building'];?>" placeholder="Rajawali Tower">

                            <label for="address">City</label>
                            <input class="required-entry" type="text" name="address[city]" value="<?php echo $customer['address']['city'];?>" placeholder="Tangerang">

                            


                            <label for="address">Region</label>
                            <input class="required-entry"  type="text" name="address[region]" value="<?php echo $customer['address']['region'];?>" placeholder="Banten">
                                
                        </div>
                        
                    </div>

                </div>

            </div>

            
        </div>
        <div class="medium-5 columns">
            <div class="booking-form-container order-summary">
                <h3>Order Summary</h3>
                <div class="booking-contact-details">
                    
                    <div class="row">
                        
                        <div class="medium-12 columns">
                            
                            <p><?php echo $booksession['product_name']?></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            
                            <table>


                                <tbody>
                                    <tr>
                                        <td><b>Subtotal</b></b></td>
                                        <td class="text-right" style="width:30%"><?php echo Mage::helper('core')->currency($booksession['product_price'], true, false);?></td>
                                    </tr>
                                   
                                </tbody>
                            </table>

                            <div class="fix-button">
                                <div class="row collapse">
                                    <div class="small-6 columns">
                                        <p>Total</p>
                                    </div>
                                    <div class="small-6 columns text-right">
                                        <div class="total">
                                            
                                           <?php echo Mage::helper('core')->currency($booksession['product_price'], true, false);?>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="button secondary expanded">Continue for Review</button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    //< ![CDATA[
        var customForm = new VarienForm('contact-info');
    //]]>
</script>

</section>
<?php endif;?>



