<?php $step = $this->getRequest()->getParam('step');?>
<?php if($step == '2'):?>

<?php

$session = Mage::getSingleton('customer/session');
$checkoutsession = $session->getCheckoutSession();

if($checkoutsession == null){
    Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getBaseUrl().'service/product/order/step/1');

}

//var_dump($checkoutsession);?>



<section id="booking-form" class="padding-center">

<form class="form" id="contact-info" method="post"
                        action=<?php echo $this->getUrl("service/product/createOrder") ?>>



<input type="hidden" name="product_id" value="<?php echo $checkoutsession['product_id']?>">
<input type="hidden" name="product_price" value="<?php echo $checkoutsession['product_price']?>">
<input type="hidden" name="booking_date" value="<?php echo $checkoutsession['booking_date']?>">
<input type="hidden" name="booking_time" value="<?php echo $checkoutsession['booking_time']?>">

<input type="hidden" name="booking_address[street]" value="<?php echo $checkoutsession['address']['street']?>">
<input type="hidden" name="booking_address[building]" value="<?php echo $checkoutsession['address']['building']?>">
<input type="hidden" name="booking_address[city]" value="<?php echo $checkoutsession['address']['city']?>">
<input type="hidden" name="booking_address[region]" value="<?php echo $checkoutsession['address']['region']?>">



        <div class="row small-collapse medium-uncollapse">
            <div class="medium-7 columns">
                <div class="booking-form-container">
                    
                    <h3>Review Your Booking</h3>
                    <div class="booking-contact-details">

                        <div class="row">

                            <div class="medium-12 columns">

                                <div class="padding-center border-bottom">
                                    <p><b>Booking Date</b></p>
                                    <div class="row collapse small-up-2">
                                        <div class="columns">
                                            <p>Booking Date</p>
                                            <p><?php echo $checkoutsession['booking_date']?></p>
                                        </div>
                                        <div class="columns">
                                            <p>Booking Time</p>
                                            <p><?php echo $checkoutsession['booking_time']?></p>
                                        </div>
                                    </div>

                                </div>

                                <div class="padding-center border-bottom">
                                    <p><b>My Location</b></p>
                                    <p><?php echo $checkoutsession['address']['street']?>, <?php echo $checkoutsession['address']['city']?>, <?php echo $checkoutsession['address']['region']?></p>

                                </div>

                                <div class="padding-center">
                                    <p><b>Message</b></p>
                                    <?php echo $checkoutsession['note']?>

                                </div>



                            </div>



                        </div>



                    </div>

                </div>

               
            </div>


            <div class="medium-5 columns">
                <div class="booking-form-container order-summary">
                    <div class="booking-contact-details">

                        <div class="row">
                            <div class="medium-12 columns">

                                <table>


                                    <tbody>
                                        <tr>
                                            <td><b>Subtotal</b></b></td>
                                            <td class="text-right" style="width:30%"> <?php echo Mage::helper('core')->currency($checkoutsession['product_price'], true, false);?>
                                       </td>
                                        </tr>
                                       
                                        <tr>
                                            <td>Taxes</td>
                                            <td class="text-right" style="width:30%">0</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="fix-button">
                                    <div class="row collapse">
                                        <div class="small-6 columns">
                                            <p>Total</p>
                                        </div>
                                        <div class="small-6 columns text-right">
                                            <div class="total">
                                            <?php echo Mage::helper('core')->currency($checkoutsession['product_price'], true, false);?>
                                       
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="button secondary expanded">Book Now</button>
                                </div>

                            </div>

                        </div>

                    </div>
                    <p class="small-text text-center"><i class="fa fa-lock" aria-hidden="true"></i> By clicking this button you are agree to our terms & conditons</p>

                </div>
               
            </div>
        </div>
    </form>


</section>

<?php endif;?>