<?php $step = $this->getRequest()->getParam('step');?>

<?php if($step == '3'):?>

<?php  $session = Mage::getSingleton('customer/session');
                $lastbooking = $session->getLastBookingSession();

                if($lastbooking == null){
                    Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getBaseUrl().'service/product/order/step/2');

                }
                
                //var_dump($session->getLastBookingSession());
                ?>

<section id="booking-form" class="padding-center">

    <form action="" class="form">
        <div class="row small-collapse medium-uncollapse">

            <div class="medium-8 medium-centered columns">
                <div class="booking-form-container order-summary">
                    <div class="booking-contact-details">

                        <div class="row">
                            <div class="medium-12 columns">
                                
                                <div class="padding-center border-bottom">
                                <h3 style="margin:1rem 0">Your Booking Success</h3>
                                    <p>Booking Id : <?php echo $lastbooking['booking_id']?></p>
                                    <p>Status : Pending</p>

                                </div>

                                <div class="padding-center border-bottom">
                                    <p><b>Booking Date</b></p>
                                    <div class="row collapse small-up-2">
                                        <div class="columns">
                                            <p>Booking Date</p>
                                            <p><?php echo $lastbooking['booking_date']?></p>
                                        </div>
                                        <div class="columns">
                                            <p>Booking Time</p>
                                            <p><?php echo $lastbooking['booking_time']?></p>
                                        </div>
                                    </div>

                                </div>

                                <div class="padding-center border-bottom">
                                    <p><b>Payment Method</b></p>
                                    <p>Manual Transfer</p>
                                    <p>Please transfer your payment to:</br>
                                    PT Satwa Teknologi Utama</br>BCA 761-55-11-111</p>

                                </div>



                                <table>


                                    <tbody>
                                        <tr>
                                            <td><b>Subtotal</b></b></td>
                                            <td class="text-right" style="width:30%"><?php echo Mage::helper('core')->currency($lastbooking['product_price'], true, false);?></td>
                                        </tr>
                                       
                                        <tr>
                                            <td>Taxes</td>
                                            <td class="text-right" style="width:30%">0</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="row collapse">
                                    <div class="small-6 columns">
                                        <p>Total</p>
                                    </div>
                                    <div class="small-6 columns text-right">
                                        <div class="total">
                                        <?php echo Mage::helper('core')->currency($lastbooking['product_price'], true, false);?>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://api.whatsapp.com/send?phone=6281586012528&text=Halo, Saya mau konfirmasi pembayaran untuk booking id <?php echo $lastbooking['booking_id']?> " class="button secondary expanded">Confirm Payment</a>


                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>


</section>


<?php endif;?>