<div>

    <h1>
    payout paid
    </h1>


    <?php 
    $orders = $this->selectOrder();
    ?>
    <a href="<?php echo $this->getUrl('exp/payout/index') ?>">payout list</a> </br>
    <a href="<?php echo $this->getUrl('exp/payout/process') ?>">payout requestpayout</a> </br>
    <a href="<?php echo $this->getUrl('exp/payout/paid') ?>">payout paid</a>

    <table border='1'> 

    <tr>
        <td>increrment id </td>
        <td>nama </td>
        <td>status</td>
    </tr>

    <?php 
     //pengembangan selanjutnya di backend filternya. jangan didepan
        foreach($orders as $ord) : 
            $order = $this->cariorder($ord);
            if($order->getStatus()==="complete_paid"){
                
            
    ?>
    
    <tr>
        <td><?php echo $order->getIncrementId() ?></td>
        <td><?php echo $order->getBillingAddress()->getFirstname(); ?></td>
        <td><?php echo $order->getStatus();  ?></td>
    </tr>
    
            <?php }endforeach; ?>
    </table>

</div>