<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Pquestion2
 * @version    2.1.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->canShow()) : ?>
    <div class="aw-pq2-answer-popup-overlay"></div>
    <div class="aw-pq2-answer-popup">
        <h3 class="aw-pq2-answer-popup__salutation"><?php echo $this->getSalutation(); ?></h3>
        <span class="aw-pq2-answer-popup__close-button"></span>
        <div class="aw-pq2-answer-popup__question-wrapper">
            <span class="aw-pq2-answer-popup__label"><?php echo $this->__('Question:'); ?></span>
            <span class="aw-pq2-answer-popup__question-content"><?php echo $this->getQuestionContent(); ?></span>
        </div>
        <?php echo $this->getAnswerFormHtml(); ?>
    </div>
    <script type="text/javascript">
        var popupConfig = {
            'overlaySelector': '.aw-pq2-answer-popup-overlay',
            'popupSelector': '.aw-pq2-answer-popup',
            'closeButtonSelector': '.aw-pq2-answer-popup__close-button'
        };
        var popup = new awPq2Popup(popupConfig);
    </script>
<?php endif; ?>
