
<?php $step = $this->getRequest()->getParam('step');?>
<?php $serviceType = $this->getRequest()->getParam('service_type');?>

<section id="main">
    <div class="row collapse">
        <div class="medium-3 columns">
            <div class="admin-sidebar sticky" data-sticky data-top-anchor="main" data-btm-anchor="main-footer">
            <h2 class="uppercase">Add <?php echo $serviceType?> Service </h2>
            <ul class="no-bullet step">
                <li>Select Service</li>
                <li><a href="/service/product/add/service_type/<?php echo $serviceType?>/step/1">Personal Information</a></li>
                <li><a href="/service/product/add/service_type/<?php echo $serviceType?>/step/2">Service Info</a></li>
                <li><a href="/service/product/add/service_type/<?php echo $serviceType?>/step/3">Price & Packet</a></li>
                <li><a href="/service/product/add/service_type/<?php echo $serviceType?>/step/4">Manage Schedule</a></li>
                <li><a href="/service/product/add/service_type/<?php echo $serviceType?>/step/5">Manage Photos</a></li>
            </ul>
            </div>
        </div>
        <div class="medium-9 columns">
            <div class="page-container">
            <?php echo $this->getChildHtml('select-service');?>
            <?php echo $this->getChildHtml('personal-info');?>
            <?php echo $this->getChildHtml('service-info');?>
            <?php echo $this->getChildHtml('product-info');?>
            <?php echo $this->getChildHtml('schedule');?>
            <?php echo $this->getChildHtml('service-image');?>
            </div>
        </div>
    </div>
</section>
