<?php $hostCollections = $this->getHostCollection();
//var_dump($hostCollections);?>



<section id="banner-hero" class="padding-center " style="background:#00aeef">
    <div class="row">
        <div class="medium-7 columns white">
            <h1 style="color:white">Pesan pet grooming tanpa ribet</h1>
            <p style="color:white">Sekarang kamu bisa pesan pet grooming tanpa repot. Pilih groomer favorit dan tunggu
                dirumah!</p>
        </div>
    </div>
</section>

<section id="category-goods-parrent" class="main-content padding-center" style="background:#eee">

    <div class="row ">
        <div class="medium-12 columns show-for-medium">
            <div class="callout small  small-text white" style="color:white;background:#00aeef">
                <i class="fa fa-paw" aria-hidden="true"></i> Pesan lebih nyaman dan murah lewat Petloka App <a target="_blank" href="https://play.google.com/store/apps/details?id=com.Petloka&hl=en"
                    style="color:white" class="button secondary tiny">Download Now</a>

            </div>
        </div>
        <div id="sticky-top-anchor" class="medium-4 columns show-for-medium" data-sticky-container>
            <div class="stsicky " data-sticky data-top-anchor="sticky-top-anchor:top"
                data-btm-anchor="sticky-bottom-anchor:bottom">
                <div id="category-sidebar" class="navigation-sidebar margin-bottom-1">

                    <nav class="navigation-sidebar-list">
                        <label>Find a service
                            <select>
                                <option value="husker">Grooming</option>


                            </select>
                        </label>
                        <div class="button tiny hollow show-for-small-only expanded">
                            show filter
                        </div>
                    </nav>

                    <div class="filter-container">

                        <nav class="navigation-sidebar-list">
                            <div class="nav-caption">
                                <h5>Location</h5>

                            </div>

                            <ul class="menu vertical">
                                <li><a href="#">Jakarta</a></li>
                                <li><a href="#">Tangerang</a></li>

                            </ul>
                        </nav>


                    </div>



                </div>



            </div>

        </div>
        <div id="sticky-bottom-anchor" class="medium-8 columns">

           <h3 class="show-for-small-only">Select Grooming Provider</h3>

            <div class="host-list-container">

                <div class="row medium-up-1">

                    <?php foreach ($hostCollections as $host):?>

                    <?php
                     $param = array(
                       
                        'id'   => $host->getId(),
                        'min_price'   => $host->getPrice(),
                        // 'tagline'   => $host->getTagline(),
                      
                        
                       );
                    ?>

                    
                    <div class="columns">
                        <a href="<?php echo $this->getUrl('service/product/view', $param) ?>">

                            <div class="card-host">

                                <div class="row collapse">
                                    <div class="small-3 medium-3 columns">
                                        <div class="card-image">
                                            <img src="<?php echo $host->getPhoto();?>" alt="">


                                        </div>
                                    </div>
                                    <div class="small-9 medium-9 columns">

                                        <div class="card-host-detail">
                                            <div class="row">
                                                <div class="small-7 medium-7 columns">
                                                    <div class="card-content">
                                                        <h5 class="uppercase"><?php echo $host->getServiceType()?>
                                                            SERVICE</h5>
                                                        <h2><?php echo $host->getServiceName();?></h2>

                                                        <div class="location margin-bottom-0"><i
                                                                class="fa fa-map-marker" aria-hidden="true"></i>
                                                            <?php echo $host->getLocation();?></div>
                                                        <div class="location margin-bottom-2"><i class="fa fa-check" aria-hidden="true"></i>
                                                            Verified Groomer</div>

                                                        <p class="show-for-medium"><?php echo $host->getTagline();?></p>

                                                    </div>
                                                </div>
                                                <div class="small-5 medium-5 columns text-center">
                                                    <h3><?php echo Mage::helper('core')->currency($host->getPrice(), true, false);?>
                                                    </h3>

                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>


                            </div>
                        </a>
                    </div>

                    <?php endforeach;?>
                </div>



            </div>


        </div>
    </div>
</section>
