<?php $session = Mage::getSingleton('customer/session');
        $token = $session->getToken();
        ?>


<?php if ($token == null):?>

<div class="row">
    <div class="medium-7 medium-centered">
        <p>logged in as</p>
        <p class="hide" id="WhoLogIn"></p>
        <p class="hide" id="token"></p>
        <form class="log-in-form">
            <h4 class="text-center">Log in with you email account</h4>
            <label>Email
                <input type="email" id="email" required placeholder="somebody@example.com">
            </label>
            <label>Password
                <input type="password" id="password" placeholder="Password">
            </label>
            <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
            <p><button id="createAccount" class="button primary expanded">Create Account</button></p>
            <p><button id="signIn" class="button secondary expanded">Login</button></p>
            <p><button id="signOut" class="button expanded">Sign Out</button></p>
            <p class="text-center"><a href="#">Forgot your password?</a></p>
        </form>
    </div>
</div>
<?php else:?>

<div class="row">
    <div class="medium-7 medium-centered">
        <p>logged in as</p>
        <p id="WhoLogIn"></p>
        <p class="hide" id="token"></p>
        <form class="log-in-form">
                <input type="hidden" id="email" required placeholder="somebody@example.com">
                <input type="hidden" id="password" placeholder="Password">
            <p><button id="createAccount" class="hide button primary expanded">Create Account</button></p>
            <p><button id="signIn" class="hide button secondary expanded">Login</button></p>
            <p><button id="signOut" class="button expanded">Sign Out</button></p>
            <p class="hide text-center"><a href="#">Forgot your password?</a></p>
        </form>
    </div>
</div>

<?php endif;?>



<script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
<script>
    var config = {
        apiKey: "AIzaSyD5ybGXI0a1iFdJc8AwRWgS0fVBcReV-Pc",
        authDomain: "spry-blade-228107.firebaseapp.com",
        databaseURL: "https://spry-blade-228107.firebaseio.com",
        projectId: "spry-blade-228107",
        storageBucket: "spry-blade-228107.appspot.com",
        messagingSenderId: "450788718610"
    };
    firebase.initializeApp(config);

    //begin
    //just implement what inside the .getElementById() to corresponding button
    document.getElementById("createAccount").addEventListener("click", (event) => {
        event.preventDefault();
        email = document.getElementById("email").value;
        password = document.getElementById("password").value;
        createAccount(email, password);
    })

    document.getElementById("signIn").addEventListener("click", (event) => {
        event.preventDefault();
        email = document.getElementById("email").value;
        password = document.getElementById("password").value;
        signin(email, password);
    })

    document.getElementById("signOut").addEventListener("click", (event) => {
        event.preventDefault();
        email = document.getElementById("email").value;
        password = document.getElementById("password").value;
        signOut();
    })

    //end

    //function from firebase
    createAccount = (email, password) => {
        errorCode = "";
        firebase.auth().createUserWithEmailAndPassword(email, password)
            .then(() => {
                alert("Account created successfully");
            })
            .catch(function (error) {
                errorCode = error.code;
                var errorMessage = error.message;
                alert(errorMessage);
            });
    }

    signin = (email, password) => {
        var errorCode;
        firebase.auth().signInWithEmailAndPassword(email, password)
            .then(() => {
                alert("Logged in successfully")
            })
            .catch(function (error) {
                errorCode = error.code;
                var errorMessage = error.message;
                alert(errorMessage);
            });
    }

    signOut = () => {
        firebase.auth().signOut().then(function () {
            alert("logout successful");
            removeToken();
            
        }, function (error) {
            alert("error during logout");
        });
    }

    firebase.auth().onAuthStateChanged(function (user) {
            document.getElementById("WhoLogIn").innerHTML = "";
            document.getElementById("token").innerHTML = "";
            if (user) {
                document.getElementById("WhoLogIn").innerHTML = user.email;
                console.log(user);
                user.getIdToken().then(function (data) {


                    document.getElementById("token").innerHTML = data;
                    saveToken(data);
                })
            }
        }



    );


    function saveToken(data) {

        var token = data

        new Ajax.Request('<?php echo $this->getUrl("service/account/savetoken") ?>', {
            method: 'post',
            parameters: {
                code: token,

            },
            onComplete: function (data) {
                console.log(data.responseText);
                window.location.replace("https://petloka.com/service/product/order/step/1");

               
            },



        });




    }

    function removeToken() {


new Ajax.Request('<?php echo $this->getUrl("service/account/removetoken") ?>', {
    method: 'post',
    parameters: {
        code: token,

    },
    onComplete: function (data) {
        console.log(data.responseText);
       

    },



});




}
</script>
