<?php $products = $this->getProductId()?>



<?php $host = $this->getHostDetail();?>

<?php // $hosts = $this->getHostDetails();
//var_dump($hosts)?>



<?php $photos = $host->getServicePhotos();?>

<style>
    ul>li {
        font-size: 12px
    }

    .skill {
        font-size: 12px !important;
        margin-right: 5px;
        color: #00aeef;
    }

    .callout.border {
        border: 2px solid #eee;
    }

    .small-text {
        font-size: 12px
    }

    .label.border {
        font-size: 10px;
        padding: 3px 7px;
        border-radius: 10px;
        margin-bottom: 0.5rem;
        background: none;
        color: #00aeef;
        font-weight: 400;
        border: 1px solid #00aeef
    }

    .product-info-sidebar .rating-box:before,
    .product-info-sidebar .rating-box .rating {
        text-align: center
    }
    .owl-theme .owl-nav.disabled + .owl-dots{
        position: absolute;
    bottom: 10%;
    width: 100%;s
    }
    .product-info-image{ margin :0 !important}
</style>

<section id="product-experience-info" class="single-product-info border-bottom" style="background:#eee">
    <div class="row small-collapse medium-uncollapse">

        <div class="medium-7 columns">
            <?php if($photos == null):?>
            <div class="product-info-image" style="margin:0 !important">
                <img src="<?php echo $host->getPhoto();?>" alt="">
            </div>
            <?php else:?>
            <div id="product-slider" class="owl-carousel owl-middle-narrow owl-theme">

                <?php foreach ($photos as $photo):?>
                <div class="item">
                    <div class="product-info-image">
                        <img src="<?php echo $photo?>" alt="">
                    </div>



                </div>


                <?php endforeach;?>

            </div>
            <?php endif;?>



        </div>
        <div class="medium-5 columns">
            <div class="card-list callout" style="margin:0 !important">
                <div class="host-container">

                    <div class="row medium-uncollapse">
                        <div class="small-3 medium-3 columns">
                        <div style="background: url(<?php echo $host->getPhoto();?>) no-repeat center center; 
                                    -webkit-background-size: cover;
                                    -moz-background-size: cover;
                                    -o-background-size: cover;
                                    background-size: cover;
                                    min-height:50px;
                                    min-width:50px;
                                    border-radius:100%">
                                
                            </div>
                        </div>
                        <div class="small-9 medium-9 columns">
                            <h5><?php echo $host->getServiceName();?></h5>
                            <p><?php echo $host->getCity();?></p>
                            


                        </div>


                    </div>

                    <div class="row show-for-medium">
                        <p class="margin-bottom-0">Service Start From</p>
                        <h3><?php  echo Mage::helper('core')->currency($host->getPrice(), true, false);?></h3>

                        <a href="#product-experience-details" class="button secondary expanded">Select Service</a>
                        <p>Aditional service available</p>
                    </div>



                </div>


            </div>


        </div>

    </div>
</section>


<section id="product-experience-host" class="single-product-details padding-center border-bottom">

    <div class="row">
        <div class="medium-2 columns show-for-medium">
            <div class="callout small border text-center">
                <div class="product-info-sidebar">
                    <ul class="no-bullet product-usp">
                        <li class="product-usp-item">
                            <div class="rating-container">
                                <div class="review-summary">


                                    <div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating" style="width:100%"></div>
                                        </div>

                                        <h4>Verified</h4>
                                    </div>




                                </div>


                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="medium-10 columns">
            <h3>About <?php echo $host->getServiceName();?></h3>
            <p><?php echo $host->getServiceTagline();?></p>
            <p class="margin-bottom-2">

                <?php echo $host->getBio();?>
            </p>


            <div class="row small-up-2 hide">
                <div class="columns">
                    <p><i class="fa fa-check skill" aria-hidden="true"></i> Hello</p>
                </div>
                <div class="columns">
                    <p><i class="fa fa-check skill" aria-hidden="true"></i> Hello</p>
                </div>
                <div class="columns">
                    <p><i class="fa fa-check skill" aria-hidden="true"></i> Hello</p>
                </div>
                <div class="columns">
                    <p><i class="fa fa-check skill" aria-hidden="true"></i> Hello</p>
                </div>
            </div>
        </div>
    </div>


</section>


<section id="product-experience-details" class="single-product-details padding-center" style="background:#eee">
    <div class="row ">

        <div class="medium-12 columns">
            <div class="experience-details margin-bottom-2 border-bottom">
                <h3>Select Packet</h3>
                <ul class="no-bullet group-list">
                    <?php foreach ($products as $product):?>
                    <?php
                    $param = array(
                       
                        'product_id'   => $product['product_id'], //parameter as store
                        'product_name'=> $product['product_name'],
                        'product_price'=> $product['price'],
                        'product_about'=> $product['about'],
                           
                       );
                   
                ?>


                    <li>
                        <a href="<?php echo $this->getUrl('service/product/addtocart', $param) ?>">
                            <div class="card-host">

                                <div class="row collapse">

                                    <div class="medium-12 columns">

                                        <div class="card-host-detail">
                                            <div class="row">
                                                <div class="small-8 medium-9 columns">
                                                    <div class="card-content">
                                                        <h5>GROOMING SERVICE</h5>
                                                        <h2><?php echo  $product['product_name']?></h2>
                                                        <p><?php echo  $product['about']?></p>

                                                        <ul>
                                                            <?php $includes = $product['including']?>

                                                            <?foreach ($includes as $include):?>
                                                            <li>
                                                                <div class="location margin-bottom-0">
                                                                    <?php echo $include?></div>


                                                            </li>


                                                            <?php endforeach;?>
                                                        </ul>

                                                       



                                                    </div>
                                                </div>
                                                <div class="small-4 medium-3 columns text-center">
                                                    <h3> <?php echo Mage::helper('core')->currency($product['price'], true, false);?>
                                                    </h3>
                                                    <div class="button tiny secondary">Book Now</div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>


                            </div>
                        </a>
                    </li>
                    <?php endforeach;?>

                    <li>
                        <div class="packet">
                            <div class="row">
                                <div class="medium-12 columns">
                                    <p>Semua pesanan melalui petloka mendapatkan garansi perlindungan konsumen, hubungi
                                        customer service kami untuk bantuan</p>
                                </div>

                            </div>

                        </div>
                    </li>

                </ul>

            </div>


        </div>

    </div>



</section>



<nav id="mobile-navigations" class="mobile-global-footer-nav show-for-small-only text-center">
    <div class="row">
        <div class="small-7 columns text-left">
            <p class="margin-bottom-0">Start From</p>
            <h3><?php  echo Mage::helper('core')->currency($host->getPrice(), true, false);?></h3>

        </div>
        <div class="small-5 columns">
            <a href="#product-experience-details" class="button secondary expanded">Select Service</a>
        </div>
    </div>
</nav>