<?php
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($_category->getName()).'" title="'.$this->escapeHtml($_category->getName()).'" />';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
?>



<section id="banner-hero" class="padding-center" style="background:#00aeef">
        <div class="row">
            <div class="medium-12 columns white">
                <h2 style="color:white">Find a grooming service in your area</h2>
                <p style="color:white">Get 10% Off all Product</p>            
            </div>
        </div>
</section>
