
<table class="body" data-made-with-foundation>
    <tr>
        <td class="float-center" align="center" valign="top">
            <center>
                <table class="container main">
                    <tr>
                        <td>

                            <table class="row">
                                <tr>
                                    <th class="large-12 first last columns">


                                        <table class="spacer">
                                            <tbody>
                                                <tr>
                                                    <td height="20px" style="font-size:20px;line-height:20px;">&#xA0;
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="row">
                                            <tr>
                                                <th class="small-12 large-12 first last columns">
                                                    <h1>New Booking Confirmation</h1>
                                                    <p>Your experience got a new booking. See the experience detail below</p>
                                                    <hr>
                                                </th>


                                                <th class="expander"></th>
                                            </tr>
                                        </table>

                                        <table class="row">
                                            <tr>
                                                <th class="small-12 large-12 first last columns">
                                                    <p>BOOKING ID : #1312413</p>
                                                    <h3>Manual Coffee Brewing</h3>
                                                   
                                                    <hr>
                                                </th>




                                                <th class="expander"></th>

                                            </tr>

                                            <tr>
                                                <th class="small-12 large-12 first last columns">
                                                    <p>Guest Name</p>
                                                    <h3>James Roberto</h3>
                                                </th>




                                                <th class="expander"></th>
                                            </tr>
                                        </table>
                                        <table class="row">




                                            <tr>
                                                <th class="small-6 large-6 first columns">
                                                    <p>Booking Date</p>
                                                    <h3>178238712</h3>


                                                </th>
                                                <th class="small-6 large-6 last columns">
                                                    <p>Guest</p>
                                                    <h3>1 Person</h3>
                                                </th>





                                                <th class="expander"></th>
                                            </tr>





                                        </table>


                                        <table class="row">
                                            <tr>
                                                <th class="small-12 large-12 first columns">
                                                    <p>Booking Information</p>
                                                    <p>Experience Anda sudah berhasil dipesan dan dibayar. Silahkan melakukan request payout setelah experience selesai</p>

                                                </th>

                                            </tr>
                                        </table>
                                        <table class="button expanded">
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td><a href="#">Manage My Experience</a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>


                                    </th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table class="container footer text-center" style="background: #333333 !important;">
                    <tr>
                        <td>


                            <table class="spacer">
                                <tbody>
                                    <tr>
                                        <td height="20px" style="font-size:20px;line-height:20px;">&#xA0;</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="row">
                                <tr>
                                    <th class="small-12 large-12 first last columns">
                                        <p class="text-center small-text white">Sqientia Square, Dalton 50 - Gading
                                            Serpong - Tangerang<br>O21 - 2222 7825 | cs@wearinasia.com</p>

                                    </th>




                                    <th class="expander"></th>
                                </tr>

                                <tr>
                                    <th class="small-12 large-12 first last columns">
                                        <center data-parsed="">
                                            <table align="center" class="menu float-center">
                                                <tr>
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <th class="menu-item float-center"><a
                                                                        class="small-text white"
                                                                        href="https://wia.id/term-conditions">Term &
                                                                        Conditions</a>
                                                                </th>
                                                                <th class="menu-item float-center"><a
                                                                        class="small-text white"
                                                                        href="https://wia.id/privacy">Privacy Policy</a>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </center>

                                    </th>




                                    <th class="expander"></th>
                                </tr>
                            </table>








                        </td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>