<?php

$_categoryId = $this->getCategoryId();
$_category = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)


    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->joinField(
        'stock_status',
        'cataloginventory/stock_status',
        'stock_status',
        'product_id=entity_id', array(
          'stock_status' => Mage_CatalogInventory_Model_Stock_Status::STATUS_IN_STOCK,
          'website_id' => Mage::app()->getWebsite()->getWebsiteId(),
        )
    )
    ->setPageSize(12);

    $_productCollection->getSelect()->order(new Zend_Db_Expr('RAND()'));




?>

<section id="featured-host-<?php echo $_category->getName();?>" class="padding-center">
    <div class="host-list-container">
        <div class="row">
            <div class="small-6 columns">
                <h2>
                <?php echo $_category->getName();?>
                </h2>
                
            </div>

            <div class="small-6 columns text-right">
                <a href="<?php echo $_category->getUrl();?>">
                    View More
                </a>
            </div>
           
            <div class="medium-12 columns">
                <div id="featured-product" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
                    
                    <?php 
                    
                    foreach ($_productCollection as $_product):?>
                    <?php $_convertedFinalPrice = $_product->getFinalPrice(); ?>
                    <div class="item">
                        <div class="card-product-goods">

                            <div class="card-image">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                                    class="product-image">
                                    <?php /* Based on the native RWD styling, product images are displayed at a max of ~400px wide when viewed on a
                        one column page layout with four product columns from a 1280px viewport. For bandwidth reasons,
                        we are going to serve a 300px image, as it will look fine at 400px and most of the times, the image
                        will be displayed at a smaller size (eg, if two column are being used or viewport is smaller than 1280px).
                        This $_imgSize value could even be decreased further, based on the page layout
                        (one column, two column, three column) and number of product columns. */ ?>
                                    <?php $_imgSize = 300; ?>
                                    <img height="300" width="300" id="product-collection-image-<?php echo $_product->getId(); ?>"
                                    class="lazy" data-srcset="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200,200); ?> 768w, <?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500,500); ?> 1024w" data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100,100); ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(20,20); ?>"
                                        alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />

                                </a>
                            </div>
                            <div class="card-content">
                                <div class="product-title">
                                    <h5 class="product-brand"><a href="">Brand</a></h5>
                                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                            <?php $prod_name = $_product->getName(); ?>
                                            <?php
                            $count_str = strlen($prod_name);
                            if ($count_str < 30) {
                                echo $prod_name;
                            } else {
                                $offset = 0;
                                $length = 31;   
                                $prod_name = html_entity_decode($prod_name);                     
                                echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;                        
                            }
                    ?>
                                        </a></h2>
                                </div>

                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>

                                <div class="product-price">
                                    <span class="final-price">
                                        <?php echo $this->getPriceHtml($_product, true) ?></span>
                                    <span class="installment">(
                                        <?php if ($_product->getData('installment') == '158'):?>
                                        <?php $cicilan = $_convertedFinalPrice / 3;?>
                                        <?php echo Mage::helper('core')->currency($cicilan) ?> x 3 Bln
                                        <?php elseif ($_product->getData('installment') == '158,157'):?>
                                        <?php $cicilan = $_convertedFinalPrice / 6;?>
                                        <?php echo Mage::helper('core')->currency($cicilan , true, false) ?> x 6 Bln
                                        <?php elseif ($_product->getData('installment') == '158,157,156'):?>
                                        <?php $cicilan = $_convertedFinalPrice / 12;?>
                                        <?php echo Mage::helper('core')->currency($cicilan , true, false) ?> x 12 Bln
                                        <?php endif;?> )</span>

                                </div>


                            </div>

                        </div>

                    </div>





                    <?php endforeach ?>


                </div>
            </div>
        </div>


    </div>

</section>
