<style>
    .mercury {
        color: #999;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 20px
    }
</style>

<?php $step = Mage::app()->getRequest()->getParam('step');?>
<?php echo $step;?>

<div class="onboard owl-carousel owl-theme">
    <div class="item">
        <section id="step-1">
            <div class="row">
                <div class="medium-6 columns">
                    <div class="padding-center">
                        <h1>What is WIA Experience and the Benefit</h1>
                        <p class="mercury cursive">
                            Lorem ipsum
                        </p>
                        <ul>
                            <li>
                            It’s led by a knowledgeable and passionate host
                            </li>
                            <li>
                            Guests participate hands-on, or are immersed in an activity

                            </li>
                            <li>
                            It gives guests access to a special place or community
                            </li>
                            <li>
                            It tells the story of a host’s unique perspective
                            </li>

                        </ul>
                        <a href="#" class="button">Next</a>
                    </div>

                </div>
                <div class="medium-6 columns">
                    <img src="https://a0.muscache.com/pictures/324fbee3-a9e0-486c-b637-abc2a11df99d.jpg" alt="">
                </div>
            </div>
        </section>
    </div>

    <div class="item">
        <section id="step-1">
            <div class="row">
                <div class="medium-6 columns">
                    <div class="padding-center">
                        <h1>What we’re not looking for:</h1>
                        <p class="mercury cursive">
                        The following things don’t qualify as an WIA experience.
                        </p>
                        <ul>
                            <li>
                            Large and impersonal tours
                            </li>
                            <li>
                            An event with no clear host
                            </li>
                            <li>
                            A service (e.g. airport transportation)
                            </li>
                            <li>
                            Something guests could easily find on their own
                            </li>

                        </ul>
                        <a href="#" class="button">Next</a>
                    </div>

                </div>
                <div class="medium-6 columns">
                <img src="https://a0.muscache.com/pictures/324fbee3-a9e0-486c-b637-abc2a11df99d.jpg" alt="">
                </div>
            </div>
        </section>
    </div>

    <div class="item">

        <section id="step-1">
            <div class="row">
                <div class="medium-6 columns">
                    <div class="padding-center">
                        <h1>Thanks! Now it’s time to start creating.</h1>
                        <p class="mercury cursive">
                            Lorem ipsum
                        </p>
                        <ul>
                            <li>
                                <p>Learn about our expectations</p>
                                <p>Learn about our expectations</p>
                            </li>
                            <li>
                               <p>
                               Create your experience
                               </p>
                               <p>Add photos, descriptions, and other details to be reviewed by Wearinasia
</p>
                            </li>
                            <li>
                                <p class="no-margin">Submit for review</p>
                                <p>Someone from Wearinasia will review your experience page. If it meets our quality standards, you’ll get to add availability and start hosting!</p>
                            </li>
                           

                        </ul>
                        <a href="#" class="button">Next</a>
                    </div>

                </div>
                <div class="medium-6 columns">
                <img src="https://a0.muscache.com/pictures/324fbee3-a9e0-486c-b637-abc2a11df99d.jpg" alt="">
                </div>
            </div>
        </section>
    </div>

</div>