<?php $_helper = Mage::helper('catalog/category') ?>

<?php $categoryId = 642;?>
<?php $category = Mage::getModel('catalog/category')->load($categoryId) ?>
<?php $_categories = $category->getChildrenCategories() ?>




<section id="featured-category" class="padding-center">

        <div class="row">
                <div class="small-12 columns">

                        <h2>
                                Trending Location
                        </h2>
                        <div id="featured-location" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
                                <?php foreach($_categories as $_subcategory): ?>

                                <?php $_subcategory_obj = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>
                                <div class="item">
                                        <a href=" <?php echo $_subcategory_obj->getUrl()?>">
                                                <div class="card">

                                                        <div class="card-place">
                                                                <div class="card-image">
                                                                        <img src="<?php echo $_subcategory_obj->getResizedThumbnailImage(500,400,78); ?>"
                                                                                width="400" height="500" alt="<?php echo $_subcategory_obj->getname();?>">

                                                                </div>
                                                                <div class="card-content">
                                                                        <div class="bottom">
                                                                                <h5>
                                                                                        <?php echo $_subcategory_obj->getData('category_label');?>
                                                                                </h5>
                                                                                <h2>
                                                                                        <?php echo $_subcategory_obj->getName();?>
                                                                                </h2>
                                                                                <p>
                                                                                        <?php echo $_subcategory_obj->getData('sw_ocat_promotional_text');?>
                                                                                </p>
                                                                        </div>

                                                                </div>

                                                        </div>

                                                </div>

                                        </a>

                                </div>

                                <?php endforeach;?>
                        </div>

                </div>
        </div>





</section>