<?php $_helper = Mage::helper('catalog/category') ?>

<?php $categoryId = $this->getCategoryId();?>
<?php $category = Mage::getModel('catalog/category')->load($categoryId) ?>

<a href="<?php echo $category->getUrl();?>">
<section id="fullwidth-banner-with-cta" class="lazy-bg-loaded parallax-header" 
style="background: url(<?php echo $category->getImageUrl();?>) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    <div class="parallax-container">
        <div class="parallax-content">
            <h5><?php echo $category->getData('category_label')?></h5>
            <h1><?php echo $category->getData('category_title')?></h1>
            <div class="button">Shop Now</div>
        </div>
        
    </div>
    
</section>
</a>
