<?php

$_categoryId = $this->getCategoryId();
$_category = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(12)
    ->joinField('inventory_in_stock', 'cataloginventory_stock_item', 'is_in_stock', 'product_id=entity_id','is_in_stock>=0', 'left')
    ->setOrder(new Zend_Db_Expr('RAND()'));
    
?>


<style>
.host.card-image{
    min-height:50vh !important;
}
@media screen and (max-width: 39.9375em) {
    .host.card-image{
    min-height:37vh !important;
} 
}
</style>


<section id="featured-host-<?php echo $_category->getName();?>" class="padding-center">
    <div class="host-list-container">
        <div class="row">
            <div class="small-6 columns">
                <h2>
                    
                    <?php echo $_category->getName();?>
                </h2>

            </div>
            <div class="small-6 columns text-right">
                <a href="<?php echo $_category->getUrl();?>">
                    View More
                </a>
            </div>
            <div class="medium-12 columns">
            <div id="featured-host" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
                        
                        <?php foreach ($_productCollection as $_product):?>
                        <?php $_convertedFinalPrice = $_product->getprice() ?>
                        <div class="item">

        

            <div class="card">
                <div class="card-host-list card-host">
                <a href="<?php echo $_product->getProductUrl() ?>">
                    <div class="cart-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" alt="" style="height: 300px;
    width: 400px;
    -o-object-fit: cover;
    object-fit: cover;">
                    </div>
                    </a>
                   
                    <div class="card-content margin-bottom-2">
                        <div class="row collapse">
                           
                            <div class="small-12 columns">
                                <div class="exp-desc">
                                <h5>Experience</h5>
                                <h2>
                                    <a href="<?php echo $_product->getProductUrl() ?>">
                                        <?php echo $_product->getName() ?>
                                    </a>
                                </h2>
                                    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                    <div class="exp-price">
                                        <div class="price-label">Start From</div>
                                        <div class="price-value"><?php echo $this->getPriceHtml($_product); ?></div>

                                    </div>
                                </div>


                            </div>
                            
                        </div>

                    </div>
                </div>

            </div>



        </div>
                    
                    
                    
                    
                        <?php endforeach ?>
                    
                    
                    </div>
            </div>
        </div>


    </div>

</section>
