<section class="padding-center">
<?php 
$letters = explode(',',$this->getLetterId()); 

?>


<div class="row">
    <div class="medium-12 columns">
        

        <?php foreach($letters as $letter) :?>
        <?php 
$root = Mage::getModel('catalog/category')->load(19); 
$subCat = explode(',',$root->getChildren());
$categories  = $root
             ->getCollection()
             ->addAttributeToSelect("*")
             ->addFieldToFilter("entity_id", array("in", $subCat) )
             ->addAttributeToFilter('name', array('like' => "$letter%"))
?>
        <section id="brand-<?php echo $letter;?>" class="padding-center border-bottom brand">
            <div class="row">
                <div class="small-1 medium-1 columns">
                    <h3 class="uppercase letter-spacing-1"><?php echo $letter;?></h3>
                </div>
                <div class="small-11 medium-11 columns">
                    <div class="row small-up-2 medium-up-4">
                        <?php foreach($categories as $category) :?>
                        <div class="columns">
                            <a class="category-more" href="<?php echo $category->getURL();?>">
                                <?php echo $category->getname();?>
                            </a>
                        </div>
                        <?php endforeach ?>
                    </div>
                </div>
            </div>
        </section>
        <?php endforeach ?>

    </div>
</div>

</section>