<?php $_helper = Mage::helper('catalog/category') ?>

<?php $categoryId =  637;?>
<?php $category = Mage::getModel('catalog/category')->load($categoryId) ?>
<?php $_categories = $category->getChildrenCategories() ?>



<section id="featured-category" class="padding-center">

        <div class="row">
                <div class="small-12 columns">

                        <h2>
                                Trending Experience
                        </h2>

                        <div id="featured-experience" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
                                <?php foreach($_categories as $_subcategory): ?>

                                <?php $_subcategory_obj = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>
                                <div class="item">
                                        <div class="card">
                                                <div class="featured-experience card-experience">
                                                        <div class="card-image">
                                                                <a href=" <?php echo $_subcategory_obj->getUrl()?>">
                                                                        <img src="<?php echo $_subcategory_obj->getResizedThumbnailImage(718,524,78); ?>"
                                                                                width="718" height="525" alt="<?php echo $_subcategory_obj->getname();?>">


                                                                </a>
                                                        </div>
                                                        <div class="card-content">
                                                                <div class="row collapse">

                                                                        <div class="small-12 columns">
                                                                                <div class="exp-desc">
                                                                                        <h5>
                                                                                                <?php echo $_subcategory_obj->getData('category_label')?>
                                                                                        </h5>

                                                                                        <h2>
                                                                                                <a href=" <?php echo $_subcategory_obj->getUrl()?>">
                                                                                                        <?php echo $_subcategory_obj->getData('category_title')?>
                                                                                                </a>
                                                                                        </h2>
                                                                                        <p>
                                                                                                <?php echo $_subcategory_obj->getCategoryShortDescription()?>
                                                                                        </p>

                                                                                </div>


                                                                        </div>

                                                                </div>

                                                        </div>
                                                </div>

                                        </div>
                                </div>

                                <?php endforeach;?>
                        </div>


                </div>
        </div>




</section>