<div class="homepage-search">
	<div class="homepage-search-overlay filter-content-blue-8">
		<div class="row">
		<div class="medium-7 medium-centered text-center white">
			<h1>Your on demand pet service and supplies</h1>
			<p>Pet grooming, pet hotel and supplies</p>
		</div>
	<div class="medium-8 medium-centered">
		<div class="homepage-search-container">
			
			<form action="/service/grooming?" class="form cf">
				<div class="homepage-search-container-header">
					<div class="row">
						<fieldset class="large-12 columns">
	
   		<div class="row">
   			<div class="medium-4 columns">
   				 <legend>I'm looking service for my :</legend>
    		</div>
   			<div class="medium-8 columns">

    <input type="radio" name="pet" value="dog" id="dog"><label class="pet-option" for="dog">Dog</label>
    <input type="radio" name="pet" value="cat" id="cat"><label class="pet-option" for="cat">Cat</label>
    		</div>
   		</div>
 	 </fieldset>
					</div>
				</div>
				<div class="homepage-search-container-body">
					<div class="row">
	
  <fieldset class="large-12 columns plan cf">
    <label>How can we help you</label>
    <div class="row small-up-2 medium-up-4">
    	<div class="columns">
    		<input type="radio" name="service_type" id="grooming" value="302" checked><label class="free-label" for="grooming">
    		<i class="fa fa-paw" aria-hidden="true"></i></br>Grooming</label>
		
    	</div>
    	<div class="columns">
    		<input type="radio" name="service_type" id="supplies" value="supplies"><label class="free-label" for="supplies"><i class="fa fa-paw" aria-hidden="true"></i></br>Supplies</label>
		
    	</div>
    	<div class="columns">
    		<input disabled type="radio" name="service_type" id="boarding" value="boarding"><label class="free-label" for="boarding"><i class="fa fa-paw" aria-hidden="true"></i></br>Boarding ( soon )</label>
		
    	</div>
    	<div class="columns">
    		<input disabled type="radio" name="service_type" id="sitters" value="sitters"><label class="free-label" for="sitters"><i class="fa fa-paw" aria-hidden="true"></i></br>Daycare ( soon )</label>
		
    	</div>
    	
    	
    	
    	
    	
    	
    	
    </div>
   
  </fieldset>
  
  <fieldset class="small-12 large-6 columns">
    <label>Service Area</label>
  <select name="service_area">
  	<option value="0">Select service area...</option>
    <option value="312">Jakarta</option>
    <option value="311">Tangerang</option>
  </select>
</label>
    
    
    
    
  </fieldset>
  <fieldset class="large-6 columns">
    <label>For these days</label>
    <div class="row">
      <div class="small-6 medium-6 columns">
          <input type="text" placeholder="01/11/2018" id="start-date" style="display:block !important">
      </div>
      <div class="small-6 medium-6 columns">
          <input type="text" placeholder="02/11/2018" id="end-date">
      </div>
    </div>
  </fieldset>
  <fieldset class="large-12 columns plan cf">
  	 <label>Dog Size</label>
    <div class="row">
    	<div class="small-6 medium-2 columns">
    		<input type="radio" name="service_dog_size" id="small" value="316"><label class="free-label" for="small">
    		Small
    		<br>
    		<span class="tiny-text">below 5kg</span>
    		</label>
		
    	</div>
    	<div class="small-6 medium-2 columns">
    		<input type="radio" name="service_dog_size" id="medium" value="315"><label class="free-label" for="medium">
    		Medium
    		<br>
    		<span class="tiny-text">5kg - 15kg</span>
    		</label>
		
    	</div>
    	<div class="small-6 medium-2 columns">
    		<input type="radio" name="service_dog_size" id="large" value="314"><label class="free-label" for="large">
    		Large
    		<br>
    		<span class="tiny-text">16kg - 30kg</span>
    		</label>
		
    	</div>
    	<div class="small-6 medium-2 columns">
    		<input type="radio" name="service_dog_size" id="giant" value="313"><label class="free-label" for="giant">
    		Giant
    		<br>
    		<span class="tiny-text">above 30kg</span>
    		</label>
		
    	</div>
    	
    	<div class="columns medium-4">
    		<button class="submit button secondary expanded" type="submit" value="Submit">
    		Search
    		</button>	
		
    	</div>
    	
    	
    	
    	
    	
    	
    </div>
  </fieldset>
  
</div>
				</div>
				
			</form>
		</div>
	</div>
	</div>
	</div>
</div>


<div class="padding-center service-section">
	<div class="row">
		<div class="medium-12 columns">
			<h3>How can we help you?</h3>
			<p>We provide all in solution for your pet. Learn more about our service</p>
			
			
			
			<?php 
$_categoryId = 575;
$root = Mage::getModel('catalog/category')->load($_categoryId); 
$subCat = explode(',',$root->getChildren()); 
$collection  = $root
             ->getCollection()
             ->addAttributeToSelect("*")
             ->addFieldToFilter("entity_id", array("in", $subCat) )
             ->addAttributeToSelect('*')
			->addAttributeToSort('sw_ocat_orders')
			->addAttributeToFilter('include_in_menu' , 1)
			->setPageSize(3)
             
?>

<div class="row medium-up-3">
					<?php foreach($collection as $category) :?>
						<div class="columns">
					<div class="top-service-provider-continer">
								<div class="margin-bottom-1 ">
									
					<a href="<?php echo $category->getURL();?>">
						<img width="800" height="600" class="border-radius" src="<?php echo $category->getResizedThumbnailImage(800,600,100); ?>" alt="<?php echo $category->getname();?>">
						
					</a>
								</div>
								<h5><?php echo $category->getName();?></h5>
								<h4><a href="<?php echo $category->getURL();?>"><?php echo $category->getData("category_title"); ?></a></h4>
								<div class="start-price"><a href="<?php echo $category->getURL();?>">Learn More</a></div>
								
							</div>
					
				</div>
					<?php endforeach ?>
					</div>			
		</div>
	</div>
</div>







<div class="padding-center">
<div class="row">
	<div class="medium-12 columns">
		<div id="loading" class="full-page-banner show-for-medium">
		<div class="promo-banner-container text-left"> 
		<img src="https://wia.id/media/catalog/category/cta-footer.jpg">
		<div class="promo-banner-content padding-10 filter-content-white-1 black">
		<h5 class="uppercase">Suppplies</h5>
		
		<h2>
		Get your pet supplies</br>
		with exclusive promo and deals
		</h2>
		<a href="https://store.petloka.com/petshop" class="button secondary">Shop Now</a>
		
		</div></div>
		</div>
		
	</div>
</div>
</div>


	
