<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
	<div class="row">
		<div class="homepage-block-content">
			<div class="medium-up-3">
			<?php foreach($posts as $post): ?>
				<div class="columns item<?php if ($post->isSticky()): ?> featured is-sticky<?php endif; ?> <?php echo $post->getPostFormat() ?>">
					<?php echo $this->getPostRenderer($post)->toHtml() ?>
				</div>
			<?php endforeach; ?>
		</div>
		</div>
	</div>

	<?php echo $this->getPagerHtml() ?>
<?php endif; ?>