<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>


<?php 
	$_categoryId = $this->getCategoryId();
	$posts = Mage::getResourceModel('wordpress/post_collection');
	$posts->addPostTypeFilter('explorer')
			->addStickyPostsToCollection()
			->setPageSize(1);
?>


<?php if (count($posts) > 0): ?>
	<div class="block block-blog block-recent-posts megamenu-story">
		<?php if ($title = $this->getTitle()): ?>
			<div class="block-title text-left">
				MEET THE EXPLORER
			</div>
		<?php endif; ?>
		<div class="block-content">
			<div class="row medium-up-1" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item text-left">
				
				
				<div id="loading" class="small-grid promo-banner-container">
							<a href="<?php echo $post->getPermalink() ?>">
							<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>">
						<img src="<?php echo $featuredImage->getThumbnailImage();?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
						<div class="promo-banner-content bottom padding-75 filter-content-black-0 white text-center">	
									<h4 class="uppercase"><?php echo $this->htmlEscape($post->getPostTitle()) ?></h4>				
							</div>
					</a>
				<?php endif; ?>
							
							</a>
				</div>
				<?php echo $post->getMetaValue('explorer_title');?>
				
				</div>
			<?php endforeach; ?>
			</div>

		</div>
	</div>
<?php endif; ?>
