<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>


<?php 
	$_categoryId = $this->getCategoryId();
	$posts = Mage::getResourceModel('wordpress/post_collection'); 
	$posts->addTermIdFilter($_categoryId, 'gallery_category');
?>
<?php if (count($posts) > 0): ?>
<section id="padding-center" class="light-grey-bg border-bottom show-for-medium">
	<div class="row">
		<div class="medium-4 columns">
		<div class="caption">
			<h4>#Travelthatmatters</h4>
			<p><a href="https://www.instagram.com/wearinasiaofficial/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Followus</a></p>	
		</div>
		
	</div>
		<div class="medium-8 columns">
		<div class="caption">
			<h4>Share Your Story</h4>
			<p style="margin-bottom:20px">
			Post dan pakai #travelthatmatters pada foto perjalanan paling berdampak dalam hidup Anda di Instagram dan tag @wearinasiaofficial , agar kami dapat menceritakan kembali dengan mem-featurenya di sini.
			</p>	
		</div>
		
	</div>
		<div class="medium-12 columns">
				<div class="gallery-block-content padding-center">
			<div class="row small-up-2  medium-up-4" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item">
					
					<div class="square-box" style="background-image:url('<?php if ($featuredImage = $post->getFeaturedImage()): ?>
							<?php echo $featuredImage->getFullSizeImage();?>
						<?php endif; ?>');background-size:cover">
    <div class="square-content">
     	<a href="<?php echo $post->getPermalink() ?>">
						
						<div class="promo-banner-content padding-75 filter-content-black-0 text-center">	
							<div class="hover-active">
								<div class="button tiny hollow" style="border:1px solid white;color:white">Shop The Story</div>
							</div>
						</div>
						</a>   
    </div>
</div>
					
					
					
					<div class="author">
						<i class="fa fa-instagram" aria-hidden="true"></i>
						<a class="category-more" target="_blank" href="<?php echo $post->getMetaValue('instagram_user_url');?>"><?php echo $post->getMetaValue('instagram_user');?></a>
					</div>
					
				</div>
			<?php endforeach; ?>
			
			</div>

		</div>
				
			</div>
	</div>
</section>
<?php endif; ?>

<style>
	.square-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
}
</style>