<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>


<?php 
	$_categoryId = $this->getCategoryId();
	$posts = Mage::getResourceModel('wordpress/post_collection'); 
	$posts->addTermIdFilter($_categoryId, 'gallery_category');
		
?>
<?php if (count($posts) > 0): ?>
<section id="padding-center" class="light-grey-bg border-bottom">
	<div class="row">
		<div class="medium-4 columns">
		<div class="caption">
			<h4>#SNEAKERSTORY</h4>
			<p><a href="https://www.instagram.com/wearinasia/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Followus</a></p>	
		</div>
		
	</div>
		<div class="medium-8 columns">
		<div class="caption">
			<h4>Share Your Story</h4>
			<p style="margin-bottom:20px">
			Belanja dan foto momen seru menggunakan sneakers Anda kemudian post melalui Instagram dengan hastag #sneakerstory dan mention/tag @wearinasia untuk di-featured disini!
			</p>	
		</div>
		
	</div>
		<div class="medium-12 columns">
				<div class="gallery-block-content padding-center">
			<div class="row small-up-2  medium-up-4" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item margin-bottom-1">
					<div id="loading" class="small-grid promo-banner-container">
						<a href="<?php echo $post->getPermalink() ?>">
						<?php if ($featuredImage = $post->getFeaturedImage()): ?>
						<img src="<?php echo $featuredImage->getFullSizeImage();?>" height="600" width="600" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
						<?php endif; ?>
						<div class="promo-banner-content padding-75 filter-content-black-0 text-center">	
							<div class="hover-active">
								<div class="button tiny white">Shop The Story</div>
							</div>
							
						</div>
						</a>
					</div>
					<div class="author">
						
						<a href="<?php echo $post->getMetaValue('instagram_user_url');?>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> <?php echo $post->getMetaValue('instagram_user');?></a>
					</div>
				</div>
			<?php endforeach; ?>
			
			</div>

		</div>
				
			</div>
	</div>
</section>
<?php endif; ?>
