<?php 
	$_categoryId = $this->getCategoryId();
	$postcount = $this->getPostCount();
	
	
	
	$term = Mage::getModel('wordpress/term')->setTaxonomy('post_tag')->load($_categoryId);
	
	
?>
<section class="padding-center">
<?php $posts = $term->getPostCollection();
		$posts->setPageSize($postcount);
	?>
	
<?php if (count($posts) > 0): ?>
	<div class="row">
		

		<div class="medium-12 columns">
				<div class="homepage-block-content">
			<div class="row medium-up-3" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item">
					<div class="homepage-block-content-container">
					
				<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a target="_blank" href="<?php echo $post->getPermalink() ?>">
						<img src="<?php echo $featuredImage->getPostThumbnailImage();?>" height="440" width="600" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
					</a>
				<?php endif; ?>
					<a target="_blank" href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a>
					<div class="author"><?php echo $post->getAuthor()->getDisplayName() ?> - <?php echo $post->getPostDate() ?></div>
					<p><?php echo $post->getPostExcerpt(15) ?></p>
					</div>
				</div>
			<?php endforeach; ?>
			</div>
		</div>
			</div>
				<div class="medium-12 columns">
		
		<div class="caption text-center">
			
			
					<a href="<?php echo $term->getUrl();?>" target="_blank" class="button white tiny secondary">View All <?php echo $this->getTitle();?> Article <i class="fa fa-angle-right"></i></a>
				
		</div>
	</div>

	</div>
<?php endif; ?>
</section>


