<?php 
	$_categoryId = $this->getCategoryId();
	$postcount = 2;//$this->getPostCount();
	$term = Mage::getModel('wordpress/term')->setTaxonomy('post_tag')->load($_categoryId);
	
?>
<section class="padding-center">
<?php $posts = $term->getPostCollection();
		$posts->setPageSize($postcount);
	?>
	
<?php if (count($posts) > 0): ?>
	<div class="row">
		
  		<div class="small-12 large-6 large-push-3 columns text-center">
  		<div class="caption">
			<h4>Read The <?php echo $this->getTitle();?> Journal</h4>
			<p style="margin-bottom:20px"><?php echo $term->getDescription();?></p>
		</div></div>
  		<div class="small-12 large-3 large-push-3 columns"><div class="caption text-right small-text-center">
			<a href="<?php echo $term->getUrl();?>" target="_blank" class="category-more">View All Article <i class="fa fa-angle-right"></i></a>	
		</div></div>
		
		
		<div class="medium-12 columns store">
				<div class="homepage-block-content">
			<div class="row medium-up-2" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item">
					<div class="homepage-block-content-container">
					
					<div class="row">
						<div class="medium-6 small-5 columns">
							<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>">
		<img src="<?php echo $featuredImage->getThumbnailImage() ?>" width="700" height="500" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
	</a>
					<?php endif; ?>
						</div>
						<div class="medium-6 small-7 columns">
							<div class="journal-list-details">
							<h3><a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a></h3>
							<div class="author"><?php echo $post->getAuthor()->getDisplayName() ?> - <?php echo $post->getPostDate() ?></div>
					
							<p class="show-for-medium"><?php echo $post->getPostExcerpt(15) ?></p>
						</div>
						
						</div>
					</div>
					
					
						
					
					</div>
					
				</div>
			<?php endforeach; ?>
			
			</div>

		</div>
				
			</div>
			
	</div>
<?php endif; ?>
</section>


