<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>


<style>
	.wp-caption,iframe{max-width:100% !important;min-width:100% !important;padding:2rem 0}
	.journal-post .post-body p{line-height:1.7}
	.wp-caption-text{
		font-style: italic;
    color: #999;
    font-size: 14px !important;
	text-align:center
	}
</style>

<?php $post = $this->getPost();?>
<?php if ($post): ?>
<?php $helper = $this->helper('wordpress') ?>
<?php $author = $post->getAuthor() ?>






<?php echo $this->getChildHtml('inner-banner');?>


<section id="journal-post" class="journal-post padding-center">
        <div class="row">
            <div class="medium-9 medium-centered">
    
                <div class="post-header text-center">
                    
                    <div class="caption">

					<?php if( $post->getMetaValue('words_by') == $post->getMetaValue('photo_by') ):?>
				Words & Photo by : <a target="_blank"
						href="<?php echo $post->getMetaValue('words_by_url')?>"><?php echo $post->getMetaValue('words_by');?></a>
					

				<?php else:?>
				Words by : <a target="_blank"
						href="<?php echo $post->getMetaValue('words_by_url')?>"><?php echo $post->getMetaValue('words_by');?></a>
					| Photos by : <a target="_blank"
						href="<?php echo $post->getMetaValue('photo_by_social_media')?>"><?php echo $post->getMetaValue('photo_by');?></a>
					

				<?php endif;?>
                      
                    </div>
                    
                    <div class="excerpt">
                        <p>
                           <?php echo $post->getPostExcerpt();?>
    
                        </p>
                    </div>
                </div>
                <div class="post-body">
                   
				<?php if ($post->isViewableForVisitor()): ?>
				
					<?php echo $post->getPostContent() ?>
					<?php else: ?>
					<?php echo $this->getPasswordProtectHtml() ?>
					<?php endif; ?>
                
				</div>
                <div class="post-footer hide">
                    <div class="author">
                        <div class="row">
                            <div class="small-3 medium-2 columns">
                                <div class="photo">
                                    <img src="https://via.placeholder.com/500x500" alt="">
                                </div>
                            </div>
                            <div class="small-9 medium-10 columns">
    
                                <div class="name">
									<?php echo $author->getDisplayName();
									
									//var_dump($author)?>

								
    
                                </div>
                                <div class="info">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        <a href="">Read More</a>
    
                                    </p>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="social-share">
                        <ul class="menu">
                                <li>Share this journal : </li>
								<li><button class="white"
			onclick="window.open('https://www.facebook.com/sharer.php?u=<?php echo $post->getPermalink() ?>','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
			<i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
			<div id="results"></div>
		</button></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>




<div class="row">
	<div class="medium-9 medium-centered columns text-center">
<h5 class="uppercase">SHARE THIS JOURNAL ON</h5>

<ul class="no-bullet white">
	
	<li><button class="white"
			onclick="window.open('https://www.facebook.com/sharer.php?u=<?php echo $post->getPermalink() ?>','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
			<i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
			<div id="results"></div>
		</button></li>

</ul>
		<div class="callout secondary margin-bottom-2">
			
			<?php echo $this->getCommentsHtml() ?>
			<?php /* echo $this->getAfterPostContentHtml() */ ?>
		</div>
	</div>
</div>



<?php endif; ?>

