<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php $post = $this->getPost() ?>
<?php if ($post): ?>
	<?php $helper = $this->helper('wordpress') ?>
	<?php $author = $post->getAuthor() ?>
	
	<div class="row">
		<div class="medium-8 padding-center columns">
			
			<div id="top-anchor" class="page-title post-title text-center">
			<?php if ($featuredImage = $post->getFeaturedImage()): ?>
				<img src="<?php echo $featuredImage->getFullSizeImage();?>" height="600" width="600" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
							
			<?php endif; ?>

			</div>	
		</div>
		<div class="medium-4 columns">
				<?php echo $this->getChildHtml('gallery-product');?>
		</div>
	</div>
	
	<div class="post-view">
		<div class="post-entry entry std<?php if ($post->getFeaturedImage()): ?> post-entry-with-image<?php endif; ?>">
			<?php if ($post->isViewableForVisitor()): ?>
				
				<?php echo $post->getPostContent() ?>
			<?php else: ?>
				<?php echo $this->getPasswordProtectHtml() ?>
			<?php endif; ?>
		</div>
		
		
	</div>
	
<?php endif; ?>


