<section id
="booking-page" class="booking-page padding-center light-grey-bg" style="background:#fafafa">


    <div class="row">
        <div class="medium-8 columns">

<form class="my-form" name="myForm" id="myForm">

    

<div class="callout">
    <h3>Contact Details</h3>
    <label>Name
      <input type="text" name="firstname" class="input-text check_custom_login"/>
    </label>
    <label>Name
      <input type="text" name="lastname" class="input-text check_custom_login"/>
    </label>
    <label>Email
      <input type="text" name="email" class="input-text check_custom_login"/>
    </label>
</div>

<div class="callout">
    <h3>Booking Details</h3>
    <div class="row">
        <div class="medium-6 columns">
            <label>Date
                <input type="text" name="date" class="input-text check_custom_login"/>
            </label>
        </div>
        <div class="medium-6 columns">
        <label>Time Between
            <select name="" id="">
                <option value="">Select time</option>
                <option value="">7am - 10am</option>
                <option value="">10am - 1pm</option>
                <option value="">1pm - 4pm</option>
                <option value="">1pm - 4pm</option>
                <option value="">4pm - 7pm</option>
                
            </select>
        </label>
        </div>

        <div class="medium-12 columns">
            <label>Location
                <input type="text" name="location" class="input-text check_custom_login"/>
            </label>
        </div>
    </div>
    
</div>

<div class="callout">
    <h3>Payment Method</h3>
    <div class="row">
    <div class="medium-12 columns">
        <label>Select Payment Method
            <select name="" id="">
                <option value="">Cash</option>
                <option value="">Credit Card</option>
                <option value="">Virtual Account</option>
                <option value="">Gopay</option>
            </select>
        </label>
        </div>
    </div>
</div>



<button class="button" name="submit"/> <span><span><?php echo $this->__('Submit') ?></span></span> </button>

</form>

        </div>
        <div class="medium-4 columns">
            <div class="callout">
            <h3 class="">
                Summary
            </h3>
            </div>
        </div>
    </div>

</section>



<script type="text/javascript">
//<![CDATA[
    var formId = 'myForm';
    var myForm = new VarienForm(formId, true);
    var postUrl = '<?php echo $this->getUrl("book/index/createbooking") ?>';
    function doAjax() {
        if (myForm.validator.validate()) {
            new Ajax.Updater(
                { success:'formSuccess' }, postUrl, {
                    method:'post',
                    asynchronous:true,
                    evalScripts:false,
                    onComplete:function(request, json) {
                        Element.hide(formId);
                        Element.show('formSuccess');
                    },
                    onSuccess: function(){ alert('success') },
                    onLoading:function(request, json){
                        Element.show('formLoader');
                    },
                    parameters: $(formId).serialize(true),
                }
            );
        }
    }

    new Event.observe(formId, 'submit', function(e){
        e.stop();
        doAjax();
    });
//]]>
</script>