<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $post = $this->getPost() ?>
<div class="post-list-item">
	<?php echo $this->getBeforePostContentHtml() ?>
	<div class="homepage-block-content-container">
					
				<?php if ($featuredImage = $post->getFeaturedImage()): ?>
	<a href="<?php echo $post->getPermalink() ?>">
		<img src="<?php echo $featuredImage->getThumbnailImage() ?>" width="700" height="500" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
	</a>
<?php endif; ?>
						<div class="journal-list-details post-entry entry<?php if ($post->getFeaturedImage()): ?> post-entry-with-image<?php endif; ?>">
							<h3><a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a></h3>
							<div class="author"><?php echo $post->getAuthor()->getDisplayName() ?> - <?php echo $post->getPostDate() ?></div>
					
							<p><?php echo $post->getPostExcerpt(15) ?></p>
						</div>
						<a class="read-now" href="<?php echo $post->getPermalink() ?>">
						Read
					</a>
					
					</div>
</div>



				