<?php $customer = Mage::getSingleton('customer/session')->getCustomer();?>


<div class="hide">
<?php 
$detail = Mage::getSingleton('customer/session')->getBookSession();
echo $quantitycart = $detail['qty'];
echo $productidcart = $detail['product'];
echo $bookdate = $detail['bookdate'];

$guest = Mage::getSingleton('customer/session')->getGuestSession();
echo $guest['name'];
echo $guest['email'];
echo $guest['phone'];
echo $guest['note'];

$product = Mage::getModel('catalog/product')->load($productidcart);

?>
</div>



<div class="small-order-summary-container show-for-small-only">
    <div class="row collapse">
        <div class="small-3 columns">
            <img height="300" width="200" id="product-collection-image-<?php echo $product->getId(); ?>" class="lazy"
                data-srcset="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?> 768w, <?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?> 1024w"
                data-src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?>"
                src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?>"
                alt="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" />


        </div>
        <div class="small-9 columns">
            <div style="padding-left:10px">
            <h4 class="no-margin"><?php echo $product->getName();?></h4>
            <p><?php echo Mage::helper('core')->currency($product->getPrice(),true,false);?>
            </p>
            </div>
           
                           

        </div>
    </div>

</div>
<section id="checkout-cart" class="checkout padding-center grey-bg">
    <div class="row small-collapse medium-uncollapse">
        <div class="medium-7 columns">

            <?php if( ! Mage::getSingleton('customer/session')->isLoggedIn()):?>
            <div class="shipping-address-container">
                <div class="shipping-address-header">

                    <h5>LOGIN</h5>
                    <p>Jika anda sudah mempunyai akun, silahkan masuk terlebih dahulu. <a
                            href="<?php echo $this->getUrl('customer/account') ?>">Login</a></p>

                </div>
            </div>
            <?php else:?>
            <div class="shipping-address-container">
                <div class="shipping-address-header">

                    <p>You are login as <b><?php echo $customer->getName();?></b></p>

                </div>
            </div>
            <?php endif;?>

            <div class="shipping-address-container">
                <h2>Please fill guest details</h2>

                <div class="address-list-container">
                    <h5>GUEST DETAIL</h5>

                    <form class="form" id="contact-info" method="post"
                        action=<?php echo $this->getUrl("exp/booking/saveGuestPost") ?>>

                        <input type="hidden" value="<?php echo $this->getSession();?>">
                        

                        <label for="name">Name</label>
                        <input name="name" type="text" placeholder="name"
                            value="<?php echo $customer->getName();?>">
                        <label for="email">Email</label>
                        <input name="email" type="text" placeholder="email"
                            value="<?php echo $customer->getEmail();?>">

                        <label for="phone">Phone</label>
                        <input class="required-entry" name="phone" type="text">


                        

                        <h5>NOTE TO YOUR HOST</h5>
                        <textarea name="note" placeholder="Add note to your host"></textarea>

                        <button type="submit" class="button expanded">Continue to Review <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        <p class="text-center small-text"><i class="fa fa-lock" aria-hidden="true"></i> By click this
                            button you are agree to our term and conditions</p>

                    </form>

                    <script type="text/javascript">
                        //< ![CDATA[
                            var customForm = new VarienForm('contact-info');
                        //]]>
                    </script>


                </div>

            </div>

           

        </div>
        <div class="medium-5 columns">
            <div class="checkout-sidebar-container show-for-medium">
                <h3>Booking Summary</h3>
                <div class="order-summary-container">

                    <div class="row collapse">
                        <div class="small-4 columns">
                            <img height="600" width="400" id="product-collection-image-<?php echo $product->getId(); ?>"
                                class="lazy"
                                data-srcset="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?> 768w, <?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?> 1024w"
                                data-src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?>"
                                src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?>"
                                alt="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" />


                        </div>
                        <div class="small-8 columns">
                            <p><?php echo $product->getName();?></p>
                            <p>
                            
                            <?php echo Mage::helper('core')->currency($product->getPrice(),true,false);?>
                            </p>

                        </div>
                    </div>




                </div>





                <div class="review-table-container">

                    <table>
                        <tbody>
                            <tr>
                                <td class="review-info">
                                    <i class="fa fa-user" aria-hidden="true"></i> Total Guest
                                </td>
                                <td class="review-value">
                                    <?php echo $quantitycart;?>
                                </td>
                            </tr>

                            <tr>
                                <td class="review-info">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Booking Date
                                </td>
                                <td class="review-value">
                                    <?php echo $bookdate;?>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                    <table>
                        <tbody>
                            <tr>
                                <td class="review-info">
                                    Subtotal
                                </td>
                                <td class="review-value">
                                
                                   
                                   <?php $totals = ( $product->getPrice() * $quantitycart )?>
                                   <?php echo Mage::helper('core')->currency($totals,true,false);?>
                                </td>
                            </tr>

                            <tr class="hide">
                                <td class="review-info">
                                    Voucher Discount
                                </td>
                                <td class="review-value">
                                    - Rp 13.000,00
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="review-info">
                                    Total</td>
                                <td class="review-value">
                                    <?php $discount = 0;?>
                                   
                                    <?php $totals = ( $product->getPrice() * $quantitycart ) - $discount;?>
                                    <?php echo Mage::helper('core')->currency($totals,true,false);?>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                <div class="voucher-container hide">


                    <div class="voucher-container">
                        <form class="form voucher-form" name="voucherForm" id="voucherForm">

                            <?php if(!$voucher):?>
                            <input class="required-entry" placeholder="Add promo code" type="text" name="voucher"
                                id="voucher" />

                            <button type="button" class="voucher-button" title="Continue"
                                onclick="applyvoucher(true)">Apply</button>

                            <?php else:?>
                            <input class="required-entry" placeholder="Add promo code" type="text" name="voucher"
                                id="voucher" value="<?php echo $voucher?>" />

                            <button type="button" class="voucher-button" title="Continue"
                                onclick="applyvoucher(false)">Cancel</button>

                            <?php endif?>




                        </form>

                    </div>


                </div>

            </div>
            
        </div>
    </div>
</section>

<style>
    .partner-logo {
        padding: 5px;
    }

    textarea {
        border-bottom: 1px solid #eee
    }
</style>