<?php 
$detail = Mage::getSingleton('customer/session')->getExpSession();
// echo $quantitycart = $detail['qty'];
// echo $productidcart = $detail['product'];
// echo $bookdate = $detail['bookdate'];
?>

<?php $availability_date = $this->getAvailability();?>
<?php $product = $this->getProduct();?>
<?php $product_availabilitys = json_decode ($product->getExpAvailableDate());?>
<?php 
$id = $product->getId();
?>


<form class="hide" method="post" action=<?php echo $this->getUrl("exp/bookorder/cekslot", $params) ?>>
    tanggal tersedia :
    <input name="tanggal" type="text" value="2019-3-29">
    <input type="hidden" value="<?php echo $id;?>" name="productid">
    <input type="submit" value="cek slot">
</form>

<form id="product_addtocart_form" class="form" method="post" action="<?php echo $this->getUrl("exp/booking/addtocart")?>">
                <input hidden value="<?php echo $id;?>" name="productid">
                
                <label for="bookdate">Booking Dates</label>
                <select name="bookdate" id="bookdate" onchange="checkAvailability(this)">
                    <option value="">Please select booking date</option>
                    <?php foreach ($product_availabilitys as $product_availability):?>
                        <option value="<?php echo $product_availability?>"><?php echo $product_availability?></option>
                    <?php endforeach;?>
                </select>
                
                
                
                <label for="qty">Total Guest</label>
                <select class="input-text required-entry validate-select" name="qty" id="qty">
                    <option value="">Please select booking date first</option>
                    

                </select>

                <button class="button expanded" type="submit" value="add to cart">Book Now</button>
            </form>



<script type="text/javascript">
    //<![CDATA[

    var productAddToCartForm = new VarienForm('product_addtocart_form');
</script>



<script>
    function checkAvailability(selectObject)

    {
        var value = selectObject.value;  
        new Ajax.Request('<?php echo $this->getUrl("exp/booking/getAvailability") ?>', {
            method: 'post',
            parameters: {
                product_id: <?php echo $id?>,
                bookdate:value,
            },

            onComplete: function (data) {
                var text = "";
                var qty = (data.responseText);
                var i;
                for (i = 1; i <= qty; i++) {
                text += "<option value="+ i +">" + i +"</option>";
                }
                document.getElementById("qty").innerHTML = text;
            },



        });




    }
</script>