<?php $orders = $this->getOrder();?>
<?php $key = $this->getSession();?>


<h1>My Booking</h1>

<?php if($orders == null):?>
    <p>Anda belum mempunyai booking. silahkan mulai membuat experience</p>
    <a href="<?php echo $this->getUrl('exp/product') ?>" class="button small">Start Host an Experience</a>
    <?php endif;?>
<div class="list">

    <ul class="list-group-default list-group no-bg no-bullet">

        <?php foreach($orders as $order_id):?>
        <?php $order = $this->getOrderDetails($order_id);?>
        <?php if($order->getData('state')=="new"){
            continue;
        }?>
        <li>
            <div class="list-item">
                <a href="/exp/booking/view/id/<?php echo $order->getId()?>/key/<?php echo $key;?>">
                    <div class="row">
                        <div class="small-10 columns">
                            <div class="tiny-text uppercase">Booking ID <?php echo $order->getIncrementId() ?></div>
                            <div class="title"> <?php echo $order->getBookdate();?></div>
                           
                            
                          

                            <?php if($order->getStatus()== "complete_payout_request"):?>
                            <div class="tiny-text label secondary">
                                Experience End
                            </div>
                            <div class="tiny-text label secondary">
                                Waiting for payment
                            </div>
                            <?php elseif($order->getStatus()== "processing"):?>
                            <div class="tiny-text label alert">
                                New Order
                            </div>
                            <?php elseif($order->getStatus()== "processing_checkin"):?>
                            <div class="tiny-text label succes">
                                Experience In Process
                            </div>


                            <?php elseif($order->getStatus()== "processing_checkout"):?>
                            <div class="tiny-text label secondary">
                                Experience End
                            </div>
                            <div class="tiny-text label alert">
                               Payout Available
                            </div>

                            <?php elseif($order->getStatus()== "complete"):?>
                            <div class="tiny-text label secondary">
                                Experience End
                            </div>
                            <div class="tiny-text label success">
                               Payment paid
                            </div>

                           
                            

                            
                            
                            <?php endif;?>
                        

                        </div>
                        <div class="small-2 columns">
                            <div class="icon text-right">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>

                        </div>
                    </div>
                </a>

            </div>
        </li>
        <?php endforeach ?>



    </ul>
</div>