<div class="hide">
<?php $customer = Mage::getSingleton('customer/session')->getCustomer();?>
<?php 
$book = Mage::getSingleton('customer/session')->getBookSession();
echo $quantitycart = $book['qty'];
echo $productidcart = $book['product'];
echo $bookdate = $book['bookdate'];


$guest = Mage::getSingleton('customer/session')->getGuestSession();
echo $guest['name'];
echo $guest['email'];
echo $guest['phone'];
echo $note = $guest['note'];


$product = Mage::getModel('catalog/product')->load($productidcart);

?>
</div>




<div class="small-order-summary-container show-for-small-only">
    <div class="row collapse">
        <div class="small-3 columns">
            <img height="300" width="200" id="product-collection-image-<?php echo $product->getId(); ?>" class="lazy"
                data-srcset="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?> 768w, <?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?> 1024w"
                data-src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?>"
                src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?>"
                alt="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" />


        </div>
        <div class="small-9 columns">
            <div style="padding-left:10px">
            <h4 class="no-margin"><?php echo $product->getName();?></h4>
            <p><?php echo Mage::helper('core')->currency($product->getPrice(),true,false);?>
            </p>
            </div>
           
                           

        </div>
    </div>

</div>
<section id="checkout-cart" class="checkout padding-center grey-bg">
    <div class="row small-collapse medium-uncollapse">
        <div class="medium-7 columns">

           
            <div class="shipping-address-container">
                <div class="shipping-address-header">
                    <h2>Please review your order</h2>


                </div>

                <div class="address-list-container">

                    <h5 class="caption">BOOKING DETAILS</h5>
                    <div class="row collapse small-up-2">
                        <div class="columns">
                            <p><i class="fa fa-calendar-o" aria-hidden="true"></i> Booking Date</p>
                            <h3><?php echo $bookdate;?></h3>

                        </div>
                        <div class="columns">
                            <p><i class="fa fa-user" aria-hidden="true"></i> Total Guest</p>
                            <h3><?php echo $quantitycart;?> Person</h3>
                        </div>
                    </div>



                </div>

                <div class="address-list-container border-top">
                    <h5 class="caption">HOUSE RULES</h5>
                    <p></p>

                </div>
                <div class="address-list-container border-top">
                    <h5 class="caption">NOTE TO HOST</h5>
                    <p><?php echo $note?></p>

                </div>
                <div class="address-list-container border-top">
                    <h5 class="caption">CANCELATION POLICY</h5>
                    <p>Anda dapat melakukan pembatalan pesanan dengan pengembalian 100% dalam waktu 1x24 jam</p>

                </div>

                <div class="review-table-container show-for-small-only">

                    <h5 class="caption">PAYMENT TOTALS</h5>

                    <table>
                        <tbody>
                            <tr>
                                <td class="review-info">
                                    Subtotal
                                </td>
                                <td class="review-value">
                                    <?php echo Mage::helper('core')->currency($product->getPrice(),true,false);?>
                                </td>
                            </tr>

                            <tr class="hide">
                                <td class="review-info">
                                    Voucher Discount
                                </td>
                                <td class="review-value">
                                    - Rp 13.000,00
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="review-info">
                                    Total</td>
                                <td class="review-value">
                                    <?php $discount = 0;?>
                                    <?php $totals = $product->getPrice() - $discount;?>
                                    <?php echo Mage::helper('core')->currency($totals,true,false);?>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

                <form class="form" method="post" action=<?php echo $this->getUrl("exp/booking/addPost", $params) ?>>
                    <input type="hidden" name="qty" value="<?php echo $book['qty'];?>">
                    <input type="hidden" name="product_id" value="<?php echo $book['product'];?>">
                    <input type="hidden" name="bookdate" value="<?php echo $book['bookdate'];?>">
                
                    <input type="hidden" name="guest" value="<?php echo $guest['name'];?>">
                    <input type="hidden" name="email" value="<?php echo $guest['email'];?>">
                    <input type="hidden" name="phone" value="<?php echo $guest['phone'];?>">
                    <input type="hidden" name="note" value="<?php echo $guest['note'];?>">
                    

                    <button type="submit" class="button expanded">Continue to Payment <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>

                </form>
                <p class="text-center small-text"><i class="fa fa-lock" aria-hidden="true"></i> By booking an order you
                    are agree to our term and conditions</p>


            </div>


        </div>
        <div class="medium-5 columns">
            <div class="checkout-sidebar-container show-for-medium">
                <h3>Booking Summary</h3>
                <div class="order-summary-container">

                    <div class="row collapse">
                        <div class="small-4 columns">
                            <img height="600" width="400" id="product-collection-image-<?php echo $product->getId(); ?>"
                                class="lazy"
                                data-srcset="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?> 768w, <?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?> 1024w"
                                data-src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?>"
                                src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?>"
                                alt="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" />


                        </div>
                        <div class="small-8 columns">
                            <p><?php echo $product->getName();?></p>
                            <p>
                            
                            <?php echo Mage::helper('core')->currency($product->getPrice(),true,false);?>
                            </p>

                        </div>
                    </div>




                </div>





                <div class="review-table-container">

                    <table>
                        <tbody>
                            <tr>
                                <td class="review-info">
                                    <i class="fa fa-user" aria-hidden="true"></i> Total Guest
                                </td>
                                <td class="review-value">
                                    <?php echo $quantitycart;?>
                                </td>
                            </tr>

                            <tr>
                                <td class="review-info">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Booking Date
                                </td>
                                <td class="review-value">
                                    <?php echo $bookdate;?>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                    <table>
                        <tbody>
                            <tr>
                                <td class="review-info">
                                    Subtotal
                                </td>
                                <td class="review-value">
                                
                                   
                                   <?php $totals = ( $product->getPrice() * $quantitycart )?>
                                   <?php echo Mage::helper('core')->currency($totals,true,false);?>
                                </td>
                            </tr>

                            <tr class="hide">
                                <td class="review-info">
                                    Voucher Discount
                                </td>
                                <td class="review-value">
                                    - Rp 13.000,00
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="review-info">
                                    Total</td>
                                <td class="review-value">
                                    <?php $discount = 0;?>
                                   
                                    <?php $totals = ( $product->getPrice() * $quantitycart ) - $discount;?>
                                    <?php echo Mage::helper('core')->currency($totals,true,false);?>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                <div class="voucher-container hide">


                    <div class="voucher-container">
                        <form class="form voucher-form" name="voucherForm" id="voucherForm">

                            <?php if(!$voucher):?>
                            <input class="required-entry" placeholder="Add promo code" type="text" name="voucher"
                                id="voucher" />

                            <button type="button" class="voucher-button" title="Continue"
                                onclick="applyvoucher(true)">Apply</button>

                            <?php else:?>
                            <input class="required-entry" placeholder="Add promo code" type="text" name="voucher"
                                id="voucher" value="<?php echo $voucher?>" />

                            <button type="button" class="voucher-button" title="Continue"
                                onclick="applyvoucher(false)">Cancel</button>

                            <?php endif?>




                        </form>

                    </div>


                </div>

            </div>
            <div class="checkout-sidebar-container-bottom">
                <div class="payment-method-group">
                    <h5>METODE PEMBAYARAN</h5>
                    <div class="row small-up-5 margin-bottom-05 collapse">

                        <div class="columns">
                            <div class="partner-logo">
                                <img src="https://wia.id/media/logo/visa-01.svg" alt="">


                            </div>
                        </div>
                        <div class="columns">
                            <div class="partner-logo">
                                <img src="https://wia.id/media/logo/mastercard-01.svg" alt="">


                            </div>
                        </div>
                        <div class="columns">
                            <div class="partner-logo">
                                <img src="https://wia.id/media/logo/jcb-01.svg" alt="">


                            </div>
                        </div>
                        <div class="columns">
                            <div class="partner-logo">
                                <img src="https://wia.id/media/logo/alto-01.svg" alt="">


                            </div>
                        </div>
                        <div class="columns">
                            <div class="partner-logo">
                                <img src="https://wia.id/media/logo/bersama-2-01.svg" alt="">


                            </div>
                        </div>


                    </div>
                    <p style="font-size:12px;font-weight:300">Keamanan pembayaran didukung oleh <a
                            href="https://midtrans.com" target="_blank">midtrans</a>. Hubungi (021) 2222 7825 untuk
                        bantuan</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .partner-logo {
        padding: 5px;
    }

    textarea {
        border-bottom: 1px solid #eee
    }
</style>