<?php $order = $this->getOrderDetail();?>
<?php $product = $this->getProductDetail();?>

<a class="backnav-url" href="<?php echo $this->getUrl('exp/booking/list') ?>">
    <i class="fa fa-angle-left" aria-hidden="true"></i> My Booking</a>
<section id="product-details" class="padding-center">

    <div class="row">

        <div class="small-9 medium-12 columns">
            <h5 class="uppercase">Booking ID <?php echo $order->getIncrementId();?>
                </h5>
            <h1><?php echo $product->getName();?></h1>
            <?php if($order->getStatus()== "complete_payout_request"):?>
            <div class="tiny-text label secondary">
                                Experience End
                            </div>
                            <div class="tiny-text label secondary">
                                Waiting for payment
                            </div>
                            <?php elseif($order->getStatus()== "processing"):?>
                            <div class="tiny-text label alert">
                                New Order
                            </div>
                            <?php elseif($order->getStatus()== "processing_checkin"):?>
                            <div class="tiny-text label succes">
                                Experience In Process
                            </div>
                            <?php elseif($order->getStatus()== "processing_checkout"):?>
                            <div class="tiny-text label secondary">
                                Experience End
                            </div>
                            <div class="tiny-text label alert">
                               Payout Available
                            </div>
                            <?php elseif($order->getStatus()== "complete"):?>
                            <div class="tiny-text label secondary">
                                Experience End
                            </div>
                            <div class="tiny-text label success">
                               Payment paid
                            </div>


<?endif;?>


        </div>
    </div>

</section>




<section id="booking-details" class="padding-center border-bottom">
    <h5>
        BOOKING DETAILS
    </h5>
    <div class="row small-up-3 medium-up-3">
        <div class="columns">
            <p>Name</p>
            <h3><?php echo $order->getCustomerName();?></h3>

        </div>
        <div class="columns">
            <p>Total Guest</p>
            <h3><?php echo $order->getTotalQtyOrdered();?></h3>
        </div>
        <div class="columns">
            <p>Book Date</p>
            <h3><?php echo $order->getBookdate();?></h3>
        </div>

    </div>

</section>

<section id="booking-details" class="padding-center border-bottom">
    <h5>
        GUEST NOTE
    </h5>
    <p>This is guest note</p>

</section>


<section id="booking-details" class="padding-center border-bottom">



    <h5>
        EXPERIENCE PROCESS
    </h5>
    <div class="row">
        <div class="medium-12 columns">
            <ul>
                <li class="<?php if($order->getStatus() == 'processing'):?>Active<?php endif;?>">
                    <p><b>Booked</b></p>
                    <P>Experience is booked but not started</P>
                </li>
                <li class="<?php if($order->getStatus() == 'processing_checkin'):?>Active<?php endif;?>">
                    <p><b>Experience In Process</b></p>
                    <p>The experience have been start by host</p>
                </li>
                <li class="<?php if($order->getStatus() == 'processing_checkout'):?>Active<?php endif;?>">
                    <p><b>Experience Complete</b></p>
                    <p>The experience have been finish by host</p>
                </li>
                <li class="<?php if($order->getStatus() == 'complete_payout_request'):?>Active<?php endif;?>">
                    <p><b>Payout Request in process</b></p>
                    <p>Host request the payout and waiting for payment</p>
                </li>
                <li class="<?php if($order->getStatus() == 'complete'):?>Active<?php endif;?>">
                    <p><b>Payout Complete</b></p>
                    <p>Host have receive the payment</p>
                </li>
            </ul>

        </div>
    </div>
</section>

<section id="booking-summary" class="padding-center border-bottom margin-bottom-1">



    <h5>
        ORDER SUMMARY
    </h5>
    <div class="row">
        <div class="medium-12 columns">
            <table>
                <tbody>
                    <tr>
                        <td>Experience Cost x 2</td>
                        <td class="text-right">
                            <?php echo Mage::helper('core')->currency($order->getSubtotal());?>
                         
                        </td>
                    </tr>
                    <tr>
                        <td>Creditcard / Payment Fee (2.5%)</br>
                    <p class="tiny-text">We are not taking any profit, 2.5% goes to bank administration</p>
                       
                    </td>
                        <td class="text-right">- <?php 
                        $price = $order->getGrandTotal();
                        $persentage = $price * (2.5/100);
                        echo Mage::helper('core')->currency($persentage);?></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td class="text-right"><?php $final = $price - $persentage;
                        echo Mage::helper('core')->currency($final);
                        ?></td>
                       
                        
                    </tr>
                </tfoot>
            </table>
           
        </div>
    </div>
</section>




<?php if($order->getStatus() == 'processing'):?>
<div class="row small-up-2">
    <div class="columns">

        <form class="form" method="post" action="<?php echo $this->getUrl("exp/booking/updatePost")?>">
            <input hidden value="<?php echo $order->getId();?>" name="id">
            <button class="button expanded" type="submit" value="add to cart">Start Experience</button>
        </form>

    </div>
    <div class="columns">
        <a href="#" class="button expanded">Send Message</a>
    </div>
</div>
<p class="small-text text-center">Silahkan pilih "start experience" untuk memulai experience Anda. Dan pilih "send
    message" Untuk menghubungi konsumen Anda</p>
<?php elseif($order->getStatus() == 'processing_checkin'):?>

<form class="form" method="post" action="<?php echo $this->getUrl("exp/booking/updatePost")?>">
    <input hidden value="<?php echo $order->getId();?>" name="id">
    <button class="button expanded" type="submit" value="add to cart">End Experience</button>
</form>

<?php elseif($order->getStatus() == 'processing_checkout'):?>

<form class="form" method="post" action="<?php echo $this->getUrl("exp/booking/updatePost")?>">
    <input hidden value="<?php echo $order->getId();?>" name="id">
    <button class="button expanded" type="submit" value="add to cart">Request Payout</button>
</form>
<?php elseif($order->getStatus() == 'complete_payout_request'):?>
<a href="#" class="button expanded disabled">Waiting for Payment</a>
<p class="small-text text-center">Pembayaran Anda sedang diproses. Mohon menunggu 1x24 Jam. Silahkan menghubungi
    customer service kami jika ada pertanyaan</p>
<?php elseif($order->getStatus() == 'complete'):?>
<a href="#" class="button secondary expanded disabled">Payment Paid</a>
<p class="small-text text-center">Pembayaran Anda sudah diproses silahkan periksa rekening Anda. Jika Anda belum
    menerima pembayaran silahkan menghubungi customer service kami.</p>
<?php endif;?>
