<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_AdvancedReviews
 * @version    2.3.10
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$dSort = Mage::helper('advancedreviews')->confOrderingItemsArray();
$dSort = reset($dSort);
$dSort = $dSort['value'];
?>
<div class="row">
	<div class="medium-12 columns">
<div id="customer-reviews" class="box-collateral box-reviews">
<input type="hidden" id="filteredReviews-product" value="<?php echo $this->getRequest()->getParam('id');?>">
<input type="hidden" id="filteredReviews-customer" value="<?php echo $this->getRequest()->getParam('customerId');?>">
<input type="hidden" id="filteredReviews-ids">
<input type="hidden" id="filteredReviews-pagelimit" value="10">
<input type="hidden" id="filteredReviews-page" value="1">
<input type="hidden" id="filteredReviews-type" value="<?php echo $dSort?>">
<input type="hidden" id="filteredReviews-dir" value="DESC">

	<script type="text/javascript">
    var getFilteredAction = '<?php echo $this->getFilteredAction()?>';
    var getUpdatePagerAction = '<?php echo $this->getUpdatePagerAction()?>';
    var getFilteredReviewsAction = '<?php echo $this->getFilteredReviewsAction()?>';
    //document.observe("dom:loaded", function() {getFiltered();});
</script>
	<div class="padding-center">
	<div class="row">
		<div class="medium-4 columns">
			<h5 class="uppercase letter-spacing-1">Ringkasan</h5>
			<?php echo $this->getChildHtml('advancedreviews_needbuy') ?>
		</div>
		<div class="medium-4 columns">
			<ul class="review menu vertical">
			<?php $this->_helper = Mage::helper('advancedreviews');?>
			<?php if($this->_helper->isUserLogged() && $this->_helper->isProductSold()):?>
				<li class="tab-link button hollow secondary" data-tab="tab-111">Tulis Review</li>
			<?php endif;?>
			
			<?php if($this->_helper->isUserLogged()):?>
				<li class="tab-link button hollow secondary" data-tab="tab-112">Tambah Pertanyaan</li>
			<?php endif;?>
			<?php echo $this->getChildHtml('advancedreviews_login') ?>
				
			</ul>
    		
		</div>
		<div class="medium-4 columns">
			<?php echo $this->getChildHtml('advancedreviews_summary_reviews') ?>
		</div>
		
	</div>
	</div>
	
    
    
    
</div>
	</div>
	
	<div class="medium-12 columns">
	<div class="tab-container">
		<ul class="tabs review">
			<li class="tab-link is-active" data-tab="tab-111">Review</li>
			<li class="tab-link" data-tab="tab-112">Diskusi</li>
		</ul>
		<div id="tab-111" class="review-tab-content is-active">
			<?php echo $this->getChildHtml('review_form') ?>
			<?php echo $this->getChildHtml('advancedreviews_ajax-content-filter') ?>
		</div>
		<div id="tab-112" class="review-tab-content">
		 <?php echo $this->getChildHtml('question') ?>
		</div>
	</div>
	
	</div>
</div>






	
