<!-- CreareSEO Open Graph for Facebook / Other Networks -->
<meta property="og:site_name" content="Wearinasia" />
<meta property="og:url" content="" /> 
<meta property="og:title" content="<?php
   echo $this->getLayout()->getBlock('head')->getTitle();?>" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />


