<?php if ($this->customerHasAddresses()): ?>
<div class="shipping-address-container">

    <div class="shipping-address-header">

        <h3>Alamat & Pengiriman</h3>



    </div>
    <div class="shipping-address-content">
        <h5>DIKIRIM KE ALAMAT :</h5>
        <p>
            <?php echo $this->getAddress()->getName();?>
        </p>
        <p>
            <?php echo $this->getAddress()->getStreet('1');?>
            <?php echo $this->getAddress()->getStreet('2');?>,
            <?php echo $this->getAddress()->getCity();?>
        </p>


        <button class="button secondary tiny" data-toggle="addressModal">Tambah / Ganti Alamat</button>

        <div class="reveal" id="addressModal" data-close-on-click="false" data-reveal>
            <h3>Alamat</h3>
            <?php echo $this->getChildHtml('shipping') ?>






            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>



    </div>

</div>

<div class="payment-method-container">
    <div class="payment-list-container">
        <?php echo $this->getChildHtml('shipping-method') ?>
    </div>
</div>

<?php else:?>

<div class="shipping-address-container">

    <div class="shipping-address-header">

        <h3>Alamat & Pengiriman</h3>



    </div>
    <div class="shipping-address-content">


        <p>Anda belum mempunyai alamat pengiriman, silahkan menambahkan alamat</p>

        <button class="button secondary tiny" data-toggle="addressModal">Tambah / Ganti Alamat</button>

        <div class="reveal medium" id="addressModal" data-close-on-click="false" data-reveal>
            <h3>Add new address</h3>
            <?php echo $this->getChildHtml('shipping') ?>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>



    </div>

</div>


<?php endif;?>