<div class="small-order-summary-container show-for-smasll-only">
                    <h5>Product in cart</h5>
                    <p>2 Items <a href="#" data-open="mini-cart-modal">View Details</a></p>

                </div>