<?php
$methods = $this->getMethods();
$oneMethod = count($methods) <= 1;
?>

<div class="payment-method-container">
    <div class="payment-method-header">
        <h2>Payment Method</h2>
        <p>This is address information, please please please</p>

    </div>
    <div class="payment-list-container">
        <div class="row small-collapse medium-collapse medium-up-1">
            <div class="columns">
                <?php foreach ($methods as $_method):
$_code = $_method->getCode();
?>



                <dt id="dt_method_<?php echo $_code ?>">
                    <?php if(!$oneMethod): ?>
                    <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]"
                        title="<?php echo $this->escapeHtml($_method->getTitle()) ?>" onclick="payment.switchMethod('<?php echo $_code ?>')"
                        <?php if($this->getSelectedMethodCode()==$_code): ?> checked="checked"
                    <?php endif; ?> class="radio" />
                    <?php else: ?>
                    <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>"
                            type="radio" name="payment[method]" checked="checked" class="radio" /></span>
                    <?php $oneMethod = $_code; ?>
                    <?php endif; ?>
                    <label for="p_method_<?php echo $_code ?>">
                        <h5>
                            <?php echo $this->escapeHtml($this->getMethodTitle($_method)) ?>
                        </h5>
                        <?php echo $this->getMethodLabelAfterHtml($_method) ?>
                    </label>
                </dt>

                <?php echo $html = $this->getPaymentMethodFormHtml($_method);?>

                <?php endforeach;?>




            </div>

        </div>
    </div>











</div>