<form class="checkout-pop-up-form" name="addAddressForm" id="addAddressForm">


                <label>
                    <span>Address:</span><span>*</span><br />
                    <input class="required-entry" type="text" name="street" id="street" />
                </label>
                <label>
                    <span>Location Name:</span><span>*</span><br />
                    <input class="required-entry" type="text" name="location" id="location" />
                </label>


                <?php
$countryCode='ID';
$regionArray = $regions = Mage::getResourceModel('directory/region_collection')->addCountryFilter($countryCode)->toOptionArray();
?>
                <select id="prov_id" name="prov_id">
                
                    <?php foreach($regionArray as $region):?>
                        <option value="<?php echo $region['value'] ?>"><?php echo $region['label'] ?></option> 
                    <?php endforeach; ?>
             
                    </select>


                <div id="city_code"></div>

                <input type="submit" value="enter" />

            </form>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>