<div class="checkout-sidebar-container">

    <div class="order-summary-container show-for-medium">
        <?php $_cartQty = Mage::getSingleton('checkout/cart')->getItemsCount();?>
        <h5>CART</h5>

        <p><?php echo $_cartQty;?> Items <a href="<?php echo $this->getUrl('checkout/cart') ?>">( view details )</a></p>

    </div>




    <div class="review-table-container" id="review-table-container">
        <?php echo $this->getChildHtml('totals') ?>
    </div>

</div>

<div class="checkout-sidebar-container-bottom">
    <div class="payment-method-group">
        <h5>METODE PEMBAYARAN</h5>
        <div class="row small-up-5 margin-bottom-05">

            <div class="columns">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://wia.id/media/logo/visa-01.svg" alt="">


                </div>
            </div>
            <div class="columns">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://wia.id/media/logo/mastercard-01.svg" alt="">


                </div>
            </div>
            <div class="columns">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://wia.id/media/logo/jcb-01.svg" alt="">


                </div>
            </div>
            <div class="columns">
                <div class="partner-logo">
                    <img height="35" width="58" src="https://wia.id/media/logo/alto-01.svg" alt="">


                </div>
            </div>
            <div class="columns">
                    <div class="partner-logo">
                    <img height="35" width="58" src="https://wia.id/media/logo/bersama-2-01.svg" alt="">


                    </div>
                </div>


        </div>
        <p style="font-size:12px;font-weight:300">Keamanan pembayaran didukung oleh <a href="https://midtrans.com"
                target="_blank">midtrans</a>. Hubungi (021) 2222 7825 untuk bantuan</p>
    </div>
</div>