<?php
$request = $this->getRequest();
 $module = $request->getModuleName();
 $controller = $request->getControllerName();
 $action = $request->getActionName();
 $url = Mage::helper('core/http')->getHttpReferer() ? Mage::helper('core/http')->getHttpReferer()  : Mage::getUrl();
 
?>


<header id="small-header" class="page-header">
	<div class="primary-header-container">
		<div class="small-nav-container">
			<div class="row">
				<div class="small-3 columns">
					<div class="row small-up-2">
						<div class="columns"> <a href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div></div></div>
				<div class="small-6 columns">
				<div class="logo text-center">
					<?php if ( $controller == 'onepage'):?>
						<h1>Checkout</h1>
					<?php endif?>
					
					<?php if ( $controller == 'cart'):?>
						<h1>Cart</h1>
					<?php endif?>
					
				</div>
				</div>
				<div class="small-3 columns">
				</div>
			</div>
		</div>
	</div>
</header>


