<?php if(!Mage::getSingleton('customer/session')->isLoggedIn()) : ?>
<?php header("Location: /customer/account/login/"); ?>
<?php endif ?>
<?php if(Mage::getSingleton('customer/session')->isLoggedIn() ): ?>
<?php elseif (Mage::getSingleton('customer/session')->getCustomer()->getEmail()!== "thomasdwiatmoko@gmail.com"): ?>
<?php header("Location: /customer/account/login/"); ?>
<?php endif ?>
<?php

    function detectDevice(){
    	$userAgent = $_SERVER["HTTP_USER_AGENT"];
    	$devicesTypes = array(
            "Computer" => array("msie 10", "msie 9", "msie 8", "windows.*firefox", "windows.*chrome", "x11.*chrome", "x11.*firefox", "opera"),
            "Mac" => array("macintosh.*chrome", "macintosh.*firefox"),
            "Tablet"   => array("tablet", "android", "ipad", "tablet.*firefox"),
            "IPhone" => array("iphone"),
            "IPod" => array("ipod"),
            "Android"   => array("android.*mobile"),
            "bot"      => array("googlebot", "mediapartners-google", "adsbot-google", "duckduckbot", "msnbot", "bingbot", "ask", "facebook", "yahoo", "addthis")
        );
     	foreach($devicesTypes as $deviceType => $devices) {
            foreach($devices as $device) {
                if(preg_match("/" . $device . "/i", $userAgent)) {
                    $deviceName = $deviceType;
                }
            }
        }
        return ucfirst($deviceName);
     	}

?>


<div id="wrapper">
  <?php echo "<h2>Your are browsing in <b style='color:red'>".detectDevice().'</b></h2>';?>
<div>
    <h2>
        <?php echo $this->__('Customer Form') ?>
    </h2>
</div>
<?php $collection = Mage::getModel('sales/order')->getCollection()->addFieldToFilter('status', array('in' => array('canceled'))); ?>

<table class="data-table" id="my-orders-table">


    <?php $getBrand = Mage::getModel('catalog/product');?>
    <?php echo $getBrand->getAttributeText('brand')?>
    <thead>
    <div>
    <?php echo $this->__('Search:')?>
    </div>
    <div><input type="text" id="searchBox" placeholder="Search..."/></div>

    <button type="button" class="button" id="click" name="click">
      <span>
        <span>
          <?php echo $this->__('SEND')?>
        </span>
      </span>
    </button>
    <button type="button" class="button" id="skipbtn" name="click">
      <span>
        <span>
          <?php echo $this->__('SKIP')?>
        </span>
      </span>
    </button>
        <tr>
            <th>Select</th>

            <th><?php echo $this->__('Order #') ?></th>
            <th><?php echo $this->__('Product ID') ?></th>
            <th><?php echo $this->__('Product Name')?></th>
            <th><div><?php echo $this->__('Brand') ?></div></th>
            <th><?php echo $this->__('Order Status')?></th>
            <th><?php echo $this->__('Voucher') ?></th>
            <th><?php echo $this->__('Phone(WA)') ?></th>



        </tr>
    </thead>
    <tbody id="tbody" name="tbody">
        <?php $_odd = ''; ?>

        <?php foreach ($collection as $collections):   ?>
            <?php $phone = $collections->getShippingAddress()->getTelephone();
            $phone = ltrim($phone, '0');
            $coupons = Mage::getModel('salesrule/rule')->load(1);
            $phone = sprintf('62%d',$phone)
            ?>

            <?php foreach ($collections->getAllVisibleItems() as $items): ?>
                <?php $getId = $items->getProductId();?>
                    <?php $brand = Mage::getModel('catalog/product')->load($getId) ?>
                        <?php $product = $brand->getBrand();  ?>

        <tr>
            <td><input type="radio" name="CFGID" id="CFGID" value="11579"></input></td>

            <td><?php echo $collections->getRealOrderId() ?></td>
            <td><?php echo $getId ?></td>
            <td><?php echo $brand->getName() ?></td>
            <td><?php echo $product; ?></td>
            <td><?php echo $collections->getStatusLabel() ?></td>
            <td><?php echo $coupons->getCouponCode() ?></td>

            <td><?php echo $phone?></td>
            <td style="display: none;" type="hidden"><?php echo $brand->getProductUrl()?></td>


        </tr>
        <?php
        $oCoupon = Mage::getModel('salesrule/coupon')->load($coupons->getCouponCode(), 'code');
        $realCoupon = Mage::getModel('salesrule/rule')->load($oCoupon->getRuleId());
        $discount = $realCoupon->getDiscountAmount();
        $realDiscount = round($discount, 4);





        ?>
        <?php endforeach; ?>
        <?php endforeach; ?>
    </tbody>
</table>
</div>

<div id="formSuccess" style="display:none;"></div>

<script type="text/javascript">decorateTable('my-orders-table');</script>
<script>jQuery.noConflict();</script>
<script type="text/javascript">
var dataForm = new VarienForm('skip', true);
var dataForm2 = new VarienForm('send', true);
var formId = "skip";
var formId2 = "send";
var phone = "";
var text= "";
var status = "";
var sendWa = "https://wa.me/<?php echo $phone ?>?text=Hi Cek kembali produk kamu, dengan brand: <?php echo $product?> diskon <?php echo $realDiscount ?> pakai kode promo : <?php echo $coupons->getCouponCode()?> <?php echo $brand->getProductUrl() ?>";
var get_value = new Array();
var postUrl = "<?php echo $this->getUrl("whatsapp/index/getSkipButton"); ?>";
var postUrl2 = "<?php echo $this->getUrl("whatsapp/index/sendWaButton"); ?>";
/*jQuery(document).ready(function(){
    jQuery("#my-orders-table tr").click(function(){
        jQuery(this).find("td").each(function(){
            alert(jQuery(this).html());
        });
    });
});*/

jQuery(document).ready(function(){
    jQuery("#searchBox").on("keyup", function() {
        var value = jQuery(this).val().toLowerCase();
        jQuery("#tbody tr").filter(function() {
            jQuery(this).toggle(jQuery(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});




jQuery(function () {

    var checkCounter = 0;
    jQuery('#click').on('click', function () {
        var checkedRows = jQuery("tr:has(:checked)")
        var cols= []
        jQuery("thead tr td").slice(1).each(function(){
            cols.push([])
        })
        checkedRows.each(function(){
            jQuery(this).children().slice(1).each(function(i){
                cols.push(jQuery(this).text().trim())
            })
        })

        console.log(JSON.stringify(cols,0,4));
        phone = cols[6];

        text = "Hi Cek kembali produk kamu, dengan brand: "+cols[3]+" diskon <?php echo $realDiscount ?> pakai kode promo : "+cols[5]+" "+cols[7];
        window.open("https://wa.me/"+phone+"?text="+text, "_blank");
    });
})

jQuery(function () {

    var checkCounter = 0;
    jQuery('#skipbtn').on('click', function () {
        var checkedRows = jQuery("tr:has(:checked)")
        var cols= []
        jQuery("thead tr td").slice(1).each(function(){
            cols.push([])
        })
        checkedRows.each(function(){
            jQuery(this).children().slice(1).each(function(i){
                cols.push(jQuery(this).text().trim())
            })
        })

          console.log(JSON.stringify(cols,0,4));


          jQuery.post("/whatsapp/index/getSkipButton",
        {
          orderid: cols[0]
        },
        function(data, status){
          window.location.replace("/recall-whatsapp")


        });


    });
})


function sendAjax() {

   if (dataForm2.validator.validate()) {
       new Ajax.Updater(
           { success:'formSuccess' }, postUrl2, {
               method:'post',
               asynchronous:true,
               evalScripts:false,
               onComplete:function(request, json) {

                 window.open("<?php echo $sendingurl ?>", "_blank");

               },
               onLoading:function(request, json){


               },
               parameters: $("send").serialize(),
               onFailure:function(request, json){
                   Element.show('formFailure');
               }
           }

       );
   }
}



function doAjax() {

    if (dataForm.validator.validate()) {
        new Ajax.Updater(
            { success:'formSuccess' }, postUrl, {
                method:'post',
                asynchronous:true,
                evalScripts:false,
                onComplete:function(request, json) {


                window.location.replace("/recall-whatsapp/");
                },
                onLoading:function(request, json){


                },
                parameters: $("skip").serialize(),
                onFailure:function(request, json){
                    Element.show('formFailure');
                }
            }

        );
    }
}
/*
new Event.observe(formId, 'submit', function(e){
    e.stop();
    doAjax();
});
new Event.observe(formId2, 'submit', function(e){
    e.stop();
    sendAjax();
});*/
</script>

<?php echo $this->getPagerHtml(); ?>
