
<td>

<form id="send" name="send" method="post" enctype="multipart/form-data">
<?php
<input id="coupon" name="coupon" type="hidden" value="<?php echo $coupons->getCouponCode() ?>"/>
<input id="sendorderid" name="sendorderid" type="hidden" value="<?php echo $collections->getRealOrderId()?>"> </input>
<input id="phone" name="phone" type="hidden" value="<?php echo $phone?>" />
<input id="brand" name="brand" type="hidden" value="<?php echo $product; ?>" />
<input id="url" name="url" type="hidden" value="<?php echo $brand->getProductUrl()?>" />
<?php
$oCoupon = Mage::getModel('salesrule/coupon')->load($coupons->getCouponCode(), 'code');
$realCoupon = Mage::getModel('salesrule/rule')->load($oCoupon->getRuleId());
$discount = $realCoupon->getDiscountAmount();
$realDiscount = round($discount, 4);

//set text message
$text = "Hi Cek kembali produk kamu, dengan brand: ".$product." diskon ".$realDiscount." pakai kode promo : ".$coupons->getCouponCode()." ".$brand->getProductUrl();
$sendingurl = "https://wa.me/".$phone."?text=".$text;
?>
<input id="encodetext" name="encodetext" type="hidden" value="<?php echo $text?>" />
<button type="submit" class="button">
    <span>
        <span>
            <?php echo $this->__('SEND') ?>
        </span>
    </span>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
</button>
</form>

<form id="skip" name="skip" method="post" enctype="multipart/form-data">

<div>
  <input id="orderid" name="orderid" type="hidden" value="<?php echo $collections->getRealOrderId()?>"> </input>
</div>
<button type="submit" class="button" >
    <span>
        <span>
            <?php echo $this->__('SKIP') ?>

        </span>
    </span>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
</button>
</form>

</td>
