
<?php $grandTotal = Mage::getModel('checkout/session')->getQuote()->getGrandTotal();
	  $grandTotalCurrency = Mage::helper('core')->currency($grandTotal,true,false);
	  
	  	$quote = Mage::getSingleton('checkout/session')->getQuote();
		$subtotal = $quote->getSubtotal();
		$subtotalCurrency = Mage::helper('core')->currency($subtotal,true,false);
	  
	  
	  //echo Mage::getModel('checkout/session')->getQuote()->getCouponCode();
?>

<div class="reveal full" id="total-details" data-reveal>

    <div class="block block-progress opc-block-progress">
        <div class="checkout-cart-summary border-bottom">
            <h5>
                <?php echo $this->__('Order Summary') ?>
            </h5>
        </div>
        <div class="checkout-cart-summary">
            <?php echo $this->getBlockHtml('product-review-bar') ?>
        </div>
        <div class="block-content">
            <dl>

                <div id="shipping_method-progress-opcheckout">
                    <?php echo $this->getChildHtml('shippingmethod.progress') ?>
                </div>
            </dl>
        </div>
    </div>


    <div class="close-button" data-close aria-label="Close modal" type="button">
        <div aria-hidden="true">&times;</div>
    </div>

</div>

<div class="callout cart-container margin-bottom-1">
    			<div class="row">
    				
    				<div class="small-6 columns">
    					<h5>Order Total</h5>
						<p>
                        <?php echo $grandTotalCurrency;?>
                        </p>
						
    				</div>
                    <div class="small-6 columns text-right">
    					
						<a data-open="total-details">
    View Details
</a>
						
    				</div>
    			</div>
    			
    </div>

