<?php

    function detectDevice(){
    	$userAgent = $_SERVER["HTTP_USER_AGENT"];
    	$devicesTypes = array(
            "Computer" => array("msie 10", "msie 9", "msie 8", "windows.*firefox", "windows.*chrome", "x11.*chrome", "x11.*firefox", "opera"),
            "Mac" => array("macintosh.*chrome", "macintosh.*firefox"),
            "Tablet"   => array("tablet", "android", "ipad", "tablet.*firefox"),
            "IPhone" => array("iphone"),
            "IPod" => array("ipod"),
            "Android"   => array("android.*mobile"),
            "bot"      => array("googlebot", "mediapartners-google", "adsbot-google", "duckduckbot", "msnbot", "bingbot", "ask", "facebook", "yahoo", "addthis")
        );
     	foreach($devicesTypes as $deviceType => $devices) {
            foreach($devices as $device) {
                if(preg_match("/" . $device . "/i", $userAgent)) {
                    $deviceName = $deviceType;
                }
            }
        }
        return ucfirst($deviceName);
     	}




?>



  <?php echo "<h2>Your are browsing in <b style='color:red'>".detectDevice().'</b></h2>';?>
