<div>
    <?php $idsession = $this->getCustomer()->getEntityId(); ?>
    <h1>
    add product
    </h1>

    <form method="post" action=<?php echo $this->getUrl("exp/myexperience/addExp", $params) ?> >    
            nama barang : 
            <input name="nama"  /><br>
            sku :
            <input name="sku"/><br>
            description :
            <input name= "deskripsi"  /><br>
            Price :
            <input name="harga" /><br>
            Qty :
            <input name="qty" /><br>
            tanggal : 
            <input type= date name="tgl"></br>
            <input name="id" type="hidden" value="<?php echo $idsession ?>" >
            <input type="submit" value="add" />
    </form>
    <button onclick="goBack()">Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
    

</div>