<div>
<h1>booking detail </h1>
<?php 
    $params = $this->getRequest()->getParams();
    $incrementid = $params['incrementid'];
    $test = $this->selectbooking($incrementid);
    $bookdate = $test->getBookdate();  
    $infoguest = $test->getInfoguest(); 
    $dekot = json_decode($infoguest, true);
    $jumlah = count($dekot);
    $status = $test->getStatus();
    $grandtotal = $test->getGrandTotal();
?>
    
    
    <table border="1">
        <thead>
            <td>name </td>
            <td>email </td>
            <td>phone </td>
        <thead>
        <?php foreach($dekot as $info ) :  ?>
        
         <tr>
            <td><?php echo $info['name'] ?></td>
            <td><?php echo $info['email'] ?></td>
            <td><?php echo $info['phone']?></td>
        </tr>

        <?php endforeach ;?>

        
    </table>
    
    <form method="post" action=<?php echo $this->getUrl("exp/bookorder/processcekin", $params) ?> >
        Pax : <?php echo $jumlah?> </br>    
        Status : <?php echo $status?> </br>
        Grandtotal : <?php echo $grandtotal?> </br>
        <input value="<?php echo $incrementid ?>" type="hidden" />
        <?php if ($status=="processing") {?>
        <input type="submit" value="start experience"/>
        <?php }?>
    </form>
    <?php if ($status=="processing_checkin") { ?>
    <form method="post" action=<?php echo $this->getUrl("exp/bookorder/processcekin", $params) ?> >
        <input value="<?php echo $incrementid ?>" type="hidden" />
        <input type="submit" value="end experience"/>
    </form>
    <?php } ?>
</div>