<<<<<<< Updated upstream
<?php 
$detail = Mage::getSingleton('customer/session')->getExpSession();
$quantitycart = $detail['qty'];
$productidcart = $detail['product'];
$bookdate = $detail['bookdate'];

$current_product = Mage::getModel('catalog/product')->load($productidcart);

?>



<div class="small-order-summary-container show-for-small-only">
<div class="row collapse">
                        <div class="small-2 columns">
                            <img height="600" width="400" id="product-collection-image-<?php echo $current_product->getId(); ?>"
                                    class="lazy" data-srcset="<?php echo $this->helper('catalog/image')->init($current_product, 'small_image')->resize(300,200); ?> 768w, <?php echo $this->helper('catalog/image')->init($current_product, 'small_image')->resize(300,200); ?> 1024w" data-src="<?php echo $this->helper('catalog/image')->init($current_product, 'small_image')->resize(300,200); ?>" src="<?php echo $this->helper('catalog/image')->init($current_product, 'small_image')->resize(300,200); ?>"
                                        alt="<?php echo $this->stripTags($this->getImageLabel($current_product, 'small_image'), null, true) ?>" />


                        </div>
                        <div class="small-10 columns">
                            <p><?php echo $current_product->getName();?></p>
                            <p><?php echo $current_product->getPrice();?></p>

                        </div>
                    </div>

</div>
<section id="checkout-cart" class="checkout padding-center grey-bg">
    <div class="row small-collapse medium-uncollapse">
        <div class="medium-7 columns">



            <div class="shipping-address-container">
                <div class="shipping-address-header">
                    <h2>Guest Details</h2>
                    <h5>LOGIN</h5>
                    <p>Jika anda sudah mempunyai akun, silahkan masuk terlebih dahulu. <a href="">Login</a></p>

                </div>

                <div class="address-list-container">
                    <h5>GUEST DETAIL</h5>
                    <form class="form" method="post"
                        action=<?php echo $this->getUrl("exp/bookorder/addOrder", $params) ?>>
                        <label for="name">Name</label>
                        <input name="name" type="text" placeholder="name"></br>
                        <label for="email">Email</label>
                        <input name="email" type="text" placeholder="email"></br>
                       
                        <label for="phone">Phone</label>
                        <input name="phone" type="text" placeholder="123213"> </br>
                        <h5>NOTE TO YOUR HOST</h5>
                        <textarea placeholder="Add note to your host"></textarea>

                        <button type="submit" class="button expanded">Continue</button>
                        <p class="text-center small-text"><i class="fa fa-lock" aria-hidden="true"></i> By click this button you are agree to our term and conditions</p>

                    </form>


                </div>
                
            </div>

            <div class="shipping-address-container">
                <div class="shipping-address-header">
                    <h2>Please review your order</h2>
                    
                    
                </div>

                <div class="address-list-container">

                    <h5 class="caption">BOOKING DETAILS</h5>
                    <div class="row collapse small-up-2">
                        <div class="columns">
                        <p><i class="fa fa-calendar-o" aria-hidden="true"></i> Booking Date</p>
                        <h3><?php echo $bookdate;?></h3>

                        </div>
                        <div class="columns">
                        <p><i class="fa fa-user" aria-hidden="true"></i> Total Guest</p>
                        <h3><?php echo $quantitycart;?> Person</h3>
                        </div>
                    </div>
                    
                    
                
                </div>
               
                <div class="address-list-container border-top">
                <h5 class="caption">HOUSE RULES</h5>
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                    
                </div>
                <div class="address-list-container border-top">
                    <h5 class="caption">CANCELATION POLICY</h5>
                    <p>Anda dapat melakukan pembatalan pesanan dengan pengembalian 100% dalam waktu 1x24 jam</p>
                    
                </div>

                <div class="review-table-container show-for-small-only">

                   <h5 class="caption">PAYMENT TOTALS</h5>

                    <table>
                        <tbody>
                            <tr>
                                <td class="review-info">
                                    Subtotal
                                </td>
                                <td class="review-value">
                                   <?php echo Mage::helper('core')->currency($current_product->getPrice(),true,false);?>
                                </td>
                            </tr>

                            <tr>
                                <td class="review-info">
                                    Voucher Discount
                                </td>
                                <td class="review-value">
                                    - Rp 13.000,00
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="review-info">
                                    Total</td>
                                <td class="review-value">
                                    <?php $discount = 0;?>
                                    <?php $totals = $current_product->getPrice() - $discount;?>
                                    <?php echo Mage::helper('core')->currency($totals,true,false);?>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

                <a href="#" class="button expanded">Continue to Payment</a>
            <p class="text-center small-text"><i class="fa fa-lock" aria-hidden="true"></i> By booking an order you are agree to our term and conditions</p>


            </div>
            

        </div>
        <div class="medium-5 columns">
            <div class="checkout-sidebar-container show-for-medium">
                <h3>Booking Summary</h3>
                <div class="order-summary-container">

                    <div class="row collapse">
                        <div class="small-4 columns">
                            <img height="600" width="400" id="product-collection-image-<?php echo $current_product->getId(); ?>"
                                    class="lazy" data-srcset="<?php echo $this->helper('catalog/image')->init($current_product, 'small_image')->resize(300,200); ?> 768w, <?php echo $this->helper('catalog/image')->init($current_product, 'small_image')->resize(300,200); ?> 1024w" data-src="<?php echo $this->helper('catalog/image')->init($current_product, 'small_image')->resize(300,200); ?>" src="<?php echo $this->helper('catalog/image')->init($current_product, 'small_image')->resize(300,200); ?>"
                                        alt="<?php echo $this->stripTags($this->getImageLabel($current_product, 'small_image'), null, true) ?>" />


                        </div>
                        <div class="small-8 columns">
                            <p><?php echo $current_product->getName();?></p>
                            <p><?php echo $current_product->getPrice();?></p>

                        </div>
                    </div>




                </div>





                <div class="review-table-container">

                    <table>
                        <tbody>
                            <tr>
                                <td class="review-info">
                                    <i class="fa fa-user" aria-hidden="true"></i> Total Guest
                                </td>
                                <td class="review-value">
                                    <?php echo $quantitycart;?>
                                </td>
                            </tr>

                            <tr>
                                <td class="review-info">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Booking Date
                                </td>
                                <td class="review-value">
                                    <?php echo $bookdate;?>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                    <table>
                        <tbody>
                            <tr>
                                <td class="review-info">
                                    Subtotal
                                </td>
                                <td class="review-value">
                                   <?php echo Mage::helper('core')->currency($current_product->getPrice(),true,false);?>
                                </td>
                            </tr>

                            <tr>
                                <td class="review-info">
                                    Voucher Discount
                                </td>
                                <td class="review-value">
                                    - Rp 13.000,00
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="review-info">
                                    Total</td>
                                <td class="review-value">
                                    <?php $discount = 0;?>
                                    <?php $totals = $current_product->getPrice() - $discount;?>
                                    <?php echo Mage::helper('core')->currency($totals,true,false);?>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                <div class="voucher-container">


                    <div class="voucher-container">
                        <form class="form voucher-form" name="voucherForm" id="voucherForm">

                            <?php if(!$voucher):?>
                            <input class="required-entry" placeholder="Add promo code" type="text" name="voucher"
                                id="voucher" />

                            <button type="button" class="voucher-button" title="Continue"
                                onclick="applyvoucher(true)">Apply</button>

                            <?php else:?>
                            <input class="required-entry" placeholder="Add promo code" type="text" name="voucher"
                                id="voucher" value="<?php echo $voucher?>" />

                            <button type="button" class="voucher-button" title="Continue"
                                onclick="applyvoucher(false)">Cancel</button>

                            <?php endif?>




                        </form>

                    </div>


                </div>

            </div>
            <div class="checkout-sidebar-container-bottom">
                <div class="payment-method-group">
                    <h5>METODE PEMBAYARAN</h5>
                    <div class="row small-up-5 margin-bottom-05 collapse">

                        <div class="columns">
                            <div class="partner-logo">
                                <img src="https://wia.id/media/logo/visa-01.svg" alt="">


                            </div>
                        </div>
                        <div class="columns">
                            <div class="partner-logo">
                                <img src="https://wia.id/media/logo/mastercard-01.svg" alt="">


                            </div>
                        </div>
                        <div class="columns">
                            <div class="partner-logo">
                                <img src="https://wia.id/media/logo/jcb-01.svg" alt="">


                            </div>
                        </div>
                        <div class="columns">
                            <div class="partner-logo">
                                <img src="https://wia.id/media/logo/alto-01.svg" alt="">


                            </div>
                        </div>
                        <div class="columns">
                            <div class="partner-logo">
                                <img src="https://wia.id/media/logo/bersama-2-01.svg" alt="">


                            </div>
                        </div>


                    </div>
                    <p style="font-size:12px;font-weight:300">Keamanan pembayaran didukung oleh <a
                            href="https://midtrans.com" target="_blank">midtrans</a>. Hubungi (021) 2222 7825 untuk
                        bantuan</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .partner-logo {
        padding: 5px;
    }
    textarea{
        border-bottom:1px solid #eee
    }
</style>
=======
<div>
<h1>form book order</h1>

 <?php
//16 itu id product, namaattribute, terus storeid    
// $storeid = Mage::app()->getStore()->getStoreId();
// $attributevalue = Mage::getResourceModel('catalog/product')->getAttributeRawValue(1, 'januari_coba', $storeid);
// $product = Mage::getModel('catalog/product')
// ->setStoreId(4)
// ->setData('januari_coba',$attributevalue); 
// $option_label = $product->getAttributeText('januari_coba');
$idproduk = 4;
$date = Mage::getModel('catalog/product')->load($idproduk)->getDateproduct();
   
$date = array($date);
    $i = 1;
    foreach($date as $dd) :
  
?>
    <form id="myForm<?php echo $i?>" method="post" action=<?php echo $this->getUrl("exp/bookorder/cekslot", $params) ?> >
        tanggal tersedia : 
        <input name="tanggal" type="date" value="<?php echo $dd ?>" disabled >
        <input type="hidden" value="<?php echo $idproduk?>" name="productid">
        <input type="submit" value="cek slot">
    </form>
    <?php $i++; endforeach; ?>

    <form method="post" action=<?php echo $this->getUrl("exp/bookorder/addOrder", $params) ?> >
        nama :
        <input name="name" type="text" placeholder="name"></br>
        email : 
        <input name="email" type="text" placeholder="email"></br>
        Booking dates : 
        <input name="bookdate" type="text" placeholder="yyyy-mm-dd"></br>
        Phone :
        <input name="phone" type="text" placeholder="08xx-xxx-xxx"> </br>
        <!-- pilihan tanggal : -->
        <?php foreach($option_label as $tanggal) : ?>        
        <!-- <input type="checkbox" ><?php echo $tanggal ?> -->
        <?php endforeach ;?>
        <input type="submit" value="book now">
    </form>
   
   

</div>
>>>>>>> Stashed changes
