<div>

    <h1>
        my experience
    </h1>


    <?php    
    $idsession = $this->getCustomer()->getEntityId();
    $products = $this->selectproductproduction();
    $datax = $this->selectproductproduction();
    
    ?>


    <form method="post" action=<?php echo $this->getUrl("exp/productex/index", $idsession) ?>>
        <input type="submit" value="add activity" />
        <input type="hidden" name="idsession" value="<?php echo $idsession ?>" />
    </form>

    <?php
        $i = 1;
        $params = [] ;
        $idform = "myForm".$i;
        if($datax != null){
        foreach($datax as $data) : ?>
<<<<<<< Updated upstream
    <form id="myForm<?php echo $i?>" method="post" name="myForm"
        action=<?php echo $this->getUrl("exp/productex/edit", $idsession) ?>>
        nama barang :
        <input name="nama" value="<?php echo $data->getName() ?>" />
        sku :
        <input name="sku" value="<?php echo $data->getSku() ?>" />
        description :
        <input name="deskripsi" value="<?php echo $data->getDescription() ?>" />
        <input type="hidden" name="harga" value="<?php echo $data->getPrice() ?>" />
        <input type="hidden" name="idproduk" value="<?php echo $data->getEntityid() ?>" />
        <input type="submit" value="edit" /><br>
    </form>

=======
            <form id="myForm<?php echo $i?>" method="post" name="myForm" action=<?php echo $this->getUrl("exp/productex/edit", $idsession) ?> >
                nama barang : 
                <input name="nama" value="<?php echo $data->getName() ?>" />
                sku :
                <input name="sku" value="<?php echo $data->getSku() ?>" />
                description :
                <input name= "deskripsi" value="<?php echo $data->getDescription() ?>" />
                <input type= "hidden" name = "harga" value ="<?php echo $data->getPrice() ?>" />
                <input type= "hidden" name= "idproduk" value= "<?php echo $data->getEntityid() ?>" />
                <input type="submit" value="edit"  /><br>
            </form>

            <form method ="post" action=<?php echo $this->getUrl("exp/myexperience/setschedule", $params)?>>
                <input type="submit" value="set schedule" />
                <input type="hidden" name="idproduk" value="<?php echo $data->getEntityid()?>" />
            </form>
    
>>>>>>> Stashed changes
    <?php $i++; endforeach ;
        }
        else{
            echo "anda belum memiliki activity";
        }
    ?>


    <?php
        // $storeid = Mage::app()->getStore()->getStoreId();
        // //var_dump($storeid);
        // //13 itu id product, namaattribute, terus storeid    
        // $attributevalue = Mage::getResourceModel('catalog/product')->getAttributeRawValue(13, 'januari_coba', $storeid);
        // //var_dump($attributevalue);
        // $product = Mage::getModel('catalog/product')
        // ->setStoreId(4)
        // ->setData('januari_coba',$attributevalue); 
        // $option_label = $product->getAttributeText('januari_coba');
        // //var_dump($option_label);
    ?>


</div>


<div class="row medium-up-2">
    <?php foreach($products as $product) :?>
    
    <div class="columns">
        <div class="card">
            <div class="card-host-edit card-host">

                <div class="card-image">
                    <img src="https://via.placeholder.com/375x225" alt="">
                    <div class="card-image-content">
                        <div class="top-left">
                            <div class="location">Jakarta</div>
                            <div class="duration">3 - 6 Hours</div>
                        </div>
                        <div class="top-right">
                            <?php if($product->getVisibility() == '1'):?>
                            <div class="status">
                                On Review
                            </div>
                            <?php endif;?>
                            <?php if($product->getVisibility() == '4'):?>
                            <div class="status">
                                Active
                            </div>
                            <?php endif;?>

                        </div>

                    </div>


                </div>
                <div class="card-content">
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <div class="host-image">
                                <img src="https://via.placeholder.com/150x150" alt="">
                            </div>

                        </div>
                        <div class="small-7 columns">
                            <div class="exp-desc">
                                <h2>
                                    <a href="">
                                        <?php echo $product->getName();?>
                                        
                                    </a>
                                </h2>

                            </div>
                            <div class="exp-edit">
                                <a href="" class="button tiny hollow">
                                    Edit
                                </a>
                                <a href="" class="button tiny hollow">
                                    Manage Schedule
                                </a>
                            </div>


                        </div>
                        <div class="small-3 columns">
                            <div class="exp-price">
                                <div class="price-label">Start From</div>
                                <div class="price-value"><?php echo $product->getPrice();?> / Session</div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <?php endforeach;?>
</div>