<div>

    <h1>
    Payout Method 
    </h1>

    <?php 
    $idsession = $this->getCustomer()->getEntityId();
    $baru = $this->selectpayoutmethod();
    //var_dump($baru);
    
    ?>
    <form method="post" action=<?php echo $this->getUrl("exp/payoutmethod/formaddpayoutmethod", $idsession) ?>>
        <input type="submit" value="add payout method" />
        <input type="hidden" name = "idsession" value ="<?php echo $idsession ?>" />
    </form>


    <table border='1px solid'>
        <tr>
            <td>nama</td>
            <td>bank</td>
            <td>nomor rekening</td>
        </tr>
<?php foreach($baru as $data) : ?>
        <tr>
            <td><?php echo $data['acc_name']?></td>
            <td><?php echo $data['bank_name']?></td>
            <td><?php echo $data['acc_number']?></td>
        </tr>
<?php endforeach ;?>

    </table>

    <form method="post" action=<?php echo $this->getUrl("exp/payoutmethod/formeditpayoutmethod", $idsession) ?>>
        <input type="submit" value="edit payout method" />
        <input type="hidden" name = "idsession" value ="<?php echo $idsession ?>" />
    </form>
    

</div>