<div>

    <h1>
    payout requestpayout
    </h1>


    <?php 
    $orders = $this->selectOrder();
    ?>
    <form method="post" action=<?php echo $this->getUrl("exp/payout/index")?> >
        <input type="submit" value="complete-unpaid" />
    </form>
    <form method="post" action=<?php echo $this->getUrl("exp/payout/process")?> >
        <input type="submit" value="complete-requestpayout" />
    </form>
    <form method="post" action=<?php echo $this->getUrl("exp/payout/paid")?> >
        <input type="submit" value="complete-paid" />
    </form>

    <table border='1'> 

    <tr>
        <td>increrment id </td>
        <td>nama </td>
        <td>status</td>
    </tr>

    <?php 
        //pengembangan selanjutnya di backend filternya. jangan didepan
        foreach($orders as $ord) : 
            $order = $this->cariorder($ord);
            if($order->getStatus()==="complete_requestpayout"){
                
    ?>
    
    <tr>
        <td><?php echo $order->getIncrementId() ?></td>
        <td><?php echo $order->getBillingAddress()->getFirstname(); ?></td>
        <td><?php echo $order->getStatus();  ?></td>
    </tr>
    
            <?php } endforeach ?>
        </table>

</div>