<div>

    <h1>
    payout complete-unpaid
    </h1>
    <script>
        $(document).ready(function() {
            $(':input[type="submit"]').prop('disabled', true);
            $('input[type="text"]').keyup(function() {
                if($(this).val() != '') {
                    $(':input[type="submit"]').prop('disabled', false);
                }
            });
        });

    </script>

    <?php 
    $orders = $this->selectOrder();
    //var_dump ($orders);
    ?>
    <form method="post" action=<?php echo $this->getUrl("exp/payout/index")?> >
        <input type="submit" value="complete-unpaid" />
    </form>
    <form method="post" action=<?php echo $this->getUrl("exp/payout/process")?> >
        <input type="submit" value="complete-requestpayout" />
    </form>
    <form method="post" action=<?php echo $this->getUrl("exp/payout/paid")?> >
        <input type="submit" value="complete-paid" />
    </form>

    <table border='1'> 
    <tr>
        <td>increrment id </td>
        <td>nama </td>
        <td>status</td>
    </tr>
    
    <?php 
        $params = [];
        //pengembangan selanjutnya di backend filternya. jangan didepan
        foreach($orders as $ord) : 
        $order = $this->cariorder($ord);
        if($order->getStatus()==="pending" ){
            continue;
        }
    ?>
    
    <tr>
        <td><?php echo $order->getIncrementId(); ?></td>
        <td><?php echo $order->getBillingAddress()->getFirstname(); ?></td>
        <td><?php echo $order->getStatus();  ?></td>
        <td>
        <form method="post" action=<?php echo $this->getUrl("exp/payout/updateorderstatus", $params )?> >
            <input type="hidden" name="orderid" value=<?php echo $order->getIncrementId() ?> />
            <?php 
                if($order->getStatus()=="complete"){
            ?>
            <input type="submit" value="request" />
                <?php }?>
        </form>
        </td>
    </tr>
    
    <?php endforeach ?>
    </table>

    


</div>