<div>

    <h1>
    schedule testing
    </h1>
    <?php 
    $idsession = $this->getCustomer()->getEntityId();
    
    ?>

    <form method="post" action="<?php echo $this->getUrl("exp/schedulefront/testtanggal", $params)?>">
        <input name="pilihan[]" type= "checkbox" value="26" />1 </br>
        <input name="pilihan[]" type= "checkbox" value="25" />2 </br>
        <input name="pilihan[]" type= "checkbox" value="24" />3 </br>
        <input name="pilihan[]" type= "checkbox" value="4" />4 </br>
        <input name="pilihan[]" type= "checkbox" value="5" />5 </br>
        <input name="pilihan[]" type= "checkbox" value="6" />6 </br>
        <input name="pilihan[]" type= "checkbox" value="7" />7 </br>
        <input name="pilihan[]" type= "checkbox" value="8" />8 </br>
        <input name="pilihan[]" type= "checkbox" value="9" />9 </br>
        <input name="pilihan[]" type= "checkbox" value="10" />10 </br>
        <input name="pilihan[]" type= "checkbox" value="11" />11 </br>
        <input name="pilihan[]" type= "checkbox" value="12" />12 </br>
        <input name="pilihan[]" type= "checkbox" value="13" />13 </br>
        <input name="pilihan[]" type= "checkbox" value="14" />14 </br>
        <input name="pilihan[]" type= "checkbox" value="15" />15 </br>
        <input name="pilihan[]" type= "checkbox" value="16" />16 </br>
        <input name="pilihan[]" type= "checkbox" value="17" />17 </br>
        <input type="hidden" name = "idsession" value ="<?php echo $idsession ?>" />
        <input type="submit" value="submit" />

    </form>
</div>