<?php 
$detail = Mage::getSingleton('customer/session')->getExpSession();
echo $quantitycart = $detail['qty'];
echo $productidcart = $detail['product'];
echo $bookdate = $detail['bookdate'];
?>


<?php $product = Mage::registry('current_product');
$id = $product->getId();
?>



<form class="hide" method="post" action=<?php echo $this->getUrl("exp/bookorder/cekslot", $params) ?>>
    tanggal tersedia :
    <input name="tanggal" type="text" value="2019-3-29">
    <input type="hidden" value="<?php echo $id;?>" name="productid">
    <input type="submit" value="cek slot">
</form>

<form id="product_addtocart_form" class="form" method="post"
                action=<?php echo $this->getUrl("exp/bookorder/addtocart") ?>>
                <input hidden value="<?php echo $id;?>" name="productid">

                <label for="bookdate">Booking Dates</label>

                <input class="input-text required-entry validate-date" type="text" name="bookdate">

                <label for="qty">Booking For</label>
                <select class="input-text required-entry validate-select" name="qty" id="">
                    <option value="">Select qty</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>

                <button class="button expanded" type="submit" value="add to cart">Book Now</button>
            </form>



<script type="text/javascript">
    //<![CDATA[

    var productAddToCartForm = new VarienForm('product_addtocart_form');
</script>