<div>
<h1> myexperience - set schedule </h1>
<?php
    $params = $this->getRequest()->getParams();
    $idproduk = $params['idproduk'];
    $date = Mage::getModel('catalog/product')->load($idproduk)->getDateproduct();
   
?>


    <form method="post" action=<?php echo $this->getUrl("exp/myexperience/setdateproduct", $params) ?>>
        pilih hari : 
       
        <!-- <input type="date" name="date" value="<?php echo $date ?>" /> -->
        <input type="text" name="date" value="januari['2019-04-04','2019-05-05']"/>
      
   
        <input type="hidden" value="<?php echo $idproduk ?>" /> 
        <input type="submit" value="set date" />   

    </form>


</div>