<section id="featured-block-petloka-service" class="hide featured-block padding-center show-for-medium">
        <div class="featured-block-header">
            <div class="row">
                <div class="medium-12 columns">
                    <h2>All in solution for petloka</h2>
                </div>
            </div>
        </div>
        <div class="featured-block-content">
                <div class="row medium-up-2">
                        <div class="columns">
                            <h3>Our Service</h3>
                            <ul>
                                <li>Service 1</li>
                                <li>Service 2</li>
                            </ul>
                        </div>
                        <div class="columns">
                            <h3>Our Sitters</h3>
                            <ul>
                                <li>Value 1</li>
                                <li>Value 1</li>
                            </ul>
                         </div>
                </div>
        </div>
</section>
