<section id="banner-hero" class="hero-banner show-for-medium">
        <div class="row collapse">
            <div class="medium-12 columns">
                <div class="hero-banner-container">
                        <div class="hero-banner-image">
                                <img src="https://petloka.com/media/wysiwyg/Petloka/banner.jpg" alt="">
                        </div>
                        <div class="hero-banner-content text-left">
                                
                                            
                                <h2>Become a Groomer and</br>get up to Rp 3.000.000,00 / month</h2>
                                <a href="/service/account/product/" class="button">Become a Groomer</a>
                  
                        </div>
                </div>
                    
            </div>
        </div>
</section>