<section id="featured-block-experience-category" class="featured-block padding-center">
    <div class="featured-block-header">
        <div class="row">
            <div class="medium-12 columns">
                <h2>Top Service</h2>
            </div>
        </div>
    </div>
    <div class="featured-block-content">
        <div class="row small-up-1 medium-up-2">


            <div class="columns">
                <div class="card-overlay">
                    <div class="card-image">
                        <img src="https://petloka.com/media/wysiwyg/Petloka/grooming.jpg" alt="">

                    </div>
                    <div class="card-content-top">
                        <h5>Service</h5>

                    </div>
                    <div class="card-content">
                        <h3>Find Grooming Service</h3>
                        <p>On demand service in your place</p>
                        <a href="service/product/list/service_type/grooming" class="button tiny round">Find Now</a>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="card-overlay">
                    <div class="card-image">
                        <img src="https://petloka.com/media/wysiwyg/Petloka/pet_hotel.jpg" alt="">

                    </div>
                    <div class="card-content-top">
                        <h5>Service</h5>

                    </div>
                    <div class="card-content">
                        <h3>Find Pet Hotel</h3>
                        <p>Overnight stay in sitter place</p>
                        <a href="service/product/list/service_type/hotel" class="button tiny round">Find Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section id="featured-block-become-sitters" class="featured-block padding-center show-for-small-only">
    <div class="featured-block-header">
        <div class="row">
            <div class="medium-12 columns">
                <h2>Become a Groomer</h2>
            </div>
        </div>
    </div>
    <div class="featured-block-content">
        <div class="row small-up-1 medium-up-2">

            <div class="columns">
                <div class="card-overlay">
                    <div class="card-image">
                        <img src="https://petloka.com/media/wysiwyg/Petloka/image_sitter.jpg" alt="">

                    </div>
                    <div class="card-content-top">
                        <h5>Service</h5>

                    </div>
                    <div class="card-content">
                        <h3>Become a groomer and
                            get up to Rp 3.000.000,00 / month</h3>

                        <a href="/service/account/product/" class="button tiny round">Find Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
