<section id="featured-block-petloka-service" class="hide featured-block padding-center show-for-medium">
        <div class="featured-block-header">
            <div class="row">
                <div class="medium-12 columns">
                    <h2>3 Easy Steps</h2>
                </div>
            </div>
        </div>
        <div class="featured-block-content">
                <div class="row medium-up-3">
                        <div class="columns">
                           1. steps 1
                        </div>
                        <div class="columns">
                                2. steps 3
                             </div>
                             <div class="columns">
                                    3. steps 3
                                 </div>
                        
                </div>
        </div>
</section>