

<?php $step = $this->getRequest()->getParam('step');?>



<?php if($step == '1'):?>
<?php $customer = $this->getCustomerDetails();
//var_dump ($customer);?>
<a href="/service/account/product/"><i class="fa fa-angle-left" aria-hidden="true"></i> Select Service</a>
<h1>Personal Information</h1>

<div class="form-container">

<form class="form" id="contact-info" method="post"
                        action=<?php echo $this->getUrl("service/account/savePersonal") ?>>

<div class="booking-form-container">
    <h3>Please complete your personal information</h3>
    <div class="booking-contact-details">

        <div class="row">
            <div class="medium-12 columns">
                <label>Name
                    <input type="text" name="full_name" class="required-entry"  placeholder="Name" value="<?php echo $customer['full_name']?>">
                </label>
                <label for="phone_number">Phone Number</label>
                <input class="required-entry" type="text" name="phone_number" value="<?php echo $customer['phone_number']?>">
                <label>Bio</label>
                <textarea type="text"  name="about_me" class="required-entry"  placeholder="Bio"><?php echo $customer['about_me']?></textarea>
                

               
            </div>

        </div>

        <div class="row">
            <div class="medium-12 columns">
            <h3>Bank Account for receive payout</h3>

                <label for="phone_number">Bank Name</label>
                <input class="required-entry" type="text" name="bank_info[bank_name]" value="<?php echo $customer['bank_info']['bank_name']?>">

                <label for="phone_number">Account Name</label>
                <input class="required-entry" type="text" name="bank_info[account_name]" value="<?php echo $customer['bank_info']['account_name']?>">

                <label for="phone_number">Account Number</label>
                <input class="required-entry validate-number" type="text" name="bank_info[account_number]" value="<?php echo $customer['bank_info']['account_number']?>">
  
            </div>

        </div>

    </div>


    
</div>


<button type="submit" class="button">Save and Continue <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>

</form>
</div>

<script type="text/javascript">
    //< ![CDATA[
        var customForm = new VarienForm('contact-info');
    //]]>
</script>
<?php endif;?>

