<?php $step = $this->getRequest()->getParam('step');?>

<?php if($step == '4'):?>


<?php $service = $this->getServiceDetails();
//var_dump ($service);?>

<a href="/service/account/product_add/step/3"><i class="fa fa-angle-left" aria-hidden="true"></i> Price & Packet</a>
<h1>Manage Schedule</h1>

<div class="form-container">
<form class="form" id="contact-info" method="post"
                        action=<?php echo $this->getUrl("service/account/saveSchedule") ?>>



<div class="booking-form-container">
    <h3>Set Your Service Schedule</h3>
   
    <label>Available Date
                        <select class="required-entry"  multiple name="operationalDays[weekDays][]">
                            <option value="Senin">Senin</option>
                            <option value="Selasa">Selasa</option>
                            <option value="Rabu">Rabu</option>
                            <option value="Kamis">Kamis</option>
                            <option value="Jumat">Jumat</option>
                            <option value="Sabtu">Sabtu</option>
                            <option value="Minggu">Minggu</option>
                        </select>
                    </label>

    <p>Available Time</p>
    
    <label>Start Time  </label>
                        <select  class="required-entry"  type="text" name="operationalHours[weekDays][start]">
                        <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                        </select>
                  

                    <label for="">End Time</label>
                    <select  class="required-entry"  type="text" name="operationalHours[weekDays][end]">
                            <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                        </select>


</div>


<button type="submit" class="button">Save and Continue <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>

</form>
</div>
<?php endif;?>
