<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $_products = $this->getProducts() ?>
<?php if (count($_products) > 0): ?>
	<div class="row">
	<div class="medium-12 columns">
		<div class="padding-center">	
		
		<div class="row">
			<div class="small-up-2 medium-up-3">
				<?php foreach($_products as $_product): ?>
					        <div class="columns products-grid   homepage-product item text-center">
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="500" width="500" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            </a>
            <div class="product-info">
                           		<div class="product-brand">
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
               		?>
               		</a>
               		</div>
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
            </h2>
			<?php echo $this->getPriceHtml($_product, true) ?>
			</div>
        </div>

				<?php endforeach; ?>
			</div>
		</div>
		</div>
	</div>
	</div>
	
<?php endif; ?>


