<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $_products = $this->getProducts();
 ?>
<?php if (count($_products) > 0): ?>

	<div class="padding-center border-top">	
		<div class="caption text-center">
			
			<h4>Shop The Product</h4>
		</div>
		
		<div id="homepage-product-center-slider" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
    <?php foreach ($_products as $_product): ?>
        <div class="columns products-grid homepage-product item text-center">
        	<div class="product-container">
            	<div class="product-image">
            <a href="<?php echo $_product->getProductUrl() ?>">
                <img height="500" width="500" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500,500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
            	
            </a>
            </div>
            	<div class="product-info">
            <div class="product-brand">
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
               		?>
               		</a>
               		</div>
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            		<?php $prod_name = $this->htmlEscape($_product->getName()); ?>
                    	<?php
                    $count_str = strlen($prod_name);
                    if ($count_str < 30) {
                        echo $prod_name;
                    } else {
                        $offset = 0;
                        $length = 31;   
                        $prod_name = html_entity_decode($prod_name);                     
                        echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;                        
                    }
                    ?>
            	</a>
            </h2>
			<?php echo $this->getPriceHtml($_product, true) ?>
			</div>
			</div>
        </div>
	<?php endforeach ?>
     </div>
		</div>
	
<?php endif; ?>


