<?php $promo_code = $this->getRequest()->getParam('promo_code');?>
<?php $value = $this->getRequest()->getParam('value');?>

<?php if($promo_code !== null):?>

<style>


@media screen and (max-width: 39.99875em){
    .reveal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    min-height:40%;
    height:30%;
    
    margin: auto;
}

}

</style>

<div class="reveal small text-center" id="exampleModal111" data-reveal>

    <h2>Get <?php echo $value?> Discount</h2>
    <p class="large-text">Gunakan kode promo dibawah ini, pada halaman checkout</p>
  

    <div class="button small uppercase hollow">
        <?php echo $promo_code?>
    </div>
  
        
   



    <p class="tiny-text">T&C Applied</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>



<?php endif;?>