<?php echo $this->getCssJsHtml() ?>


<script>
document.addEventListener("DOMContentLoaded", yall);




    function toggleUp(value) {
        $(value).toggleClassName('show');
        $('main-body').toggleClassName('no-scroll');
    }


    function toggleShow(value) {
        $(value).show();
        //alert(value);
        //$('main-body').toggleClassName('no-scroll');
    }
    function toggleHide(value) {
        $(value).hide();
        //alert(value);
        //$('main-body').toggleClassName('no-scroll');
    }
</script>


<script>


    jQuery(document).ready(function ($) {
        $('.media').owlCarousel({
            center: true,
            items: 1,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            loop: true,
            margin: 0,
            dots: true,
            autoplay: false,
            nav: false,
        });
    });

    jQuery(document).ready(function ($) {
        $('.onboard').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})
    });

    

    jQuery(document).ready(function ($) {
        var owl = $('#product-slider.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: false,
            margin: 0,
            nav: false,
            dots: true,
            
        })
    });



    jQuery(document).ready(function ($) {
        var owl = $('#homepage-product-center-slider.owl-carousel');
        owl.owlCarousel({
            items: 2,
            loop: true,
            margin: 0,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {

                600: {
                    stagePadding: 120,
                    items: 3,
                    nav: true,
                    dots: false,
                    margin: 5,
                },
                1600: {
                    stagePadding: 120,
                    margin: 5,
                    items: 5,
                    nav: true,
                    dots: false,
                }

            }
        })
    });

    jQuery(document).ready(function ($) {
        var owl = $('#featured-host.owl-carousel');
        owl.owlCarousel({
            items: 2,
            loop: true,
            margin: 10,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {

                600: {

                    items: 4,
                    nav: true,
                    dots: false,
                    
                    nav: true,
                },
                1600: {


                    items: 5,
                    nav: true,
                    dots: false,
                   
                    nav: true,
                }

            }
        })
    });

    jQuery(document).ready(function ($) {
        var owl = $('#upsell-product.owl-carousel');
        owl.owlCarousel({
            items: 2,
            loop: true,
            margin: 0,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {

                600: {

                    items: 4,
                    nav: true,
                    dots: false,

                },
                1600: {


                    items: 4,
                    nav: true,
                    dots: false,
                }

            }
        })
    });

    jQuery(document).ready(function ($) {
        var owl = $('#featured-product.owl-carousel');
        owl.owlCarousel({
            items: 2,
            loop: true,
            margin: 30,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {

                600: {

                    items: 4,
                    nav: true,
                    dots: false,

                },
                1600: {


                    items: 4,
                    nav: true,
                    dots: false,
                }

            }
        })
    });


    jQuery(document).ready(function ($) {
        var owl = $('#featured-location.owl-carousel');
        owl.owlCarousel({
            items: 2,
            loop: true,
            margin: 30,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {

                600: {

                    items: 4,
                    nav: true,
                    dots: false,

                },
                1600: {


                    items: 4,
                    nav: true,
                    dots: false,
                }

            }
        })
    });



    jQuery(document).ready(function ($) {
        var owl = $('#featured-experience.owl-carousel');
        owl.owlCarousel({
            items: 2,
            loop: true,
            margin: 30,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {

                600: {

                    items: 3,
                    nav: true,
                    dots: false,

                },
                1600: {


                    items: 3,
                    nav: true,
                    dots: false,
                }

            }
        })
    });

    jQuery(document).ready(function ($) {
        var owl = $('#featured-category.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: true,
            margin: 30,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {

                600: {

                    items: 3,
                    nav: true,
                    dots: false,

                },
                1600: {


                    items: 3,
                    nav: true,
                    dots: false,
                }

            }
        })
    });


    jQuery(document).ready(function ($) {
        var owl = $('#mobile-category-catalog.owl-carousel');
        owl.owlCarousel({
            items: 3,

            autoWidth: true,
            loop: false,
            margin: 5,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],

        })
    });



    jQuery(document).ready(function ($) {
        var owl = $('#homepage-catalog.owl-carousel');
        owl.owlCarousel({
            items: 1,

            loop: true,
            margin: 0,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],

        })
    });

    

    jQuery(document).ready(function ($) {
        var owl = $('#category-catalog.owl-carousel');
        owl.owlCarousel({
            items: 2,

            loop: true,
            margin: 3,
            nav: false,
            dots: true,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],

        })
    });


   
</script>


<script type="text/javascript">
		jQuery(document).ready(function($){            
	 	
            $("#exampleModal111").foundation('open');
		
		});
	</script>