<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_AdvancedReviews
 * @version    2.3.10
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$dSort = Mage::helper('advancedreviews')->confOrderingItemsArray();
$dSort = reset($dSort);
$dSort = $dSort['value'];
?>


<section id="product-goods-review" class="single-product-review padding-center border-top">
    <div class="row">
        <div class="medium-4 columns ">
            <h5>CUSTOMER REVIEW</h5>
            <h2>Lihat review dari konsumen yang membeli produk ini</h2>
            <?php echo $this->getChildHtml('advancedreviews_needbuy') ?>
            <div class="tiny button-group">
                <?php echo $this->getChildHtml('advancedreviews_login') ?>
                
               

            </div>
        </div>
        <div class="medium-8 columns">



            <ul class="tabs" data-tabs id="review-tabs">
                <li class="tabs-title is-active"><a href="#panel11" aria-selected="true">Review</a></li>
                <li class="tabs-title"><a data-tabs-target="panel12" href="#panel2">Discussion</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="review-tabs">

                <div class="tabs-panel is-active" id="panel11">
                <div id="customer-reviews" class="box-collateral box-reviews">
            <input type="hidden" id="filteredReviews-product" value="<?php echo $this->getRequest()->getParam('id');?>">
            <input type="hidden" id="filteredReviews-customer"
                value="<?php echo $this->getRequest()->getParam('customerId');?>">
            <input type="hidden" id="filteredReviews-ids">
            <input type="hidden" id="filteredReviews-pagelimit" value="10">
            <input type="hidden" id="filteredReviews-page" value="1">
            <input type="hidden" id="filteredReviews-type" value="<?php echo $dSort?>">
            <input type="hidden" id="filteredReviews-dir" value="DESC">

            <script type="text/javascript">
                var getFilteredAction = '<?php echo $this->getFilteredAction()?>';
                var getUpdatePagerAction = '<?php echo $this->getUpdatePagerAction()?>';
                var getFilteredReviewsAction = '<?php echo $this->getFilteredReviewsAction()?>';
                //document.observe("dom:loaded", function() {getFiltered();});
            </script>
            <?php echo $this->getChildHtml('review_form') ?>
            
            
        </div>
                    <?php echo $this->getChildHtml('advancedreviews_ajax-content-filter') ?>


                </div>

            </div>
        </div>
    </div>

</section>



