<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_AdvancedReviews
 * @version    2.3.10
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $collection = $this->getCollection(); ?>
<?php if($collection):?>
<?php if($collection->getSize()):?>
<?php foreach ($collection as $_review):?>
<div class="padding-center border-bottom">

	<?php $customer_idf = $this->htmlEscape($_review->getCustomerId()) ?>
	<?php $customer = Mage::getModel('customer/customer')->load($customer_idf);?>

	<div class="review-list-container">

		<div class="row">
			<div class="small-2 medium-1 columns">
				<div class="review-photo">
					<?php if ($customer->getInchooSocialconnectFid() != null):?>
					<a style="position:relative"
						href="https://www.facebook.com/app_scoped_user_id/<?php echo $customer->getInchooSocialconnectFid(); ?>/"
						target="_blank"><img style="border-radius:100%;" height="70" width="70"
							src="https://wearinasia.com/media/inchoo/socialconnect/facebook/<?php echo $customer->getInchooSocialconnectFid(); ?>">
					</a>
					<?php else:?>
					<div class="white no-pick">
						<?php $nickname = $this->htmlEscape($_review->getNickname());
        			echo $nickname[0]; 
        		?>
					</div>
					</a>
					<?php endif;?>
				</div>

			</div>
			<div class="small-10 medium-11 columns">
				<div class="review-name">
				<?php if ($customer->getInchooSocialconnectFid() != null):?>
				<a target="_blank"
					href="https://www.facebook.com/app_scoped_user_id/<?php echo $customer->getInchooSocialconnectFid(); ?>/">
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
					<?php echo $this->htmlEscape($_review->getNickname());?>
				</a>
				<?php else:?>
				<?php echo $this->htmlEscape($_review->getNickname());?>
				<?php endif;?>
				</div>
				<div class="review-title">
					
				<?php echo $this->htmlEscape($_review->getTitle()) ?>

					<?php $_votes = $this->getRatingVotes($_review->getId());?>
			<?php if (count($_votes)): ?>
			<?php foreach ($_votes as $_vote): ?>
			<div class="rating-box">
				<?php echo $_vote;?>
				<div class="rating" style="width:<?php echo $_vote->getPercent() ?>%;"></div>
			</div>
			<?php endforeach; ?>
			<?php endif; ?>

				</div>
				<div class="review-content">
				<?php echo nl2br($this->htmlEscape($_review->getDetail())) ?>
				</div>
				<div class="review-date">
				<?php echo $this->__('(Posted on %s)', $this->formatDate($_review->getCreatedAt(), 'long')) ?>
					
				</div>
			</div>
		</div>

	</div>

	<?php echo (!$this->getRequest()->getParam('customerId'))?$this->getChild('advancedreviews_allmylink')->setReview($_review)->toHtml():''?>


</div>
<?php endforeach; ?>
<?php else: ?>
<?php echo $this->__('No reviews have been found');?>
<?php endif;?>
<?php endif;?>