<?php 
	$posts = Mage::getResourceModel('wordpress/post_collection');
	$posts->addPostTypeFilter('post')
			->addStickyPostsToCollection()
			->addMetaFieldToFilter('journal_featured_slider', 'yes')
			->setPageSize(4);
?>


<?php if (count($posts) > 0): ?>
<div id="homepage-banner" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel journal">

			<?php foreach($posts as $post): ?>
					
		
					<div class="item width1000">
		<div class="homepage-tile-container">
							<div id="loading" class="promo-banner-container filter-content-black text-left">
					
					
					<?php if ($featuredImage = $post->getFeaturedImage()): ?>
	
		<img src="<?php echo $featuredImage->getLargeImage() ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
			<div class="promo-banner-content filter-content-black-1 white text-center">
							<h5>FEATURED JOURNAL</h5>
							<h2><?php echo $this->htmlEscape($post->getPostTitle()) ?></h2>
							<a href="<?php echo $post->getPermalink() ?>" class="button white">
							READ JOURNAL
							</a>
			</div>
	
<?php endif; ?>
					
					
					</div>

		</div>
	</div>
			<?php endforeach; ?>
</div>
<?php endif; ?>

