<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>


<?php 
	$_categoryId = $this->getCategoryId();
	$posts = Mage::getResourceModel('wordpress/post_collection');
	$posts->addPostTypeFilter('post')
			->addStickyPostsToCollection()
			->setPageSize(3);
?>


<?php if (count($posts) > 0): ?>
	<div class="padding-center">
		<div class="row">
			<div class="medium-8 columns">
				<div class="caption">
					<h4>NOW TRENDING ON JOURNAL</h4>
			
				</div>
			</div>
			<div class="medium-4 columns text-right">
				<a href="/story" target="_blank" class="category-more">View All Journal <i class="fa fa-angle-right"></i></a>
			</div>
			<div class="medium-12 medium-centered columns">
		
		<div class="homepage-block-content">
			<div class="row small-up-1 medium-up-3" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item">
					<div class="homepage-block-content-container">
					
				<?php if ($featuredImage = $post->getFeaturedImage()): ?>
	<a href="<?php echo $post->getPermalink() ?>">
		<img src="<?php echo $featuredImage->getThumbnailImage() ?>" width="700" height="500" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
	</a>
<?php endif; ?>
						<div class="journal-list-details">
							<h3><a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a></h3>
							<div class="author"><?php echo $post->getAuthor()->getDisplayName() ?> - <?php echo $post->getPostDate() ?></div>
					
							<p><?php echo $post->getPostExcerpt(15) ?></p>
						</div>
						<a class="read-now" href="<?php echo $post->getPermalink() ?>">
						Read
					</a>
					
					</div>
				</div>
			<?php endforeach; ?>
			
			</div>

		</div>
			</div>
		</div>
	</div>
<?php endif; ?>
