<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
<section id="padding-center">
	<div class="row">
		<div class="medium-4 columns">
		<div class="caption">
			<h4>#DISCOVERTHEUNDISCOVER</h4>
			<p><a href="https://www.instagram.com/wearinasia/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Followus</a></p>	
		</div>
		
	</div>
		<div class="medium-8 columns">
		<div class="caption">
			<h3>MEET THE EXPLORER</h3>
			<p style="margin-bottom:20px">
			Belanja dan foto momen seru menggunakan sneakers Anda kemudian post melalui Instagram dengan hastag #sneakerstory dan mention/tag @wearinasia untuk di-featured disini!
			</p>	
		</div>
		
	</div>
		<div class="medium-12 columns">
				<div class="gallery-block-content padding-center">
			<div class="row small-up-2  medium-up-4" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item">
					<div id="loading" class="small-grid promo-banner-container">
						<a href="<?php echo $post->getPermalink() ?>">
						<?php if ($featuredImage = $post->getFeaturedImage()): ?>
						<img src="<?php echo $featuredImage->getPostThumbnailImage();?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
						<?php endif; ?>
						<div class="promo-banner-content padding-75 filter-content-black-0 text-center">	
							<div class="hover-active">
								<div class="button tiny white">Meet The Explorer</div>
							</div>
							
						</div>
						</a>
					</div>
						<h4><?php echo $this->escapeHtml($post->getPostTitle()) ?></h4>
						<p><?php echo $post->getMetaValue('explorer_title');?></p>
				</div>
			<?php endforeach; ?>
			
			</div>

		</div>
				
			</div>
	</div>
</section>
<?php endif; ?>
