<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php $post = $this->getPost() ?>
<?php if ($post): ?>
	<?php $helper = $this->helper('wordpress') ?>
	<?php $author = $post->getAuthor() ?>
	
	

	<div class="row show-for-small-only">	
		<div class="medium-8 medium-centered columns">
			<div id="top-anchor" class="text-center padding-center">
			<h5 class="letter-spacing-1"><a href="/story">THE JOURNAL</a></h5>
			<h1 class="f600"><?php echo $this->escapeHtml($post->getPostTitle()) ?></h1>
			
			
			<?php echo $this->getBeforePostContentHtml() ?>
			</div>
			
		</div>	
	</div>
		
	<?php echo $this->getChildHtml('inner-banner');?>
	
	<div class="post-view padding-center">		
		<div class="row">
		<div class="medium-8 medium-centered columns">
			<div class="post-view">
			
			
			
			<?php if( $post->getMetaValue('words_by') == $post->getMetaValue('photo_by') ):?>
							<p class="border-bottom small-text" style="color:#999">Words & Photo by : <a target="_blank" href="<?php echo $post->getMetaValue('words_by_url')?>"><?php echo $post->getMetaValue('words_by');?></a> | <?php echo stripslashes($this->__('%s',$post->getPostDate())) ?></p>
						
						<?php else:?>
							<p class="border-bottom small-text" style="color:#999">Words by : <a target="_blank" href="<?php echo $post->getMetaValue('words_by_url')?>"><?php echo $post->getMetaValue('words_by');?></a> | Photos by : <a target="_blank" href="<?php echo $post->getMetaValue('photo_by_social_media')?>"><?php echo $post->getMetaValue('photo_by');?></a> | <?php echo stripslashes($this->__('%s',$post->getPostDate())) ?></p>
						
						<?php endif;?>
			
			<div class="excerp italic margin-bottom-2">
				<p class="f500 medium-text activity-container margin-bottom-2"><?php echo $post->getPostExcerpt() ?></p>
			</div>
		<div class="post-entry entry std<?php if ($post->getFeaturedImage()): ?> post-entry-with-image<?php endif; ?>">
			<?php if ($post->isViewableForVisitor()): ?>
				<?php echo $post->getPostContent() ?>
			<?php else: ?>
				<?php echo $this->getPasswordProtectHtml() ?>
			<?php endif; ?>
		</div>
		
	</div>
	</div>
	</div>
	</div>
	
	<ul class="no-bullet white">
    	<li>SHARE ON</li>
    	<li><button class="white" onclick="window.open('https://www.facebook.com/sharer.php?u=<?php echo $post->getPermalink() ?>','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
	<i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
	<div id="results"></div>
	</button></li>
	
    </ul>
	
	<div class="row">
		<div class="medium-8 medium-centered columns">
			<div class="callout light-grey-bg margin-bottom-2">
				<h5>Leave A Comment</h5>
				<?php echo $this->getCommentsHtml() ?>
				<?php /* echo $this->getAfterPostContentHtml() */ ?>
			</div>
		</div>
	</div>
	
	
	
<?php endif; ?>


