<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php $post = $this->getPost() ?>
<?php if ($post): ?>
	<?php $helper = $this->helper('wordpress') ?>
	<?php $author = $post->getAuthor() ?>
	
	<div class="row show-for-small-only">
		<div class="medium-10 medium-centered columns">
			<div id="top-anchor" class="explorer-header post-title text-center padding-center">
				<h1>Meet The Explorer : <?php echo $this->escapeHtml($post->getPostTitle()) ?></h1>
				<h5><?php echo $post->getMetaValue('explorer_job_title');?></h5>
				<p><?php echo $post->getMetaValue('explorer_title');?></p>
			</div>	
		</div>		
	</div>
	<?php echo $this->getChildHtml('inner-banner');?>
	
	<div class="post-view padding-center">
		<div class="post-entry explorer entry std<?php if ($post->getFeaturedImage()): ?> post-entry-with-image<?php endif; ?>">
			<?php if ($post->isViewableForVisitor()): ?>
			<div class="row">
				<div class="medium-10 medium-centered columns">
						
						<?php if( $post->getMetaValue('explorer_writer') == $post->getMetaValue('explorer_photographer') ):?>
							<p class="border-bottom small-text" style="color:#999">Words & Photo by : <a href="<?php echo $post->getMetaValue('words_by_url');?>"><?php echo $post->getMetaValue('explorer_writer');?></a> | <?php echo stripslashes($this->__('%s',$post->getPostDate())) ?></p>
						
						<?php else:?>
							<p class="border-bottom small-text" style="color:#999">Words by : <a href="<?php echo $post->getMetaValue('words_by_url');?>"><?php echo $post->getMetaValue('explorer_writer');?></a> | Photos by : <a href="<?php echo $post->getMetaValue('photos_by_url');?>"><?php echo $post->getMetaValue('explorer_photographer');?></a> | <?php echo stripslashes($this->__('%s',$post->getPostDate())) ?></p>
		
						<?php endif;?>
						<p><?php echo $post->getMetaValue('explorer_story');?></p>
					
				</div>
			</div>
			<div class="row">
				<div class="medium-10 medium-centered columns">
					<div class="padding-center">
						<h3>Work Life</h3>
						<p><?php echo $post->getMetaValue('explorer_work');?></p>
						
					</div>
				</div>
			</div>

			
			<div class="row">
				<div class="medium-10 medium-centered columns">
					<h3>The Story</h3>
					<?php echo $post->getPostContent() ?>
					<div class="text-center callout light-grey-bg">
						<h3>Follow <?php echo $post->getMetaValue('explorer_name');?>'s Journey On</h3>
						<ul class="menu align-left">
							<?php if ($post->getMetaValue('instagram_user_url') != null): ?>
								<li><a href="<?php echo $post->getMetaValue('instagram_user_url');?>" target="_blank"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a></li>
							<?php endif;?>
							<?php if ($post->getMetaValue('facebook_user_url') != null): ?>
								<li><a href="<?php echo $post->getMetaValue('facebook_user_url');?>" target="_blank"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a></li>
							<?php endif;?>
							
							<?php if ($post->getMetaValue('email_user_url') != null): ?>
								<li><a href="mailto:<?php echo $post->getMetaValue('email_user_url');?>" target="_blank"><i class="fa fa-2x fa-envelope-o" aria-hidden="true"></i></a></li>
							<?php endif;?>
							
						</ul>
					</div>
					
				</div>
			</div>
				
			<?php else: ?>
				<?php echo $this->getPasswordProtectHtml() ?>
			<?php endif; ?>
			
			
			
			
		</div>
		<h3 class="text-center">Shop <?php echo $post->getMetaValue('explorer_name');?>'s Work Essential</h3>
		<?php echo $this->getChildHtml('wp.associated.products.center');?>
		<div class="row">
			<div class="medium-12 columns">
			
			<?php echo $this->getCommentsHtml() ?>
			
			</div>
		</div>
		
	</div>
	
<?php endif; ?>
	