<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php 
$_categoryId = $this->getCategoryId();
$post = Mage::getModel('wordpress/post')->load($_categoryId);
?>
<?php 
$attributes = Mage::getSingleton('catalog/config')->getProductAttributes();
$collection = Mage::helper('wordpress/associations')->getAssociatedProductsByPost($post);
$collection->addAttributeToSelect($attributes);	
?>
<?php if ($post): ?>
	<?php $helper = $this->helper('wordpress') ?>
	<?php $author = $post->getAuthor() ?>
	<div class="row">
		<div class="medium-10 medium-centered padding-center columns">
			<div id="top-anchor" class="page-title post-title text-center">
			<h1><?php echo $this->escapeHtml($post->getPostTitle()) ?></h1>
			<p id="post-date" class="post-date when"><?php echo stripslashes($this->__('%s - %s', $post->getAuthor()->getDisplayName(),$post->getPostDate())) ?></p>
			<?php echo $this->getBeforePostContentHtml() ?>
			</div>	
		</div>
			
	</div>	
	<div class="post-view">
		<div class="post-entry entry std<?php if ($post->getFeaturedImage()): ?> post-entry-with-image<?php endif; ?>">
			<?php if ($post->isViewableForVisitor()): ?>
				
				<?php echo $post->getPostContent() ?>
			<?php else: ?>
				<?php echo $this->getPasswordProtectHtml() ?>
			<?php endif; ?>
		</div>
		<?php echo $this->getCommentsHtml() ?>
		
	</div>
<?php endif; ?>




	<div class="row">
	<div class="medium-12 columns">
		<div class="padding-center">	
		<div class="caption text-center">
			<h5>Shop</h5>
			<h3>Featured Product</h3>
			<a class="category-more" href="/">Lihat Selengkapnya <i class="fa fa-angle-right"></i></a>
		</div>
		<div class="row">
			<div class="small-up-2 medium-up-4">
				<?php foreach($collection as $_product): ?>
					        <div class="columns products-grid   homepage-product item text-center">
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="204" width="236" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(350); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            </a>
            <div class="product-info">
                           		<div class="product-brand">
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a>
               		</div>
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            	<?php echo $_product->getName();?>
            	</a>
            </h2>
			<?php echo $this->getPriceHtml($_product, true) ?>
			</div>
        </div>

				<?php endforeach; ?>
			</div>
		</div>
		</div>
	</div>
	</div>

	


