<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Pquestion2
 * @version    2.1.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $this->getVoteMap(); ?>
<?php /* @var $this AW_Pquestion2_Block_Question_List */ ?>
<?php if ($this->canShow()) : ?>
<?php $questionCollection = $this->getQuestionCollection(); ?>
<div class="box-collateral aw-pq2-question-list-wrapper">
	
    <?php if ($this->canAskQuestion()) : ?>
        <?php echo $this->getChildHtml('aw_pq2_ask_question_form'); ?>
    <?php endif; ?>
    <?php if ($questionCollection->getSize() > 1) : ?>
    <div class="aw-pq2-question-sort pager">
        <?php echo $this->getChildHtml('aw_pq2_question_sort'); ?>
    </div>
    <?php endif; ?>
    <div class="aw-pq2-list box-content">
        <?php if ($questionCollection->getSize() > 0) : ?>
            <?php foreach ($questionCollection as $question): ?>
                <div class="aw-pq2-list__question-item aw-pq2-list__question-item_hidden">
                     <div class="aw-pq2-list__answer-list">
                        <div class="aw-pq2-list__question-date padding-center">
                        	<?php $customer_idf = $this->htmlEscape($question->getCustomerId()) ?>
        					<?php $customer = Mage::getModel('customer/customer')->load($customer_idf);?>
        				<div class="row">
        					<div class="small-2 medium-1 columns">
        						<?php if ($customer->getInchooSocialconnectFid() != null):?>
        							<a href="https://www.facebook.com/app_scoped_user_id/<?php echo $customer->getInchooSocialconnectFid(); ?>/" target="_blank">
        		<div class="facebook-cover" style="background-image:url('https://wearinasia.com/media/inchoo/socialconnect/facebook/<?php echo $customer->getInchooSocialconnectFid(); ?>')">
        		</div>
        	</a>
        						</a>
        						<?php else:?>
        						<div class="white no-pick">
        							<?php $nickname = $this->htmlEscape($question->getNickname());
        							echo $nickname[0]; 
        						?>
        					</div>
        						</a>
       						<?php endif;?>
       		
        					</div>
        					<div class="small-10 medium-11 columns">
        						
        						<div class="review-name">
        							<?php if ($customer->getInchooSocialconnectFid() != null):?>
        							
        							<i class="fa fa-facebook-square" aria-hidden="true"></i>
        								<?php echo $this->htmlEscape($question->getAuthorName());?>
        							</a>
        							<?php else:?>
        							<?php echo $this->htmlEscape($question->getAuthorName());?>
        							<?php endif;?>
        							<span>Verified Buyer</span>
        						</div>
        						<p><?php echo $this->__('%s', $this->formatDate($question->getCreatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true)); ?></p>
                        		<p><?php echo $this->getQuestionContent($question); ?></p>
                        		 <?php $answerCollection = $this->getAnswerCollectionForQuestion($question); ?>
                        		
                        <?php if ($answerCollection->getSize() > 0) : ?>
                            <?php foreach ($answerCollection as $answer) : ?>
                            	<?php $answer_idf = $this->htmlEscape($answer->getCustomerId());
                            	
                            	?>
                            	
        						<?php $customer = Mage::getModel('customer/customer')->load($answer_idf);?>
                                <?php $authorName = $this->escapeHtml($answer->getAuthorName()); ?>
                                            <?php if ($answer->getIsAdmin()) : ?>
                                                <?php $authorName = '<p class="review-name">' . $authorName . ' ' . $this->__('<span>Customer Solution</span>') . '</p>'; ?>
                                            <?php endif; ?>
                                <div class="aw-pq2-list__answer-item aw-pq2-list__answer-item_hidden<?php if ($answer->getIsAdmin()): ?> aw-pq2-list__answer-item_type_admin<?php endif; ?>">
                                    <div class="aw-pq2-list__answer-wrapper padding-center">
                                    	<h4>Jawaban</h4>
                                    	<div class="row">
                                    		<div class="small-2 medium-1 columns">
        						<?php if ($customer->getInchooSocialconnectFid() != null):?>
        							<a href="https://www.facebook.com/app_scoped_user_id/<?php echo $customer->getInchooSocialconnectFid(); ?>/" target="_blank">
        		<div class="facebook-cover" style="background-image:url('https://wearinasia.com/media/inchoo/socialconnect/facebook/<?php echo $customer->getInchooSocialconnectFid(); ?>')">
        		</div>
        	</a>
        						<?php else:?>
        						<div class="white no-pick">
        							<?php $nickname = $this->htmlEscape($question->getNickname());
        							echo $nickname[0]; 
        						?>
        					</div>
        						</a>
       						<?php endif;?>
       		
        					</div>
                                    			
                                    		<div class="small-10 medium-11 columns">
                                    			<div class="review-name">
                                    				<?php echo  $authorName;?>
                                    			</div>
                                    			<div class="aw-pq2-list__answer-date"><?php echo $this->__('%s', $this->formatDate($answer->getCreatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true)); ?></div>
                                        		<div class="aw-pq2-list__answer-content"><?php echo $this->getAnswerContent($answer); ?></div>
                                        		
                                    		</div>
                                    	</div>
                                      
                                        <div class="aw-pq2-list__helpfulness">
                                            <div class="aw-pq2-list__helpfulness-layout">
                                                <div class="aw-pq2-list__helpfulness-layout-unit">
                                                    <a title="<?php echo $this->getTitleForAnswerVote();?>" class="aw-pq2-list__helpfulness-icon aw-pq2-list__helpfulness-icon_like<?php if ($this->isCustomerLikeAnswer($answer->getId())) : ?> aw-pq2-list__helpfulness-icon_like_voted<?php endif; ?><?php if (!$this->isCustomerCanVoteAnswer()) : ?> aw-pq2-list__helpfulness-icon_state_disabled<?php endif;?>" href="<?php echo $this->getLikeAnswerUrl($answer); ?>"></a>
                                                </div>
                                                <div class="aw-pq2-list__helpfulness-layout-unit aw-pq2-list__helpfulness-layout-unit_position_center">
                                                    <span class="aw-pq2-list__helpfulness-value"><?php echo $answer->getHelpfulness(); ?></span>
                                                    <span class="aw-pq2-list__helpfulness-progress" style="display:none;"></span>
                                                </div>
                                                <div class="aw-pq2-list__helpfulness-layout-unit">
                                                    <a title="<?php echo $this->getTitleForAnswerVote();?>" class="aw-pq2-list__helpfulness-icon aw-pq2-list__helpfulness-icon_dislike<?php if ($this->isCustomerDislikeAnswer($answer->getId())) : ?> aw-pq2-list__helpfulness-icon_dislike_voted<?php endif; ?><?php if (!$this->isCustomerCanVoteAnswer()) : ?> aw-pq2-list__helpfulness-icon_state_disabled<?php endif;?>" href="<?php echo $this->getDislikeAnswerUrl($answer); ?>"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        <?php else : ?>
                            <div class="aw-pq2-list__no-answers"><?php echo $this->__('No answers yet. Be the first to answer the question!'); ?></div>
                        <?php endif; ?>
                        
                        <div class="aw-pq2-list__answer-action-bar">
                            <div class="aw-pq2-list__next-answer-wrapper" >
                                <p class="aw-pq2-list__next-answer" style="display:none;">
                                    <a href="javascript:void(0)"><?php echo $this->__('Next Answers'); ?></a>
                                </p>
                            </div>
                            <div class="aw-pq2-list__add-answer-button-wrapper">
                                <?php if ($this->canAnswerQuestion()) : ?>
                                    <a type="button" title="<?php echo $this->__('Add Answer'); ?>"><span><span><?php echo $this->__('Tambah Jawaban'); ?></span></span></a>
                                <?php else : ?>
                                    <?php echo $this->getAnswerMessage(); ?>
                                <?php endif; ?>
                            </div>
                                <?php echo $this->getChild('aw_pq2_add_answer_form')->setQuestionId($question->getId())->toHtml(); ?>
                            
                        </div>
        					</div>
        				</div>
        			</div>
                       
                    </div>
                </div>
            <?php endforeach; ?>
            <div class="aw-pq2-list__question-action-bar">
                <div class="aw-pq2-list__next-question-wrapper" >
                    <p class="aw-pq2-list__next-question" style="display:none;">
                        <a href="javascript:void(0)"><?php echo $this->__('Next Questions'); ?></a>
                    </p>
                </div>
            </div>
        <?php else : ?>
            <div class="aw-pq2-list__no-questions"><?php echo $this->__('Belum ada diskusi untuk produk ini. Silahkan login/masuk terlebih dahulu untuk menambahkan pertanyaan!'); ?></div>
        <?php endif; ?>
        <script type="text/javascript">
            var config = {
                'addQuestionButtonSelector'                 : '.aw-pq2-list__add-question-button',
                'addQuestionButtonTextContainerSelector'    : 'span span',
                'addQuestionButtonText'                     : {
                    'inactive'  : <?php echo Zend_Json::encode($this->__('Ask Question'));?>,
                    'active'    : <?php echo Zend_Json::encode($this->__('Hide Question Form'));?>
                },
                'questionFormSelector'                      : '.aw-pq2-question-form',
                'questionContentSelector'                   : '.aw-pq2-list__question-content',
                'questionExpandSelector'                    : '.aw-pq2-list__question-expand',
                'questionExpandStatus'                      : {
                    'activeClassName'   : 'aw-pq2-list__question-expand_arrow_right',
                    'inactiveClassName' : 'aw-pq2-list__question-expand_arrow_down'
                },
                'questionItemContainerSelector'             : '.aw-pq2-list__question-item',
                'questionItemHiddenClass'                   : 'aw-pq2-list__question-item_hidden',
                'nextQuestionsSelector'                     : '.aw-pq2-list__next-question',
                'questionPageSize'                          : <?php echo $this->getQuestionPageSize();?>,
                'answerItemHiddenClass'                     : 'aw-pq2-list__answer-item_hidden',
                'answerListContainerSelector'               : '.aw-pq2-list__answer-list',
                'addAnswerButtonSelector'                   : '.aw_pq2__add-answer-button',
                'addAnswerButtonTextContainerSelector'      : 'span span',
                'addAnswerButtonText'                     : {
                    'inactive'  : <?php echo Zend_Json::encode($this->__('Add Answer'));?>,
                    'active'    : <?php echo Zend_Json::encode($this->__('Hide Answer Form'));?>
                },
                'nextAnswersSelector'                       : '.aw-pq2-list__next-answer',
                'answerFormSelector'                        : '.aw-pq2-answer-form',
                'answerPageSize'                            : <?php echo $this->getAnswerPageSize();?>
            };
            var _awPq2ItemManager = new awPq2ItemManager(config);

            var voterManagerConfig = {
                'voterContainerSelector': '.aw-pq2-list__helpfulness',
                'likeSelector': '.aw-pq2-list__helpfulness-icon_like',
                'disabledClass': 'aw-pq2-list__helpfulness-icon_state_disabled',
                'votedLikeClass': 'aw-pq2-list__helpfulness-icon_like_voted',
                'dislikeSelector': '.aw-pq2-list__helpfulness-icon_dislike',
                'votedDislikeClass': 'aw-pq2-list__helpfulness-icon_dislike_voted',
                'valueSelector': '.aw-pq2-list__helpfulness-value',
                'progressSelector': '.aw-pq2-list__helpfulness-progress'
            };
            var _awPq2VoteManager = new awPq2VoteManager(voterManagerConfig);
        </script>
    </div>
</div>
<?php endif; ?>