<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(8)
    
?>

<div class="row">
	<div class="medium-12 columns">
		<div class="border-top  padding-center">
		<div class="row">
		<div class="medium-6 medium-centered columns">
		<div class="caption text-center">
			<h3><?php echo $this->__( $this->getTitle() ); ?></h3>
			
				
		</div>
		
	</div>
		<div class="medium-12 columns">
    		<div class="small-up-2 medium-up-4">
    <?php foreach ($_productCollection as $_product): ?>
        <div class="columns products-grid   homepage-product item text-center">
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="204" width="236" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(350); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            </a>
            <div class="product-info">
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
            </h2>
			<?php echo $this->getPriceHtml($_product, true) ?>
			</div>
        </div>

      
    <?php endforeach ?>
     </div>
   		</div>
		</div>
		</div>
	</div>
</div>


