<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Points
 * @version    1.8.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="aw_points-coupon-box">
    <h4><?php echo $this->__('Coupon Activation') ?></h4>
    <form action="<?php echo $this->getAction() ?>" method="post" id="form-validate">
        <div>
            <label for="aw_points-coupon">
                <?php echo $this->__('Enter coupon code here:') ?>
            </label>
            <input  type="text" id="aw_points-coupon" name="coupon_code" value=""/>
            <button type="submit" title="<?php echo $this->__('Activate Coupon') ?>" class="button">
                <span>
                    <span>
                        <?php echo $this->__('Activate Coupon') ?>
                    </span>
                </span>
            </button>
        </div>
    </form>
</div>