<?php
	$terms = explode(',', $this->getCategoryIds());
	$columns = $this->getColumns();
	$template = $this->getCategoryTemplate();
	
	
	$parent_category = Mage::getModel('catalog/category')->load($this->getParentCategoryId());
	$_category = Mage::getModel('catalog/category')->load($this->getCategoryId()); 

	
?>

<?php if($columns == '3' && $template == 'category'):?>
	<section  class="border-bottom">
	<div class="row">
		<div class="small-12 medium-12 columns text-center">
			<div class="caption">
				<h4><?php echo $this->__( $this->getTitle() ); ?></h4>
			</div>
		</div>
  		<div class="medium-12 columns">
			<div id="homepage-catalog" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
			
			
<?php foreach ($terms as $term):?>
	<?php 
               $category = Mage::getModel('catalog/category')->load($term); 
    ?>
	
	<div class="item">
		<div class=" promo-container mobile">
			<div id="loading" class="small-grid promo-banner-container">
					<a href="<?php echo $category->getURL();?>">
						
						<img src="<?php echo $category->getResizedThumbnailImage(414,296,78); ?>" width="414" height="296" alt="<?php echo $category->getname();?>">
						
						
					</a>
					
					</div>
			
			
		</div>
		
	</div>	
<?php endforeach;?>

			</div>
		</div>
		
	</div>
</section>
<?php endif;?>

<?php if($columns == '3' && $template == 'brand'):?>
	<div id="mobile-category-catalog" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
			
			
<?php foreach ($terms as $term):?>
	<?php 
               $category = Mage::getModel('catalog/category')->load($term); 
    ?>
	
	<div class="item" style="width:200px;margin-left:3%">
		<div class=" promo-container mobile">
			<div id="loading" class="small-grid promo-banner-container">
					<a href="<?php echo $category->getURL();?>">
						
						<img src="<?php echo $category->getResizedThumbnailImage(414,296,78); ?>" width="414" height="296" alt="<?php echo $category->getname();?>">
						
						
						
					</a>
					
					</div>
					
			
			
		</div>
		
	</div>	
<?php endforeach;?>

			</div>
<?php endif;?>



<?php if($columns == '1'):?>
<div id="homepage-banner">			

<div class="homepage-tile-container">
					<div id="loading" class="promo-banner-container">
					
						<a href="<?php echo $_category->getURL();?>">
						<img src="<?php echo $_category->getResizedSliderImageCrop(828,348,76);  ?>" width="828" height="348" alt="<?php echo $_category->getname();?>">
						
						
						<?php if ( !empty($_category->getData("category_title")) ):?>
							<div class="promo-banner-content white filter-content-black-1">
							
  								
  								<div class="row">
  									<div class="medium-12 medium-centered text-center columns <?php if($_category->getData('right-banner') == '1'):?><?php endif;?>">
  									
  										<div class="padding-center">
  										
  										<?php if ( !empty($_category->getData('menu_menu_icon')) ):?>
  										<?php
  										$cat_icon_img = $_category->getData("menu_menu_icon");
										$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
  										?>
  								
  								
  								
  								
								  <?php endif;?>	
								  	<?php if ( !empty($_category->getData("inner-banner-content")) ):?>
								  		<div><?php echo $_category->getData("inner-banner-content"); ?></div>
								
									<?php else:?>
								<p class="mercury italic"><?php echo $_category->getData("category_label"); ?></p>
								<h2 style="text-shadow: 1px 1px 1px rgba(0,0,0,0.5);font-size:3.5rem"><?php echo $_category->getData("category_title"); ?></h2>
    							
										  <?php endif;?>
									
									
									
    							
      							
      							
      							
      							
      								<?php if ( !empty($_category->getData('sw_ocat_voucher_code')) ):?>
      								<div class="promo-code small-text uppercase margin-bottom-05 letter-spacing-1">
      						<?php echo $_category->getData("sw_ocat_promotional_text");?> | KODE PROMO : <?php echo $_category->getData("sw_ocat_voucher_code");?>
      						</div>
      							<?php endif?>
      							
								<div class="button small white secondary">
									SHOP NOW
								</div>
								
								</div>
  									</div>
  								</div>
  								
  								
								
								
								
						</div>
						<?php endif;?>
						</a>
					
					
					</div>

		</div>


</div>





<?php endif;?>


					



























































































