<?php

$terms = explode(',', $this->getCategoryId());
$journal_id = $this->getJournalId();
 
?>
<div class="row collapse small-up-1">
<?php foreach ($terms as $term):?>
	<?php 
               $_categoryUrl = Mage::getModel('catalog/category')->load($term); 
              
 
 ?>
	<div class="columns">
		<div class="homepage-tile-container">
							<div id="loading" class="promo-banner-container margin-bottom-1">
					
						<a href="<?php echo $_categoryUrl->getURL();?>">
						<img src="<?php echo $_categoryUrl->getResizedSliderImageCrop(2500,1010,76); ?>" width="2500" height="1010" alt="<?php echo $_categoryUrl->getname();?>">
						
						
						<?php if ( !empty($_categoryUrl->getData("category_title")) ):?>
							<div class="promo-banner-content white filter-content-black-3">
							
  								
  								<div class="row">
  									<div class="medium-7 medium-centered text-center columns <?php if($_categoryUrl->getData('right-banner') == '1'):?><?php endif;?>">
  									
  									<div class="callouts padding-center">
  										<h5><?php echo $_categoryUrl->getData("category_label"); ?></h5>
  										<?php if ( !empty($_categoryUrl->getData('menu_menu_icon')) ):?>
  										<?php
  									$cat_icon_img = $_categoryUrl->getData("menu_menu_icon");
									$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
  								?>
  								
  								
  								
  								
  								<?php endif;?>				
    							<h2 style="text-shadow: 1px 1px 1px rgba(0,0,0,0.5);font-size:3.5rem"><?php echo $_categoryUrl->getData("category_title"); ?></h2>
    							
    							
      							<p class="margin-bottom-2"><?php echo $_categoryUrl->getData('category_short_description');?></p>
      							
      							
      							
      							
								<div class="button white secondary">
									SHOP NOW
								</div>
								
								</div>
  									</div>
  								</div>
  								
  								
								
								
								
						</div>
						<?php endif;?>
						</a>
						
					
					
					</div>

		</div>
	</div>	
<?php endforeach;?>


	



</div>









































































