<?php 
$_categoryId = $this->getCategoryId();
$root = Mage::getModel('catalog/category')->load($_categoryId); 
$subCat = explode(',',$root->getChildren()); 
$collection  = $root
             ->getCollection()
             ->addAttributeToSelect("*")
             ->addFieldToFilter("entity_id", array("in", $subCat) )
             ->addAttributeToSelect('*')
			->addAttributeToSort('sw_ocat_orders')
			->addAttributeToFilter('include_in_menu' , 1)
             
?>

			
			<li>
			<a href="#"><?php echo $root->getName();?></a>
			<ul class="menu vertical nested first">
    		<?php foreach($collection as $category) :?>
					<li>
					<a href="<?php echo $category->getURL();?>">
						<?php echo $category->getName();?>
					</a>
					</li>
				<?php endforeach ?>
			</ul>
			</li>
