<?php
    $_helper    = Mage::helper('catalog/output');
    $_category  = Mage::registry('current_category');
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $_description=$_category->getDescription();
?>
<?php $invalid = $_category->getData("promo_end_date");?>
<?php $promo_start_date = $_category->getData("promo_start_date");?>

		<?php if ($_category->getData('category_template') == '239'): //default?>
			<div id="loading" class="show-for-medium">
				<div class="promo-banner-container">
  					<img src="<?php echo $_category->getImageUrl(); ?>">
  					
				</div>
			</div>
			<div id="activity" class="category-header padding-center">
				<div class="row">
		<div class="medium-12 columns text-center">
				
				<h1><?php echo $_category->getName(); ?></h1>
				<?php if ($_description !== null):?>
					<div class="activity-container">
	<div class="row">
		<div class="medium-10 medium-centered columns text-center">
		<p class="show-for-medium">
			<?php echo $_helper->categoryAttribute($_category, $_description, 'description');?>
		</p>
		
		<p class="show-for-medium"><?php echo $_category->getData('category_short_description');?></p>	
			
			
			
	</div>	
	</div>
</div>
				<?php endif;?>
				</div>
		</div>
			</div>
			<?php if ( !empty($_category->getData('show-term')) ):?>
        	<section class="border-bottom padding-bottom-1 padding-top-1 light-grey-bg">    
            <div class="row">	
            	<div class="medium-8 medium-centered columns">
            		
            		
            			<div class="tiny-text f100 margin-bottom-05 text-center">
            				 <span id="exp-category"></span>
            			</div>
	
            			<?php if ( !empty($_category->getData('sw_ocat_voucher_code'))):?>
        
            				<div class="first-para text-center margin-bottom-1">
            				
						<div class="caption"><h4>How It Works</h4></div>
  						
						
						<p class="mercury">Masukan kode promo dibawah ini pada halaman pembayaran</br>Baca syarat dan ketentuan untuk informasi lebih lanjut</p>
						<span style="border:1px dotted #666;line-height:4;padding:1rem 2rem">KODE PROMO : <?php echo $_category->getData('sw_ocat_voucher_code');?></span>
						
						
						</div>
						<?php endif;?>
						
						
						
						<?php if ( !empty($_category->getData('show-term'))):?>
        					<div class=" padding-center second-para description-container mercury hide">    
           					<?php echo $_category->getData('show-term');?>
						</div>
						<?php endif;?>
						
						<div class="toggle-container text-center">
							<div class="show-more small-text"><div id="toggle-filter-product" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-down" aria-hidden="true"></i></div></div>
							<div class="show-less small-text hide"><div id="toggle-filter-product-less" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-up" aria-hidden="true"></i></div></div>
						</div>
						
					
				</div>
			</div>
			</section>
		<?php endif;?>
		
		<?php elseif ($_category->getData('category_template') == '240'): //Full Page Banner?>
			<div id="full-homepage-banner">	
			<div id="loading" class="full-page-banner">
				<div class="promo-banner-container text-left">
  					<img src="<?php echo $_category->getResizedSliderImageCrop(828,348,76);  ?>" width="828" height="348" alt="<?php echo $_category->getname();?>">
						
  					<div class="promo-banner-content filter-content-black-1 white">
  						<div class="row">
  							<div class="medium-7 columns">
  								
  								<h5><?php echo $_category->getName(); ?></h5>
  								
  								<?php if ( !empty($_category->getData('menu_menu_icon')) ):?>
  										<?php
  									$cat_icon_img = $_category->getData("menu_menu_icon");
									$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
  								?>
  								
  								<img src="<?php echo $cat_icon_img_url ?>" height="10" width="140">
  								
  								
  								
  								
  								<?php endif;?>	
    							<h2><?php echo $_category->getData("category_title"); ?></h2>
      							<p><?php echo $_category->getData('category_short_description');?></p>
      							
  							</div>
  						</div>
						
						
	
					</div>
			
				</div>
			</div>
			</div>
			<?php if ( !empty($_category->getData('show-term')) ):?>
        	<section class="border-bottom padding-bottom-1 padding-top-1 light-grey-bg">    
            <div class="row">	
            	<div class="medium-8 medium-centered columns">
            		
            		
            			<div class="tiny-text f100 margin-bottom-05 text-center">
            				 <span id="exp-category"></span>
            			</div>
	
            			<?php if ( !empty($_category->getData('sw_ocat_voucher_code'))):?>
        
            				<div class="first-para text-center margin-bottom-1">
            				
						<div class="caption"><h4>How It Works</h4></div>
  						
						
						<p class="mercury">Masukan kode promo dibawah ini pada halaman pembayaran</br>Baca syarat dan ketentuan untuk informasi lebih lanjut</p>
						<span style="border:1px dotted #666;line-height:4;padding:1rem 2rem">KODE PROMO : <?php echo $_category->getData('sw_ocat_voucher_code');?></span>
						
						
						</div>
						<?php endif;?>
						
						
						
						<?php if ( !empty($_category->getData('show-term'))):?>
        					<div class=" padding-center second-para description-container mercury hide">    
           					<?php echo $_category->getData('show-term');?>
						</div>
						<?php endif;?>
						
						<div class="toggle-container text-center">
							<div class="show-more small-text"><div id="toggle-filter-product" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-down" aria-hidden="true"></i></div></div>
							<div class="show-less small-text hide"><div id="toggle-filter-product-less" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-up" aria-hidden="true"></i></div></div>
						</div>
						
					
				</div>
			</div>
			</section>
		<?php endif;?>
		
		<?php elseif ($_category->getData('category_template') == '241'): //Half Page Banner?>
			<div id="loading" class="half-page-banners">
				<div class="promo-banner-container">
  						
					<div class="promo-banner-content promo-banner-content-negative light-grey-bg margin-bottom-1">
  						<div class="row">
  							
  							<div class="medium-7 columns">
  								<div class="padding-center">
  								
  								<h5><?php echo $_category->getName(); ?></h5>
  								
  								<?php if ( !empty($_category->getData('menu_menu_icon')) ):?>
  										<?php
  									$cat_icon_img = $_category->getData("menu_menu_icon");
									$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
  								?>
  								
  								<img src="<?php echo $cat_icon_img_url ?>" height="10" width="140">
  								
  								
  								
  								
  								<?php endif;?>	
    							<h2><?php echo $_category->getData("category_title"); ?></h2>
      							<p><?php echo $_category->getData('category_short_description');?></p>
      							
      							<p class="gotham uppercase small-text"><?php echo $_category->getData("sw_ocat_promotional_text");?> 
      							
      							<?php if ( !empty($_category->getData('sw_ocat_voucher_code')) ):?>
      						| Kode Promo : <b><?php echo $_category->getData("sw_ocat_voucher_code");?></b>
      							<?php endif?>
      							
      							</p>
      							
      							</div>
      							
      						</div>
  						</div>
					</div>
			
				</div>
			</div>
			<?php if ( !empty($_category->getData('show-term')) ):?>
        	<section class="border-bottom padding-bottom-1 padding-top-1 light-grey-bg">    
            <div class="row">	
            	<div class="medium-8 medium-centered columns">
            		
            		
            			<div class="tiny-text f100 margin-bottom-05 text-center">
            				 <span id="exp-category"></span>
            			</div>
	
            			<?php if ( !empty($_category->getData('sw_ocat_voucher_code'))):?>
        
            				<div class="first-para text-center margin-bottom-1">
            				
						<div class="caption"><h4>How It Works</h4></div>
  						
						
						<p class="mercury">Masukan kode promo dibawah ini pada halaman pembayaran</br>Baca syarat dan ketentuan untuk informasi lebih lanjut</p>
						<span style="border:1px dotted #666;line-height:4;padding:1rem 2rem">KODE PROMO : <?php echo $_category->getData('sw_ocat_voucher_code');?></span>
						
						
						</div>
						<?php endif;?>
						
						
						
						<?php if ( !empty($_category->getData('show-term'))):?>
        					<div class=" padding-center second-para description-container mercury hide">    
           					<?php echo $_category->getData('show-term');?>
						</div>
						<?php endif;?>
						
						<div class="toggle-container text-center">
							<div class="show-more small-text"><div id="toggle-filter-product" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-down" aria-hidden="true"></i></div></div>
							<div class="show-less small-text hide"><div id="toggle-filter-product-less" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-up" aria-hidden="true"></i></div></div>
						</div>
						
					
				</div>
			</div>
			</section>
		<?php endif;?>
		
		<?php elseif ($_category->getData('category_template') == '242'): //Full Page Banner Custom?>
			
			<div id="full-homepage-banner">			

<div class="homepage-tile-container">
					<div id="loading" class="promo-banner-container">
					
						<img src="<?php echo $_category->getResizedSliderImageCrop(828,348,76);  ?>" width="828" height="348" alt="<?php echo $_category->getname();?>">
						
						
							<div class="promo-banner-content white filter-content-black-1">
							
  								
  								<div class="row">
  									<div class="medium-12 medium-centered text-center columns <?php if($_category->getData('right-banner') == '1'):?><?php endif;?>">
  									
  										<div class="padding-center">
  										
  										<?php if ( !empty($_category->getData('menu_menu_icon')) ):?>
  										<?php
  										$cat_icon_img = $_category->getData("menu_menu_icon");
										$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
  										?>
  								
  								
  								
  								
								  <?php endif;?>	
								  	<?php if ( !empty($_category->getData("inner-banner-content")) ):?>
								  		<div><?php echo $_category->getData("inner-banner-content"); ?></div>
								
									<?php else:?>
								<p class="mercury italic"><?php echo $_category->getData("category_label"); ?></p>
								<h2 style="text-shadow: 1px 1px 1px rgba(0,0,0,0.5);font-size:3.5rem"><?php echo $_category->getData("category_title"); ?></h2>
    							
										  <?php endif;?>
									
									
									
    							
      							
      							
      							
      							
      								<?php if ( !empty($_category->getData('sw_ocat_voucher_code')) ):?>
      								<div class="promo-code small-text uppercase margin-bottom-05 letter-spacing-1">
      						<?php echo $_category->getData("sw_ocat_promotional_text");?> | KODE PROMO : <?php echo $_category->getData("sw_ocat_voucher_code");?>
      						</div>
      							<?php endif?>
      							
								
								</div>
  									</div>
  								</div>
  								
  								
								
								
								
						</div>
						
					
					</div>

		</div>


</div>
			<?php if ( !empty($_category->getData('show-term')) ):?>
        	<section class="border-bottom padding-bottom-1 padding-top-1 light-grey-bg">    
            <div class="row">	
            	<div class="medium-8 medium-centered columns">
            		
            		
            			<div class="tiny-text f100 margin-bottom-05 text-center">
            				 <span id="exp-category"></span>
            			</div>
	
            			<?php if ( !empty($_category->getData('sw_ocat_voucher_code'))):?>
        
            				<div class="first-para text-center margin-bottom-1">
            				
						<div class="caption"><h4>How It Works</h4></div>
  						
						
						<p class="mercury">Masukan kode promo dibawah ini pada halaman pembayaran</br>Baca syarat dan ketentuan untuk informasi lebih lanjut</p>
						<span style="border:1px dotted #666;line-height:4;padding:1rem 2rem">KODE PROMO : <?php echo $_category->getData('sw_ocat_voucher_code');?></span>
						
						
						</div>
						<?php endif;?>
						
						
						
						<?php if ( !empty($_category->getData('show-term'))):?>
        					<div class=" padding-center second-para description-container mercury hide">    
           					<?php echo $_category->getData('show-term');?>
						</div>
						<?php endif;?>
						
						<div class="toggle-container text-center">
							<div class="show-more small-text"><div id="toggle-filter-product" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-down" aria-hidden="true"></i></div></div>
							<div class="show-less small-text hide"><div id="toggle-filter-product-less" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-up" aria-hidden="true"></i></div></div>
						</div>
						
					
				</div>
			</div>
			</section>
		<?php endif;?>
		
			<div id="activity" class="category-header padding-center">
				<div class="row">
		<div class="medium-12 columns text-center">
				
				<?php if ($_description !== null):?>
					<div class="activity-container">
	<div class="row">
		<div class="medium-8 medium-centered columns text-center">
		<p>
			<?php echo $_helper->categoryAttribute($_category, $_description, 'description');?>
		</p>
		<p class="show-for-small-only"><?php echo $_category->getData('category_short_description');?></p>	
		
			
			
			
			
	</div>	
	</div>
</div>
				<?php endif;?>
				</div>
		</div>
			</div>
		
		<?php elseif ($_category->getData('category_template') == '243'): //Half Page Banner Custom?>
			<div id="loading" class="half-page-banner">
				<div class="promo-banner-container">
  						
					<div class="promo-banner-content promo-banner-content-negative light-grey-bg">
  						<div class="row">
  							<div class="medium-6 columns">
  								<img src="<?php echo $_category->getResizedSliderImageCrop(700,500); ?>" width="700" height="500" alt="<?php echo $_category->getname();?>">
					
  							</div>
  							<div class="medium-6 columns">
  								<h5><?php echo $_category->getName(); ?></h5>
  								
  								
  								
  								<?php if ( !empty($_category->getData('menu_menu_icon')) ):?>
  										<?php
  									$cat_icon_img = $_category->getData("menu_menu_icon");
									$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
  								?>
  								
  								<img src="<?php echo $cat_icon_img_url ?>" height="10" width="80">
  								
  								
  								
  								
  								<?php endif;?>	
  								
    							<h2><?php echo $_category->getData("category_title"); ?></h2>
      							<p><?php echo $_category->getData('category_short_description');?></p>
      							
      							<p class="italic"><?php echo $_category->getData("sw_ocat_promotional_text");?> 
      							
      							<?php if ( !empty($_category->getData('sw_ocat_voucher_code')) ):?>
      							- Voucher Code :<b><?php echo $_category->getData("sw_ocat_voucher_code");?></b>
      							<?php endif?>
      							
      							</p>
      							
      							
      							
      						</div>
  						</div>
					</div>
			
				</div>
				
			</div>
			<?php if ( !empty($_category->getData('show-term')) ):?>
        	<section class="border-bottom padding-bottom-1 padding-top-1 light-grey-bg">    
            <div class="row">	
            	<div class="medium-8 medium-centered columns">
            		
            		
            			<div class="tiny-text f100 margin-bottom-05 text-center">
            				 <span id="exp-category"></span>
            			</div>
	
            			<?php if ( !empty($_category->getData('sw_ocat_voucher_code'))):?>
        
            				<div class="first-para text-center margin-bottom-1">
            				
						<div class="caption"><h4>How It Works</h4></div>
  						
						
						<p class="mercury">Masukan kode promo dibawah ini pada halaman pembayaran</br>Baca syarat dan ketentuan untuk informasi lebih lanjut</p>
						<span style="border:1px dotted #666;line-height:4;padding:1rem 2rem">KODE PROMO : <?php echo $_category->getData('sw_ocat_voucher_code');?></span>
						
						
						</div>
						<?php endif;?>
						
						
						
						<?php if ( !empty($_category->getData('show-term'))):?>
        					<div class=" padding-center second-para description-container mercury hide">    
           					<?php echo $_category->getData('show-term');?>
						</div>
						<?php endif;?>
						
						<div class="toggle-container text-center">
							<div class="show-more small-text"><div id="toggle-filter-product" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-down" aria-hidden="true"></i></div></div>
							<div class="show-less small-text hide"><div id="toggle-filter-product-less" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-up" aria-hidden="true"></i></div></div>
						</div>
						
					
				</div>
			</div>
			</section>
		<?php endif;?>
		
		
		<?php elseif ($_category->getData('category_template') == '245'): //default?>
			<?php echo $_helper->categoryAttribute($_category, $_description, 'description');?>
			<?php if ( !empty($_category->getData('show-term')) ):?>
        	<section class="border-bottom padding-bottom-1 padding-top-1 light-grey-bg">    
            <div class="row">	
            	<div class="medium-8 medium-centered columns">
            		
            		
            			<div class="tiny-text f100 margin-bottom-05 text-center">
            				 <span id="exp-category"></span>
            			</div>
	
            			<?php if ( !empty($_category->getData('sw_ocat_voucher_code'))):?>
        
            				<div class="first-para text-center margin-bottom-1">
            				
						<div class="caption"><h4>How It Works</h4></div>
  						
						
						<p class="mercury">Masukan kode promo dibawah ini pada halaman pembayaran</br>Baca syarat dan ketentuan untuk informasi lebih lanjut</p>
						<span style="border:1px dotted #666;line-height:4;padding:1rem 2rem">KODE PROMO : <?php echo $_category->getData('sw_ocat_voucher_code');?></span>
						
						
						</div>
						<?php endif;?>
						
						
						
						<?php if ( !empty($_category->getData('show-term'))):?>
        					<div class=" padding-center second-para description-container mercury hide">    
           					<?php echo $_category->getData('show-term');?>
						</div>
						<?php endif;?>
						
						<div class="toggle-container text-center">
							<div class="show-more small-text"><div id="toggle-filter-product" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-down" aria-hidden="true"></i></div></div>
							<div class="show-less small-text hide"><div id="toggle-filter-product-less" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-up" aria-hidden="true"></i></div></div>
						</div>
						
					
				</div>
			</div>
			</section>
		<?php endif;?>
		
		
		<?php else:?>
			<div id="loading" class="show-for-medium">
				<div class="promo-banner-container">
  					<img src="<?php echo $_category->getImageUrl(); ?>">
  					
				</div>
			</div>
			<?php if ( !empty($_category->getData('show-term')) ):?>
        	<section class="border-bottom padding-bottom-1 padding-top-1 light-grey-bg">    
            <div class="row">	
            	<div class="medium-8 medium-centered columns">
            		
            		
            			<div class="tiny-text f100 margin-bottom-05 text-center">
            				 <span id="exp-category"></span>
            			</div>
	
            			<?php if ( !empty($_category->getData('sw_ocat_voucher_code'))):?>
        
            				<div class="first-para text-center margin-bottom-1">
            				
						<div class="caption"><h4>How It Works</h4></div>
  						
						
						<p class="mercury">Masukan kode promo dibawah ini pada halaman pembayaran</br>Baca syarat dan ketentuan untuk informasi lebih lanjut</p>
						<span style="border:1px dotted #666;line-height:4;padding:1rem 2rem">KODE PROMO : <?php echo $_category->getData('sw_ocat_voucher_code');?></span>
						
						
						</div>
						<?php endif;?>
						
						
						
						<?php if ( !empty($_category->getData('show-term'))):?>
        					<div class=" padding-center second-para description-container mercury hide">    
           					<?php echo $_category->getData('show-term');?>
						</div>
						<?php endif;?>
						
						<div class="toggle-container text-center">
							<div class="show-more small-text"><div id="toggle-filter-product" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-down" aria-hidden="true"></i></div></div>
							<div class="show-less small-text hide"><div id="toggle-filter-product-less" class="category-more f600">Syarat dan Ketentuan <i class="fa fa-angle-up" aria-hidden="true"></i></div></div>
						</div>
						
					
				</div>
			</div>
			</section>
		<?php endif;?>
		
			<div id="activity" class="category-header padding-center">
				<div class="row">
		<div class="medium-12 columns text-center">
				
				<h1><?php echo $_category->getName(); ?></h1>
				<?php if ($_description !== null):?>
					<div class="activity-container">
	<div class="row">
		<div class="medium-10 medium-centered columns text-center">
		<p>
			<?php echo $_helper->categoryAttribute($_category, $_description, 'description');?>
		</p>
			
			
			
			
	</div>	
	</div>
</div>
				<?php endif;?>
				</div>
		</div>
			</div>
			
		<?php endif;?>
	
	
		
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId( Mage::registry('current_category')->getLandingPage() )->toHtml()?>





