<?php $orders = $this->getOrderList();
//var_dump($orders)?>



<section id="main">
    <div class="row collapse">
        <div class="medium-3 columns">
            <div class="admin-sidebar sticky" data-sticky data-top-anchor="main" data-btm-anchor="main-footer">
            <h2>Account</h2>
            <ul class="no-bullet step">
                <li><a href="https://petloka.com/service/order/list">My Order</a></li>
            </ul>
            </div>
        </div>
        <div class="medium-9 columns">
            <div class="page-container">
                <h1>My Order</h1>

                <table>
                    <thead>
                        <tr>
                            <th width="200">Booking #</th>
                            <th width="150">Booking Date</th>
                            <th width="150">Booking Location</th>

                            <th width="150">Status</th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        <?php foreach ($orders as $orders):?>
                        <tr>
                            <td><?php echo $orders->getBookingId();?></td>

                            <td><?php echo $orders->getBookingDate();?></td>
                            <td><?php echo $orders->getAddress();?></td>
                            <td><?php echo $orders->getStatus();?></td>
                           
                        </tr>





                        <?php endforeach;?>



                    </tbody>


                </table>
            </div>
        </div>
    </div>
</section>