<?php $post = $this->getPost() ?>

<?php $author = $post->getAuthor();

$featuredImage = $post->getFeaturedImage();

//var_dump($author )?>

<?php 
/*
$images = $post->getMetaValue('inner_banner');
$images2 = $post->getMetaValue('inner_banner_2');
$images3 = $post->getMetaValue('inner_banner_3');
$images4 = $post->getMetaValue('inner_banner_4');
$PostImageData = Mage::getModel('wordpress/post')->setPostType('attachment')->load($images)->getData();
$imageUrl = $PostImageData['guid'];

*/

?>


<section class="journal-post parallax-header">
	<div class="parallax-container" style="background: url(<?php echo $featuredImage->getLargeImage() ?>) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;" >
		<div class="parallax-content">
			<h5>THE JOURNAL</h5>
			<h1><?php echo $this->htmlEscape($post->getPostTitle()) ?></h1>
			<p><?php echo $post->getPostDate()?></p>
		</div>

	</div>

</section>



<ul class="no-bullet" style="position: fixed;
    z-index: 99999999;
    left: 1%;
    bottom: 10%">

	<li style="height:40px;width:40px;line-height:40px;background:#eee;border-radius:100%;text-align:center"><button
			onclick="window.open('https://www.facebook.com/sharer.php?u=<?php echo $post->getPermalink() ?>','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
			<i class="fa fa-lg fa-facebook-square" aria-hidden="true"></i>

		</button>


	</li>


	</button></li>



</ul>


<script type="text/javascript">
	jQuery(document).ready(function ($) {
		var token = '1792367184373817|94b3c635004ec4d03ed0ae341795bd13';
		$.ajax({
			url: 'https://graph.facebook.com/v2.1/',
			dataType: 'jsonp',
			type: 'GET',
			data: {
				access_token: token,
				id: '<?php echo $post->getPermalink() ?>'
			},
			success: function (data) {
				$('#results').html(data.share.share_count);
			}
		});
	});
</script>
