<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_AdvancedReviews
 * @version    2.3.10
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div style="display:block;">
    <table style="width:100%;float:left;">
        <tr>
            <td style="display: block;">
                <?php
                    if ($this->canShowSocial())
                    {
                        echo $this->getChild('advancedreviews_socialshare')->setReviewId($this->getReviewId())->toHtml();
                    }

                ?>
            </td>
            <td  style="width:50%;" class="a-right">
                <?php
                    if ($this->canShowHelpfulness())
                    {
                        echo $this->getChild('advancedreviews_helpfulness')->setReviewId($this->getReviewId())->toHtml();
                    }
                ?>
            </td>
        </tr>
        <?php if ($this->canShowAbuse()): ?>
            <tr>
                <td style="width:50%;">
                    &nbsp;
                </td>
                <td style="width:50%;" class="a-right">
                    <?php echo $this->getChild('advancedreviews_reportabuse')->setReviewId($this->getReviewId())->toHtml(); ?>
                </td>
            </tr>
        <?php endif ?>
    </table>
</div>