<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_AdvancedReviews
 * @version    2.3.10
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>
<?php if(Mage::helper('advancedreviews')->getSummaryBlockEnabled() && is_array($this->getSummaryBlock())):?>
	<?php if(count($this->getSummaryBlock())):?>
		<div class="advancedreviews-summary-block">

	
		
		<?php foreach($this->getSummaryBlock() as $parametr):?>
        <?php if($parametr['votes_qty']>0):?>
        	
        	<table>
            
          	
          	
          		
          	<?php if ($parametr['votes'][5] == null):?>
          		<tr>
                    <td class="star-name">
                    <div class="rating-box">
                        <div class="rating" style="width:100%;"></div>
                	</div>
                    	
                    </td>
                    <td class="star-count">(0)</td>
                    <td class="star-line">
                    <div class="star-bar-container">
                    <div class="star-bar" style="width:0%"></div></div></td>
                   
                </tr>
            <?php else:?>
            	<tr>
                    <td class="star-name">
                    <div class="rating-box">
                        <div class="rating" style="width:100%;"></div>
                	</div>
                    
                    </td>
                    <td class="star-count">(<?php echo $parametr['votes'][5]['qty']?>)</td>
                    <td class="star-line"><div class="star-bar-container">
                    <div class="star-bar" style="width:<?php echo $parametr['votes'][5]['percent']?>%"></div></div></td>
                    
                </tr>
          	<?php endif;?>
          	
          	<?php if ($parametr['votes'][4] == null):?>
          		<tr>
                    <td class="star-name">
                    <div class="rating-box">
                        <div class="rating" style="width:80%;"></div>
                	</div>
                    	
                    </td>
                    <td class="star-count">(0)</td>
                    <td class="star-line"><div class="star-bar-container"><div class="star-bar" style="width:0%"></div></div></td>
                    
                </tr>
            <?php else:?>
            	<tr>
                    <td class="star-name">
                    <div class="rating-box">
                        <div class="rating" style="width:80%;"></div>
                	</div>
                    	
                    </td>
                    <td class="star-count">(<?php echo $parametr['votes'][4]['qty']?>)</td>
                    <td class="star-line"><div class="star-bar-container"><div class="star-bar" style="width:<?php echo $parametr['votes'][4]['percent']?>%"></div></div></td>
                    
                </tr>
          	<?php endif;?>
          	
            <?php if ($parametr['votes'][3] == null):?>
          		<tr>
                    <td class="star-name">
                    <div class="rating-box">
                        <div class="rating" style="width:60%;"></div>
                	</div>
                    	
                    </td>
                    <td class="star-count">(0)</td>
                    <td class="star-line"><div class="star-bar-container"><div class="star-bar" style="width:0%"></div></div></td>
                    
                </tr>
            <?php else:?>
            	<tr>
                    <td class="star-name">
                    <div class="rating-box">
                        <div class="rating" style="width:60%;"></div>
                	</div>
                    	
                    </td>
                    <td class="star-count">(<?php echo $parametr['votes'][3]['qty']?>)</td>
                    <td class="star-line"><div class="star-bar-container"><div class="star-bar" style="width:<?php echo $parametr['votes'][3]['percent']?>%"></div></div></td>
                    
                </tr>
          	<?php endif;?>
            
            <?php if ($parametr['votes'][2] == null):?>
          		<tr>
                    <td class="star-name">
                    <div class="rating-box">
                        <div class="rating" style="width:40%;"></div>
                	</div>
                    	
                    </td>
                    <td class="star-count">(0)</td>
                    <td class="star-line"><div class="star-bar-container"><div class="star-bar" style="width:0%"></div></div></td>
                    
                </tr>
            <?php else:?>
            	<tr>
                    <td class="star-name">
                    <div class="rating-box">
                        <div class="rating" style="width:40%;"></div>
                	</div>
                    	
                    </td>
                    <td class="star-count">(<?php echo $parametr['votes'][2]['qty']?>)</td>
                    <td class="star-line"><div class="star-bar-container"><div class="star-bar" style="width:<?php echo $parametr['votes'][2]['percent']?>%"></div></div></td>
                    
                </tr>
          	<?php endif;?>
          	
          	<?php if ($parametr['votes'][1] == null):?>
          		<tr>
                    <td class="star-name">
                    <div class="rating-box">
                        <div class="rating" style="width:20%;"></div>
                	</div>
                    	
                    </td>
                    <td class="star-count">(0)</td>
                    <td class="star-line"><div class="star-bar-container"><div class="star-bar" style="width:0%"></div></div></td>
                    
                </tr>
            <?php else:?>
            	<tr>
                    <td class="star-name">
                    <div class="rating-box">
                        <div class="rating" style="width:20%;"></div>
                	</div>
                    	
                    </td>
                    <td class="star-count">(<?php echo $parametr['votes'][1]['qty']?>)</td>
                    <td class="star-line"><div class="star-bar-container"><div class="star-bar" style="width:<?php echo $parametr['votes'][1]['percent']?>%"></div></div></td>
                    
                </tr>
          	<?php endif;?>
            
        </table>
        <?php endif;?>
    	<?php endforeach;?>
		
		
</div>
	<?php endif;?>
<?php else:?>
...
<?php endif;?>
