<section id="banner-hero" class="hero-banner">
    <div class="row collapse">
        <div class="medium-12 columns">
            <div class="hero-banner-container">
                    <div class="hero-banner-image">
                            <img src="https://via.placeholder.com/2560x1200" alt="">
                    </div>
                    <div class="hero-banner-content text-center">
                            
                            <h5>This is caption</h5>
                            <h1>This is headline</h1>
                            <h6>Get 10% Off all Product</h6>
                            <a href="#" class="button">Button</a>
                    </div>
            </div>
                
        </div>
    </div>
</section>

