<section id="homepage-search-banner" class="hero-banner">
        <div class="row collapse show-for-medium">
            <div class="medium-12 columns">
                <div class="hero-banner-container">
                        <div class="hero-banner-image">
                                <img src="https://via.placeholder.com/2560x1200" alt="">
                        </div>
                        <div class="hero-banner-content" style="background:#00aeef">
                                
                                <h2>Find an on demand pet service</br>in your area</br>
                                
                                </h2>
                                <h6>Grooming, Pet Hotel and supplies</h6>
                                <form action="/book/index/search" method="post" name="large-search">
                                <div class="search-container">
                                    <div class="row">
                                        <div class="medium-6 columns">
                                                <div class="row">
                                                        <div class="medium-6 columns">
                                                        <label>Select service</label>
                                                                        <select id="service" name="service">
                                                                          <option value="573">Grooming</option>
                                                                          <option value="605">Pet Hotel</option>
                                                                          
                                                                        </select>
                                                                      
                                                        </div>
                                                        <div class="medium-6 columns">
                                                        <label>Select your pet</label>
                                                                        <select id="pet" name="pet">
                                                                          <option value="330">Dog</option>
                                                                          <option value="331">Cat</option>
                                                                          
                                                                        </select>
                                                                      
                                                        </div>
                                                        
                                                        
                                                    </div>
                                        </div>
                                        <div class="medium-6 columns">
                                            <div class="row">
                                                <div class="medium-6 columns">
                                                <label>Select your location</label>
                                                                        <select id="location" name="location">
                                                                          <option value="312">Jakarta</option>
                                                                          <option value="311">Tangerang</option>
                                                                          
                                                                        </select>
                                                                      
                                                </div>
                                                <div class="medium-6 columns">
                                                        <button href="#" class="button expanded" style="margin-top:1.5rem">Search Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </form>
                        </div>
                </div>
                    
            </div>
            
        </div>
        
        <form action="/book/index/search" method="post" name="small-search">
                                <div class="search-container show-for-small-only">
                                    <div class="row">
                                        <div class="medium-6 columns">
                                                <div class="row">
                                                        <div class="medium-6 columns">
                                                        <label>Select service</label>
                                                                        <select id="service" name="service">
                                                                          <option value="573">Grooming</option>
                                                                          <option value="605">Pet Hotel</option>
                                                                          
                                                                        </select>
                                                                      
                                                        </div>
                                                        <div class="medium-6 columns">
                                                        <label>Select your pet</label>
                                                                        <select id="pet" name="pet">
                                                                          <option value="330">Dog</option>
                                                                          <option value="331">Cat</option>
                                                                          
                                                                        </select>
                                                                      
                                                        </div>
                                                        
                                                        
                                                    </div>
                                        </div>
                                        <div class="medium-6 columns">
                                            <div class="row">
                                                <div class="medium-6 columns">
                                                <label>Select your location</label>
                                                                        <select id="location" name="location">
                                                                          <option value="312">Jakarta</option>
                                                                          <option value="311">Tangerang</option>
                                                                          
                                                                        </select>
                                                                      
                                                </div>
                                                <div class="medium-6 columns">
                                                        <button href="#" class="button expanded" style="margin-top:1.5rem">Search Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        </form>
        
</section>

<style>
.std{
        display:none
}
</style>