<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Pquestion2
 * @version    2.1.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->canShow()): ?>
    <ol style="list-style: none;">
        <?php foreach ($this->getCollection() as $item) : ?>
            <li>
                <span style="padding-right: 10px;"><i><?php echo $this->getDate($item); ?></i></span>
                <a href="<?php echo $this->getProductUrl($item) ?>"><?php echo $this->getProductName($item); ?></a>
                <br>
                <div style="padding-bottom: 5px;"><?php echo $this->getQuestionContent($item); ?></div>
            </li>
        <?php endforeach; ?>
    </ol>
<?php endif; ?>