<?php
$request = $this->getRequest();
 $module = $request->getModuleName();
 $controller = $request->getControllerName();
 $action = $request->getActionName();
 $url = Mage::helper('core/http')->getHttpReferer() ? Mage::helper('core/http')->getHttpReferer()  : Mage::getUrl();
 


?>


<div class="row">
	<div class="medium-12 columns">
		<div class="cart-checkout-header">
<div class="row">
	<div class="small-5 medium-6 columns">
		<div class="logos">
					<?php if ( $controller == 'onepage'):?>
						<h3>Checkout</h3>
					<?php endif?>
					
					<?php if ( $controller == 'cart'):?>
						<h3>Shopping Cart</h3>
					<?php endif?>
					
				</div>
	</div>
	<div class="small-7 medium-6 columns">
		<h5 class="secure text-right"><i class="fa fa-lock" aria-hidden="true"></i> SSL Secure Payment <img width="50px" src="https://wearinasia.com/media/wysiwyg/logo/norton-secured-logo.png"></h5>
		
	</div>
</div>
</div>
	</div>
</div>