<div id="footer-before-container" class="checkout-footer-container">
	
		<div class="row">
			<div class="medium-12 columns text-center">
				<ul class="menu inline-list margin-bottom-1">
					<li><a href="/">© 2018 Wearinasia</a></li>
				</ul>
			</div>


		</div>
	
</div>