<?php 
$layer = Mage::getSingleton('catalog/layer');
$_category = $layer->getCurrentCategory();
$parentCategoryId = $_category->getId();
$loadCategory = Mage::getModel('catalog/category')->load($parentCategoryId);
$subcats = $loadCategory->getChildren();
$currentUrl = Mage::helper('core/url')->getCurrentUrl();
?>






<div id="category-sidebar" class="navigation-sidebar show-for-medium">
<a class="backnav-url" href="<?php echo $_category->getParentCategory()->getUrl();?>">
<i class="fa fa-angle-left" aria-hidden="true"></i> <?php echo $_category->getParentCategory()->getName();?>
</a>

        <nav class="navigation-sidebar-list">
                <h5><?php echo $loadCategory->getName();?></h5>
                <ul class="menu vertical">
				<?php foreach(explode(',',$subcats) as $subCatid):?>
        <?php $_category = Mage::getModel('catalog/category')->load($subCatid);?>
        <li>
            <a href="<?php echo $_category->getURL();?>">

                <?php echo $_category->getName();?>
            </a>
        </li>
        <?php endforeach ?>
                </ul>
        </nav>

      

</div>
