<?php 
	$layer = Mage::getSingleton('catalog/layer');
	$_category = $layer->getCurrentCategory();
	$parentCategoryId = $_category->getParentId();
	$loadCategory = Mage::getModel('catalog/category')->load($parentCategoryId);
	$subcats = $loadCategory->getChildren();
?>

<?php $currentCategoryId = $_category->getId(); ?>
<div class="navigation-horizontal-menu-container show-for-small-only">
<ul class="no-bullet navigation-horizontal-menu">
	<li class="item"><a href="<?php echo $loadCategory->getURL();?>">Back to <?php echo $loadCategory->getName();?></a></li>
	<?php foreach(explode(',',$subcats) as $subCatid):?>

	<?php $_category = Mage::getModel('catalog/category')->load($subCatid);?>

	<li <?php if ( $currentCategoryId==$_category->getId()):?>
		class="item active"
		<?php else: ?>
		class="item"
		<?php endif; ?>



		>
		<a href="<?php echo $_category->getURL();?>">
			<?php echo $_category->getName();?>
		</a>
	</li>


	<?php endforeach ?>

</ul>
</div>