<?php 
	$layer = Mage::getSingleton('catalog/layer');
	$_category = $layer->getCurrentCategory();
	$parentCategoryId = $_category->getParentId();
	$loadCategory = Mage::getModel('catalog/category')->load($parentCategoryId);
	$subcats = $loadCategory->getChildren();
?>

<?php $currentCategoryId = $_category->getId(); ?>


<div id="category-sidebar" class="navigation-sidebar show-for-medium">
        <nav class="navigation-sidebar-list">
                <h5><a href="<?php echo $loadCategory->getURL();?>"><?php echo $loadCategory->getName();?></a></h5>
                <ul class="menu vertical">
                <?php foreach(explode(',',$subcats) as $subCatid):?>

<?php $_category = Mage::getModel('catalog/category')->load($subCatid);?>

<li <?php if ( $currentCategoryId==$_category->getId()):?>
    class="active"
   
    <?php endif; ?>



    >
    <a href="<?php echo $_category->getURL();?>">
        <?php echo $_category->getName();?>
    </a>
</li>


<?php endforeach ?>
                </ul>
        </nav>

</div>




    