<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(6)
    
?>
<section id="padding-center" class="border-bottom">
	<div class="row">
		<div class="medium-6 medium-centered columns">
			<div class="caption text-center">
				<h3>BEST DEALS</h3>
			
			</div>
		</div>
		<div class="medium-12 columns">
			<div class="row small-up-1 medium-up-3">
    <?php foreach ($_productCollection as $_product): ?>
        <div class="columns products-grid homepage-product item text-center category-product-2">
            <div class="box" style="position:relative">
           
            <div class="row">
            	<div class="small-5 medium-12 columns">
            		 <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="300" width="500" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500,300); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            </a>
            	</div>
            	<div class="small-7 medium-12 columns">
            		 <div class="product-info">
            <div class="product-brand">
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a>
               		</div>
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            		<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
            </h2>
			<?php echo $this->getPriceHtml($_product, true) ?>
			
			<a class="button show-for-medium tiny" href="<?php echo $_product->getProductUrl() ?>">
			BELI SEKARANG
			</a>
			</div>
            	</idv>
            </div>
           
           
			</div>
			</div>
        </div>      
    <?php endforeach ?>
     </div>
		</div>
		
	</div>
</section>