<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);    
?>
<?php
						//sw_icon_image
						$cat_icon_img = $_categoryUrl->getData("sw_ocat_category_icon_image");
						$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
					?>

	<div class="columns">
						<div class="homepage-tile-container promo-container">
							<div id="loading" class="small-grid promo-banner-container">
					<a href="<?php echo $_categoryUrl->getURL();?>">
						<img src="<?php echo $cat_icon_img_url;?>" height="643" width="900">
						
						<div class="promo-banner-content padding-50 white text-center">
							
							
							<?php if ($interval->days !== 0): ?>
							<div class="bottom" style="    position: absolute;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;">
							<div class="promotion">
							<?php echo $_categoryUrl->getData("sw_ocat_promotional_text");?>
							</div>
							
									
							</div>
							<?php endif; ?>			
						</div>
						
					</a>
					
					</div>
<div><?php echo $_categoryUrl->getData("sw_ocat_additional_content");  ?></div>

<a href="<?php echo $_categoryUrl->getURL();?>" class="button secondary">Shop Now</a>

						</div>
					</div>	

</div>
</section>
					


					