<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);

$_categoryId2 = $this->getCategoryId2();
$_categoryUrl2 = Mage::getModel('catalog/category')->load($_categoryId2);    
?>
<?php
						//sw_icon_image
						$cat_icon_img = $_categoryUrl->getData("menu_icon_image");
						$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
					?>
					<?php
						//sw_icon_image
						$cat_icon_img2 = $_categoryUrl2->getData("menu_icon_image");
						$cat_icon_img_url2 = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
					?>
<section class="padding-center">
<div class="row">
	<div class="medium-6 columns">
						<div class="homepage-tile-container">
							<div id="loading" class="promo-banner-container">
					<a href="<?php echo $_categoryUrl->getURL();?>">
						<img src="<?php echo $cat_icon_img_url;?>" height="643" width="900">
						<div class="promo-banner-content padding-50  filter-content-black white">
							<?php echo $_categoryUrl->getData("sw_ocat_additional_content");  ?>
							<div><?php echo $_categoryUrl->getData("sw_ocat_promotional_text");?></div>
								<div class="button white" href="<?php echo $_categoryUrl->getURL();?>">Shop Now</div>	
						</div>
						
					</a>
					
					</div>

						</div>
					</div>
	<div class="medium-6 columns">
						<div class="homepage-tile-container">
							<div id="loading" class="promo-banner-container">
					<a href="<?php echo $_categoryUrl2->getURL();?>">
						<img src="<?php echo $cat_icon_img_url;?>" height="643" width="900">
						<div class="promo-banner-content padding-50  filter-content-black white">
							<?php echo $_categoryUrl2->getData("sw_ocat_additional_content");  ?>
							<div><?php echo $_categoryUrl2->getData("sw_ocat_promotional_text");?></div>
								<div class="button white" href="<?php echo $_categoryUrl->getURL();?>">Shop Now</div>	
						</div>
						
					</a>
					
					</div>

						</div>
					</div>
</div>
</section>
					


					