<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(4)
    
?>

<div class="row padding-center">
	<div class="medium-12 columns">
		<div class="padding-center border-bottom">
		<div class="row">
			<div class="medium-6 medium-centered columns">
		<div class="caption text-center">
			<h5>Featured Category</h5>
			<h3><?php echo $this->__( $this->getTitle() ); ?></h3>
			<p><?php echo $this->__( $this->getLabel() ); ?></p>
		</div>
		
	</div>
			<div class="medium-12 columns margin-bottom-1">
    			<div class="row small-up-2 medium-up-4">
    <?php foreach ($_productCollection as $_product): ?>
        <div class="columns products-grid   homepage-product item text-center">
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="204" width="236" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            </a>
            <div class="product-info">
            <div class="product-brand">
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a>
               		</div>
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
            </h2>
			<?php echo $this->getPriceHtml($_product, true) ?>
			</div>
        </div>      
    <?php endforeach ?>
     </div>
     			<div class="text-center padding-center">
     			<a class="button tiny secondary text-center" href="<?php echo $_categoryUrl->getUrl() ?>">Lihat Selengkapnya <i class="fa fa-angle-right"></i></a>
				</div>
   			</div>
   			
   			
   		</div>
		
		</div>
	</div>
</div>


