<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);    
?>

					
					<?php 
               $_file_name = $_categoryUrl->getData("sw_ocat_category_icon_image"); // Here $cat is category data array                
  $_media_dir = Mage::getBaseDir('media') . DS . 'catalog' . DS . 'category' . DS;
                $cache_dir = $_media_dir . 'homepage-tile' . DS; // Here i create a homepage-tile folder. for upload new category image
                        
   if (file_exists($cache_dir . $_file_name)) {
                             $catImg =Mage::getBaseUrl('media') .  'catalog' . DS . 'category' . DS . 'homepage-tile' . DS . $_file_name;
                         } elseif (file_exists($_media_dir . $_file_name)) {
                             if (!is_dir($cache_dir)) {
                                 mkdir($cache_dir);
                             }

                             $_image = new Varien_Image($_media_dir . $_file_name);
                             $_image->constrainOnly(true);
                             $_image->keepAspectRatio(true);
                             $_image->keepFrame(false);
                             $_image->keepTransparency(true);
                             $_image->resize(900, 643); // change image height, width
                             $_image->save($cache_dir . $_file_name);
                             $catImg = Mage::getBaseUrl('media') . 'catalog' . DS . 'category' . DS . 'homepage-tile' . DS . $_file_name;
                         }
 
 ?>

	<div class="medium-6 columns">
						<div class="homepage-tile-container">
							<div id="loading" class="promo-banner-container">
					<a href="<?php echo $_categoryUrl->getURL();?>">
						<img src="<?php echo $catImg; ?>" height="643" width="900">
						<div class="promo-banner-content filter-content-black-0 padding-10 white text-center">
							<?php echo $_categoryUrl->getData('homepage-inner-banner-content')?>
						</div>
						
					</a>
					
					</div>

						</div>
					</div>
					</div>
					</section>
		


					