<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);    
?>
<?php
						//sw_icon_image
						$cat_icon_img = $_categoryUrl->getData("sw_ocat_category_icon_image");
						$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
					?>
<section class="padding-center">
<div class="row"><div class="medium-6 medium-centered columns"><div class="caption small-text-center medium-text-center margin-bottom-1"><h3>Now Trending</h3></div></div></div>
<div class="row medium-up-3">
		
	<div class="columns">
						<div class="homepage-tile-container promo-container">
							<div id="loading" class="small-grid promo-banner-container">
					<a href="<?php echo $_categoryUrl->getURL();?>">
						<img src="<?php echo $cat_icon_img_url;?>" height="643" width="900">
						
						<div class="promo-banner-content padding-50 white text-center">
							
							
							<?php if ($interval->days !== 0): ?>
							<div class="bottom" style="    position: absolute;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;">
							<div class="promotion">
							<?php echo $_categoryUrl->getData("sw_ocat_promotional_text");?>
							</div>
							
									
							</div>
							<?php endif; ?>			
						</div>
						
					</a>
					
					</div>
<div><?php echo $_categoryUrl->getData("sw_ocat_additional_content");  ?></div>

<a href="<?php echo $_categoryUrl->getURL();?>" class="button secondary">Shop Now</a>

						</div>
					</div>	


					

<style>
.promo-date{font-size:11px;text-transform:uppercase;font-weight:600}
.promo-container {border-bottom:1px dotted #eee;padding-bottom:1rem;margin-bottom:1.5rem}
.promo-container h3{display:none}
.promo-container p{font-family: "Mercury SSm A", "Mercury SSm B";}

</style>
