<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(7)
    
?>

<div id="category-slider" class="owl-carousel owl-middle-narrow owl-theme">
    <div class="item">
    	<section id="padding-center" class="border-bottom">
	<div class="row">
		<div class="medium-3 columns text-left">
			<p class="category-label mercury large-text f600"><em><?php echo $this->__( $this->getLabel() ); ?></em></p>
		</div>
		<div class="medium-6 columns text-center">
			<div class="caption text-center">
				<h3><?php echo $this->__( $this->getTitle() ); ?></h3>
			</div>
		</div>
		<div class="medium-3 columns text-right">
			<a href="<?php echo $this->__( $this->getUrl() ); ?>" class="category-more">View All ></a>
		</div>
		<div class="medium-12 columns">
			<div class="row">
				<div class="medium-5 columns">
					<div class="row medium-up-1">
						
					<?php foreach ($_productCollection as $_product):?>
						
    					<?php if ($_product->getCatIndexPosition() == '-1000'): ?>
    						<div class="columns products-grid homepage-product item text-center small-grid promo-banner-container end">
            					<a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                				<img height="300" width="300" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(900,500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            					</a>
            					<div class="product-info margin-bottom-1">
            	<div class="product-brand">
            		
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a>
               		</div>
               		        
            
            	<a class="hero-product" href="<?php echo $_product->getProductUrl() ?>">
            	<?php echo $this->htmlEscape($_product->getName(),0,520) ?>
            	</a>
           		<?php echo $this->getPriceHtml($_product, true) ?>
				
			</div>
								<a class="button secondary" href="<?php echo $_product->getProductUrl() ?>">
					Beli
				</a>
        					</div>
       					<?php endif; ?>
    				<?php endforeach ?>
					</div>
				</div>
				<div class="medium-7 columns">
					<div class="row small-up-2 medium-up-3">
						
					<?php foreach ($_productCollection as $_product):?>
    			<?php if ($_product->getCatIndexPosition() !== '-1000'): ?>
    				<div class="columns products-grid homepage-product item text-center end">
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="300" width="500" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500,300); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            </a>
            <div class="product-info margin-bottom-1">
            <div class="product-brand">
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a>
               		</div>
               		        
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            		<?php echo $this->htmlEscape($_product->getName(),0,520) ?>
            	</a>
            </h2>
			<?php echo $this->getPriceHtml($_product, true) ?>
			</div>
        </div>
       			<?php endif; ?>
    		<?php endforeach ?>
				
				
					</div>
				</div>
			</div>
   		</div>
   		
	</div>
</section>

    </div>