<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);    
?>
<?php
						//sw_icon_image
						$cat_icon_img = $_categoryUrl->getData("menu_icon_image");
						$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
					?>
<section class="padding-center">
<div class="row">
						<div class="medium-6 columns">
							<a href="<?php echo $_categoryUrl->getURL();?>">
								<img src="<?php echo $cat_icon_img_url;?>" height="643" width="900">
							</a>
						</div>
						<div class="medium-6 columns">
							<div class="hero-banner-container">
								
								<?php echo $_categoryUrl->getData("sw_ocat_additional_content");?>
								<div><?php echo $_categoryUrl->getData("sw_ocat_promotional_text");?></div>
								<a class="button border-black" href="<?php echo $_categoryUrl->getURL();?>">Shop Now</a>	
							</div>
						</div>
					</div>
</section>
					


