<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(7)
    
?>
<section id="padding-center" class="border-bottom">
	<div class="row">
		<div class="medium-6 medium-centered columns">
			<div class="caption text-center">
				<h3><?php echo $this->__( $this->getTitle() ); ?></h3>
				<p><?php echo $this->__( $this->getLabel() ); ?></p>
			</div>
		</div>
		<div class="medium-12 columns">
			<div class="row">
				<div class="medium-5 columns">
					<div class="row medium-up-1">
						
					<?php foreach ($_productCollection as $_product):?>
						
    					<?php if ($_product->getCatIndexPosition() == '-1000'): ?>
    						<div class="columns products-grid homepage-product item text-center small-grid promo-banner-container end">
            					<a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                				<img height="500" width="500" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(900); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            					<div class="promo-banner-content padding-50 text-center">
							
								
								 <?php if ($_product->getData('presale') == '1'): ?>
            						<div style="color:black">Presale</div>
            						<div class="small-text no-margin">Available on <?php echo substr($_product->getNewsFromDate(), 0, 10);?></div>
            						
								<?php endif; ?>
								
							
							</div>
								</a>
            				<div class="product-info margin-bottom-1">
            <div class="product-brand">
            		
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a>
               		</div>
               		        
            
            	<a style="color: #111111;
    text-align: center;
    line-height: 1.1;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 7px;" href="<?php echo $_product->getProductUrl() ?>">
            	<?php echo $this->htmlEscape($_product->getName(),0,520) ?>
            	</a>
           		<?php echo $this->getPriceHtml($_product, true) ?>
			
			</div>
        </div>
       					<?php endif; ?>
    				<?php endforeach ?>
					</div>
				</div>
				<div class="medium-7 columns">
					<div class="row small-up-2 medium-up-3">
						
					<?php foreach ($_productCollection as $_product):?>
    			<?php if ($_product->getCatIndexPosition() !== '-1000'): ?>
    				<div class="columns products-grid homepage-product item text-center end">
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="250" width="250" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(450); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            </a>
            <div class="product-info margin-bottom-1">
            <div class="product-brand">
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a>
               		</div>
               		        
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            	<?php echo $this->htmlEscape($_product->getName(),0,520) ?>
            	</a>
            </h2>
			<?php echo $this->getPriceHtml($_product, true) ?>
			</div>
        </div>
       			<?php endif; ?>
    		<?php endforeach ?>
				
				
					</div>
				</div>
			</div>
   		</div>
   		
	</div>
</section>
