<?php
$_categoryId = $this->getCategoryId();

$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(8)
    
?>
<section id="padding-center" class="border-bottom">
	<div class="row">
		<div class="medium-3 columns small-text-center medium-text-left">
			<p class="category-label">

			</p>
			
		</div>
		<div class="medium-6 columns">
			<div class="caption small-text-center medium-text-center margin-bottom-1">
				<span class="category-label large-text cursive f600">
				<?php echo $this->__( $this->getLabel() ); ?>
			
			</span>
			
				<h3><?php echo $this->__( $this->getTitle() ); ?></h3>
				
			</div>
		</div>
		<div class="medium-3 columns small-text-center medium-text-right">
			<a href="<?php echo $this->__( $this->getCategoryUrl() ); ?>" class="category-more">View All ></a>
		</div>
	</div>
		
	<div class="row">
		<div class="medium-12 columns">
			<div class="row small-up-2 medium-up-4">
    <?php foreach ($_productCollection as $_product): ?>
        <div class="columns products-grid homepage-product item text-center">
        	<div class="products-grid-container">
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="204" width="236" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(900,500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            </a>
            <div class="product-info">
            <div class="product-brand">
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a>
               		</div>
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
            </h2>
            <?php echo $this->getPriceHtml($_product, true) ?>
			<a href="<?php echo $_product->getProductUrl() ?>" class="button">
				Shop Now
			</a>
			</div>
			</div>
        </div>      
    <?php endforeach ?>
     </div>
		</div>
		
	</div>
</section>