<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(6)
    
?>

		


<tr>
    <td class="full">
    	<?php $count = 0;?>
    	<?php foreach ($_productCollection as $_product): ?>
        <table class="half columns">
            <tr>
                <td>
					<a class="product-image" href="<?php echo $_product->getProductUrl() ?>?utm_source=EMAIL&utm_campaign=EMAIL&utm_medium=EMAIL">
               	 		<img height="204" width="236" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            		</a>
            		<h5><a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a></h5>
      								<h3>
      								<a href="<?php echo $_product->getProductUrl() ?>?utm_source=EMAIL&utm_campaign=EMAIL&utm_medium=EMAIL">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
      								</h3>
      								<p><?php echo $this->getPriceHtml($_product, true) ?></p>              
                </td>
                <td class="expander"></td>
            </tr>
        </table>
        <?php endforeach ?>
    </td>
</tr>
<tr>
    <td class="full">
    	
        <table class="half columns">
            <tr>
                <td>
                	<a class="btn" href="<?php echo $_categoryUrl->getURL();?>?utm_source=EMAIL&amp;utm_campaign=<?php echo $_categoryUrl->getName();?>&amp;utm_medium=EMAIL_Featured_Category">
      				Lihat Aksesoris Selengkapnya
      			</a>
                </td>
                <td class="expander"></td>
            </tr>
        </table>
        
    </td>
</tr>


