<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(4)
    
?>

			
			<?php
				$cat_icon_img = $_categoryUrl->getData("sw_ocat_category_email_image");
				$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
			?>
			
		<tr>
    <td class="full">
        <table class="columns">
            <tr>
                <td>
					<a href="<?php echo $_categoryUrl->getURL();?>?utm_source=EMAIL&amp;utm_campaign=EMAIL-<?php echo $_categoryUrl->getName();?>&amp;utm_medium=EMAIL">
      					<img class="main-image" src="<?php echo $cat_icon_img_url;?>">
      				</a>                  
                </td>
                <td class="expander"></td>
            </tr>
        </table>
        
    </td>
</tr>
	