<?php

$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(7)
    
?>
<section id="padding-center" class="border-bottom">
	<div class="row">
		
		<div class="small-12 large-6 large-push-3 columns text-center">
  			<div class="caption">
				<h3><?php echo $this->__( $this->getLabel() ); ?> <?php echo $this->__( $this->getTitle() ); ?></h3>
			</div>
		</div>
  		<div class="show-for-medium small-12 large-3 large-push-3 columns">
  			<div class="caption text-right small-text-center">
				<a href="<?php echo $_categoryUrl->getUrl();?>" target="_blank" class="category-more">View All Product <i class="fa fa-angle-right"></i></a>	
			</div>
		</div>
		
		<div class="medium-12 columns">
			<div class="row">
				<div class="medium-5 columns">
					<div class="row medium-up-1">
						
					<?php foreach ($_productCollection as $_product):?>
						
    					<?php if ($_product->getCatIndexPosition() == '-1000'): ?>
    						<div class="columns products-grid homepage-product item text-center small-grid promo-banner-container end">
    							<div class="homepage-product">
    							
            					<a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                				<img height="900" width="600" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(900,600); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            					</a>
            					<div class="product-info margin-bottom-1">
            	<div class="product-brand">
            		
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a>
               		</div>
               		        
            
            	<a class="hero-product" href="<?php echo $_product->getProductUrl() ?>">
            		<?php $prod_name = $this->htmlEscape($_product->getName()); ?>
                    	<?php
                    $count_str = strlen($prod_name);
                    if ($count_str < 30) {
                        echo $prod_name;
                    } else {
                        $offset = 0;
                        $length = 31;   
                        $prod_name = html_entity_decode($prod_name);                     
                        echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;                        
                    }
                    ?>
            	</a>
           		<?php echo $this->getPriceHtml($_product, true) ?>
				
			</div>
								<a class="button secondary" href="<?php echo $_product->getProductUrl() ?>">
					Shop Now
				</a>
        					
        						</div>
        					</div>
       					<?php endif; ?>
    				<?php endforeach ?>
					</div>
				</div>
				<div class="medium-7 columns">
					<div class="row small-up-2 medium-up-3">
						
					<?php foreach ($_productCollection as $_product):?>
    			<?php if ($_product->getCatIndexPosition() !== '-1000'): ?>
    				<div class="columns products-grid item text-center end">
    					<div class="homepage-product">
    					
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="500" width="500" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500,500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            </a>
            <div class="product-info margin-bottom-1">
            <div class="product-brand">
               		<a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a>
               		</div>
               		        
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            		
            		
            		<?php $prod_name = $this->htmlEscape($_product->getName()); ?>
                    	<?php
                    $count_str = strlen($prod_name);
                    if ($count_str < 30) {
                        echo $prod_name;
                    } else {
                        $offset = 0;
                        $length = 31;   
                        $prod_name = html_entity_decode($prod_name);                     
                        echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;                        
                    }
                    ?>
            	</a>
            </h2>
			<?php echo $this->getPriceHtml($_product, true) ?>
			</div>
        
        				</div>
        			</div>
       			<?php endif; ?>
    		<?php endforeach ?>
				
				
					</div>
				</div>
			</div>
   		</div>
   		<div class="show-for-small-only small-12 columns">
   			<div class="caption text-right small-text-center">
				<a href="<?php echo $_categoryUrl->getUrl();?>" target="_blank" class="button secondary">View All Product <i class="fa fa-angle-right"></i></a>	
			</div>
   		</div>
	</div>
</section>
