<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->setPageSize(8)?>

<div class="row">
	<div class="medium-3 columns">
		<h4 class="uppercase"><?php echo $_categoryUrl->getname(); ?></h4>
	</div>
	<div class="medium-9 columns">
		<a rel="no-follow" target="_blank" href="<?php echo $_categoryUrl->getUrl(); ?>">SELENGKAPNYA <i class="fa fa-angle-right"></i></a>
	</div>
	
</div>

</h3>
<div class="row small-up-2 medium-up-4 columns">	
    <?php foreach ($_productCollection as $_product): ?>
        <div class="columns">
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="250" width="150" src="<?php 
echo $this->helper('catalog/image')->init($_product, 'small_image')
    ->constrainOnly(false)
    ->keepAspectRatio(true)
    ->keepFrame(true)
    ->resize(200, 200);
?>
" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
            </a>
            <a class="megamenu-product" href="<?php echo $_product->getProductUrl() ?>">
            <?php echo $this->htmlEscape($_product->getName()) ?>
            </a>
        </div>
    <?php endforeach ?>
     
   		</div>

