{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
<tr>
    <td class="full">
       
         <table class="columns">
            <tr>
                <td>
<a href="https://wearinasia.com/tech/audio-video/headset">
<img src="{{media url="wysiwyg/banner/EMAIL-HEADSET.jpg"}}" width="1200"  class="main-image" />

</a>
<center><p class="hide">
Dapatkan Dentuman Musik Kemana Saja & Kapan saja
</p></center>

                </td>
                <td class="expander"></td>
            </tr>
        </table>
      
        
    </td>
</tr>
<tr>
    <td class="full">
       
         <table class="columns products-grid">
            <tr>
                <td>
					<h2><a href="#" class="product-name">product</a></h2>
                </td>
                
                <td class="expander"></td>
            </tr>
            <tr>
                <td>
					<h2><a href="#" class="product-name">product</a></h2>
                </td>
                
                <td class="expander"></td>
            </tr>
            <tr>
                <td>
					<h2><a href="#" class="product-name">product</a></h2>
                </td>
                
                <td class="expander"></td>
            </tr>
            <tr>
                <td>
					<h2><a href="#" class="product-name">product</a></h2>
                </td>
                
                <td class="expander"></td>
            </tr>
            <tr>
                <td>
					<h2><a href="#" class="product-name">product</a></h2>
                </td>
                
                <td class="expander"></td>
            </tr>
        </table>
      
        
    </td>
</tr>
<tr>
    <td>

        <table class="row">
            <tr>
                <td class="full wrapper last">
                    <table class="columns">
                        <tr>
                            <td align="center">
                                <center>
                                	<p class="small">©2016 WEARINASIA - ALL RIGHTS RESERVED <br>

RUKO PARAMOUNT SERPONG BLOK F NO 25 | GADING SERPONG - TANGERANG <br>T : (021) 9176 4028 | T : 0815 8660 212 | E : CONTACT@WEARINASIA.COM</p>
                                    <p><a href="#" class="small">Syarat dan Ketentuan</a> | <a href="{{var subscriber.getUnsubscriptionLink()}}" class="small">Unsubscribe</a></p>
                                </center>
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
             <tr>
                <td class="full wrapper last">
                    <table class="columns">
                        <tr>
                            <td align="center">
                                <center>

<img src="{{media url="wysiwyg/logo/payment-logo.png"}}" width="400" />

                                </center>
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>

{{template config_path="design/email/footer"}}