<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(6)
?>
<table class="row">
  							<tr>
  								<?php foreach ($_productCollection as $_product): ?>
    							<th class="small-6 large-4 columns">
      								<a href="<?php echo $_product->getProductUrl() ?>/?utm_source=store&utm_medium=email&utm_campaign=newsletter" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                    <img class="main-image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
            		</a>
                					<h2 class="product-name">
                	<a href="<?php echo $_product->getProductUrl() ?>/?utm_source=store&utm_medium=email&utm_campaign=newsletter">
            			<?php echo $this->htmlEscape($_product->getName()) ?>
            		</a>
                </h2>
                					<?php echo $this->getPriceHtml($_product, true) ?>
        							<p><small>Kode voucher berlaku sampai 24 Jam kedepan</small></p>
    							</th>
    							<?php endforeach ?>
  							</tr>	
</table>