
	<?php
$_categoryLabel = $this->getCategoryLabel();
$_categoryId = $this->getCategoryId();
$_category = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(5)
    
?>
	<h4 class="text-center"><?php echo $_categoryLabel ?></h4>
	<table class="callout" style="background:white">
  		<thead>
    <tr>
      <th width="50">Gambar</th>
      <th width="200">Nama</th>
      <th width="150">Fitur</th>
      <th width="150">Harga</th>
    </tr>
  </thead>
  		<tbody>
  			<?php $i=0; foreach ($_productCollection as $_product): ?>
        
    		<tr>
     			<td>
     					<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                    <?php $_imgSize = 500; ?>
                    <img height="300" width="300" id="product-collection-image-<?php echo $_product->getId(); ?>"
                         src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500,300); ?>"
                         alt="<?php echo $_category->getName();?>" />
                
                
               
                    
                </a>
     			</td>
      			<td>
      				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                    	<?php echo $this->stripTags($_product->getName(), null, true) ?>
                    </a>
                    
      			</td>
      			<td>
      				<?php echo $_product->getData('tech_overview');
      				
      				?>
      			</td>
      			<td>
      			<?php $price = $_product->getPrice();
$formatted = Mage::helper('core')->currency($price, true, false);
echo $formatted;
?>
                    </td>
      			
    		</tr>
    		<?php endforeach ?>
    		
  		</tbody>
	</table>
	 

<style>
	table thead tr th, table tbody tr td, table tfoot tr td {
    padding: 1.5rem;
}

table tbody tr{border-bottom:1px solid #eee}
</style>