<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(6)
?>

<tr>
    <td class="full padding-center">
       <table class="columns products-grid">
       		<tr>
       		 <h5 class="text-center">Featured Product</h5>
       		</tr>
            <tr>
                <?php foreach ($_productCollection as $_product): ?>
                <td class="product-info">
					<a href="<?php echo $_product->getProductUrl() ?>/?utm_source=email&utm_medium=sabtu-all-segmen&utm_campaign=sabtu-all-segmen" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                    <img class="main-image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
            		</a>
					<a class="product-name" href="<?php echo $_product->getProductUrl() ?>/?utm_source=email&utm_medium=sabtu-all-segmen&utm_campaign=sabtu-all-segmen">
            			<?php echo $this->htmlEscape($_product->getName()) ?>
            		</a>
               		<?php echo $this->getPriceHtml($_product, true) ?>
                </td>
                <?php endforeach ?>
                <td class="expander"></td>
            </tr>
    	</table>
    </td>
</tr>
<tr>
	<td class="full padding-center">
		<table class="button">
			<tr>
                <td>
                	<a class="text-center" href="<?php echo $_categoryUrl->getUrl() ?>/?utm_source=email&utm_medium=sabtu-all-segmen&utm_campaign=sabtu-all-segmen"><h5>Lihat Koleksi Selengkapnya ></h5></a>
                </td>
            </tr>
		</table>
	</td>
</tr>