

<?php

$terms = explode(',', $this->getCategoryId());
 
?>
<div class="row medium-up-3">
<?php foreach ($terms as $term):?>
	<?php 
               $_categoryUrl = Mage::getModel('catalog/category')->load($term); 
               $_file_name = $_categoryUrl->getData("sw_ocat_category_icon_image"); // Here $cat is category data array                
  $_media_dir = Mage::getBaseDir('media') . DS . 'catalog' . DS . 'category' . DS;
                $cache_dir = $_media_dir . 'homepage-tile' . DS; // Here i create a homepage-tile folder. for upload new category image
                        
   if (file_exists($cache_dir . $_file_name)) {
                             $catImg =Mage::getBaseUrl('media') .  'catalog' . DS . 'category' . DS . 'homepage-tile' . DS . $_file_name;
                         } elseif (file_exists($_media_dir . $_file_name)) {
                             if (!is_dir($cache_dir)) {
                                 mkdir($cache_dir);
                             }

                             $_image = new Varien_Image($_media_dir . $_file_name);
                             $_image->constrainOnly(true);
                             $_image->keepAspectRatio(true);
                             $_image->keepFrame(false);
                             $_image->keepTransparency(true);
                             $_image->resize(900, 643); // change image height, width
                             $_image->save($cache_dir . $_file_name);
                             $catImg = Mage::getBaseUrl('media') . 'catalog' . DS . 'category' . DS . 'homepage-tile' . DS . $_file_name;
                         }
 
 ?>
	<div class="columns">
		<div class="homepage-tile-container promo-container">
			<div id="loading" class="small-grid promo-banner-container">
					<a href="<?php echo $_categoryUrl->getURL();?>">
						<img src="<?php echo $catImg;?>" height="643" width="900">
						<div class="promo-banner-content padding-50 white text-center">
							<div class="bottom" style="position: absolute;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;">
							<div class="promotion">
								<?php echo $_categoryUrl->getData("sw_ocat_promotional_text");?>
							</div>
							</div>	
						</div>
						
					</a>
					
					</div>
		</div>
		
	</div>	
<?php endforeach;?>
</div>





					