<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->setOrder('id')
    ->setPageSize(10)
    
?>


<div class="row padding-center border-bottom">
		<div class="medium-12 columns">
		<div class="caption text-center">
			<h5>Trending</h5>
			<h3>NOW</h3>
		</div>
		
	</div>
		<div class="medium-12 columns">
    		<div id="homepage-product-center-slider" class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
    <?php foreach ($_productCollection as $_product): ?>
        <div class="columns products-grid   homepage-product item text-center">
            <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="300" width="300" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(275); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
            	
            </a>
            <div class="product-info">
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
            </h2>
			<?php echo $this->getPriceHtml($_product, true) ?>
			</div>
        </div>

      
    <?php endforeach ?>
     </div>
   		</div>
</div>

