<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>


<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
	<div class="block block-blog block-recent-posts megamenu-story">
		<?php if ($title = $this->getTitle()): ?>
			<div class="block-title text-left">
				<h4 class="uppercase"><?php echo $this->__($title) ?></h4>
			</div>
		<?php endif; ?>
		<div class="block-content">
			<div class="row medium-up-2" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item text-left">
					<div class="homepage-block-content-container">
					
				<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>">
						<img src="<?php echo $featuredImage->getMediumImage();?>" height="120" width="163" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
					</a>
				<?php endif; ?>
					<a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a>
				
					</div>
				</div>
			<?php endforeach; ?>
			</div>

		</div>
	</div>
<?php endif; ?>