<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
	<div class="border-top  padding-center">
		<div class="row">

			<div class="medium-12 columns">
		<div class="caption">
			<h4>NOW TRENDING</h4>
		</div>
		<div class="sidebar-block-content">
			<div class="row medium-up-1" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item">
					<div class="homepage-block-content-container">
						<div class="row">
							<div class="small-4 columns">
								<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>" target="_blank">
						<img src="<?php echo $featuredImage->getPostThumbnailImage();?>" height="440" width="600" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
					</a>
				<?php endif; ?>
							</div>
							<div class="small-8 columns">
								<a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>" target="_blank"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a>
				
							</div>
						</div>
				
					
					</div>
				</div>
			<?php endforeach; ?>
			</div>

		</div>
			</div>
		</div>
	</div>
<?php endif; ?>


