<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<section class="padding-center">
<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
	<div class="row">
		
	
		<div class="small-12 large-6 large-push-3 columns text-center">
  		<div class="caption">
			<h4>Read The Journal</h4>
			
		</div></div>
  		<div class="small-12 large-3 large-push-3 columns show-for-medium">
  		
		<div class="caption text-right small-text-center">
					<a href="/story" target="_blank" class="category-more">View All Journal <i class="fa fa-angle-right"></i></a>
				</div>
		</div>
		
		<div class="medium-12 columns store">
				<div class="homepage-block-content">
			<div class="row medium-up-3" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item">
					<div class="homepage-block-content-container">
					
					<div class="row">
						<div class="medium-12 small-5 columns">
							<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>">
		<img src="<?php echo $featuredImage->getThumbnailImage() ?>" width="700" height="500" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
	</a>
					<?php endif; ?>
						</div>
						<div class="medium-12 small-7 columns">
							<div class="journal-list-details">
							<h3><a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a></h3>
							<div class="author"><?php echo $post->getAuthor()->getDisplayName() ?> - <?php echo $post->getPostDate() ?></div>
					
							<p class="show-for-medium"><?php echo $post->getPostExcerpt(15) ?></p>
						</div>
						<a class="read-now" href="<?php echo $post->getPermalink() ?>">
						Read
					</a>
						</div>
					</div>
					
					
						
					
					</div>
					
				</div>
			<?php endforeach; ?>
			
			</div>

		</div>
				
			</div>
	</div>
<?php endif; ?>
</section>