/*Tools*/
.cursive{
font-family: 'Yellowtail', cursive !important;
}

body,h1,h2,h3,h4,h5,span,p{
font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.row.collapse{max-width:100%}
h4{
	font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.post-view h3,h3{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.5px;
}
p{font-size:14px;
line-height:1.5
}

.col-left-first{
padding:0rem 1.5rem;
margin-top:1rem
}
.col-left-first h5{
font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.sidebar .vertical.menu>li>a{
	color: #111111;
    display: block;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.3px;
    border-bottom: 1px solid #eee;
    padding: 7px 0;
    text-transform: none;
    
}

.pop-up{z-index:99999999999999999}
.box,.box-recent{border:1px solid #eee;padding:1rem;margin:0.5rem 0}
.menu.login a{    
	color: #111111;
    margin-left: 1rem;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight:600}
.background-primary{background:#bc9d62}
.menu.login a:hover{color:#cccccc}
.secure{color:green}
.align-right{text-align:right !important}
.border-bottom{border-bottom:1px solid #eee}
.border-left{border-left:1px solid #eee;border-right:1px solid #eee}
.border-right{border-right:1px solid #eee}
.social-media a{color:black;padding:0 0.5rem 0 0}
.is-accordion-submenu-parent>a:after{right:5px;}
.padding-center-double{padding:10rem 0}
.filter-content-black{
	background:rgba(74,74,74,0.2);
    
}
.promo-banner-content.filter-content-black:hover,.promo-banner-content.filter-content-black-0:hover{
background:rgba(74,74,74,0.5);
transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.filter-content-black-1{background:rgba(74,74,74,0.2)}
.sidebar .vertical.menu>li>a:hover{color:#bc9d62}
.sidebar .vertical.menu>li .child{    
	font-weight: 500;
    border-bottom: 0;
    text-transform: none;
    margin-left: 1rem;}
iframe{width:100%;max-width:100%}
.white, .white h1, .white h2, .white h3, .white h4, .white h5, .white h6 , .white p, .white span, .white a{color:white !important}
#padding-center,.padding-center{padding:2rem 0}
.menu-centered .menu{text-align:center}
.menu{margin:0}

.menu > li {
    display: inline-block;
}
.an-data,.item-options,.tab-content h2{display:none}
.collateral-tabs td,.collateral-tabs th{width:50%;border:1px solid #eee;padding:0.5rem 1rem}
.category-more{color:#a0a0a0;font-size:14px}
.more{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}
.toolbar label
{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.menu.vertical>li,.messages >ul>li,.success-msg,.success-msg>ul>li {
    display: block;
}


.messages{margin:0;padding:1rem;background:#eee;color:#111111;font-size:12px;font-weight:600}
.caption h5{    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
   
    letter-spacing: 5px;
	margin:0
}
.margin-bottom-1{margin-bottom:1rem}
.border-top{border-top:1px solid #eee}
.no-margin{margin:0}
.caption h3{
font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom:0.3rem;
    line-height:1

}
.selected,.selected:hover,.selected:focus{background:#eee}
p{color:#333333}
button,.button{
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.85em 2.5rem;
    margin: 0 0 1rem 0;
    font-size: 14px;
    background-color: #bc9d62;
    border:2px solid #bc9d62;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fefefe;
    margin-bottom:5px;
}
.button.secondary{border:2px solid #063241}
.button.google,.button.google:hover{background:#4285F4;border:1px solid #4285F4}
.button.facebook,.button.facebook:hover{background:#3b5998;border:1px solid #3b5998}
.buttons-set{text-align:right}
button:hover,.button:hover{
opacity:0.9}
button:focus,.button:focus{
outline: none !important;

}
.form-list{margin:0}
.form-list li,.form-list .input-box select{display:inline}
 
/* ============================================ *
 * Search Input
 * ============================================ */
#search_mini_form .input-box {
  position: relative;
  padding-top: 0;
}

#search_mini_form label {
  display: none;
}

#search {
  width: 100%;
  height: 40px;
  padding-right: 40px;
	border:2px solid #cacaca;
	font-size:12px;
	padding:10px;
	
}

#search_mini_form .search-button {
  text-indent: -9999px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: 0;
  background: none;
}

#search_mini_form .search-button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  background-position: 4px -146px;
}

#search_mini_form .search-button:hover:before {
  opacity: 0.8;
}

#search_mini_form .search-button:active:before {
  margin-top: -13px;
  margin-left: -13px;
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: border-box;
}
input[type=email], input[type=text],input[type=tel],input[type=password],optgroup, select, textarea{
	display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 2.3rem;
    padding: 0.5rem;
    border: 2px solid #cacaca;
    margin: 0 0 10px;
    background:white;
    font-size:12px;
}

input:focus, optgroup:focus, select:focus, textarea:focus{
	outline: none !important;
    border:2px solid #666666;
}


button.expanded,.button.expanded{width:100%}
.button.clean{
background:none;
color:white !important;
border:none;
border-bottom:2px solid white;
}
.button.white,.button.white:hover{
background:white;
color:black !important;
border:1px solid white;
}
.owl-banner-carousel .button.clean{padding:10px 15px !important}
.letter-spacing-1{letter-spacing:1px}
.uppercase{text-transform:uppercase !important}
.capitalize{text-transform: capitalize !important}
.big-text{font-size:60px !important;line-height:1 !important;margin-bottom:1rem}

.large-text{font-size:16px !important}
.small-text{font-size:12px !important}
.tiny-text{font-size:10px !important}
.close-button {
    position: absolute;
    color: #8a8a8a;
    right: 1rem;
    top: 0.5rem;
    font-size: 2em;
    line-height: 1;
    cursor: pointer;
}

.h1,h1{font-size:1.5rem}
.h2,h2{font-size:1rem}
/*Header*/
#advancednewsletter-subscribe-1{display:none}
.count{    
	position: absolute;
    top: 35px;
    right:0
    display: inline-block;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: #bc9d62;
  color:white;
    font-size: 10px;
    line-height: 15px;
    text-align: center;}
.top-bar{background:#222222;color:white;padding:5px 0;font-size:12px}
.links>ul>li{display:inline-block}
.level0:hover .mega-menu{display:block;}
.links .menu>li>a{
padding: 5px 10px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing:0.5px;
}
.menu.nav-primary a{color:#222222;
font-size:13px;
text-transform:uppercase;
font-weight: 500;
line-height:1.5rem
}
#nav{position:relative}
.primary-header-container{padding:1rem 0}
.navigation-container{border-top:1px solid #eee;border-bottom:1px solid #eee}
.navigation-container.sticky-header{
  	position: fixed;
    width: 100%;
    top: 0;
    z-index: 999999999999;
    background: white;
    -webkit-box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
    -moz-box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
    box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
    border-bottom: 1px solid #eee;
    }
.mega-menu{display: none;
    position: absolute;
    z-index:9999999999;
    width: 100%;
    left: 0;
    border-top: 3px solid #bc9d62;
    border-bottom: 1px solid #eee;
    min-height: 300px;
    background:#eee;
}
.breadcrumbs{background:#eee}
.breadcrumbs ul{
	margin: 0;
    padding: 3px .9373rem;
    max-width: 73rem;
    margin-left: auto;
    margin-right: auto;
    }
.breadcrumbs li{display:inline-block}
.breadcrumbs li a,.breadcrumbs{
    vertical-align: middle;
    font-weight: 400;
    color: #999999;
    font-size:10px;
    text-transform:none
}
.breadcrumbs li strong{color:#111111;text-transform:none}
.off-canvas-wrapper{background:#222222}

/*Homepage Slider*/
.footer-call-to-action{background:#bc9d62}
#loading,.promo-banner-container{max-width:100%;overflow:hidden}
.owl-banner-carousel .homepage-banner {    position: absolute;
    top: 0;
    text-align: center;
    font-style: normal;
    width: 100%;
    PADDING-TOP: 13%;
    HEIGHT: 100%;
 
    }


.owl-middle-narrow .owl-controls{position:absolute;left:0;width:100%;top:50%;margin-top:-25px}
.owl-middle-narrow .owl-controls .owl-buttons div{font-size:40px;background:none;color:#bc9d62;position:absolute;padding:1rem}

.owl-banner-carousel.owl-middle-narrow .owl-controls .owl-buttons div{opacity:0;transition:0.5s all}
.owl-banner-carousel.owl-middle-narrow:hover .owl-controls .owl-buttons div{visibility:visible;opacity:1;text-shadow:0 0 3px rgba(255,255,255,0.5)}
.owl-banner-carousel.owl-middle-narrow .owl-controls .owl-buttons div.owl-prev{left:0}
.owl-banner-carousel.owl-middle-narrow .owl-controls .owl-buttons div.owl-next{right:0}
.top-cat-desc{
	padding: 10px 0;
	margin-bottom:2rem}
.top-cat-desc h2{
font-size: 13px;
    color: #111111;
    font-weight: 600;
    width:65%;
    float:left;padding-right:5px;
    line-height:1;
}
.article-sidebar{padding:2rem}
.top-cat-desc .btn{
width: 35%;
text-align:center;
    float: left;
    background: white;
    color: #111111;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.top-cat-desc:hover .btn,.top-cat a:hover .btn{background:#bc9d62;color:white}
.brand-logo a img{padding:5px 1rem}

/*Product Category*/
	.promo-banner-container{position:relative;overflow:hidden}
	.promo-banner-content{
	position: absolute;
	overflow:hidden;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    padding: 2em;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	}
	
	.promo-banner-content .bottom{
	    position: absolute;
    	padding: 0;
    	bottom: 0;
    	left: 0;
    	width: 100%;
	}
	.promo-banner-content .bottom .promotion
	{
		background:rgba(0,0,0,0.3);	
		padding:5px;
	}
	
	.promo-banner-content h6{
	font-size: 15px;
    letter-spacing: 0.3px;
    margin-top: 1rem;
    line-height: 1;
    font-weight: 800;
	}
    .promo-banner-content h5{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 0;}
    .small-grid .promo-banner-content h3{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;}
    .promo-banner-content h3{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height:0.9;
    margin: 0;
    }
    .promo-banner-content h2,.promo-banner-content h1{
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height:1.1;
    margin-top:0.5rem
    }
    .promo-banner-content.padding-10{padding:10%}
    .promo-banner-content.padding-50{padding:15%}
    .promo-banner-content.padding-75{padding:25% 20%}
    .promo-banner-content-text{padding:10px 15px;margin-bottom:1rem}
    .promo-banner-content-text p
{
	color: #111111;
    text-align: center;
    line-height: 1.1;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}
.promo-banner-content-text a{
	color: #cccccc;
    font-weight: 600;
    font-size: 14px;
    font-style: oblique;
    line-height: 0;
}	
	.hover-active{display:none}
	.promo-banner-content:hover .hover-active{display:block}
	
    .small-grid .promo-banner-content a
    {
    font-size: 10px;
    color: #111111;
    border-bottom: 2px solid #bc9d62;
    text-transform: uppercase;
    line-height: 3;
    padding: 2px 0;
    letter-spacing: 1px;
    font-weight: 600;
    }
    .white .small-grid .promo-banner-content a{
    color:white;
    border-bottom:1px solid white;
    }
    .small-grid .promo-banner-content p{font-size:12px;margin:0}
    
.wp-caption{
font-size: 12px;
    font-style: italic;
    margin-bottom: 1rem;
}
.promo-sidebar-container{padding:0 2rem}
.promo-sidebar.fixed{position:fixed;top:0}
.full-width-image-banner p{font-size:15px}
.full-width-image-banner .row{max-width: 100%;
    background: rgba(0,0,0,0.3);}
.category-navigation a img{display:block;text-align:center;margin:auto}
.category-navigation h2 a,.category-navigation h2{margin:0;color:#111111;font-weight:600}
.category-navigation .menu >li a,.category-name{font-size:14px;color:#111111;font-weight:500;display:block;padding:5px 1rem;letter-spacing:0.3px}
.category-navigation .menu >li a:hover,.category-name:hover{color:#cccccc}
.product-info{padding:0 1rem}
.product-info h2.product-name a,.product-info h2.product-name, .products-grid h3.product-name,.products-grid h3.product-name a{
	color: #111111;
    text-align: center;
    line-height: 1.1;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 7px;
}
.col2-left-layout .products-grid .columns{padding:2rem 1rem;border-right:1px solid #eee}
.products-grid .ratings{display:none}
.category-products select{
    height: 1.5rem;
    width: 50px;
}
.products-grid .product-image img{padding:1rem 2rem}
.pages>ul{margin:0}
.pages>ul>li{display: inline-block;
    border: 2px solid #cacaca;
    font-size: 12px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;}
.pages>ul>li a{display:block}
.pages .current{border:2px solid #666666;}
.products-grid .columns:hover .product-info h2.product-name a{color:#bc9d62}
.price-box{line-height:10px}
.product-options-bottom .price-box,.product-options .required{display:none}

.old-price .price{font-size:12px;line-height:0;color:#ddd}
.special-price .price{font-size: 13px;
    line-height: 0;
    color: #bc9d62;
    font-weight: 600;}
.regular-price .price{font-size: 13px;
    line-height: 0;
    color: #bc9d62;
    font-weight: 600;}
.product-shop .regular-price .price{font-size:16px;margin-bottom:5px}
.price-box .old-price .price, .price-box .special-price .price {
    display: inline-block;margin:0;
}
/* -------------------------------------------- *
 * Price Box - Special
 */
.price-box .old-price,
.price-box .special-price {
  display: inline-block;
  margin:0;font-size:10px;
}
.price-box .old-price .price-label,
.price-box .special-price .price-label {
  display: none;
   margin:0
}
.price-box .old-price .price,
.price-box .special-price .price {
  display: inline-block;
   margin:0
}

.price-box .old-price .price {
  color: #a0a0a0;
   margin:0;
  text-decoration: line-through;
}



/*Single Product*/
.product-brand a{
	color: #cccccc;
    font-weight: 600;
    font-size: 14px;
    font-style: oblique;
    line-height:0
}
.product-brand a:hover{
text-decoration:underline;
}
.product-essential{margin-top:1.5rem}
.product-img-box .product-image{border:1px solid #eee;padding:2rem;margin:5px}
.add-to-cart{margin-top:1rem}
.std,.p,.std li{font-size:14px;color:#333333;line-height:1.4}

.price-label{display:none}
.box-collateral .products-grid .product-image img{padding:0}
#sync2 .synced .item{border:1px solid #ddd}
#sync2 .item{border:1px solid #eee;margin:5px}
.homepage-block-content a{
	color: #111111;
    line-height: 1.2;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    display:block}
.homepage-block-content p{color:#555555}
.homepage-block-content .author{
	font-size: 8px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #cccccc;
    font-weight: 600;
}
    
.homepage-block-content-container a:hover,.homepage-block-content-container:hover .homepage-block-content-container a{color:#bc9d62}
.sidebar-block-content a{
	color: #111111;
    line-height: 1.3;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
    display: block;
}
.category-header h1,
.page-title h1,
.page-title h2,
.product-name h1,
.product-name .h1 {
  	font-size: 1.7rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333333;
    line-height: 1.1;
}
.accordion-item:first-child > :first-child ,.accordion-item:last-child > :last-child{
    border-radius: 0;
}
:last-child:not(.is-active) > .accordion-title {
    border-radius: 0;
    border-bottom: 1px solid #e6e6e6;
}

.accordion-title:hover, .accordion-title:focus {
    background-color: white }
.accordion-content {
    padding: 1rem 0;
    font-size:12px;
    border: none;
    border-bottom: 0;
    background-color: white;
    color: #0a0a0a;
}
.accordion-title {
    padding: 10px 0;
    font-size: 10px;
    color: #111111;
    font-weight: 600;
    border: none;
    border-radius: none;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.short-description,.add-to-cart-wrapper{margin-top:1rem}
.availability{
	font-size: 12px;
    text-transform: none;
    letter-spacing: 0.3px;
    font-weight: 600;
    color: #063241;
    line-height: 1.1;
    margin-top: 0.5rem;
    margin-bottom: 0;
    }
.price-info .old-price .price,.price-info .special-price .price{font-size:15px;line-height:0}

/* -------------------------------------------- *
 * Icons
 */
.icon-sprite, .btn-remove2, .ratings .rating-box, .ratings .rating-box .rating, .sorter > .sort-by .sort-by-switcher, .sorter > .view-mode .grid,
.sorter > .view-mode .list, .skip-nav .icon, .skip-search .icon, #search_mini_form .search-button:before, .skip-account .icon, .skip-cart .icon, .product-view .sharing-links a, .review-summary-table .rating-box .rating-number:after, .ratings-table .rating-box, .ratings-table .rating-box .rating {
  background-image: url(https://wearinasia.com/skin/frontend/custom/default/images/icon_sprite.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
}

  .icon-sprite, .btn-remove2, .ratings .rating-box, .ratings .rating-box .rating, .sorter > .sort-by .sort-by-switcher, .sorter > .view-mode .grid,
  .sorter > .view-mode .list, .skip-nav .icon, .skip-search .icon, #search_mini_form .search-button:before, .skip-account .icon, .skip-cart .icon, .product-view .sharing-links a, .review-summary-table .rating-box .rating-number:after, .ratings-table .rating-box, .ratings-table .rating-box .rating {
    background-image: url(https://wearinasia.com/skin/frontend/custom/default/images/icon_sprite@2x.png);
    background-size: 100px 1000px;}

/* ============================================ *
 * Ratings - Global
 * ============================================ */
.ratings-table {
  font-size: 12px;
  text-transform: uppercase;
}
.ratings-table th {
  padding-right: 10px;
}
.ratings-table .rating-box {
  background-position: 0 -615px;
  background-repeat: repeat-x;
  height: 13px;
  overflow: hidden;
  text-indent: -9999px;
  width: 65px;
}
.ratings-table .rating-box .rating {
  background-position: 0 -600px;
  background-repeat: repeat-x;
  float: left;
  height: 13px;
  text-indent: -9999px;
}

/* -------------------------------------------- *
 * Ratings
 */
.ratings {
  margin: 7px 0;
}
.ratings .rating-box,
.ratings .rating-links {
  margin: 5px 0;
}
.ratings .rating-box {
  width: 65px;
  height: 13px;
  background-repeat: repeat-x;
  background-position: 0 -615px;
  overflow: hidden;
}
.ratings .rating-box .rating {
  float: left;
  height: 13px;
  background-repeat: repeat-x;
  background-position: 0 -600px;
}
.ratings .amount {
  display: block;
  margin: 5px auto;
}
.ratings .rating-links .separator {
  margin: 0 3px;
}
/* ============================================ *
 * EXPLORER
 * ============================================ */
.explorer-title{font-style:italic;color:#ccc}
/* ============================================ *
 * Checkout - Cart
 * ============================================ */
 .sidebar .block-content ul>li a{
 color: #111111;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.5px;
 }
 .sidebar .block-content ul>li a:hover{color:#bc9d62}
 .sidebar .block-content ul{margin:0}
.sidebar .block-content ul>li {display:block;
  color: #111111;
    font-size: 12p;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #cecece;
    padding: 15px 5px;
  }
#checkout-step-shipping_method dt,.checkout-help-block-title h4{font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;}
#checkout-step-shipping_method ul,#opc-payment dt,.order-review{margin:0;padding:1rem;border:1px solid #eee;background:white;font-size:12px}
#opc-payment dd{background:white}
.checkout-header-step-block{margin-bottom:0.5rem}
.step-container{background:#fafafa;border:1px solid #eee;padding:0.5rem;margin-bottom:1rem}
.step-container p{margin:0}
.step-container.active-step p{font-weight:600}
 .checkout-help-block-title,.checkout-help-block-content{padding:5px 10px}
 .checkout-help-block-title{border:1px solid #eee}
 .checkout-help-block-content{border-left:1px solid #eee;border-bottom:1px solid #eee;border-right:1px solid #eee}
 .remember-me-popup{display:none}
 table{width:100%;font-size:12px;text-align:left}
 #shopping-cart-totals-table{border-top:1px solid #eee;border-bottom:1px solid #eee;padding:1rem 0}
.cart .page-title {
  margin-bottom: 15px;
  border-bottom: 1px solid #ededed;
}
.cart .page-title:after {
  content: '';
  display: table;
  clear: both;
}
.cart .page-title h1 {
  float: left;
  border-bottom: none;
  margin-bottom: 6px;
  margin-right: 10px;
}
.checkout-onepage-index .page-title{display:none}
.checkout-types {
  float: right;
  text-align: right;
  max-width: 100%;
  /* We always want this shipping method to display on its own line */
}
.checkout-types li {
  vertical-align: top;
  margin: 0 0 5px 5px;
}
.checkout-types li:after {
  content: '';
  display: table;
  clear: both;
}
.checkout-types li img {
  display: inline;
  vertical-align: top;
}
.checkout-types li:first-child {
  margin-left: 0;
}
.checkout-types .method-checkout-cart-methods-multishipping {
  display: block;
}
.checkout-types.top li {
  display: inline-block;
}
.checkout-types.top .bml_button {
  display: inline-block;
  vertical-align: top;
}
.checkout-types.top .bml_button img {
  display: block;
}
.checkout-types.top .paypal-logo .paypal-or {
  margin-top: 5px;
}
.checkout-types.bottom .paypal-logo a, .checkout-types.minicart .paypal-logo a {
  display: block;
}
.checkout-types.bottom .paypal-or, .checkout-types.minicart .paypal-or {
  margin: 0px;
  display: block;
  text-align: center;
}
#checkout-review-table-wrapper{margin-bottom:1rem}
#checkout-review-table h3{font-size:12px}
#checkout-review-table tbody tr{border-bottom:1px solid #eee;height:2.5rem}
#checkout-review-table tfoot{border-bottom:1px solid #eee;}

.cart-table th,
.cart-table td,
.cart-table tbody td {
  border-bottom: none;
  vertical-align: top;
}
.cart-table h2,.cart-table h2 a{
  color: #111111;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 0;
  text-align:left;
}
.cart-table thead th,
.cart-table tbody td,
.orders thead th{
  background-color: transparent;
  padding: 15px 0px;
  text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-size: 10px;
}

.orders thead .number, .orders thead .date, .orders thead .ship,.orders thead .total{width:20%}
.orders thead th{
  text-align: left;   
}

.orders thead tr,.orders tbody tr{border-bottom:1px solid #eee;line-height:4}

.cart-table tr {
  border-bottom: 1px solid #eee;
  line-height:4
}
.cart-table tfoot tr {
  background: none;
}
.cart-table tfoot tr > td:after {
  content: '';
  display: table;
  clear: both;
}
.cart-table span.or {
  font-size: 9px;
  padding: 0 5px;
  text-transform: uppercase;
}
.cart-table .product-cart-image .cart-links,
.cart-table .product-cart-info .btn-remove,
.cart-table .product-cart-actions .button {
  display: none;
}
.cart-table .product-cart-image {
  padding-left: 0;
  padding-right: 0;
}
.cart-table .product-cart-image .product-image img {
  max-width: 100%;
  width: 100%;
}
.cart-table .product-cart-image a.cart-edit {
  display: none;
}
.cart-table .product-cart-sku {
  font-size: 8px;
  text-align:left
}
.cart-table .product-cart-sku .label {
  font-weight: 600;
}
.cart-table .btn-empty {
  float: left;
}
.cart-table .product-cart-total,
.cart-table .product-cart-price {
  text-align: center;
}
.cart-table .cart-tax-total {
  position: relative;
  cursor: pointer;
}
.cart-table .cart-tax-total:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #3399cc;
  border-left: none;
  position: absolute;
  top: 3px;
  right: -11px;
}
.cart-table .cart-tax-total.cart-tax-total-expanded:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid #3399cc;
  border-bottom: none;
  right: -15px;
  top: 6px;
}
.cart-table .cart-links > li {
  white-space: nowrap;
  line-height: 1.3;
  margin-bottom: 5px;
  min-width: 65px;
  font-size: 13px;
}
.cart-table .cart-links > li > a {
  display: block;
}
.cart-table .cart-links > li:last-child {
  margin-bottom: 0;
}
.cart-table .product-cart-actions {
  min-width: 60px;
  text-align: center;
}

.cart-table .product-cart-actions .button {
  margin-bottom: 5px;
}
.cart-table .item-options {
  padding-left: 15px;
}

.opc .section{display:none}
.opc .section.active{display:block;border:1px solid #eee;padding:1rem 2rem;background:#fafafa;min-height:400px}
.opc-block-progress-step-login .block-content dt,.opc-block-progress-step-login .block-content dd,.opc-block-progress-step-login .block-title{display:none}
.opc-block-progress-step-login .block-content .complete{
display: block;
    border-left: 1px solid #eee;
   	 border-right: 1px solid #eee;
   	  border-bottom: 1px solid #eee;
   font-size:12px;
    
    margin: 0;
    padding: 0.5rem 1rem;
}
.sp-methods li{display:block}

.product-collateral{margin-top:1rem}
  .product-collateral .toggle-tabs {
    display: block;
    width: 100%;
    position: relative;
    margin:0;
    text-align:center;
    border-bottom:1px solid #eee;
        border-top:1px solid #eee
  }
  
  .product-collateral .toggle-tabs li {
    display:inline-block;
  }
  .tabs{border:none;border-bottom:1px solid #eee}
  .product-collateral .toggle-tabs li > span {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: inline-block;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight:600;
    letter-spacing:1px;
    position: relative;
    bottom: -1px;
  }
  
  
 .pilih-produk label {
 border: 1px solid black;
    padding: 10px 15px;
    font-size: 10px;
    letter-spacing: 0.3px;
    font-weight: 600;
 }
 
 .pilih-produk li{display:inline-block;margin-right:5px;line-height:2.3;margin-bottom:5px}
  .product-collateral .toggle-tabs li.current {
   
    border-bottom:5px solid #bc9d62
  }
  
  .product-collateral .toggle-tabs li.current > span {
    background-color: #FFFFFF;
    z-index: 5;
  }
  .product-collateral .toggle-tabs li.current span,
  .product-collateral .toggle-tabs li:hover span {
    color: #bc9d62
  }
  .product-collateral .toggle-tabs li:first-child {
    border-left: none;
  }
  .product-collateral .toggle-tabs:after {
    content: '';
    display: table;
    clear: both;
  }
  .product-collateral > dl {
    width: 100%;
  }
  .product-collateral > dl > dt {
    display: none;
  }
  .product-collateral > dl > dd {
    width: 100%;
    display: none;
    padding: 15px;
  }
  .product-collateral > dl > dd.current {
    display: block;
  }




/*Footer*/
#checkout-footer-block{border-top:1px solid #eee}
#checkout-header-block{border-bottom:1px solid #eee;padding:1rem 0;margin-bottom:1rem}
.footer-before-container{margin-top:1rem;border-top:1px solid #eee}
.subscribe-container{padding:2rem 0 1rem 0;background:#eee}
.subscribe-container input[type=text]{height:2.5rem}
.subscribe-container h4{margin:0}
.footer-container{background:#222222;padding:2rem 0;color:white}
.block-title{margin-bottom:5px}
.footer-container p,.footer-container{font-size:14px}
.footer-container .menu > li > a {
    padding: 0;
    line-height: 1.5;
    display: block;
    font-size: 14px;
}

.post-view p,.post-view .std{font-size:17px}
.product-collateral p,.product-collateral std{font-size:14px}
.product-details a,.product-details h2{font-size:12px;text-transform:uppercase;letter-spacing:0.3px;color:#111111;font-weight:600;line-height:1}
.block-related .product{
    margin-bottom: 15px;
}
.block-related .block-title{font-size:14px;text-transform:uppercase;letter-spacing:0.3px;color:#111111;font-weight:600;line-height:1;padding:1rem 0}
.catalog-megamenu{padding:2rem !important}
.catalog-megamenu .columns{padding:5px}
.catalog-megamenu .block-content .row{
    margin-left: -5px;
    margin-right: -5px;
}

@media screen and (max-width: 39.9375em) {
.category-header h1, .page-title h1, .page-title h2, .product-name h1, .product-name .h1{font-size:1.3rem}
.category-header p{font-size:12px}
.mobile-menu,.off-canvas-wrapper,.off-canvas{background:#063241}
.mobile-menu >ul{margin:0}
.mobile-menu >ul>li {margin:0;display:block;border-bottom:1px solid #cccccc}
.mobile-menu .is-accordion-submenu-parent{background:#eee;}
.mobile-menu .is-accordion-submenu-parent a{color:black}
.mobile-menu >ul>li a{
	display: block;
    line-height: 5;
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: 10px;
    text-transform:uppercase;
    letter-spacing:1px
}

.mobile-menu .is-submenu-item a{
	font-weight: 500;
	line-height: 3;
	margin-left:1.5rem;
	text-transform:none;letter-spacing:0.3px
}
.mobile-menu >ul>li p{
	letter-spacing:1px;
	margin-bottom:0;
	font-weight: 600;
	line-height: 3;
	font-size: 10px;
	text-transform:uppercase;
	margin-left:1.5rem;
}
.navigation-container,.navigation-container.sticky-header{position:relative;
height:auto;
z-index:999999999999999999999;
width:100%;
background:#063241;
}
.big-text{font-size:25px !important;margin-bottom:0}

.promo-banner-content{padding:1rem}
.promo-banner-content h5{font-size:8px}
.promo-banner-content h3{font-size:20px}
.promo-banner-content h1{font-size:15px}
.promo-banner-content h2{font-size:15px;margin-top:5px}
.promo-banner-content h6,.promo-banner-content ul{font-size:12px;}
.promo-banner-content .button{
	padding: 5px 10px;
    font-size: 10px;
}

.category-navigation #toggle,.category-navigation #toggle-homepage{
padding: 11px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    background: #063241;
    color: white;
    font-weight: 600;
}
#toggle-filter{
background: #ccc;
    color: #333333;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 11px;
}

.show-category-navigation,.show-homepage-navigation,.show-filter-navigation{display:none}
.show-category-navigation.show,.show-homepage-navigation.show,.show-filter-navigation.show{display:block}
.category-navigation .menu > li{display:block;text-align:left}
.category-navigation .menu >li a{line-height:2.5;border-bottom:1px solid #cccccc;text-transform:uppercase;letter-spacing:2px;font-size:10px}

.show-category-navigation,.show-homepage-navigation{
	position: absolute;
    z-index: 9999999;
    background: #eee;
    top: 136px;
    width:100%;
}
.show-filter-navigation{
 border: 1px solid #eee;
 padding:20px;
}

#homepage-product-center-slider .columns{padding:0 !important}
.breadcrumbs{display:none}
.button.btn-cart,.btn-checkout,.buttons-set .button{
	width: 100%;
    bottom: 0;
    left: 0;}
.top-cat-desc h2{width:100%;text-align:center}
.top-cat-desc .btn{display:none}

.more{letter-spacing:1px}
.caption h5{font-size:8px}
.caption h3{font-size:17px}
.homepage-bar h4{font-size:8px;letter-spacing:0.3px}
/*Product Category*/

  #search{height:30px;
  border-radius:0;
  -webkit-appearance: none;
  }
  .primary-header-container{padding:0}

  .small-nav-container{
 border-bottom: 1px solid #eee;
    height: 3.5rem;
    padding: 15px 0;
  }
  .small-search-container{background: #eee;
    height: 2.5rem;
    padding:5px 0}
.products-grid .product-image img{padding:0.5rem 0}
.product-info h2.product-name a,.product-info h2.product-name{
	color: #111111;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 1;
    margin: 5px 0;
}
.product-info{padding:0 10px}
.homepage-product .product-info{margin-bottom:1rem}
.accordion-title{font-size:14px;padding:1rem 0}

/*Banner Category*/
.button.tiny {
    font-size: .6rem;
    padding: 0.4rem 1rem;
}
.owl-banner-carousel .homepage-banner{padding-top:35%}
.owl-banner-carousel .homepage-banner h5{
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom:0}
.owl-banner-carousel .homepage-banner h2{font-size:17px;margin-bottom:5px;text-transform:uppercase;letter-spacing:1px;font-weight:900}
.owl-banner-carousel .homepage-banner p{font-size: 15px !important;
    padding: 0 1rem;}
.owl-banner-carousel .homepage-banner a{font-size:12px}
.owl-banner-carousel .homepage-banner h6{font-size: 15px !important;
    padding: 0 1rem;}
.owl-banner-carousel .button.clean{font-size:8px;padding:5px 10px}

/*cart*/

  .cart-table colgroup, .cart-table thead {
    display: none;
  }
  .cart-table tr {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
  }
  .cart-table tr:after {
    content: '';
    display: table;
    clear: both;
  }
  .cart-table tr:last-child {
    margin-bottom: 0;
  }
  .cart-table tfoot tr {
    padding-bottom: 0;
  }
  .cart-table td {
    border: none;
    display: block;
  }
  .cart-table td[data-rwd-label] {
    padding-left: 15px;
    margin-bottom: 6px;
  }
  .cart-table td[data-rwd-label] .price {
    font-weight: normal;
  }
  .cart-table td[data-rwd-label]:before {
    content: attr(data-rwd-label) ":";
    font-size: 12px;
    padding-right: 5px;
    text-transform: uppercase;
  }
  .cart-table td.product-cart-price {
    text-align: left;
  }

  .cart-table .cart-links {
    padding-top: 5px;
    padding-right: 5px;
  }
  .cart-table .cart-links > li {
    white-space: normal;
    text-align: center;
  }
  .cart-table .cart-links > li > a {
    padding: 2px 0px;
  }
  .cart-table .cart-tax-info {
    font-style: italic;
    padding-left: 15px;
    font-size: 13px;
  }
  .cart-table .cart-tax-info .price {
    font-size: 13px;
  }
  .cart-table .product-cart-image {
    width: 25%;
    float: left;
    padding-bottom: 0;
  }
  .cart-table .product-cart-image a.cart-edit {
    display: block;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }
  .cart-table .product-cart-info,
  .cart-table td[data-rwd-label] {
    float: right;
    width: 75%;
    text-align:left
  }
  .cart-table .product-cart-actions,
  .cart-table .product-cart-price {
    padding-bottom: 0;
    padding-top: 0;
    float: right;
  }

  .cart-table .product-cart-total,
  .cart-table .product-cart-actions .cart-links {
    display: none;
  }
  .cart-table .product-cart-image .cart-links,
  .cart-table .product-cart-info .btn-remove {
    display: block;
  }
  .cart-table .product-cart-actions .button {
    display: none;
  }
  .cart-table .product-cart-info .btn-remove {
    float: right;
    margin: -4px 0px 2px 7px;
  }
  .cart-table .product-cart-info .product-cart-sku {
    margin-bottom: 5px;
  }
  .cart-table .product-cart-actions {
    text-align: left;
  }
  .cart-table .product-cart-actions .qty {
    margin-right: 7px;
    margin-bottom: 7px;
  }
  .cart-table .price,
  .cart-table .product-cart-price:before {
    font-weight: 500;
    font-size: 15px;
  }
  .cart-table .cart-footer-actions {
    text-align: center;
    width: 100%;
  }
  .cart-table .cart-footer-actions #empty_cart_button {
    float: right;
  }
  .cart-table .cart-footer-actions .btn-continue {
    float: left;
  }
  .cart-table .cart-footer-actions .btn-update,
  .cart-table .cart-footer-actions span.or {
    display: none;
  }

  .display-both-prices .cart-table td[data-rwd-tax-label]:before {
    content: attr(data-rwd-tax-label) ":";
  }

}





/* ============================================ *
 * General Navigation Styles
 * ============================================ */
.nav-primary a {

  position: relative;
  display: block;
}


.nav-primary .menu-active > ul.level0,
.nav-primary li.level0 li.sub-menu-active > ul {
  display: block;
}

.nav-primary li.level0 > a {
  text-transform: uppercase;
}
.nav-primary li.level0 > a:hover{color:#bc9d62}

/* ============================================ *
 * Small Viewports - Accordion Style Menu
 * ============================================ */
@media only screen and (max-width: 770px) {
.catalog-megamenu{padding:1rem !important}
.catalog-megamenu .columns{border:none}
.catalog-megamenu h4{font-size:10px}
.navigation-container .row{max-width:100%}
.nav-primary{display:none}
.skip-active .nav-primary{display:block}

	.nav-primary{margin:0;text-align:left !important}
	.nav-primary a.level0,
	.nav-primary a {
    line-height: 35px;
    font-size: 10px;
    font-weight: 600;
    border-bottom: 1px solid #333333;
    padding: 0 15px 0 25px;
    color: white;
    text-transform: uppercase;
  }
	.nav-primary .vertical.menu a{
	border:1px solid #eee !important}
  
  .nav-primary .menu-active > ul.level0,
  .nav-primary li.level0 li.sub-menu-active > ul{margin:0}
  .nav-primary li.level0 ul {
    display: none;
  }
  .nav-primary .level0{display:block}
  .nav-primary li.level0 li {
    padding: 0;
    display:inline-block;
  }
  .nav-primary li.level1 a {
    padding: 0 15px 0 25px;
    border-bottom:1px solid #222222;
  }
  .nav-primary li.parent > a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #cccccc;
    border-right: none;
    top: 50%;
    left: 10px;
    right: auto;
    margin-top: -5px;
  }
  .nav-primary li.parent.sub-menu-active > a:after,
  .nav-primary li.parent.menu-active > a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #cccccc;
    border-bottom: none;
    top: 50%;
    left: 10px;
    right: auto;
    margin-top: -5px;
  }
  .nav-primary li.level0 ul.vertical{
	display: block !important;
    position: relative;
	}
  
}
/* ============================================ *
 * Large Viewports - Dropdown Menu
 * ============================================ */
@media only screen and (min-width: 771px) {
  .nav-primary {
    margin:0;
  }
  .nav-primary a.level0{
    padding: .7rem 1.3rem;
    color: #111111;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  .nav-primary a.level0:hover{color:#bc9d62}
  .nav-primary a{color:#111111;
  padding:.7rem;
  font-size:14px;
  }
  .nav-primary .megamenu-story a,.megamenu-story p{padding:0;line-height:1.2;font-size:14px;margin-bottom:5px;margin-top:2px;font-weight:500 !important;display:block}
  .nav-primary .megamenu-story a:hover{color:#bc9d62}
  .nav-primary li.level0,
  .nav-primary a.level0 {
    display: inline-block;  
  }
  .megamenu-story{padding:0 1rem}
  .nav-primary li:last-child > a {
    border-bottom: none;
    color:#bc9d62;
  }
  
  
  .nav-primary li.level1 ul > li a:hover,.nav-primary a:hover,
  .nav-primary li:hover > a {
    color: #bc9d62;
  }
  .nav-primary .menu-active {
    z-index: 200;
  }
  .nav-primary li.level0 ul {
    background: #fafafa;
    border-right:1px solid #eee;
	border-left:1px solid #eee;
	border-bottom:1px solid #eee;
    border-top:2px solid #bc9d62;
    
    position: absolute;
    left: 0;
    /* Height of ".nav-primary a.level0" */
    z-index: 10;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    margin:0;
    min-height:300px;
    
    /* Hide until displayed. */
  }
  
	.nav-primary li.level0 ul.vertical{
	display: block !important;
    position: relative;
    min-height: none;
    border: none;
    padding: 0;
	min-height:0
		
	}


  
  .nav-primary li.level0 ul > li {
    display:block;
    text-align:left !important;
  }
   .nav-primary li.level0 ul > li a{
   font-weight:600;
   }
  .nav-primary li.level0 ul > li .megamenu-product{
  	font-size:10px;
	line-height:1.2;  
	padding:0 5px;
  }
  
.nav-primary li.level1 ul > li a{font-weight:500;padding:5px} 
  .nav-primary li.level1 ul {
  	width:66%;
  	top:0;
    border-top:none;
    left: 33.3%;
    height:100%;
    border:none;
    /* Height of ".nav-primary a.level0" */
    z-index: 999990;
    position:absolute;
    padding:5px;
    /* Hide until displayed. */
  }
  .nav-primary li.level1 ul>li{
  
  	display: block;
    width: 100%;
  }
  .nav-primary li.level0 ul.level0.position-test {
    display: block;
  }
  .nav-primary li.level0 ul.level0.spill {
    right: 0;
    left: auto;
  }
  
  .nav-primary li.level0 li.parent > a {
    position: relative;
  }
  .nav-primary li.level0 li.parent > a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #111111;
    border-right: none;
    right: 15px;
    top: 50%;
    margin-top: -3px;
  }

   .nav-primary li.menu-active > a,
  .nav-primary li.sub-menu-active > a {
   
    color:#111111;
    border-right:none;
  }
}
.nav-primary li.menu-active > ul {
  display: block;
}
