/* ============================================ *
 * General
 * ============================================ */


body{
    font-family:  "Gotham", Roboto, Arial, sans-serif !important;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;

    background:white;
}
#advancedreviews-notify{display:none}


.f-right{float:right !important}
.f-left{float:left !important}

.off-canvas-content{background:white}
h1,h2,h3,h4,h5,h6{
	font-family:  "Gotham", Roboto, Arial, sans-serif !important;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small{color:#333}
h1 {font-size:2.2rem !important}
h5{font-size:12px;text-transform:uppercase;font-weight:500}

fieldset{
	padding:0;
	margin:0;
	border:none;
}



.callout{
padding:2rem
}

.homepage-tile-container .callout{padding:3rem;background:rgba(255,255,255,0.9)}

.callout p{margin:0}
table{width:100%}


#checkout-review-table tbody{border:none}
#checkout-review-table .product-name{margin-bottom:0.5rem;font-size:10px}

table thead{text-transform:uppercase;font-size:12px;border-bottom:1px solid #eee;text-align:left}
table thead tr th,table tbody tr td,table tfoot tr td{
padding: 0.5rem;
}
.advancedreviews-summary-block table tbody tr td{padding:0.5rem}
table tbody{text-transform:uppercase;font-size:10px;text-align:left}
#checkout-review-table-wrapper table tbody,.totals table tbody{text-transform:unset}
.main-container{min-height:80vh}
.main-container.col2-left-layout{margin-top:1rem}
.cursive{font-family: 'Damion', cursive !important;}
.gotham{
font-family:  "Gotham", Roboto, Arial, sans-serif !important;
}
.mercury{
	font-family: Georgia, Times, "Times New Roman", serif !important; 
}
.padding-middle{padding:2rem}

.white-grey-bg{background:#f7f5f5}
.italic{font-style:italic !important}
.f500{font-weight:500 !important;}
.f600{font-weight:600 !important;}
.gold{color:#f57224 !important}
.maroon{color: maroon !important}
.navy, .navy p, .navy h1, .navy h2, .navy h3, .navy h4, .navy h5, .navy h6 ,.navy span{color:#063241 !important}
.row.collapse{max-width:100%}
.pop-up{z-index:99999999999999999}
.background-primary{background:#f57224}
.align-right{text-align:right !important}
.border-bottom{border-bottom:1px solid #eee}
.border-left{border-left:1px solid #eee}
.border-right{border-right:1px solid #eee}
.social-media a{color:black;padding:0 0.5rem 0 0}
.is-accordion-submenu-parent>a:after{right:5px;}
.padding-center-double{padding:10rem 0}
.padding-left-0{padding-left:0}
.padding-right-0{padding-right:0}

.margin-0{margin:0 !important}
.light-grey-bg{background:#fafafa}
.navy-bg{background:#063241}

.full-page-banner .promo-banner-content{
padding:10% 0
}

.half-page-banner .promo-banner-content{
padding: 0
}

.half-page-banner-promo .promo-banner-content{
padding:5% 0
}


.full-page-banner .promo-banner-container,.half-page-banner .promo-banner-container,.full-page-banner-custom .promo-banner-container-custom,.half-page-banner .promo-banner-container{
margin-bottom:0rem
}


#homepage-banner .promo-banner-container .promo-banner-content{
	padding:7% 10%;
}

#homepage-banner.journal .promo-banner-container .promo-banner-content{
padding: 10% 20%;
}



.promo-banner-content.filter-content-black-0:hover{
background:rgba(0,0,0,0.3);
transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.promo-banner-content.filter-content-black:hover{
background:rgba(0,0,0,0.9);
transition: background-color 0.2s ease-out, color 0.2s ease-out;
}


.filter-content-black-1{background:rgba(0,0,0,0.1)}
.filter-content-black-3{background:rgba(0,0,0,0.3)}
.filter-content-black-5{background:rgba(0,0,0,0.5)}
.filter-content-black-8{background:rgba(0,0,0,0.8)}



iframe{width:100%;max-width:100%}
.white, .white h1, .white h2, .white h3, .white h4, .white h5, .white h6 , .white p, .white span, .white a{color:white !important}
#padding-center,.padding-center{padding:2rem 0}
.padding-center-1{padding:1rem 0}
.menu-centered .menu{text-align:center}
.menu{margin:0}
.horizontal.menu {
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}

.menu, .menu.horizontal {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.form-list{margin-left:0}
.form-list li{display:block}


.star-name{width:30%}
.star-count{width:10%}
.star-line{width:70%}
.star-bar-container{background:#eee}
.star-bar{background:#f57224;height:12px}
		
		.tab-container ul.tabs{
			margin-left:0;
			margin-bottom: 1rem;
			padding: 0px;
			list-style: none;
			border-bottom:1px solid #eee
		}
		.tab-container ul.tabs li{
			display: inline-block;
    font-weight: 500;
    font-size: 12px;
    margin-right: 1.3rem;
    cursor: pointer;
    line-height: 40px;
    font-family: "Gotham", Roboto, Arial, sans-serif !important;
    font-size: 10px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
		}
		.tab-container ul.tabs li.is-active{
			border-bottom:2px solid #f57224;
			font-weight:500;
		}
		.tab-container .review-tab-content{
			display: none;
			
		}
		.tab-container .form-content{
			display: none;
			
		}
		
		.review-tab-content .box{
		border:1px solid #eee;
		padding:2rem 1rem;
		margin-bottom:1rem
		}

		.review-tab-content.is-active{
			display: block;
			padding:1rem 0rem;
			margin-bottom:1rem
		}
		
		.form-content.is-active{
			display: block;
		}

.horizontal.menu a {
    font-weight: 500;
    font-size: 12px;
    padding: 1rem;
    display:block;
    color:#333;
}
.horizontal.menu .is-active > a {
    background: none;
    border-bottom: 2px solid #f57224;
    color: #333;
}

.button.google,.button.google:hover{background:#4285F4;border:1px solid #4285F4}
.button.facebook,.button.facebook:hover{background:#3b5998;border:1px solid #3b5998}
button:focus,.button:focus{
outline: none !important;

}

.menu>li{display:inline-block}
.menu>li a{color:#333;font-size:12px;line-height: 1.5}
.menu>li a:hover,.menu.vertical .is-active a{color:#f57224}
.menu.vertical>li{display:block}

.border-menu.menu.vertical > li a{border-bottom: 1px dotted #eee;
    font-size: 12px;
    color: #333;
    display: block;
    line-height: 2.5;}

.category-more {
    color: #a0a0a0;
    font-size: 14px;
    text-transform: uppercase;
    
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}
.more{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 10px;
    
}
.tabs-panel{display:none}
.tabs-panel.is-active{display:block}
.remember-me-popup{display:none}

.padding-top-1{padding-top:1rem !important}
.padding-bottom-1{padding-bottom:1rem !important}
.margin-bottom-1{margin-bottom:1rem !important}
.margin-bottom-2{margin-bottom:2rem !important}
.margin-bottom-05{margin-bottom:0.5rem !important}
.border-top{border-top:1px solid #eee}
.no-margin{margin:0 !important}
.caption{margin-bottom:1.5rem}
.caption h4{
	
    font-weight: 600;
    line-height: 1.2;
    font-size: 25px !important;
   
    margin:0
}

.caption h3{
	font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    font-size: 35px !important;
    margin-top:0;
    margin-bottom: 0;

}

.caption h5{
	font-family: 'Damion', cursive !important;
	font-weight: 400;
    line-height: 1;
    font-size: 22px !important;
    margin-bottom: 0;
    text-transform: unset;

}

.caption p{

font-style:italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin:0;
}
.selected,.selected:hover,.selected:focus{background:#eee}


/* ============================================ *
 * Header
 * ============================================ */

.top-bar ul.dropdown > li > ul {
    display: none;
    background: white;
    position: absolute;
    z-index: 99;
    list-style: none;
    box-sizing: border-box;
    padding:1rem 0.5rem;
    right:0;
    min-width:200px;
    top:40px;
    border:1px solid #eee;
}
.top-bar ul.dropdown > li > ul  a{display:block}

.navigation-container {
  border-bottom: 1px solid #fafafa; }
  .navigation-container .menu {
    position: unset; }
    .navigation-container .menu.dropdown-megamenu-first{margin-bottom:1rem}
  .navigation-container .input-box {
    padding: 0.5rem 0; }
  .navigation-container ul.dropdown-megamenu > li a {
    text-decoration: none;
    padding: 0rem 0.7rem;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 3px solid white;
    font-weight: 600;
    height: 75px;
    line-height: 75px;
    color:#333;
    }
   
    
  .navigation-container ul.dropdown-megamenu > li a:hover {
    border-bottom: 3px solid #f57224;
    color:#f57224 }
  .navigation-container ul.dropdown-megamenu > li a.title {
    text-decoration: none;
    padding: 0;
    display: block;
    border-bottom: 3px solid white;
    color:#333}
  .navigation-container ul.dropdown-megamenu > li > ul {
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    z-index: 9999999999999999999999;
    left: 0;
    margin: auto;
    padding: 2rem 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0 4px 2px -2px rgba(176,176,176,0.5);
    -moz-box-shadow:0 4px 2px -2px rgba(176,176,176,0.5);
    box-shadow: 0 4px 2px -2px rgba(176,176,176,0.5);
    min-height: 270px;
    }
  .navigation-container ul.dropdown-megamenu-first > li a {
    text-decoration: none;
    padding: 0;
    display: block;
    text-transform: none;
    font-weight: 500;
    border-bottom: none;
    line-height: 1.5;
    height: unset; }
    
    
    
  .navigation-container ul.dropdown-megamenu-first > li a:hover {
    border-bottom: none;
    color: #f57224; }
  .navigation-container .megamenu-story a {
    text-decoration: none;
    padding: 0rem 1rem;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 3px solid white;
    font-weight: 500;
    height: none !important;
    line-height: none !important; }
 
 #search_mini_form .input-box {
  position: relative;
  padding: 1.3rem 0;
}

#search_mini_form label {
  display: none;
}

#search {
  width: 100%;
 
  padding-right: 40px;
	border:1px solid #cacaca;
	font-size:12px;
	padding:10px;
	background:#fafafa;
	
}

#search_mini_form .search-button {
  position: absolute;
    top: 15px;
    right: 10px;
    border: 0;
    height: 10px;
    width: 10px;
    line-height: 15px;
    background: none;
    color: #333;
}

#search_mini_form .search-button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  background-position: 4px -146px;
}

#search_mini_form .search-button:hover:before {
  opacity: 0.8;
}

#search_mini_form .search-button:active:before {
  margin-top: -13px;
  margin-left: -13px;
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: border-box;
}
input[type=email], input[type=text],input[type=tel],input[type=password],optgroup, textarea{
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  	width:100%;
  	margin-bottom:0.5rem;
    height:2.6rem;
    border: 1px solid #ccc;
    padding: 0.4em 2em 0.4em 0.6em;
    max-width: 100%;
    text-indent: 0.01px;
    text-overflow: '';
    border-radius:none;
    font-size:12px;
    color:#333;
}

select{
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: url('https://wearinasia.com/media/wysiwyg/logo/down.png') right 0.5em center no-repeat;
    background-size: 12px 8px;
    height:2.6rem;
    line-height:2.6;
    border: 1px solid #ccc;
    padding: 0.4em 2em 0.4em 0.6em;
    max-width: 100%;
    text-indent: 0.01px;
    text-overflow: '';
    margin-bottom:0.5rem;
    font-size:12px;
    color:#333;
    background-color:white
}

.count{    
	position: absolute;
    right:0;
    display: inline-block;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: #f57224;
  color:white;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    top:0}
.top-bar{background:white;color:#333;font-size:12px; border-bottom: 1px solid #eee}
.skip-content{position: absolute;
    
    width: 200px;
    right: 0;
    top: 27px;
    display:none;
    z-index:999;
    border:1px solid #eee;
    background:white;
    padding:1rem 0;
    text-align: left !important;}
.skip-content.show{display:block !important}
.links>ul>li{display:inline-block;position:relative}
.level0:hover .mega-menu{display:block;}
.links .menu>li>a{
	
	padding: 0px 10px;
    color: #333;
    text-transform: uppercase;
    font-size: 10px;
    
    letter-spacing:0.5px;
    display:block;
    font-weight:500;
    line-height:40px;height:40px
}
.header-usp{

text-transform:uppercase;
letter-spacing:1px;
line-height:40px;height:40px;
font-weight:600;
font-size:10px



}
.menu.nav-primary a{color:#222222;
font-size:13px;
text-transform:uppercase;
font-weight: 500;
line-height:1.5rem
}

.primary-header-container{padding:1rem 0}
.category-icon{margin-bottom:3px}
.navigation-container{border-bottom:1px solid #eee;position:relative}

.is-blog .navigation-container.sticky-header, .is-blog .top-bar.sticky-header{
position: unset;

}

.navigation-container.sticky-header{
  	position: fixed;
    width: 100%;
    top: 39px;
    z-index: 999999999999;
    background: white;
    -webkit-box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
    -moz-box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
    box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
    border-bottom: 1px solid #eee;
    }
.top-bar.sticky-header{
  	position: fixed;
    width: 100%;
    top: 0;
    z-index: 999999999999;
  
   -webkit-box-shadow: 0 4px 2px -2px rgba(176,176,176,0.5);
    -moz-box-shadow:0 4px 2px -2px rgba(176,176,176,0.5);
    box-shadow: 0 4px 2px -2px rgba(176,176,176,0.5);
    border-bottom: 1px solid #eee;
 
    }

.mega-menu{display: none;
    position: absolute;
    z-index:9999999999;
    width: 100%;
    left: 0;
    border-top: 3px solid #f57224;
    border-bottom: 1px solid #eee;
    min-height: 500px;
    background:#eee;
}
.catalog-category-view .breadcrumbs,.is-blog .breadcrumbs{display:none}
.breadcrumbs ul{
	margin: 0;
    padding: 3px .9373rem;
    max-width: 73rem;
    margin-left: auto;
    margin-right: auto;
    }
.breadcrumbs li{display:inline-block}
.breadcrumbs li a,.breadcrumbs,.breadcrumbs li strong{
    vertical-align: middle;
    font-weight: 500;
    color: #999999;
    font-size:10px;
    text-transform:lowercase;
    
}
.off-canvas-wrapper{background:#222222}
 
 /* ============================================ *
 * Footer
 * ============================================ */
 #checkout-footer-block{border-top:1px solid #eee}
#checkout-header-block{border-bottom:1px solid #eee;padding:1rem 0;background:white;margin-bottom:1rem}
.footer-before-container{border-top:1px solid #eee}
.subscribe-container{padding:2rem 0 1rem 0;background:#eee}
.subscribe-container input[type=text]{height:2.5rem}
.subscribe-container h4{margin:0}
.footer-container{background:#272727;padding:2rem 0;color:#999 !important}
.checkout-footer-container{background:white;padding:2rem 0;color:#999 !important;border-top:1px solid #eee}
.block-title{margin-bottom:5px;
font-family:'bold-font';
text-transform:uppercase;
font-size:12px;
}
.footer-container p,.footer-container{font-size:14px;color:#999 !important;font-weight:500 }
.footer-container .menu > li > a,.footer-container p{
    color:#999 !important;
    font-weight:500;
    padding:5px 0;
    font-size:12px;
   
}

.social-media a{
padding:0.5rem !important 
}

.checkout-footer-container .menu > li > a,.checkout-footer-container .footer-about-container p{
    color:#333 !important;
    font-weight:500;
    padding:5px 0;
     font-size:12px;
    
   
}

.product-name-grid{width:40%}
.unit-price-grid{width:30%}
.qty-grid{width:10%}
.subtotal-grid{width:10%}

.footer-container .menu > li > a:hover{color:white !important}

.checkout-footer-container .footer-about-container{border-bottom:1px solid #eee}
.checkout-footer-container .footer-about-container h5{color:#333}

.footer-about-container h5{color:white}
.footer-about-container{    border-bottom: 1px solid #444;

    margin-bottom: 1.5rem;}
 
 /* ============================================ *
 * Category
 * ============================================ */
 .sidebar .vertical.menu{border-bottom:1px solid #eee;padding-bottom:1rem}
 .product-container .cicilan-container,.homepage-product .cicilan-container{display:none}
 	#homepage-product-center-slider .product-container{padding:0 1rem}
	.product-container{padding:2rem;margin-bottom:1rem}
	.col2-left-layout .product-container {
  padding : 1.5rem;
  margin-bottom : 1rem;
  border : 1px solid rgb(238, 238, 238);
}


	.promo-banner-container{position:relative;overflow:hidden}
	.promo-banner-content{
	position: absolute;
	overflow:hidden;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	}
	.promo-banner-content-negative{position:relative !important}
	
	
	.small-grid .promo-banner-content{
	padding:27% 17%}
	
	.promo-bar {
		color:white;
		background:#063241;
		font-size:12px;
		text-transform:uppercase;
		text-align:center;
		padding:5PX;
		
	}
	
	
	.checkout.promo-bar{background:#333;color:#eee}
	
	.promo-banner-content .bottom{
	    position: absolute;
    	padding: 0;
    	bottom: 0;
    	left: 0;
    	width: 100%;
	}
	.promo-banner-content .bottom .promotion
	{
		    background: rgba(0,0,0,0.6);
    padding: 10px 7px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
	}
	
	
	
	.promo-banner-content h6{
	font-size: 15px;
    letter-spacing: 0.3px;
    margin-top: 1rem;
    line-height: 1;
    font-weight: 800;
	}
    .promo-banner-content h5{
    font-size: 12px;
    text-transform: uppercase;
    
    letter-spacing: 5px;
    margin: 0;
    font-weight:500}
    
    .small-grid .promo-banner-content h5{
    font-size: 12px;
    color: white !important;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    }

    .grid-2.small-grid .promo-banner-content h5{
        font-size: 8px;
    color: white !important;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-weight: 600;

    }

    .grid-2.small-grid .promo-banner-content h3 {
        font-size: 17px;
        margin-bottom: 0.5rem;
        font-weight: 600;
        letter-spacing: 0px;
    }

    .grid-2.small-grid .promo-banner-content {
        padding: 25% 17%;
    }
    
    .grid-2 .promo-banner-content .bottom .promotion{

        background: rgba(0,0,0,0.6);
    padding: 7px;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    }


    .small-grid .promo-banner-content .parrent-category{
    font-size:14px;
    font-family: Georgia, Times, "Times New Roman", serif !important;
    font-style:oblique
    }
    
    .small-grid .promo-banner-content .short-desc{
    font-size:14px;
    font-family: Georgia, Times, "Times New Roman", serif !important;
    margin-bottom:1.5rem;
    }
    
    .small-grid .promo-banner-content h3{
    font-size: 24px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing:0
   
    }
    .hero-banner-container{padding:20%}
    .small-grid .promo-banner-content h3.cursive,.hero-banner-container h3.cursive{
    font-size: 30px;
    letter-spacing: 0;
    margin-bottom: 0.5rem;
    font-family: 'Damion', cursive !important;
    
   
    }
    .promo-banner-content h3{
    font-size: 30px;
    
    letter-spacing: 1px;
    line-height:1;
    }
    
    .promo-banner-content h3.cursive{
    font-size: 50px;
    letter-spacing: 0;
    margin-bottom: 0.5rem;
    font-family: 'Damion', cursive !important;
    text-transform: capitalize;
    
    }
    
    .promo-banner-content h2,.promo-banner-content h1{
    font-size: 2.7rem !important;
    letter-spacing: 0.5px;
    line-height: 1.1;
    margin-top: 0.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    }
    
    

.journal .promo-banner-content h2{
	font-size: 1.5rem;
}
    
    .promo-banner-content.padding-10{padding:10%}
    .promo-banner-content.padding-50{padding: 20% 10%;}
    
    
    
    #homepage-banner .promo-banner-content.padding-50{padding: 15% 10%;}
    .promo-banner-content.padding-75{padding:30% 20%}
    .promo-banner-content-text{padding:15px 5px;margin-bottom:1rem;text-align:center}
    .promo-banner-content-text p,.promo-banner-content p
{
	font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
    color: #333;
    text-transform:none;
    font-family: Georgia, Times, "Times New Roman", serif;;
    letter-spacing: 0.5px;

    
    
}	
.promo-banner-content .author{font-weight:600}
.hero-product {
    color: #333111 !important;
    text-align: center;
    line-height: 1.1;
    font-size: 15px;
    text-transform: uppercase;
    
    margin-bottom: 7px;
    font-weight: 600;
    padding: 1rem 2rem;
    display: block;
}
.button .cta-btn{background:black}
.homepage-tile-container:hover .promo-banner-content-text .button.black{background-color:#f57224}
.promo-banner-content-text a{
	color: #333111;
    text-align: center;
    line-height: 1.1;
    font-size: 13px;
    text-transform: uppercase;
    
    margin-bottom: 7px;
    font-weight:600;
}

.shop-now,.read-now{
	color: #333;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}
.homepage-tile-container.promo-container:hover .shop-now{color:#f57224}
.homepage-tile-container.promo-container{margin-bottom:2.5rem}
.promo-details {
    border-bottom: 1px dotted #ccc;
    padding:0.5rem 0;
}

.homepage-block-content .journal-list-details{
	border-bottom: 1px dotted #ccc;
    margin-top: 0.5rem;
}
.promo-details h3{
	line-height: 1.2;
    display: block;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #333;
}	
.promo-details p{
    line-height: 1.5;
    font-family: Georgia, Times, "Times New Roman", serif;;
    
    font-size: 12px;
    margin-bottom:1rem;
}

.homepage-block-content p{
    line-height: 1.5;
    font-family: Georgia, Times, "Times New Roman", serif;;
    
    font-size: 14px;
    margin-bottom:1rem;
    min-height:40
}

	.promo-banner-content:hover .hover-disable, .hover-active{display:none}
	
	.promo-banner-content:hover .hover-active,.hover-disable{display:block}
	
    .small-grid .promo-banner-content a
    {
    font-size: 10px;
    color: #333111;
    border-bottom: 2px solid #f57224;
    text-transform: uppercase;
    line-height: 3;
    padding: 2px 0;
    letter-spacing: 1px;
    
    }
    .white .small-grid .promo-banner-content a{
    color:white;
    border-bottom:1px solid white;
    }
    .small-grid .promo-banner-content p{font-size:12px;margin-bottom:5px;display:none}
    .small-grid .promo-banner-content h6{font-size:12px}
 
 .product-shop .price-box .old-price,
.product-shop .price-box .special-price {
  display: inline;
  margin:0;font-size:10px;
  
}

.price-box .old-price,
.price-box .special-price {
  display: inline-block;
  margin:0;font-size:10px;
  
}
.price-box .old-price .price-label,
.price-box .special-price .price-label {
  display: none;
   margin:0
}

.price-box .old-price .price {
  color: #a0a0a0;
   margin:0;
   font-weight:500;
   
   font-size:10px !important;
   margin-right:2px;
  text-decoration: line-through;
  line-height:1.5
}
 
 /* ============================================ *
 * Product
 * ============================================ */
 .free_product{cursor: pointer;}
 .free_product:hover{color:#666;}

 .custom-info{margin-top:1rem}
 
 
 .col2-left-layout .product-info {
  min-height : 120px;
}
 
.product-info .product-brand{margin-bottom:5px}
.product-brand a{
	color: #999999;
    font-weight: 500;
    font-size: 11px;
    font-style: italic;
    line-height:0;
    
   
}
.facebook-cover{
height:60px;width:60px;background-size: cover;border-radius:100%
}
.no-pick{height: 60px;
    width: 60px;
    border-radius: 100%;
    background: black;
    line-height: 60px;
    margin: auto;
    text-align: center;
    
    }
.product-shop .product-brand a{font-size: 12px;
    font-weight: 100;
    
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;}
.product-brand a:hover{
text-decoration:underline;
}
.experience-store a{color:#333 !important}
.product-img-box{position:relative}
.product-img-box .product-image{padding:0rem 1rem;margin-bottom:5px}
.add-to-cart{margin-top:1rem}
.price-label{display:none}
.box-collateral .products-grid .product-image img{padding:0}
#sync2 .synced .item{border:1px solid #ddd}
#sync2 .item{border:1px solid #eee;margin:5px}


.homepage-block-content .journal-list-details a,.store .homepage-block-content .journal-list-details a{
	line-height: 1.2;
    display: block;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #333;
    min-height:40px
    }

    


.homepage-block-content .author{
	font-size: 8px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #cccccc;
    
}  
.homepage-block-content-container{margin-bottom:2rem}
.homepage-block-content-container a:hover,.homepage-block-content-container:hover .homepage-block-content-container a{color:#f57224}
.sidebar-block-content a{
	color: #333111;
    line-height: 1.3;
    font-size: 10px;
    text-transform: uppercase;
    
    letter-spacing: 1px;
    margin-bottom: 15px;
    display: block;
}


.page-title h1,
.page-title h2{
  	
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.3em;
    color: #333;
    font-size: 21px !important;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.category-header h1
{
  	font-weight: 600;
    text-transform: uppercase;
    font-size: 27px !important;
    letter-spacing: 2px;
    margin-bottom: 0rem;
}
.product-name h1{
	
    color: #333;
    line-height: 1.1;
    font-size: 27px !important;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.accordion-item:first-child > :first-child ,.accordion-item:last-child > :last-child{
    border-radius: 0;
}
:last-child:not(.is-active) > .accordion-title {
    border-radius: 0;
    border-bottom: 1px solid #e6e6e6;
}

.accordion-title:hover, .accordion-title:focus {
    background-color: white }
.accordion-content {
    padding:0.7rem 0.5rem;
    font-size:12px;
    border: none;
    border-bottom: 0;
    background-color: white;
    color: #0a0a0a;
}

.product-view .accordion-title {
    padding: 12px 0;
    font-size: 10px;
    color: #333111;
    
    border: none;
    font-weight:600;
    border-radius: none;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.general-page .accordion-title
{
padding: 15px 0;
    font-size: 14px;
    color: #333;
    
    border: 0;
    border-radius: none;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    
    font-weight: 500;
    line-height: 1.5;
    text-transform:none;
    letter-spacing:0px
}

.general-page .accordion{margin-bottom:2rem}
.add-to-cart-wrapper{margin-top:1rem}
.availability {
    font-size: 10px;
    text-transform: none;
    font-weight: 100;
    color: #333;
    line-height: 1.1;
    margin-top: 5px;
    margin-bottom: 0;
    
    border: 1px solid #eee;
    display: inline;
    padding: 3px 5px;
}
.price-info{margin-bottom:5px}
.price-info .old-price .price,.price-info .special-price .price{font-size:20px;line-height:1.4}
.megamenu .row{margin:auto}
 
.megamenu .row .row {
    margin-left: -.4375rem;
    margin-right: -.4375rem;
}
 
 /* ============================================ *
 * Cart
 * ============================================ */
 
 h5.cart-product-name a{color:#333;font-size:10px;margin-bottom:0.5rem !important}
 .btn-checkout{width:100%}
 #checkout-review-table-wrapper img{background:white;border:1px solid #eee}
 .item-msg.error{text-transform:none;color:#f57224}
 /* ============================================ *
 * Checkout
 * ============================================ */
#checkoutSteps,.cart-container,#checkout-review-table-wrapper{
font-size: 12px;
margin-bottom:1rem;
-webkit-box-shadow: 0 1px 3px 0 rgba(27,27,27,.1);
    box-shadow: 0 1px 3px 0 rgba(27,27,27,.1);
    border-radius: 4px;
    background:white;
}

#checkout-review-table-wrapper,.cart-collaterals{background:white}
.step-title{background:#063241}
.checkout-cart-index .row,.checkout-onepage-index .row{max-width: 60rem;}


.checkout-onepage-index .main-container,.checkout-cart-index .main-container{padding-top:1rem}

#checkout-step-shipping_method .tab-content{padding:0;background:none}
#checkout-step-shipping_method ul{padding:0 !important}

#checkoutSteps input[type=checkbox], input[type=radio]{margin-bottom:1rem}
#checkoutSteps .section{display:none}
#checkoutSteps .section.active{display:block}
#checkoutSteps ul{margin:0;list-style-type:none;margin-bottom:0 !important;padding:1rem}

#checkoutSteps h4,.checkout-review-table-wrapper h4,.cart h4{line-height:2;border-bottom:1px solid #eee;margin-bottom:1.5rem}
.checkout-step{margin-bottom:1rem !important;font-size:12px}
.checkout-step > li{display:inline-block}
.checkout-step > li a{color:#999;margin-right:0.5rem}
.checkout-step .is-active a{color:white}


#checkout-step-payment dd ul{padding:2.5rem;margin-bottom:1rem;background:white}
#checkout-step-payment dd ul h3{display:none}
#checkout-step-shipping_method dd{margin-bottom:1rem}
#shipping-progress-opcheckout ,#shipping_method-progress-opcheckout,
.cart-collaterals .totals,.cart-collaterals .voucher-container
{border-top: 1px solid #eee;
    padding: 1.5rem;}

.checkout-cart-summary,.discount{padding:1rem}
 

.cart-checkout-header{padding:0.5rem 0}

#checkout-step-shipping_method dd{margin:0}
#checkout-step-shipping_method .tab-content{padding:0;background:none}




#opc-payment dt label, .sp-methods dt label, .sp-methods dd label{
    width: 100%;
    background: white;
    padding: 1rem 2rem !important;
    margin-bottom:0;
    margin-top:0.5rem;
    -webkit-box-shadow: 0 1px 3px 0 rgba(27,27,27,.1);
    box-shadow: 0 1px 3px 0 rgba(27,27,27,.1);
    border:1px solid #ccc;
    border-radius:4px 
}
.checkout-step-content{padding:2rem}
#checkout-step-payment dd ul{
border-top:1px solid #eee;
padding:1rem
}

 
.checkout-onepage-index .main-container,.checkout-cart-index .main-container{
background:#eee;
}



#checkout-step-payment input[type=checkbox], #checkout-step-payment input[type=radio],
#checkout-step-shipping_method input[type=checkbox], #checkout-step-shipping_method input[type=radio]
{
margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 0;
}

 
 
 



#checkout-step-shipping_method [type="radio"]:checked,#checkout-step-shipping_method [type="radio"]:not(:checked),
#checkout-step-payment [type="radio"]:checked,#checkout-step-payment [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}


#checkout-step-shipping_method [type="radio"]:checked + label,
#checkout-step-shipping_method [type="radio"]:not(:checked) + label,
#checkout-step-payment [type="radio"]:checked + label,
#checkout-step-payment [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #333;
    width:100%
}

#checkout-step-shipping_method [type="radio"]:checked + label:before,
#checkout-step-shipping_method [type="radio"]:not(:checked) + label:before,
#checkout-step-payment [type="radio"]:checked + label:before,
#checkout-step-payment [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 7px;
    top: 17px;
    width: 18px;
    height: 18px;
    border: 2px solid #063241;
    border-radius: 100%;
    background: #fff;
}

#checkout-step-shipping_method [type="radio"]:checked + label:after,
#checkout-step-shipping_method [type="radio"]:not(:checked) + label:after,
#checkout-step-payment [type="radio"]:checked + label:after,
#checkout-step-payment [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #063241;
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    line-height: 12px;
}

#checkout-step-shipping_method [type="radio"]:not(:checked) + label:after,
#checkout-step-payment [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

#checkout-step-shipping_method [type="radio"]:checked + label:after,
#checkout-step-payment [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.shipping-title label,.payment-title label{padding-left:0px !important}
.shipping-title label::before,.shipping-title label::after,
.payment-title label::before,.payment-title label::after
{display:none}
 
#opc-payment dt, .sp-methods dt{border-radius:4px} 
 
	
	#checkout-shipping-method-load .sp-methods > dd > ul > li .price{
	display:block
	}

		#checkout-step-shipping_method ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
			background:white
		}
		#checkout-step-shipping_method ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
			width:50%;
			text-align:center;
			margin-right:0;
		}
		#checkout-step-shipping_method ul.tabs li.current{
			background: white;
			color: #222;
			border-bottom: 2px solid #063241;
		}

		#checkout-step-shipping_method .tab-content{
			display: none;
			background: white;
			padding: 0px;
		}

		#checkout-step-shipping_method .tab-content.current{
			display: inherit;
		}

.step-count{   
    
    width: 15px;
    height: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: #999;
    color: black;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    display: inline-block;}
    
.is-active .step-count{
background-color: white;
    color: black;
}

.info-ship{font-size:13px;line-height:1.5;}
.fast-ship{font-size:10px;line-height:1.2;padding:0 20px;}
.fast-ship-a{border-bottom:1px dotted #ccc;font-size:10px;line-height:1.2}
        

input:focus, optgroup:focus, select:focus, textarea:focus{
	outline: none !important;
    border:1px solid #666666;
}


button.expanded,.button.expanded{width:100%}
.button.hollow.transparant {
    border: 2px solid white;
    color: white;
}
.button.clean{
background:none;
color:white !important;
border:none;
border-bottom:2px solid white;
}
.button.white,.button.white:hover{
background:white;
color:black !important;
border:1px solid white;
}
.owl-banner-carousel .button.clean{padding:10px 15px !important}
.letter-spacing-1{letter-spacing:1px}
.uppercase{text-transform:uppercase !important}
.capitalize{text-transform: capitalize !important}
.big-text{font-size:60px !important;line-height:1 !important;margin-bottom:1rem}

.large-text{font-size:16px !important}
.small-text{font-size:12px !important}
.tiny-text{font-size:10px !important}

.close-button {
    position: absolute;
    color: #8a8a8a;
    right: 1rem;
    top: 0.5rem;
    font-size: 2em;
    line-height: 1;
    cursor: pointer;
}

.h1,h1{font-size:1.5rem}





/*Homepage Slider*/

  .reveal{outline:none}
.footer-call-to-action{background:#f57224}
#loading,.promo-banner-container{max-width:100%;overflow:hidden}
.owl-banner-carousel .homepage-banner {    position: absolute;
    top: 0;
    text-align: center;
    font-style: normal;
    width: 100%;
    PADDING-TOP: 13%;
    HEIGHT: 100%;
 
    }

.activity-container p{margin: 0;
    font-size: 18px;
    font-family: Georgia, Times, "Times New Roman", serif !important ;
    font-style: italic;
    
    }
.product-usp{margin:0}
.product-usp li{display:table-caption}
.product-usp-icon {
    text-align: center;
    font-size: 8px;
    color: #063241 !important;
    font-weight: 600;
    line-height: 1.3;
    padding: 5px;
    text-transform: none;
    border: 2px solid #f57224;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
}

.product-options .required{display:none}
	#toggle-filter-product,#toggle-filter-product-less{cursor: pointer;color:#f57224;}
	.show-filter-navigation-product.show,.show-category-navigation.show{display:block}
	
.show-filter-navigation .filter-container .vertical.menu{
	max-height:210px;
    overflow:auto;	

}

	::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
	
	
.product-model-title{
	padding: 10px 0;
    font-size: 10px;
    color: #333111;
    
    border: none;
    font-weight: 600;
    border-radius: none;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    letter-spacing: 1px;}
.product-model{padding:0rem 5px;border:1px solid #eee;margin-bottom:5px}
.product-model:hover{border:1px solid #666}
	.product-model,.product-model-name{font-size: 11px;
    line-height: 1.3;
    color:#333;
    font-weight:500;
    
}
.product-model-product-details{padding:1rem 0}
.product-model-product-details .regular-price .price{font-size:10;}
.product-model-product-details a{margin-bottom:5px}
.product-usp-icon span:hover{text-decoration:underline}
#homepage-product-center-slider .owl-carousel .owl-item{opacity:0.1}
.owl-carousel .owl-item img{width:auto !important}
.owl-carousel .owl-item{opacity:0.4;    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);}
.owl-carousel .owl-item.active{opacity:1;-webkit-filter: grayscale(0);
    filter: grayscale(0);}
.owl-middle-narrow .owl-nav{position:absolute;left:0;width:100%;top:50%;margin-top:-25px}
.owl-middle-narrow .owl-nav .owl-buttons div{font-size:40px;background:none;color:#f57224;position:absolute;padding:1rem}
#homepage-banner.owl-middle-narrow .owl-dots {position:absolute;left:0;width:100%;bottom:20px}
.owl-theme .owl-dots .owl-dot span{border:2px solid white;background:none}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background:white}
.owl-theme .owl-nav.disabled + .owl-dots{margin:0}
.owl-middle-narrow .owl-nav div.owl-prev{left:0;position: absolute;}
.owl-middle-narrow .owl-nav div.owl-next{right:0;position: absolute;}
.media.owl-theme .owl-nav [class*='owl-']
{
	
	font-size: 20px;
    background: none;
    color: #cccccc;
}

.media.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #cccccc;
    background: none;
}

.media.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background:#cccccc}
.success-msg,.error-msg
{
    list-style-type: none;
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif !important; 
    color: white;
    padding: 1rem;
    background: rgba(0,0,0,0.8);
    color: white;
    font-size: 12px;
    font-weight: 100;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    text-align:center;
    z-index:999999999999999999999999999999999;
}
.error-msg{

    color:#f57224;
    
}
.success-msg ul,.error-msg ul{display:block;list-style: none;}

.media.owl-middle-narrow .owl-dots {position:relative;left:0;width:100%;bottom:0}

#homepage-product-center-slider.owl-theme .owl-nav [class*='owl-'],#homepage-banner .owl-nav [class*='owl-'],#category-slider.owl-theme .owl-nav [class*='owl-']  {
    color: #333;
    font-size: 14px;
    margin: 5px;
    background: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    height: 40px;
    padding: 0 !important;
    border-radius:100% !important;
}

#homepage-product-center-slider.owl-theme .owl-nav [class*='owl-']{
color: white;
background: #333;
}

#homepage-product-center-slider.owl-theme .owl-nav [class*='owl-'].owl-prev{
left:5%
}
#homepage-product-center-slider.owl-theme .owl-nav [class*='owl-'].owl-next{
right:5%
}

.top-cat-desc{
	padding: 10px 0;
	margin-bottom:2rem}
.top-cat-desc h2{
font-size: 13px;
    color: #333111;
    
    width:65%;
    float:left;padding-right:5px;
    line-height:1;
}
.article-sidebar{padding:2rem}
.top-cat-desc .btn{
width: 35%;
text-align:center;
    float: left;
    background: white;
    color: #333111;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    
    letter-spacing: 0.5px;
}
.top-cat-desc:hover .btn,.top-cat a:hover .btn{background:#f57224;color:white}
.brand-logo a img{padding:5px 1rem}
.logo{height:60px;line-height:95px}
.logo h1{line-height:50px}

/*Product Category*/

    
.wp-caption{
	font-size: 12px;
    font-style: italic;
    max-width:100%;
    line-height:1.2 !important;
    text-align:center;
    margin:2rem auto;
    color:#999;
    font-family: Georgia, Times, "Times New Roman", serif;;
}
.sip-wrapper{margin-bottom:2rem}
.wp-caption img{width:100%;margin-bottom:0.5rem}
p img.size-full, p img.size-large{
max-width: 100% !important;}
.promo-sidebar-container{padding:0 2rem}
.promo-sidebar.fixed{position:fixed;top:0}
.full-width-image-banner p{font-size:15px}
.full-width-image-banner .row{max-width: 100%;
    background: rgba(0,0,0,0.3);}
    .wordpress-index-index .journal-category-navigation {
    border-bottom: none;
    padding: 1rem 0;
    }
    .wordpress-index-index .journal-category-navigation-container{border-bottom:none}
   
    
.journal-category-navigation-container{border-bottom:1px solid #eee;padding:1rem 0}

.journal-category-navigation h2
{
font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin:0;
    font-weight:600;
}
.journal-category-navigation .menu >li a,.category-name{font-size:12px;color:#333111;;display:block;padding:5px 1rem;text-transform:uppercase;font-weight:500
}
.category-navigation .menu >li a:hover,.category-name:hover,.journal-category-navigation .menu >li a:hover{color:#cccccc;}

.product-name{margin-bottom:1.5rem}


.extra-info{margin-bottom:1rem}
.product-info h2.product-name a,.product-info h2.product-name, .products-grid h3.product-name,.products-grid h3.product-name a{
	color: #333111;
    text-align: center;
    line-height: 1.1;
    font-size: 15px;
    text-transform: uppercase;
    
    margin-bottom: 5px;
    font-family:  "Gotham", Roboto, Arial, sans-serif;
    font-weight: 600;
}

.homepage-product .product-info h2.product-name a{
 line-height: 1.2;
    font-size: 16px;
}
.homepage-product .product-info{padding:0 0.5rem}

.toolbar-bottom{padding:1rem 0}
.col2-left-layout .category-products {margin-bottom:1px}

.col-left-first.sidebar {
  border : 1px solid rgb(238, 238, 238);
  padding : 1.5rem;
}
.col-left-first.sidebar h5{font-weight:600}



.category-products select{
    height: 1.5rem;
    width: 50px;
}
.products-grid-container{padding:1rem;position:relative}
.products-grid-container .product-info h2.product-name{margin-bottom:0.5rem}
.products-grid-container .price-box .old-price, .products-grid-container .price-box .special-price{display:inline}
.products-grid-container .price-box{margin-bottom:0.5rem}

.products-grid .product-image img{padding:1rem}

.pages>ul{margin:0}
.pages>ul>li{display: inline-block;
    border: 2px solid #cacaca;
    font-size: 12px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;}
.pages>ul>li a{display:block}
.pages .is-active{border:2px solid #666666;}
.product-options-bottom .price-box{display:none}


.special-price .price,.regular-price .price{font-size: 12px;
    line-height: 1.5;
    
    color: #f57224;
    font-weight:500}
.product-shop .special-price .price{color:#333}
.product-shop .regular-price .price{font-size:20px;margin-bottom:5px;color:#333}
.price-box .old-price .price, .price-box .special-price .price {
    display: block;margin:0;
}





/*Single Product*/


/* ============================================ *
 * Ratings - Global
 * ============================================ */
.ratings span{
font-size:12px;
color:#666;
cursor:pointer

}
.ratings span:hover{color:#f57224;}
.ratings strong{float:left;margin:1px 3px 0 0}
.ratings .rating-links{margin:0;display:inline-block;vertical-align:middle;margin-left:12px}
.ratings .rating-links >a,.no-rating a{line-height:20px;font-size:14px;color:#bdbdbd}
.ratings .rating-links .separator{margin:0 5px;vertical-align:top;line-height:17px;color:#777}
.rating-box{width:90px;height:15px;font-size:0;line-height:0;text-indent:-999em;overflow:hidden;position:relative}
.rating-box:before{font-family:none;content: "★ ★ ★ ★ ★";width:100px;height:15px;color:#c3c5c9;display:block;font-size:15px;line-height:15px}
.rating-box .rating{font-family:none;float:left;height:15px;position:absolute;left:0;top:0;overflow:hidden}
.rating-box .rating:before{font-family:none;content: "★ ★ ★ ★ ★";width:100px;height:15px;color:#f57224;display:block;font-size:15px;line-height:15px}





.ratings .rating-box{display:inline-block;vertical-align:middle}
.ratings-table{margin:20px 0 40px;border:1px solid #ddd}
.ratings-table th,.ratings-table td{font-size:15px;line-height:1.15;padding:3px 0}
.ratings-table th{font-weight:700;padding-right:8px}
.ratings-table.data-table thead th{font-size:11px;padding:0 15px}
.ratings-table.data-table input.radio{margin:0}
.ratings-table.data-table .nobr{display:block;line-height:20px;font-weight:600}
.product-view #product-customer-reviews{margin-top:-20px}
.product-view #product-customer-reviews li{border-bottom:1px solid #eee;padding:20px 0 10px}
.avatar-image{float:left}
.review-area{line-height:25px;margin-left:100px}
.review-area .review-title{font-size:18px}
.review-area .review-by{font-style:italic;font-size:12px;color:#ccc}
.review-area .review-by b{color:#08c;font-weight:400}
.review-area .ratings-list{margin-bottom:5px}
.review-area .ratings-list .rating-item{display:inline-block;vertical-align:middle;margin-right:10px}
.review-area .ratings-list .label{vertical-align:middle;font-size:12px;padding:0 5px 0 0;font-weight:400}
.review-area .ratings-list .rating-box{display:inline-block;vertical-align:middle}


.product-container .rating-box{width:80px;height:8px;font-size:0;line-height:0;text-indent:-999em;overflow:hidden;position:relative}
.product-container .rating-box:before{font-family:none;content: "★ ★ ★ ★ ★";width:80px;height:8px;color:#c3c5c9;display:block;font-size:8px;line-height:8px}
.product-container .rating-box .rating{font-family:none;float:left;height:8px;position:absolute;left:0;top:0;overflow:hidden}
.product-container .rating-box .rating:before{font-family:none;content: "★ ★ ★ ★ ★";width:80px;height:8px;color:#f57224;display:block;font-size:8px;line-height:8px}
.product-container .ratings span {
    font-size: 8px;
    display:none;
    
}



.review-name{margin-bottom:0px}
.secondary.rating-box{margin-bottom:0.5rem}
.buyer-name{font-size:14px;text-transform: uppercase;font-weight:600;color:#333}
.v-buyer{font-style:italic;font-family: Georgia, Times, "Times New Roman", serif;font-size:12px;color:#cacaca}
.single-review-container .review-headline{font-family: Georgia, Times, "Times New Roman", serif;font-size:14px;font-weight:600;margin-bottom:5px;color:#555555}
.single-review-container p{font-family: Georgia, Times, "Times New Roman", serif;font-size:14px;margin-bottom:5px}
.date{font-size:8px;text-transform:uppercase}


.flex-video{
	position: relative;
    padding-top: 1.5625rem;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 1rem;
    overflow: hidden;}
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ============================================ *
 * EXPLORER
 * ============================================ */
.explorer-header h1{font-size:2.2rem;
    margin-bottom: 1rem;
    font-weight:600;
    color: #333;
    line-height: 1.2;}
    .explorer-header{padding:1rem 0;margin-bottom:1rem}
.explorer-header h5{font-size:15px;margin:0} 
.explorer-header p{margin: 0; font-style:italic;color:#999999;text-transform: capitalize;font-size:14px;    font-family: Georgia, Times, "Times New Roman", serif;;}
.explorer-detail p{color:#999999;text-transform: capitalize;}

.intro{padding: 0.5rem 2rem}
.explorer .menu a{color:#999999;padding:3px 7px}




.please-wait {
    padding: 20%;
    border: 1px solid #cacaca;
    background-color: black;
    border-radius: 0;
    position: fixed;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    opacity: 0.8;
    color:white;
    font-size:14px;
}

.post-view p{
	font-family: Georgia, Times, "Times New Roman", serif;;
    margin-left: auto;
    margin-right: auto;
    line-height: 32px;
    font-size: 18px;
    max-width: 670px;
    
    font-weight: 400;
    margin-bottom:2rem;
    
    
    
    }
    .post-view ul,.post-view ol {max-width: 600px;
    margin-left: auto;
    margin-right: auto;}
.post-view ul > li,.post-view ol > li{

font-family: Georgia, Times, "Times New Roman", serif;;
    
    line-height: 32px;
    font-size: 18px;
    max-width: 670px;
    
    font-weight: 400;
    margin-bottom:20;
}
.post-view .excerp p{font-size:20px}
.post-view h3{
 	
    
    margin-bottom:0.5rem;
    font-weight: 600;
    font-size:1.5rem;
}
.product-details, .product-details p, .product-details ul > li,.footer-story,.footer-story p,.footer-story ul > li{

	font-size:16px !important;
    font-family: Georgia, Times, "Times New Roman", serif;
   
}

.product-details b, .product-details p b,.footer-story b,.footer-story p b{

	margin-bottom:0.5rem;
}
.product-details ul > li,.product-details ul > li p{margin-bottom:0}


.product-details h3,.footer-story h3{

	text-transform: uppercase;
    color: #111111;
    display: block;
    font-size: 20px;
    margin-top:0.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.product-details h5,.footer-story h5{

	text-transform: uppercase;
    color: #111111;
    display: block;
    font-size: 15px;
    margin-top:0.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}


.product-collateral img{margin-bottom:1rem}
.product-details a,.product-details h2{font-size:12px;text-transform:uppercase;letter-spacing:0.3px;color:#333111;font-weight:700;line-height:1}
.block-related .product{
    margin-bottom: 15px;
}
.block-related .block-title{font-size:14px;text-transform:uppercase;letter-spacing:0.3px;color:#333111;font-weight:700;line-height:1;padding:1rem 0}

#notification{display:none}
.spesifikasi-teknis table tbody tr th{width:50%}
	.spesifikasi-teknis table tbody tr{line-height:3;border-bottom:1px solid #eee;font-size:10px}
	.spesifikasi-teknis table{margin-bottom: 3rem;
    border-top: 4px solid #eee;}
    .checkout-head{display:none}
    .checkout-head h3{margin:0}

    input[type=checkbox], input[type=radio]{margin-right:5px}

.show-filter-navigation{display:block}
.reveal.mini-cart{padding:0 !important}

.gosend-container{position:absolute;left:0;color:#cacaca;font-size:10px}
.gosend-container img{height:25px}


.list-product-avaibility span {
    font-size: 10px;
    border: 2px solid #cacaca;
    display: inline-block;
    left: 0;
    padding: 3px 5px;
    color: #cacaca;
}
.wp-caption-text{font-size:12px !important}

.image-info{position:relative}
.usp-container{margin-top:1rem}
.voucherModal{border:1px solid #666;background:#666;border-radius:15px;padding:5px 10px;font-size:12px;text-transform:uppercase;color:white}
.white .voucherModal {background:transparent !important;border:1px solid white;}


