@media screen and (max-width: 40em) {


.row .row {
    margin-left: -.4375rem;
    margin-right: -.4375rem;
}

.column, .columns {
   
    padding-left: .4375rem;
    padding-right: .4375rem;
}

.is-open-left

.promo-banner-content h2,.promo-banner-content h1{font-size:1.5rem}
.buyer-name{font-size:12px;text-transform: uppercase;font-weight:600;color:#333}
.v-buyer{font-style:italic;font-family: Georgia, Times, "Times New Roman", serif;font-size:10px;color:#cacaca}
.single-review-container .review-headline{font-family: Georgia, Times, "Times New Roman", serif;font-size:12px;font-weight:600;margin-bottom:5px;color:#555555}
.single-review-container p{font-family: Georgia, Times, "Times New Roman", serif;font-size:12px;margin-bottom:5px}
.date{font-size:8px;text-transform:uppercase}

.stock{font-size:12px;display:block;font-weight:600;margin-bottom:2px}
    									

.info-ship {
    font-size: 10px;
    line-height: 1.2;
    padding-right: 2px;
}
    
    .add-to-cart{
    margin:0
    }		
    
  
.footer.mobile-menu,.footer.mobile-menu .is-accordion-submenu-parent{
	background:#272727;
	
	}
	.footer.mobile-menu >ul>li{
	border-bottom:1px solid #333}
	.footer.mobile-menu .menu > li > a{
	padding:0
	}
	.footer.mobile-menu{margin-bottom:1rem}
	
	.footer.mobile-menu .submenu{
	background:#494b4d;
	}
	.footer.mobile-menu >ul>li a {margin-left:1rem;margin-right:1rem;line-height:5}
	
	.mobile-homepage-menu .help a{
	border: 1px solid #eee;
	background:#fafafa;
	
    display: block;
    padding: 0.3rem;
    color: #333;
    font-size: 8px;
	}

.store .homepage-block-content .journal-list-details{margin-top:0}
.store .homepage-block-content .journal-list-details a{font-size:10px}
.small-grid.promo-banner-container{margin:0}
.sip-wrapper .sip-point .sip-point-text{display:none}
.homepage-tile-container.promo-container.mobile{margin-bottom:0.5rem;}
.homepage-tile-container.promo-container.mobile:hover .promo-details .shop-now{color:#bc9d62}

.mobile-live-chat{
	position: fixed;
    bottom: 1%;
    background: #cccccc;
    z-index: 999999999999999999999999;
    text-align: center;
    font-size: 8px;
    border-radius: 100%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    right: 3%;
    
   
    border-radius: 100%;
    cursor: pointer;
  
    
    
}

.small-nav-cat a{border:1px solid #eee;display:block;padding:0.5rem;background:#fafafa;color:#333}
.mobile-live-chat a{ color:#333 !important;}
.category-header{margin:0}
.more-icon-category{
				background:#063241;padding: 30% 0;
    text-align: center;
				}
.promo-details{margin:0;
padding:0.5rem 0;}
.sip-wrapper:hover .sip-point.active .sip-popup{display:block}

h1 {
    font-size: 1.2rem !important;
}
.category-navigation .horizontal.menu{display:none}
.show{display:block !important}
.list-product-avaibility span {
    font-size: 8px;
    border: 1px solid #cacaca;
    display: inline-block;
    left: 0;
    padding: 2px 4px;
    color: #cacaca;
}


.post-view .excerp p{font-size:16px}

.price-info .old-price .price,.price-info .special-price .price{font-size:18px}

#homepage-banner .promo-banner-container .promo-banner-content
{padding:5% 30%}


.activity-container p{font-size:14px}


#full-homepage-banner .promo-banner-container .promo-banner-content{padding:5% 20%}
#opc-payment dt{width:100%}
#opc-payment dd {
    width: 100%;
    position: relative;
}
.col-left-first.sidebar{margin-bottom:1rem;padding:0;border:none}
.category-list .product-container .cicilan-container {
  padding : 0.5rem 0px;
  border-top : 1px dotted rgb(204, 204, 204);
  margin-top : 1rem;
  display : block !important;
}

.category-list .product-container .cicilan-container p {
  font-style : italic;
  font-size : 8px !important;
}

.category-list .product-container {
  margin-bottom : 2rem;
  padding:0.5rem;
}

#homepage-product-center-slider .product-info h2.product-name a{font-size:12px}
.product-info h2.product-name a{font-size:12px}
.owl-carousel .category-list .product-info h2.product-name a,.product-info h2.product-name{
	text-align:center !important;
    padding:0;
}
.fast-ship{
	text-align: left;
	
	}
    
.voucherModal{font-size:10px}
.col2-left-layout .category-products .products-grid{border-left:none}
#homepage-product-center-slider .product-container{padding:0.5rem;margin-bottom:0rem}
#search_mini_form .search-button{top:3px}
#homepage-banner .promo-banner-content.padding-50{padding: 12% 20%;}
.promo-banner-content h3.cursive{font-size:25px}    
.logo{padding:0;height:50px;line-height:47px}
#search_mini_form .input-box{padding:5px 0}
#onepage-container{padding:0rem;background:white;min-height:0}
.step-containers{padding:1rem 10px;box-shadow: none;}
.checkout-step .step-item{font-size:10px;font-weight:500;padding: 0.5rem 0;}
.product-usp li{display: table-cell;}
.activity-name{font-size:20px}
.padding-middle,.callout{padding:1rem}

table thead tr th, table tbody tr td, table tfoot tr td {
    padding: 0.5rem;
}

#checkoutSteps h4, .checkout-review-table-wrapper h4, .cart h4 {
    line-height: 2.5;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.5rem;
    font-size:20px
}

.h5.cart-product-name a{line-height:1.2}

	.small-text-center{text-align:center !important}
	.small-text-left{text-align:left !important}
	.small-text-right{text-align:right !important}
	.small-header{
	position: fixed;
    z-index: 9999999999;
    background: white;
    width: 100%;
    left: 0;
    -webkit-box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
    -moz-box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
    box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
	}
	
	.promo-banner-content-text p, .promo-banner-content p{font-size:14px;display:none}
	.promo-banner-content-text{border-bottom:1px solid #eee}
.count{top:5px;right:5px}
.media.owl-theme .owl-nav [class*='owl-']{display:none}
.product-img-box .product-image{padding: 0.5rem;}
.product-usp-icon{font-size:10px}
.owl-carousel .owl-item{opacity:1}
.width1000{width:950px}
.checkout-head h3{margin:0;font-size:15px}

p,body{font-size:12px}
h3{font-size:15px}

.reveal {
    top: 10px;
    left: 0;
    width: 80%;
    max-width: none;
    margin-left: 0;
    border: 0;
    border-radius: 0;
    margin: 0 auto;
    height: auto;
    min-height: auto;
}

.account-login {
    background: rgba(0,0,0,0.8);
    border: 2px solid #eee;
    padding:2rem 1.5rem; 
}
.product-collateral .toggle-tabs li > span{font-size: 8px;padding:0 10px}
.account-login p{font-size:12px}
.small-text{font-size:10px !important}
.navigation-container{border-bottom:none;border-top:none}
.post-view p{font-size:16px;line-height:1.6}
.post-view h3{font-size:19px}

.gosend-container{display:none}
.gosend-container img{height:20px !important}
.journal-category-navigation-container{border-bottom:1px solid #eee;padding:0}
#padding-center, .padding-center{padding:1rem 0}
.explorer-header h1{font-size:1rem}
.explorer-header p{font-size:12px}
.category-header h1, .page-title h1, .page-title h2{font-size:1.3rem !important}
.product-name h1{font-size:20px !important}
.product-name h1,.product-shop ,.product-brand,.product-shop .extra-info,.product-shop .price-info,.availability,.availability{text-align:center}
.product-brand a {text-align:left}

.product-view .product-name {padding:1rem 0rem;margin-bottom:1rem}
.product-shop .regular-price .price{font-size:18px}

.mobile-menu,.off-canvas-wrapper,.off-canvas{background:#eee}
.mobile-menu >ul{margin:0}
.mobile-menu >ul>li {margin:0;display:block;border-bottom:1px solid #cccccc}
.mobile-menu .is-accordion-submenu-parent{background:#eee;}
.mobile-menu .is-accordion-submenu-parent a{color:black}
.mobile-menu >ul>li a{
	display: block;
    line-height: 5;
    margin-left: 0.5rem;
    
    font-size: 10px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:1px
}

.mobile-menu .is-submenu-item a{
	font-weight: 100;
	line-height: 3;
	margin-left:1.5rem;
	text-transform:none;letter-spacing:0.3px
}
.mobile-menu >ul>li p{
	letter-spacing:1px;
	margin:0;
	padding-left:1.5rem;
	
	line-height: 3;
	font-size: 10px;
	text-transform:uppercase;
	font-weight:600;
}
.navigation-container,.navigation-container.sticky-header{position:relative;
height:auto;
z-index:999999999999999999999999999999999999999999;
width:100%;
background:#063241;
}
.big-text{font-size:25px !important;margin-bottom:0}

.promo-banner-content{padding:1rem}
.promo-banner-content h5{font-size:10px}
.promo-banner-content h3{font-size:20px}
.promo-banner-content h1{font-size:15px}
.promo-banner-content h2{font-size:25px !important;margin-top:5px;margin-bottom:0.5rem}
#homepage-banner .promo-banner-content h2{font-size:28px !important;margin-top:5px;margin-bottom:1rem}
#homepage-banner .promo-banner-content p{font-size:12px !important;font-weight:500;display:none}


.small-grid .promo-banner-content h5 {
    font-size: 8px;
    color: white !important;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-weight: 600;
}

.small-grid .promo-banner-content h3 {
    font-size: 17px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: 0px;
}

.small-grid .promo-banner-content{
padding:25% 17%;
}

.promo-banner-content .bottom .promotion {
    background: rgba(0,0,0,0.6);
    padding: 7px;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#homepage-banner.journal .promo-banner-content h2{
font-size:15px
}

#homepage-banner.journal .promo-banner-container .promo-banner-content {
    padding: 10% 35%;
}

.promo-banner-content h6,.promo-banner-content ul{font-size:12px;}


.category-navigation #toggle,.category-navigation #toggle-homepage,.journal-category-navigation #toggle{
padding: 11px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    background: #063241;
    color: white;
    
}



.show-category-navigation,.show-homepage-navigation,.show-filter-navigation{display:none}
.show-category-navigation.show,.show-homepage-navigation.show,.show-filter-navigation.show{display:block}
.category-navigation .menu > li,.journal-category-navigation .menu > li{display:block;text-align:left}
.category-navigation .menu >li a,.journal-category-navigation .menu >li a{line-height:2.5;border-bottom:1px solid #cccccc;font-size:10px}

.show-homepage-navigation{
	position: absolute;
    z-index: 9999999;
    background: #eee;
    top: 136px;
    width:100%;
}
.show-filter-navigation,.show-category-navigation{
 border: 1px solid #eee;
 padding:20px;
}

#homepage-product-center-slider .columns{padding:0 !important}
.breadcrumbs{display:none}
.button.btn-cart,.btn-checkout,.buttons-set .button{
	width: 100%;
    bottom: 0;
    left: 0;}
.top-cat-desc h2{width:100%;text-align:center}
.top-cat-desc .btn{display:none}

.more{letter-spacing:1px}
.caption{margin-bottom:0.5rem}
.caption h5{font-size:12px}
.caption h4{font-size:15px !important;margin-bottom:0}

.owl-theme .owl-dots .owl-dot span {
    width: 5px;
    height: 5px;
    margin: 5px;
  
}
.homepage-bar h4{font-size:8px;letter-spacing:0.3px}
/*Product Category*/

  #search{height:30px;
  border-radius:0;
  -webkit-appearance: none;
  }
  .primary-header-container{padding:0;border-top:2px solid black}
  
.owl-carousel .owl-item{-webkit-filter: none;
    filter:none;}
  .small-nav-container{
 border-bottom: 1px solid #eee;
   
  }

  .small-nav-container i{font-size:20px;color:#333;line-height: 50px;
    height: 50px;}
  .small-search-container
  	{
  	background: #eee;
    padding: 5px 0;
    position: absolute;
    width: 100%;
    top: 0;
    display: none;
  
  }
.products-grid .product-image img{margin-bottom:0.5rem;padding:0}


.homepage-product .product-info{margin-bottom:1rem}
.accordion-title{
font-size: 12px;
    padding: 1rem 0;
    text-transform: uppercase;
    color: #111111;
    display: block;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #eee;
}

.product-name-grid{width:70% !important}
.unit-price-grid{width:0% !important}
.qty-grid{width:20% !important}
.subtotal-grid{width:0% !important}
.caption h3{font-size:25px !important;margin-bottom:0.5rem}
/*Banner Category*/
.button.tiny {
    font-size: .6rem;
    padding: 0.4rem 1rem;
}
.owl-banner-carousel .homepage-banner{padding-top:35%}
.owl-banner-carousel .homepage-banner h5{
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom:0}
.owl-banner-carousel .homepage-banner h2{font-size:17px;margin-bottom:5px;text-transform:uppercase;letter-spacing:1px;font-weight:900}
.owl-banner-carousel .homepage-banner p{font-size: 15px !important;
    padding: 0 1rem;}
.owl-banner-carousel .homepage-banner a{font-size:12px}
.owl-banner-carousel .homepage-banner h6{font-size: 15px !important;
    padding: 0 1rem;}
.owl-banner-carousel .button.clean{font-size:8px;padding:5px 10px}



/*Checkout*/

#checkout-step-billing .address_radio{
padding:1rem;
border:1px solid #eee;
margin-bottom:1rem;
background:white
}

#checkoutSteps{
background:none;
box-shadow:none;
}
.checkout-onepage-index .main-container{padding-top:0rem}


#checkout-step-shipping_method dd{margin:0}
#checkout-step-shipping_method .tab-content{padding:0;background:none}


#checkout-shipping-method-load .sp-methods>dd>ul>li{margin:0;background:white}


#opc-payment dt label, .sp-methods dt label, .sp-methods dd label{
    width: 100%;
    background: white;
    padding: 1.5rem;
    margin-bottom:0;
    margin-top:0.5rem;
    -webkit-box-shadow: 0 1px 3px 0 rgba(27,27,27,.1);
    box-shadow: 0 1px 3px 0 rgba(27,27,27,.1);
    border-radius:4px;
    border:none;
}


.checkout-step-content{padding:0rem}


#checkout-step-payment dd ul{
border-top:1px solid #eee;
padding:1rem
}


#checkout-step-payment input[type=checkbox], #checkout-step-payment input[type=radio],
#checkout-step-shipping_method input[type=checkbox], #checkout-step-shipping_method input[type=radio]
{
margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 0;
}

#checkout-step-shipping_method ul.tabs li h5{font-size:10px}
#checkout-step-shipping_method ul.tabs li p{display:none}

}


