.sip-wrapper {
  position: relative;
  display: inline-block; }
  .sip-wrapper .sip-point {
    position: absolute;
    display: inline-block; }
    .sip-wrapper .sip-point:hover {
      cursor: pointer; }
      
	.journal-shop-icon{
	position: absolute;
    bottom: 15px;
    background: white;
    left: 15px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    line-height: 30px;
    text-align: center;
	}
      
    

.pulse-button {
    width: 13px;
    height: 13px;
    border: none;
    box-shadow: 0 0 0 0 rgba(127,255,212, 0.7);
    border-radius: 100%;
    background-color: aquamarine;
    cursor: pointer;
    -webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
    border: 2px solid darkslategrey;
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(127,255,212, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(127,255,212, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(127,255,212, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(127,255,212, 0);}}
    
    
     
    .sip-wrapper .sip-point .sip-point-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

.sip-point .sip-popup {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  letter-spacing: 0;
  pointer-events: none;
  z-index: 999999999999; }
  .sip-point .sip-popup .sip-popup-title {
    white-space: nowrap; 
    font-size:10px;
    font-weight:600;
    }
    .sip-point .sip-popup .sip-popup-price {
    font-size:10px;
    margin-bottom:5px;
    }
    
    .sip-point .sip-popup .sip-popup-buy {
    font-size:10px;
    color:#bc9d62;
    
    }
    
  .sip-point .sip-popup .sip-popup-inner {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
    .sip-point .sip-popup .sip-popup-inner:before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 0;
      height: 0; }
  .sip-point .sip-popup.sip-popup-product {
    min-width: 250px; }
    .sip-point .sip-popup.sip-popup-product .woocommerce-loop-product__title {
      font-size: 16px; }
    .sip-point .sip-popup.sip-popup-product .sip-product-control-container {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      border-top: 1px solid rgba(0, 0, 0, 0.07); }
      .sip-point .sip-popup.sip-popup-product .sip-product-control-container .button {
        padding: 0;
        background-color: transparent; }
  .sip-point .sip-popup.sip-popup-top {
    top: 10px;
    left: 50%;
    padding-bottom: 32px;
    transform: translate3d(-50%, calc(-100% - 10px), 0); }
    .sip-point .sip-popup.sip-popup-top .sip-popup-inner:before {
      left: 50%;
      bottom: 1px;
      transform: translate(-50%, 100%);
      border-style: solid;
      border-width: 10px 8px 0 8px;
      border-color: #ffffff transparent transparent transparent; }
  .sip-point .sip-popup.sip-popup-bottom {
    padding-top: 32px;
    top: calc(100% - 10px);
    left: 50%;
    transform: translate(-50%, 10px); }
    .sip-point .sip-popup.sip-popup-bottom .sip-popup-inner:before {
      left: 50%;
      top: 0;
      transform: translate(-50%, -100%);
      border-style: solid;
      border-width: 0 8px 10px 8px;
      border-color: transparent transparent #ffffff transparent; }
  .sip-point .sip-popup.sip-popup-left {
    top: 50%;
    left: 10px;
    padding-right: 32px;
    transform: translate(calc(-100% - 10px), -50%); }
    .sip-point .sip-popup.sip-popup-left .sip-popup-inner:before {
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
      border-style: solid;
      border-width: 8px 0 8px 10px;
      border-color: transparent transparent transparent #ffffff; }
  .sip-point .sip-popup.sip-popup-right {
    top: 50%;
    right: 10px;
    padding-left: 32px;
    transform: translate(calc(100% + 10px), -50%); }
    .sip-point .sip-popup.sip-popup-right .sip-popup-inner:before {
      left: 0;
      top: 50%;
      transform: translate(-100%, -50%);
      border-style: solid;
      border-width: 8px 10px 8px 0;
      border-color: transparent #ffffff transparent transparent; }
.sip-point.active .sip-popup {
  display: block;
  visibility: visible;
  opacity: 1;
  pointer-events: auto; }
  .sip-point.active .sip-popup.sip-popup-top {
    transform: translate3d(-50%, -100%, 0) rotate3d(0, 0, 0, 0); }
  .sip-point.active .sip-popup.sip-popup-bottom {
    transform: translate(-50%, 0); }
  .sip-point.active .sip-popup.sip-popup-left {
    transform: translate(-100%, -50%); }
  .sip-point.active .sip-popup.sip-popup-right {
    transform: translate(100%, -50%); }

/*# sourceMappingURL=style.css.map */
