<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct()
?>
<?php $weekday = Mage::getSingleton('core/date')->date('w'); ?>
<?php $hour    = Mage::getSingleton('core/date')->date('G'); ?>
<?php $selectedTime = Mage::getModel('core/date')->date('H:i');?>
<?php

$endTime = strtotime("+180 minutes", strtotime($selectedTime));
$endTimeFormat = date('H:i', $endTime);

?>


<?php 
                						$presale = $_product->getData('presale');
                						$product_inventory = $_product->getData('product_inventory');
                						
                					?>
                					
                					<?php if ( $_product->getData('product_inventory') == '95' && $weekday >= 1 && $weekday <= 6 && $hour >= 8 && $hour < 18 ):?>
        		
    									<div class="info-ship large-text small-text-center padding-center">
        			Produk ini dikirim oleh Wearinasia.
        		 Pesan sekarang estimasi sampai</br><b>Pk <?php echo $endTimeFormat;?> WIB</b></br>
        			
        		</div>
        								

    								<?php elseif ( $_product->getData('product_inventory') == '94' && $weekday >= 1 && $weekday <= 6 && $hour >= 8 && $hour < 18 ):?>
        		
    									<div class="info-ship large-text small-text-center padding-center">
        		
        		 Pesan sekarang estimasi sampai</br><b>Pk <?php echo $endTimeFormat;?> WIB</b></br>
        			
        		</div>
        								
    								<?php elseif ($product_inventory=='93'):?>
    									<div class="info-ship large-text small-text-center padding-center">
        			Dikirim oleh distributor 
        			Estimasi pengiriman tercepat <b>1 - 2 Hari Kerja</b></br>
        			
        		</div>
        								
    								<?php elseif ($product_inventory=='96'):?>
    									<div class="info-ship large-text small-text-center padding-center">
        			Produk ini adalah produk import</br>
        			Estimasi pengiriman tercepat <b>7 - 14 Hari Kerja</b></br>
        			
        		</div>
        								
    								<?php endif;?>
    								

				
				


   								
    								
    							