<?php $params = $this->getRequest()->getParams();?>

<a class="backnav-url" href="<?php echo $this->getUrl('customer/account') ?>">
    <i class="fa fa-angle-left" aria-hidden="true"></i> Account</a>

<?php if ($params['photo'] == 1):?>
<?php echo $this->getChildHtml('photo-profile');?>
   

<?php else:?>

<?php echo $this->getChildHtml('personal-info');?>


<?php endif;?>



