
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmlnIAu52yOhMzIPFGxSsDaHB9TXmqhQk"></script>
</br> Map Location</br>



<div class="row">
                	
                    <div class="small-12 medium-9 columns input-box">
                        <input disabled type="text" id="ends" placeholder=" click show map to input" id="billing:vat_id" name="billing[vat_id]"  title="<?php echo $this->__('VAT Number') ?>" class="input-text required-entry" />
                    		
                    </div>
                    <div class="small-12 medium-3 columns">
                    <label id="show-map" class="button expanded">Show Map <i class="fa fa-map-marker" aria-hidden="true"></i></label>
                    </div>
                </div>

<div id="map-canvas"></div>


<style>
#map-canvas {
    height: 300px;
    margin-bottom:2rem;
}
</style>



<script>


var showMap = $('#show-map');
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;
var endMarker;

function initialize() {
  
  	
    
   
       
		var current = new google.maps.LatLng(-6.175387099999986,106.82714748255614);
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
          zoom: 15,
          center: current
        });

        
  	endMarker = new google.maps.Marker({
   	position: current,
   	zoom: 15,
    map: map,
    
    
    draggable: true,
  });
  	copyMarkerpositionToInput();
  	
  // add an event "onDrag"
  	google.maps.event.addListener(endMarker, 'dragend', function() {
    copyMarkerpositionToInput();
  });
    
    infoWindow = new google.maps.InfoWindow;
    
        
    if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            map.setCenter(pos);
            
    if (endMarker)
        endMarker.setMap(null);    
  	endMarker = new google.maps.Marker({
   	position: pos,
    map: map,
    
    
    
    draggable: true,
  });
  	
  	copyMarkerpositionToInput();
  	// add an event "onDrag"
  	google.maps.event.addListener(endMarker, 'dragend', function() {
    copyMarkerpositionToInput();
  });
            
            
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } 
    else {
          // Browser doesn't support Geolocation
          
          handleLocationError(false, infoWindow, map.getCenter());
        }
  
  
  
}


function copyMarkerpositionToInput() {
  // get the position of the marker, and set it as the value of input
  document.getElementById("end").value = endMarker.getPosition().lat() +','+  endMarker.getPosition().lng();
  document.getElementById("ends").value = endMarker.getPosition().lat() +','+  endMarker.getPosition().lng();
  
 
  
}


jQuery(document).ready(function($){
    $('#show-map').on('click',initialize)
});
</script>