
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmlnIAu52yOhMzIPFGxSsDaHB9TXmqhQk"></script>
<div class="cor">Location Coordinates : <input disabled class="required" id="ends" placeholder="click drop point"/>
</div>


<div class="row">
                	<div class="small-12 columns">
                    
                    <label id="show-map" class="button tiny hollow expanded"><img height="30" width="30" src="https://bilba.go-jek.com/dist/img/footer/gojek-logo.svg"></br>Pilih Drop Point G0-SEND <i class="fa fa-map-marker" aria-hidden="true"></i></label>
                    
                    </div>
                  
                    
                </div>
<div id="map-canvas">
</div>
</br>Wajib diisi untuk metode pengiriman menggunakan Gojek, Isi alamat dengan lengkap untuk akurasi map yang lebih tepat</br>


                	


<script>


var showMap = $('#show-map');
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;
var endMarker;

function initialize() {
  
  	
    
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
          zoom: 17,
          center: {lat: -6.175387099999986, lng: 106.82714748255614}
        });
        
        var geocoder = new google.maps.Geocoder();

        geocodeAddress(geocoder, map);
      
    
    
  
  
  
}


function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('billing:street1').value + document.getElementById('billing:city').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var endMarker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location,
              draggable: true,
              zoom: 17,
            });
           	 	copyMarkerpositionToInput(endMarker);
  				google.maps.event.addListener(endMarker, 'dragend', function() {
    copyMarkerpositionToInput(endMarker);
  });
  				
  				
            

          } 
          else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }


function copyMarkerpositionToInput(endMarker) {
  // get the position of the marker, and set it as the value of input
  document.getElementById("end").value = endMarker.getPosition().lat() +','+  endMarker.getPosition().lng();
  document.getElementById("ends").value = endMarker.getPosition().lat() +','+  endMarker.getPosition().lng();
  
 
  
}


jQuery(document).ready(function($){
    $('#show-map').on('click',initialize);
    $('#show-map').click(function(){
    $('#map-canvas').css('min-height', '400px').css('margin-bottom', '1rem').css('border', '1px solid #eee');
});
    
});
</script>