<?php 
$layer = Mage::getSingleton('catalog/layer');
$_category = $layer->getCurrentCategory();
$parentCategoryId = $_category->getParentId();
$loadCategory = Mage::getModel('catalog/category')->load($parentCategoryId);
$subcats = $loadCategory->getChildren();

?>
<?php $currentCategoryId = $_category->getId(); ?>
<?php if($this->canShowBlock()): ?>

<div class="row small-up-2 show-for-small-only small-nav-cat text-center">
	<div class="columns">
		 <a id="toggle-category" data-tab="tab-2"><i class="fa fa-th-large" aria-hidden="true"></i> <?php echo $loadCategory->getName();?> <i class="fa fa-angle-down" aria-hidden="true"></i></a>
	</div>
	<div class="columns">
		<a id="toggle-filter" data-tab="tab-1"><i class="fa fa-th-list" aria-hidden="true"></i> Filters <i class="fa fa-angle-down" aria-hidden="true"></i></a>
  
	</div>
	
</div>

<div id="tab-1" class="block block-layered-nav show-category-navigation">


<?php if ( $parentCategoryId  != 19):?>
<h5>Shop By <?php echo $loadCategory->getName();?></h5>
<ul class="vertical menu margin-bottom-1">
	
	<?php 
foreach(explode(',',$subcats) as $subCatid)
{
  $_category = Mage::getModel('catalog/category')->load($subCatid);
  if($currentCategoryId == $_category->getId()) {
    echo '<li class="is-active">
    		<a href="'.$_category->getURL().'">'.$_category->getName().'</a>';
    
     echo '</li>';
  }
  else {
  	echo '<li >
    		<a href="'.$_category->getURL().'">'.$_category->getName().'</a>';
    
     echo '</li>';
  }
}
?>
</ul>
<?php endif;?>
</div>
<div id="tab-2" class="block block-layered-nav show-filter-navigation">

    
        <?php echo $this->getStateHtml() ?>
       
        <?php if($this->canShowOptions()): ?>

            <div id="narrow-by-list">
                <?php $_filters = $this->getFilters() ?>
                <?php foreach ($_filters as $_filter): ?>
                <?php if($_filter->getItemsCount()): ?>
                	<div class="filter-container margin-bottom-1">
                		<h5><?php echo $this->__($_filter->getName()) ?></h5>
                    	<?php echo $_filter->getHtml() ?>
                    </div>
                <?php endif; ?>
                <?php endforeach; ?>
            </div>
            <script type="text/javascript">decorateDataList('narrow-by-list')</script>
        <?php endif; ?>
    	
    	 <?php if ($this->getLayer()->getState()->getFilters()): ?>
            <div class="actions"><a class="more" href="<?php echo $this->getClearUrl() ?>">Reset Filter</a></div>
        <?php endif; ?>
</div>
<?php endif; ?>
