<?php
/**
 * Indonesia Shipping Carriers
 * @copyright   Copyright (c) 2015 Ansyori B.
 * @email		ansyori@gmail.com / ansyori@kemanaservices.com
 * @build_date  March 2015   
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>


<?php
$penolong = Mage::helper('aongkir'); 
?>

<div class="checkout-head">
	<h3>Masukan Alamat Pengiriman dan Penagihan</h3>
   	<p class="small-text">Silahkan lengkapi data - data dibawah ini dengan benar</p>
</div>
<form id="co-billing-form" action="">
<div class="fieldset">
   	
    <div class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
        <div class="wide">
            <label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </div>
    <?php endif; ?>
    
    <div id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?> class="scaffold-form">
        
        <div class="fieldset">
            <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
            
                <div class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setForceUseCustomerRequiredAttributes(!$this->isCustomerLoggedIn())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></div>
                <div class="fields">
                    <div class="field hide">
                        <label for="billing:company"><?php echo $this->__('Company') ?></label>
                        <div class="input-box">
                            <input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
                        </div>
                    </div>
        <?php if(!$this->isCustomerLoggedIn()): ?>
                    <div class="row">
                    	<div class="small-3 columns">
                        <label for="billing:email" class="middle required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                        </div>
                        <div class="small-9 column input-box">
                            <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="billing[email]" id="billing:email" value="<?php echo $this->escapeHtml($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
                        </div>
                    </div>
        <?php endif; ?>
                </div>
        		<?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                <div class="row">
                	<div class="medium-6 columns">
                		<div class="row">
                	<div class="small-12 columns">
                    <label for="billing:street1" class="middle required"><em>*</em><?php echo $this->__('Address') ?></label>
                   	</div>
                   	<div class="small-12 columns input-box">
                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]"  id="billing:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                    </div>
                </div>
                	</div>
                	<div class="medium-6 columns">
                		<div class="row">
                    	<div class="small-12 columns">
                        	<label for="billing:telephone" class="middle required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                        </div>
                        <div class="small-12 columns input-box">
                            <input type="tel" name="billing[telephone]" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="validate-number input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="billing:telephone" />
                        </div>
                    </div>
                	</div>
                </div>
                
                
                <div class="fields">
                    
                    <div class="field hide">
                        <label for="billing:fax"><?php echo $this->__('Fax') ?></label>
                        <div class="input-box">
                            <input type="tel" name="billing[fax]" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="validate-number input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" id="billing:fax" />
                        </div>
                    </div>
                </div>
        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
        <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                <div class="row">
                	<div class="small-3 columns">
                    <label class="middle" for="billing:street<?php echo $_i ?>"><?php echo $this->__('Street Address %s', $_i) ?></label>
                     </div>
                     <div class="small-9 columns input-box">
                        <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="billing[street][]" id="billing:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                    </div>
                </div>
        <?php endfor; ?>
               
                <div class="row hide">
                	<div class="small-3 columns">
                    <label for="billing:vat_id"><?php echo $this->__('VAT Number') ?></label>
                    </div>
                    <div class="small-9 columns input-box">
                        <input type="text" id="end" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                    </div>
                </div>
                
                <div class="fields">
                    <div class="row">
                    	<div class="small-3 columns hide">
                        <label for="billing:postcode" class="middle required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        </div>
                        <div class="small-9 columns input-box hide">
                            <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="0000" class="input-text  validate-number  <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                        </div>
                    </div>
                    <div class="row">
                    	<div class="small-3 columns">
                        <label for="billing:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                        </div>
 						<div class="small-9 columns input-box">
                            <?php echo $this->getCountryHtmlSelect('billing') ?>
                        </div>
                    </div>
                </div>
                
                <div class="fields">
                
                	<div class="row">
                		<div class="medium-6 columns">
                			<div class="row">
                		<div class="small-12 columns">
                        <label for="billing:region_id" class="middle required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                        </div>
                        <div class="small-12 columns">
                        
                        
                            <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                            //]]>
                            </script>
                            <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                        
                        </div>
                    </div>
                		</div>
                		<div class="medium-6 columns">
                			 <div class="row">
                    	<div class="small-12 columns">
                        	<label for="billing:city" class="middle required"><em>*</em><?php echo $this->__('City') ?></label>
                        </div>
                        <div class="small-12 columns input-box">
                            <input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="billing:city" />
                        </div>
                    </div>
                		</div>
                	</div>
                	
                    
                   
                    
                </div>
                
                

                <?php if(!$this->isCustomerLoggedIn()): ?>

        <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
        <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
            <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
                <li class="fields">
                <?php if ($_dob->isEnabled()): ?>
                    <div class="field">
                        <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                    </div>
                <?php endif; ?>
                <?php if ($_gender->isEnabled()): ?>
                    <div class="field">
                        <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                    </div>
                <?php endif ?>
                </li>
            <?php endif ?>

            <?php if ($this->isTaxvatEnabled()):?>
                <li><?php echo $this->getTaxvatHtml() ?></li>
            <?php endif; ?>

                <li class="fields hide" id="register-customer-password">
                    <div class="field">
                        <label for="billing:customer_password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" value="123456"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="billing:confirm_password" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" value="123456"/>
                        </div>
                    </div>
                </li>
				<?php endif; ?>
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                    <li class="control hide">
                        <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);" checked="checked" class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                    </li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                <?php endif; ?>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            
        </div>
     </div>
     <?php if ($this->canShip()): ?>
        <li class="control hide">
            <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1" checked="checked" title="<?php echo $this->quoteEscape($this->__('Ship to this address')) ?>" onclick="$('shipping:same_as_billing').checked = true;" class="radio" /><label for="billing:use_for_shipping_yes"><?php echo  $this->__('Ship to this address') ?></label></li>
      
    <?php endif; ?>
    </div>
    <?php if (!$this->canShip()): ?>
        <input type="hidden" name="billing[use_for_shipping]" value="1" />
    <?php endif; ?>
     <span class="please-wait" id="billing-please-wait" style="display:none;">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
			<div><?php echo $this->__('Loading next step...') ?></div>
    </span>
    <div class="buttons-set" id="billing-buttons-container">
    	<div class="mobile-mini-cart">
    	<div class="row">
    		
    		<div class="small-12 columns">
    			<button type="button" title="<?php echo $this->__('Continue') ?>" class="button" onclick="billing.save();billingEvent();">
        <span><span>
        <?php echo $this->__('Continue') ?> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </span></span>
        </button>
    		</div>
    	</div>
    	</div>
    	
        
    </div>
</div>
</form>
<script type="text/javascript">
//<![CDATA[
    var billing = new Billing('co-billing-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveBilling') ?>');
    var billingForm = new VarienForm('co-billing-form');

    //billingForm.setElementsRelation('billing:country_id', 'billing:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');
    $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);

    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
    if ($('onepage-guest-register-button')) {
        Event.observe($('onepage-guest-register-button'), 'click', function(event) {
            var billingRememberMe = $('co-billing-form').select('#remember-me-box');
            if (billingRememberMe.length > 0) {
                if ($('login:guest') && $('login:guest').checked) {
                    billingRememberMe[0].hide();
                } else if ($('login:register') && ($('login:register').checked || $('login:register').type == 'hidden')) {
                    billingRememberMe[0].show();
                }
            }
        });
    }
//]]>
</script>
<?php if($penolong->config('jquery')): ?>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<?php endif ?>
<script>





function playAjax_billing(CURRENT_CITY_ID,PROV_ID)
{
	//var CURRENT_CITY_ID = 
	jQuery.ajax({
				type: 'GET', 
				url: '<?php echo Mage::getUrl('aongkir/index/city/', array('_secure'=>true)); ?>', 
				data: 'prov_id='+PROV_ID,
				dataType: 'json',
				success: function(data){
					if(data){
						
						jQuery('input#billing\\:city').replaceWith('<select name="billing[city]"  class="  required-entry" id="billing:city"></select>');
						
						jQuery('select#billing\\:city').empty().append(
                            jQuery("<option value=''><?php echo $this->__('Please select city') ?></option>")
							
							
                        );
						
						jQuery.each(data, function(index, city){
							//console.log('CITY ID : '+city.city_id+' disp name :'+city.display_name);
							
						 if(CURRENT_CITY_ID == city.display_name){	
							 jQuery('select#billing\\:city').append(	
								jQuery("<option></option>")  
								.text(city.display_name)
								.val(city.display_name)
								.prop('selected','selected')
							  )
						 }else
						 {
							 jQuery('select#billing\\:city').append(	
								jQuery("<option></option>")  
								.text(city.display_name)
								.val(city.display_name)
							  )
						 }
						  	
						});
					}
				} 
			});
	
	
};

var aongkir = jQuery.noConflict();


jQuery(document).ready(function(e) {

	var CURRENT_CITY_ID = '<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>' ;
	var COUNTRY_ID = jQuery('select#billing\\:country_id :selected').val();
	console.log('CURRENT_CITY_ID is '+CURRENT_CITY_ID);
	var PROV_ID = jQuery('select#billing\\:region_id :selected').val();
	
	if(CURRENT_CITY_ID)
	{
		playAjax_billing(CURRENT_CITY_ID,PROV_ID);
		//CURRENT_CITY_ID = jQuery('select#city :selected').val();
		//jQuery('select#city').find('option[value="'+CURRENT_CITY_ID+'"]').attr('selected', 'selected');
	};
	
	jQuery('select#billing\\:region_id').change(function(e) {
		PROV_ID = jQuery('select#billing\\:region_id :selected').val();			
		playAjax_billing(CURRENT_CITY_ID,PROV_ID);					
	});	

	jQuery('select#billing\\:country_id').change(function(e) {
        
		COUNTRY_ID = jQuery('select#billing\\:country_id :selected').val();
		
		if(COUNTRY_ID != 'ID')
		{
			/*balikin ke awal*/
			
			jQuery('select#billing\\:city').replaceWith('<input type="text" title="City" name="billing[city]" value="" class="input-text  required-entry" id="billing:city">');
			
		}else
		{
			jQuery('select#billing\\:region_id').find('option[value=""]').attr('selected', 'selected');
			jQuery('input#billing\\:city').replaceWith('<select name="billing[city]"  class="  required-entry" id="billing:city"></select>');
		}
		
    });

	
});

</script>

