<?php
/**
 * Indonesia Shipping Carriers
 * @copyright   Copyright (c) 2015 Ansyori B.
 * @email		ansyori@gmail.com / ansyori@kemanaservices.com
 * @build_date  March 2015   
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>

<?php
$penolong = Mage::helper('aongkir'); 
?>




<form action="<?php echo $this->getUrl('checkoutv2/order/addAddress') ?>" id="co-shipping-form" method="post" class="form">
    <?php echo $this->getBlockHtml('formkey') ?>
    <ul class="form-list no-bullet">

        <li id="shipping-new-address-form" <?php if ($this->customerHasAddresses()): ?> style=""
            <?php endif ?> class="scaffold-form">
            <div class="fieldsets">
               
                <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="shipping:address_id" />
                <ul class="no-bullet">
                    
                
                    

                   
                    <li class="wide">
                        <label for="shipping:street1" class="required"><em>*</em>
                            <?php echo $this->__('Address') ?></label>
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Street Address') ?>" name="street"
                                id="shipping:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>"
                                class="input-text <?php echo $_streetValidationClass ?>" />
                        </div>
                    </li>

                    <li class="fields">
                        <div class="field">
                            <label for="shipping:postcode"><em>*</em>
                                <?php echo $this->__('Zip/Postal Code') ?></label>
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="postcode"
                                    id="postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>"
                                    class="input-text validate-number <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>"
                                    />
                            </div>
                        </div>
                        <div class="field hide">
                            <label for="shipping:country_id" class="required"><em>*</em>
                                <?php echo $this->__('Country') ?></label>
                            <div class="input-box">
                                <?php echo $this->getCountryHtmlSelect('shipping') ?>
                            </div>
                        </div>
                    </li>

                    <li class="fields">
                        

                        <div class="field">
                            <label for="shipping:region" class="required"><em>*</em>
                                <?php echo $this->__('State/Province') ?></label>
                            <div class="input-box">
                                <select id="shipping:region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>"
                                    class="validate-select">
                                    <option value="">
                                        <?php echo $this->__('Please select region, state or province') ?>
                                    </option>
                                </select>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    $('shipping:region_id').setAttribute('defaultValue',
                                        "<?php echo $this->getAddress()->getRegionId() ?>");
                                    //]]>
                                </script>
                                
                            </div>
                        </div>

                        <div class="field">
                            <label for="shipping:city" class="required"><em>*</em>
                                <?php echo $this->__('City') ?></label>
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->__('City') ?>" name="city" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"
                                    class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>"
                                    id="shipping:city"/>
                            </div>
                        </div>

                    </li>

                    <li class="fields">
                        <div class="field">
                            <label for="telephone" class="required"><em>*</em>
                                <?php echo $this->__('Telephone') ?></label>
                            <div class="input-box">
                                <input type="tel" name="telephone" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>"
                                    title="<?php echo $this->__('Telephone') ?>" class="input-text validate-number <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>"
                                    id="telephone"/>
                            </div>
                        </div>
                        
                    </li>

                    <input class="hide" id="ends" name="vat_id" type="text">


                    
       
                </ul>
            </div>
        </li>
        
    </ul>

    <div style="background-image:url('https://wia.id/media/wysiwyg/logo/maps-bg.jpg');background-size:cover;padding:1rem 0.5rem" class="margin-bottom-1">
    <div class="row">
                                        <div class="small-8 columns">
                                            <p class="small-text">Untuk menggunakan metode pengiriman GO-SEND wajib menambahkan pinpoin</p>
                                        </div>
                                        <div class="small-4 columns">
                                        <span class="button tiny secondary expanded" onclick="initialize()" data-open="mapsModal"><i class="fa fa-map-marker" aria-hidden="true"></i> Tambah Pinpoin</span>

                                        </div>
    </div>
    
    </div>

    
    <button type="submit" name="submit" value="Submit" class="button expanded">Simpan Alamat</button>

    
</form>



<script type="text/javascript">
//<![CDATA[
    var shipping = new Shipping('co-shipping-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveShipping') ?>',
        '<?php echo $this->getUrl('checkout/onepage/shippingMethod') ?>');
    var shippingForm = new VarienForm('co-shipping-form');
    shippingForm.extraChildParams = ' onchange="shipping.setSameAsBilling(false);"';
    //shippingForm.setElementsRelation('shipping:country_id', 'shipping:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');
    
    $('shipping-address-select') && shipping.newAddress(!$('shipping-address-select').value);

    var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'shipping:postcode');
//]]>
</script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>

function playAjaxShipping(CURRENT_CITY_ID,PROV_ID)
{
	
	jQuery.ajax({
				type: 'GET', 
				url: '<?php echo Mage::getUrl('aongkir/index/city/', array('_secure'=>true)); ?>', 
				data: 'prov_id='+PROV_ID,
				dataType: 'json',
				success: function(data){
					if(data){
						
						jQuery('input#shipping\\:city').replaceWith('<select name="city"  class="  required-entry" id="shipping:city"></select>');
						
						jQuery('select#shipping\\:city').empty().append(
                            jQuery("<option value=''><?php echo $this->__('Please select city') ?></option>")
							
							
                        );
						
						jQuery.each(data, function(index, city){
							
							
						 if(CURRENT_CITY_ID == city.display_name){	
							 jQuery('select#shipping\\:city').append(	
								jQuery("<option></option>")  
								.text(city.display_name)
								.val(city.display_name)
								.prop('selected','selected')
							  )
						 }else
						 {
							 jQuery('select#shipping\\:city').append(	
								jQuery("<option></option>")  
								.text(city.display_name)
								.val(city.display_name)
							  )
						 }
						  	
						});
					}
				} 
			});
	
	
};

var aongkir = jQuery.noConflict();


jQuery(document).ready(function(e) {

	var CURRENT_CITY_ID = '<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>' ;
	var COUNTRY_ID = jQuery('select#shipping\\:country_id :selected').val();
	console.log('CURRENT_CITY_ID is '+CURRENT_CITY_ID);
	var PROV_ID = jQuery('select#shipping\\:region_id :selected').val();
	
	if(CURRENT_CITY_ID)
	{
		playAjaxShipping(CURRENT_CITY_ID,PROV_ID);
		
	};
	
	jQuery('select#shipping\\:region_id').change(function(e) {
		PROV_ID = jQuery('select#shipping\\:region_id :selected').val();			
		playAjaxShipping(CURRENT_CITY_ID,PROV_ID);					
	});	

	jQuery('select#shipping\\:country_id').change(function(e) {
        
		COUNTRY_ID = jQuery('select#shipping\\:country_id :selected').val();
		
		if(COUNTRY_ID != 'ID')
		{
			/*balikin ke awal*/
			
			jQuery('select#shipping\\:city').replaceWith('<input type="text" title="City" name="city" value="" class="input-text  required-entry" id="shipping:city">');
			
		}else
		{
			jQuery('select#shipping\\:region_id').find('option[value=""]').attr('selected', 'selected');
			jQuery('input#shipping\\:city').replaceWith('<select name="shipping[city]"  class="  required-entry" id="shipping:city"></select>');
		}
		
    });

	
});
</script>






<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmlnIAu52yOhMzIPFGxSsDaHB9TXmqhQk"></script>

<!-- This is the nested modal -->
<div class="reveal" id="mapsModal" data-close-on-click="false" data-reveal>
<h3>Pinpont</h3>
                <div id="map-canvas" class="margin-bottom-1">
                </div>

                <button class="button secondary expanded" data-toggle="addressModal">Simpan Pinpoin</button>

</div>

<script>
    var showMap = $('#show-map');
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    var endMarker;

    function initialize() {



        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 17,
            center: {
                lat: -6.175387099999986,
                lng: 106.82714748255614
            }
        });

        var geocoder = new google.maps.Geocoder();

        geocodeAddress(geocoder, map);






    }


    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('shipping:street1').value + document.getElementById('shipping:city').value;
        geocoder.geocode({
            'address': address
        }, function (results, status) {
            if (status === 'OK') {
                
                resultsMap.setCenter(results[0].geometry.location);
                var endMarker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location,
                    draggable: true,
                    zoom: 17,
                });
                
                copyMarkerpositionToInput(endMarker);
                google.maps.event.addListener(endMarker, 'dragend', function () {
                    copyMarkerpositionToInput(endMarker);
                   // console.log(endMarker);

                    
                });

            } else {
                alert('silahkan masukan alamat lengkap terlebih dahulu');
            }
        });
    }

    

    function copyMarkerpositionToInput(endMarker) {
        // get the position of the marker, and set it as the value of input
        document.getElementById("ends").value = endMarker.getPosition().lat() + ',' + endMarker.getPosition().lng();



    }
    
</script>


