<?php 
$cart =  Mage::helper('checkout/cart')->getItemsCount();
if ($cart == 0){
    Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getBaseUrl());
}
?>

<div id="formLoader" class="form-loader" style="display:none">
loading...
</div>



<style>
.form-loader{
   
    background:rgba(0,0,0,0.8);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:999999999999;
    padding:25%;
    text-align:center;
    color:white;
}
</style>




<section id ="booking-page" class="booking-page padding-center light-grey-bg" style="background:#fafafa">


    <div class="row">
        <div class="medium-8 columns">

        <form class="my-form" name="myForm" id="myForm">
<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    

<div class="callout">
    <h3>Contact Details</h3>
    <label>Name
      <input type="text" name="firstname" class="input-text required-entry"/>
    </label>
    <label>Last Name
      <input type="text" name="lastname" class="input-text required-entry"/>
    </label>
    <label>Email
      <input type="text" name="email" class="input-text validate-email required-entry"/>
    </label>
    <label>Phone
      <input type="text" name="phone" class="input-text validate-number required-entry"/>
    </label>
</div>

<div class="callout">
    <h3>Booking Details</h3>
    <div class="row">
        <div class="medium-6 columns">
            <label>Date
                <input type="date" name="date" class="input-text required-entry validate-date"/>
            </label>
        </div>
        <div class="medium-6 columns">
        <label>Time Between
            <select name="time" id="time" clas="required-entry validate-select">
                <option></option>
                <option value="7am - 10am">7am - 10am</option>
                <option value="10am - 1pm">10am - 1pm</option>
                <option value="1pm - 4pm">1pm - 4pm</option>
                <option value="4pm - 7pm">4pm - 7pm</option>
                
            </select>
        </label>
        </div>

        <div class="medium-12 columns">
            <label>City ( based on vendor service area )
                <select name="city" id="shipping-city" class="validate-select required-entry">
                    <option value="Jakarta">Jakarta</option>
                    <option value="Tangerang">Tangerang</option>
                </select>
            </label>
        </div>

        <div class="medium-12 columns">
            <label>Address
                <input type="text" name="street" class="input-text required-entry"/>
            </label>
        </div>
        <div class="medium-12 columns">
            <label>Location
                <input type="text" name="location" class="input-text required-entry"/>
            </label>
        </div>
    </div>
    
</div>

<div class="callout">
    <h3>Payment Method</h3>
    <div class="row">
    <div class="medium-12 columns">
        <label>Select Payment Method
            <select name="selected-payment-method" id="payment-method" class="validate-select config-headingrequired-entry">
                <option value="cashondelivery">Cash</option>
                <option value="snapgopay">Gopay</option>
                
            </select>
        </label>
        </div>
    </div>
</div>

<div class="callout">

<button class="button expanded" name="submit"/> <span><span><?php echo $this->__('Submit') ?></span></span> </button>
</div>

</form>

        </div>
        <div class="medium-4 columns">

           



            <div class="callout">
            <h3 class="">
                Summary
            </h3>


        



            <?php $quote = Mage::getSingleton('checkout/session')->getQuote();

$items = $quote->getAllVisibleItems();

foreach($items as $cartItem) {
    echo $cartItem->getQty();
    echo $cartItem->getName();
    echo $cartItem->getPrice(); 
};
?>          


          



            </div>
        </div>
    </div>

</section>



<script type="text/javascript">
//<![CDATA[
    var formId = 'myForm';
    var myForm = new VarienForm(formId, true);
    var postUrl = '<?php echo $this->getUrl("book/order/createbooking") ?>';
    function doAjax() {
        if (myForm.validator.validate()) {
            new Ajax.Updater(
                { success:'formSuccess' }, postUrl, {
                    method:'post',
                    asynchronous:true,
                    evalScripts:false,
                    onComplete:function(request, json) {
                        Element.hide(formId);
                        Element.show('formSuccess');
                    },
                    onSuccess: function(data){
                        //data = transport.responseText.evalJSON();
                        window.location.href = data.transport.responseURL;
                        //console.log(data) 
                    },
                    onLoading:function(request, json){
                        Element.show('formLoader');
                    },
                    parameters: $(formId).serialize(true),
                }
            );
        }
    }

    new Event.observe(formId, 'submit', function(e){
        e.stop();
        doAjax();
    });
//]]>
</script>
