<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
	<div class="border-top  padding-center">
		<div class="row">
			<div class="medium-6 medium-centered text-center columns">
		<div class="caption text-center">
			<?php if ($title = $this->getTitle()): ?>
		
				<h3><?php echo $this->__($title) ?></h3>
			
		<?php endif; ?>
				
		</div>
		
	</div>
			<div class="medium-12 columns">
		
		<div class="homepage-block-content">
			<div class="row medium-up-3" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item text-center">
					<div class="homepage-block-content-container">
					
				<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>" target="_blank">
						<img src="<?php echo $image->getThumbnailImage() ?>" width="700" height="500" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
					</a>
				<?php endif; ?>
					<a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>" target="_blank"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a>
				
					</div>
				</div>
			<?php endforeach; ?>
			</div>

		</div>
			</div>
		</div>
	</div>
<?php endif; ?>


