<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>


<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
	<div class="border-top  padding-center">
		<div class="row">
			<div class="medium-6 medium-centered text-center columns">
		<div class="caption text-center">
			<h3>Journal</h3>
			
			<p style="margin-bottom:20px">
			Nantikan terus catatan kaki petualangan kami yang akan menginspirasi Anda untuk memulai cerita petualangan Anda sendiri. Cerita dimulai semenjak pijakan kaki pertama!
			</p>
				
		</div>
		
	</div>
			<div class="medium-12 columns">
		
		<div class="homepage-block-content">
			<div class="row medium-up-3" id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<div class="columns item text-center">
					<div class="homepage-block-content-container">
					
				<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>">
						<img src="<?php echo $featuredImage->getPostThumbnailImage();?>" height="440" width="600" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
					</a>
				<?php endif; ?>
					<a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a>
				
					</div>
				</div>
			<?php endforeach; ?>
			</div>

		</div>
			</div>
		</div>
	</div>
<?php endif; ?>
