<?php 
$layer = Mage::getSingleton('catalog/layer');
$_category = $layer->getCurrentCategory();
$parentCategoryId = $_category->getParentId();
$loadCategory = Mage::getModel('catalog/category')->load($parentCategoryId);
$subcats = $loadCategory->getChildren();

?>

<?php $currentCategoryId = $_category->getId(); ?>
<div class="category-navigation">

<div class="row">
	<div class="small-12 columns">
		<div id="toggle" class="show-for-small-only">Show <?php echo $loadCategory->getName();?> Category<i class="fa fa-angle-down" aria-hidden="true"></i></div>
	
		<ul class="horizontal menu">
	<li class="parent"><a href="<?php echo $loadCategory->getURL();?>"><?php echo $loadCategory->getName();?></a></li>
	<?php foreach(explode(',',$subcats) as $subCatid):?>

	<?php $_category = Mage::getModel('catalog/category')->load($subCatid);?>
	
  	<li <?php if ( $currentCategoryId == $_category->getId()):?>
  	class="is-active"
  	<?php endif; ?>>
  		<a href="<?php echo $_category->getURL();?>">
  			<?php echo $_category->getName();?>
  		</a>
    </li>
  

	<?php endforeach ?>
	</ul>
	</div>
</div>
</div>


                       