<?php 
$layer = Mage::getSingleton('catalog/layer');
$_category = $layer->getCurrentCategory();
$parentCategoryId = $_category->getId();
$loadCategory = Mage::getModel('catalog/category')->load($parentCategoryId);
$subcats = $loadCategory->getChildren();
?>

<?php 
$layer = Mage::getSingleton('catalog/layer');
$_category = $layer->getCurrentCategory();
$parentCategoryId = $_category->getId();
$loadCategory = Mage::getModel('catalog/category')->load($parentCategoryId);
$subcats = $loadCategory->getChildren();
?>
<div class="row small-up-1 show-for-small-only small-nav-cat text-center">
	
	<?php 
foreach(explode(',',$subcats) as $subCatid)
{
  $_category = Mage::getModel('catalog/category')->load($subCatid);
  if($_category->getIsActive()) {
    echo '<div class="columns">
    		<a class="margin-bottom-05" href="'.$_category->getURL().'">'.$_category->getName().'</a>';
    /*
    $sub_cat = Mage::getModel('catalog/category')->load($_category->getId());
    $sub_subcats = $sub_cat->getChildren();
    foreach(explode(',',$sub_subcats) as $sub_subCatid)
    {
          $_sub_category = Mage::getModel('catalog/category')->load($sub_subCatid);
          if($_sub_category->getIsActive()) {
              echo '<ul class="menu vertical nested"><li>
              	<a class="child" href="'.$_sub_category->getURL().'">'.$_sub_category->getName().'</a></li></ul>';

 	}
     }*/
     echo '</div>';
  }
}
?>
</div>

<div class="show-for-medium">
<h5>Shop By Category</h5>
<ul class="vertical menu">
	
	<?php 
foreach(explode(',',$subcats) as $subCatid)
{
  $_category = Mage::getModel('catalog/category')->load($subCatid);
  if($_category->getIsActive()) {
    echo '<li>
    		<a href="'.$_category->getURL().'">'.$_category->getName().'</a>';
    /*
    $sub_cat = Mage::getModel('catalog/category')->load($_category->getId());
    $sub_subcats = $sub_cat->getChildren();
    foreach(explode(',',$sub_subcats) as $sub_subCatid)
    {
          $_sub_category = Mage::getModel('catalog/category')->load($sub_subCatid);
          if($_sub_category->getIsActive()) {
              echo '<ul class="menu vertical nested"><li>
              	<a class="child" href="'.$_sub_category->getURL().'">'.$_sub_category->getName().'</a></li></ul>';

 	}
     }*/
     echo '</li>';
  }
}
?>
</ul>
</div>

