<?php 
$layer = Mage::getSingleton('catalog/layer');
$_category = $layer->getCurrentCategory();
$parentCategoryId = $_category->getId();
$loadCategory = Mage::getModel('catalog/category')->load($parentCategoryId);
$subcats = $loadCategory->getChildren();
$currentUrl = Mage::helper('core/url')->getCurrentUrl();
?>

<div class="row">
	<div class="medium-12 columns">
		
<div class="category-navigation text-center">
	<div id="toggle" class="show-for-small-only">Show <?php echo $_category->getName();?> Category<i class="fa fa-angle-down" aria-hidden="true"></i></div>
<ul class="horizontal menu">
		<li class="is-active"><a href="<?php echo $loadCategory->getURL();?>">New Arrivals</a></li>
		<?php foreach(explode(',',$subcats) as $subCatid):?>
		<?php $_category = Mage::getModel('catalog/category')->load($subCatid);?>
		<li>
  			<a href="<?php echo $_category->getURL();?>">
  		
  			<?php echo $_category->getName();?>			
  		</a>
    	</li>
    	<?php endforeach ?>
	</ul>

</div>
	
	</div>
</div>

