<?php
$_product = $this->getProduct();
$_convertedFinalPrice = $_product->getFinalPrice();
?>
 
<div class="fast-ship border-left">
        			<p class="tiny-text">Beli Dengan Cicilan 0%</br>
        			 Sampai<b><?php if ($_product->getData('installment') == '158'):?>
						<?php $cicilan = $_convertedFinalPrice / 3;?>
        				<?php echo Mage::helper('core')->currency($cicilan , true, false) ?> x 3 Bln
					<?php elseif ($_product->getData('installment') == '158,157'):?>
						<?php $cicilan = $_convertedFinalPrice / 6;?>
        				<?php echo Mage::helper('core')->currency($cicilan , true, false) ?> x 6 Bln
					<?php elseif ($_product->getData('installment') == '158,157,156'):?>
						<?php $cicilan = $_convertedFinalPrice / 12;?>
        				<?php echo Mage::helper('core')->currency($cicilan , true, false) ?> x 12 Bln
					<?php endif;?>
					</b>
        			</br><a class="fast-ship-a" data-open="installmentModal">Pilihan cicilan</a>
        			
        			</p>
        			
        			
        		</div>



	
	
<div class="reveal medium" id="installmentModal" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center">
  		<h3>Pilihan Cicilan</h3>
  		<p class="gotham f500">Pembayaran mudah dengan berbagai metode cicilan</p>
  		<div class="row">
  			<div class="medium-6 columns">
  				<h5 class="uppercase letter-spacing-1">Kartu Kredit</h5>
  				<ul class="small-text">
  					<li>UOB</li>
  					<li>Permata</li>
  					<li>Mandiri</li>
  				</ul>
  			</div>
  			<div class="medium-6 columns">
  				<h5 class="uppercase letter-spacing-1">Tanpa Kartu Kredit</h5>
  				<ul class="small-text">
  					<li>Kredivo</li>
  					
  				</ul>
  			</div>
  		</div>
  		
  		
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div>