<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php $openminicart = Mage::getSingleton('core/session')->getOpenMinicart();?>
<?php if ($openminicart == 'ON'):?>
	<script type="text/javascript">
    jQuery(document).ready(function($){            
         $("#mini-cart").foundation('open');
        });

</script>
	<?php Mage::getSingleton('core/session')->unsOpenMinicart();?>
<?php endif;?>
<div class="reveal mini-cart medium" id="mini-cart" aria-labelledby="mini-cart" data-reveal>
	<div class="row">
		<div class="medium-12 columns">
			<div class="padding-center">
		<div class="row">
		<div class="medium-12 columns">
			<div class="caption"><h4>Berhasil ditambahkan <i class="fa fa-check-circle-o" aria-hidden="true"></i> </h4></div>
			
		</div>
		<div class="small-4 medium-2 columns">
			<img
             src="<?php 
echo $this->helper('catalog/image')->init($_product, 'small_image')
    ->constrainOnly(false)
    ->keepAspectRatio(true)
    ->keepFrame(true)
    ->resize(200,200);
?>"
             alt="<?php echo $this->escapeHtml($this->getImageLabel()) ?>"
             title="<?php echo $this->escapeHtml($this->getImageLabel()); ?>" 
             />	
		</div>
		<div class="small-8 medium-10 medium columns">
			<h3><?php echo $_product->getName();?></h3>
			
		</div>
		
	</div>
		<div class="row">
		<div class="medium-12 columns">
			
				<?php $weekday = Mage::getSingleton('core/date')->date('w'); ?>
<?php $hour    = Mage::getSingleton('core/date')->date('G'); ?>
<?php $selectedTime = Mage::getModel('core/date')->date('H:i');?>
<?php

$endTime = strtotime("+180 minutes", strtotime($selectedTime));
$endTimeFormat = date('H:i', $endTime);

?>
				<?php if ( $_product->getData('product_inventory') == '95' && $weekday >= 1 && $weekday <= 6 && $hour >= 8 && $hour < 18 ):?>
        		<div class="border-top" style="padding:1rem 0">
				<p class="no-margin tiny-text">JABODETABEK : Estimasi sampai tujuan Pk <?php echo $endTimeFormat;?> WIB ( Pilih metode pengiriman private courier )</p>
				</div>
				<?php endif;?>
		
			
		</div>
	</div>
	</div>
	<section class="light-grey-bg" style="padding:1rem 0">
        <div class="row">
        	<div class="medium-6 columns small-text-center">
        		
        		<h5 class="uppercase letter-spacing">
        			Total Belanja
        			<?php
      $count = $this->helper('checkout/cart')->getSummaryCount();  //get total items in cart
      
     echo $this->__('( %s Produk )',$count);
    ?>
        		</h5>
            	<p class="tiny-text show-for-medium">Biaya kirim akan dikalkulasi setelah Anda memasukan alamat tujuan pada halaman checkout</br>
            	Gratis ongkos kirim untuk total belanja Rp 250.000,00
            	</p>
      		</div>
        	<div class="medium-6 columns text-right small-text-center">
        		
        		<h3 class="subtotal no-margin uppercase">
        		SUBTOTAL : <?php
$subtotals= Mage::getSingleton('checkout/session')->getQuote()->getSubtotal();
echo $formattedPrice = Mage::helper('core')->currency($subtotals , true, false);
?>
        		</h3>
           	</div>
        	<div class="medium-12 columns">
       			<div class="row medium-up-2">
       				<div class="columns">
       					<a data-close aria-label="Close Accessible Modal" type="button" class="button expanded border-black"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Kembali Berbelanja</a>
			
       				</div>
       				<div class="columns">
       					<a href="/checkout/onepage/" class="button expanded secondary">Proses Pesanan <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        	
       				</div>
       			</div>
        		
       		</div>
        </div>
        </section>
		</div>
		
	</div>
	
  	<div class="close-button" data-close aria-label="Close Accessible Modal" type="button">
	<span aria-hidden="true">&times;</span>
  </div>
</div>