<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct()
?>
<?php $weekday = Mage::getSingleton('core/date')->date('w'); ?>
<?php $hour    = Mage::getSingleton('core/date')->date('G'); ?>



<?php
$free_product_id = $_product->getData('free_product_id');
$free_product = Mage::getModel('catalog/product')->load($free_product_id);
$free_product_name = $free_product->getName();
?>

<?php 
$img_src =  $this->helper('catalog/image')->init($free_product, 'small_image')
    ->constrainOnly(false)
    ->keepAspectRatio(true)
    ->keepFrame(true)
    ->resize(300,250);
?>



<div class="product-usp-container">
	<div class="row small-up-3 medium-up-1">
		
		
		<?php if ($free_product_id !== null):?>
		<div class="columns">
		<div class="product-usp-icon" data-open="free_product_id">
			<img src="<?php echo $img_src?>">
			<div>Free</div>
		</div>
		</div>	
		<?php endif;?>
		
		<?php $freeshipping = $_product->getData('gosend');
        	if ( $freeshipping == '1'):?>
		<div class="columns">
		<div class="product-usp-icon" data-open="gosend-freeshipping">
			<img src="https://wearinasia.com/media/wysiwyg/logo/gojek-logo.svg" alt="">
			<div>Gosend</div>
		</div>
		</div>	
		<?php endif;?>
		
		
		
		
		
		
		<?php if(!empty($_product->getData('warranty'))):?>
		<div class="columns">
		<div class="product-usp-icon" id="warranty">
			<i class="fa fa-3x fa-certificate" aria-hidden="true"></i>
			<div>Official Warranty <i class="fa fa-check" aria-hidden="true"></i>*</div>
		</div>
		</div>		
		<?php endif;?>
		
		<?php if ($_product->getData('pengembalian') == '111'):?>
			<div class="columns">
		<div class="product-usp-icon" data-open="returnModal">
			<i class="fa fa-3x fa-refresh" aria-hidden="true"></i>
			<div>7 Hari Penukaran</div>
		</div>
		</div>
		<?php elseif ($_product->getData('pengembalian') == '110'):?>
			<div class="columns">
		<div class="product-usp-icon" data-open="returnModal">
			<i class="fa fa-3x fa-refresh" aria-hidden="true"></i>
			<div>14 Hari Penukaran</div>
		</div>
		</div>
		<?php elseif ($_product->getData('pengembalian') == '109'):?>
			<div class="columns">
		<div class="product-usp-icon" data-open="returnModal">
			<i class="fa fa-3x fa-refresh" aria-hidden="true"></i>
			<div>30 Hari Penukaran</div>
		</div>
		</div>				
		<?php endif;?>
		
		
					
	</div>
</div>




<?php if ($_product->getData('pengembalian') == '111' || $_product->getData('pengembalian') == '110' || $_product->getData('pengembalian') == '109'):?>	
<div class="reveal medium" id="returnModal" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center gotham">
  		<h3><i class="fa fa-lg fa-refresh" aria-hidden="true"></i> <?php if ($_product->getData('pengembalian') == '111'):?>7<?php elseif ($_product->getData('pengembalian') == '110'):?>14<?php elseif ($_product->getData('pengembalian') == '109'):?>30<?php endif;?> Hari Penukaran</h3>
  		<p class="gotham f500">Belanja tanpa keraguan</p>
  		<p class="gotham f100 small-text">
  		Jika barang yang diterima tidak sesuai, cacat produksi, tidak original, salah ukuran Anda dapat mengajukan penukaran barang dalam tempo max <?php if ($_product->getData('pengembalian') == '111'):?>7<?php elseif ($_product->getData('pengembalian') == '110'):?>14<?php elseif ($_product->getData('pengembalian') == '109'):?>30<?php endif;?> hari setelah barang Anda diterima.
  		</p>
  		
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div>
<?php endif;?>

<?php $cicilan = $_product->getData('installment');
        	if ( $cicilan == '1'):?>	
<div class="reveal medium" id="fast-cicilan" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center gotham">
  		<h3><i class="fa fa-credit-card fa-lg" aria-hidden="true"></i> Cicilan 0%</h3>
  		<p class="gotham f500">Nikmati kemudahan pembayaran</p>
  		<p class="gotham f100 small-text">
  		Dapatkan kemudahan pembayaran dengan cicilan 0% untuk 3 & 6 Bulan. Cicilan berlaku untuk pemilik kartu berlogo VISA, MASTERCARD dan JCB.
  		</p>
  		
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div>
<?php endif;?>

<?php $freeshipping = $_product->getData('freeshipping');
        	if ( $freeshipping == '1'):?>
<div class="reveal medium" id="fast-freeshipping" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center gotham">
  		<h3><i class="fa fa-lg fa-truck" aria-hidden="true"></i> Freeshipping</h3>
  		<p class="gotham f500">Gratis Ongkos Kirim ke Seluruh Indonesia</p>
  		<p class="gotham f100 small-text">
  		Dapatkan kemudahan pengiriman dengan gratis ongkos kirim ke seluruh Indonesia. Pilih metode pengiriman freeshipping pada halaman checkout saat melakukan pemesanan
  		</p>
  		
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div>
	<?php endif;?>

<?php $freeshipping = $_product->getData('gosend');
        	if ( $freeshipping == '1'):?>
<div class="reveal medium" id="gosend-freeshipping" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center gotham">
  		<h3><img src="https://wearinasia.com/media/wysiwyg/logo/gojek-logo.svg" alt=""> Gosend</h3>
  		<p class="gotham f500">Terima pesanan dihari yang sama dengan gosend</p>
  		<p class="gotham f100 small-text">
  		Produk ini dapat dikirim menggunakan jasa pengiriman GOSEND dari GOJEK. Pemesanan sebelum Pk 18.00 WIB akan dikirimkan pada hari yang sama. Jasa pengiriman ini hanya berlaku untuk daerah Jakarta dan Tangerang
  		</p>
  		
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div>
	<?php endif;?>
	
	
	<?php $non_promo_item = $_product->getData('non_promo_item');
        	if ( $non_promo_item == '1'):?>
<div class="reveal medium" id="non_promo_item" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center gotham">
  		<h3></h3>
  		<p class="gotham f500">Apa itu Non-Promo Item?</p>
  		<p class="gotham f100 small-text">
  		Produk yang pada bagian keterangan tertulis Non-Promo Item tidak dapat dikenakan potongan yang berasal dari voucher, baik voucher yang dirilis oleh pihak Wearinasia.com sendiri atau pihak ketiga.</p>
  		
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div>
	<?php endif;?>
	
	
	<?php if ($free_product_id !== null):?>
<div class="reveal small" id="free_product_id" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center text-center">
  		<h3></h3>

  		<img src="<?php echo $img_src?>">
  		<h5>Limited Offer</h5>
  		<p class="mercury italic" data-open="free_product_id">Free <?php echo $free_product_name?></p>
  		
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div>
	<?php endif;?>