<?php $current_product = $this->getProduct(); ?>
<?php $attributeOptionId = $current_product->getData('brand');


$attribute = $current_product->getResource()->getAttribute('brand');
               		
?>

<?php

	
	
	
	$attributeCode = 'brand';
 	$_productCollections = Mage::getModel('catalog/product')
                    ->getCollection()
                    ->addAttributeToSelect('*')
                    ->addAttributeToFilter($attributeCode, $attributeOptionId)
                    ->addAttributeToSort('created_at', 'DESC')
                    
                    ->addAttributeToSelect("*")
	->joinField('rating_score', 
                   'review_entity_summary', 
                   'rating_summary', 
                   'entity_pk_value = entity_id', 
                   array('entity_type'=>1, 'store_id'=> Mage::app()->getStore()->getId(),'rating_summary'=> 100),
                   'right'
)
                    ->setPageSize(4	)
                    ;
		

?> 
<h4>Ulasan lainnya dari Produk <?php echo $attribute ->getFrontend()->getValue($current_product);?></h4> 


               		
               			
                     
<?php foreach ($_productCollections as $_product):?>
	
   	<?php 
   	$product_id = $_product->getId();
   	$product_name = $_product->getName();
   	
   	
   	$entity_ids = array($product_id);
	$reviewcollection = Mage::getModel('review/review')->getCollection()
    ->addStoreFilter(Mage::app()->getStore()->getId())
    ->addStatusFilter(Mage_Review_Model_Review::STATUS_APPROVED)
    ->addFieldToFilter('entity_id', Mage_Review_Model_Review::ENTITY_PRODUCT)
    ->addFieldToFilter('entity_pk_value', $entity_ids)
    ->setDateOrder()
    ->addRateVotes();
	$_items = $reviewcollection->getItems();?>
		
		<div class="padding-center border-bottom">
		<?php $i = 0; foreach (  $_items as $_review ):?>
				
				<?php if($i++ == 0):?> 
					<?php $customer_idf = $this->htmlEscape($_review->getCustomerId()) ?>
        			<?php $customer = Mage::getModel('customer/customer')->load($customer_idf);?>
        			<div class="row">
        				
						<div class="small-2 medium-1 columns">
        	<?php if ($customer->getInchooSocialconnectFid() != null):?>
        	<a href="https://www.facebook.com/app_scoped_user_id/<?php echo $customer->getInchooSocialconnectFid(); ?>/" target="_blank">
        		<div class="facebook-cover" style="background-image:url('https://wearinasia.com/media/inchoo/socialconnect/facebook/<?php echo $customer->getInchooSocialconnectFid(); ?>')">
        		</div>
        	</a>
        	<?php else:?>
        		<div class="white no-pick">
        		<?php $nickname = $this->htmlEscape($_review->getNickname());
        			echo $nickname[0]; 
        		?>
        		</div>
        	</a>
       		<?php endif;?>
        	</div>
        				<div class="small-7 medium-9 columns">
        	<div class="review-name">
        	<?php if ($customer->getInchooSocialconnectFid() != null):?>
        	<a target="_blank" href="https://www.facebook.com/app_scoped_user_id/<?php echo $customer->getInchooSocialconnectFid(); ?>/">
        	<span class="buyer-name">
        	
        	<i class="fa fa-facebook-square" aria-hidden="true"></i>
        		<?php echo $this->htmlEscape($_review->getNickname());?>
        	
        	</span>
        	</a>
        	<?php else:?>
        		<span class="buyer-name"><?php echo $this->htmlEscape($_review->getNickname());?></span>
        	<?php endif;?>
        	<span class="v-buyer">( Verified Buyer )</span>
        </div>
             <div class="rating-box secondary">
                	<?php echo $_vote;?>
                    <div class="rating" style="width:100%;"></div>
                </div>
            <div class="single-review-container">
			
        <p class="review-headline"><?php echo $this->htmlEscape($_review->getTitle()) ?></p> 
        
        <p><?php echo nl2br($this->htmlEscape($_review->getDetail())) ?></br>
        <small class="date">- <?php echo $this->formatDate($_review->getCreatedAt(), 'long') ?></small>
        </p>
        
        
        	</div>
        
        	
        	
        	</div>
        				<div class="small-3 medium-2 columns">
        						<div class="product-image ">
            <a href="<?php echo $_product->getProductUrl() ?>">
                <img height="500" width="500" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(300,200); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
            	
            </a>
            </div>
            					<div class="product-info show-for-medium">
            
            <h2 class="product-name">
            	<a href="<?php echo $_product->getProductUrl() ?>">
            		<?php $prod_name = $this->htmlEscape($_product->getName()); ?>
                    	<?php
                    $count_str = strlen($prod_name);
                    if ($count_str < 30) {
                        echo $prod_name;
                    } else {
                        $offset = 0;
                        $length = 31;   
                        $prod_name = html_entity_decode($prod_name);                     
                        echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;                        
                    }
                    ?>
            	
            	</a>
            </h2>
			
			</div>
							
        				</div>
        				
        			</div>
        		<?php endif;?>
				
		<?php endforeach;?>
		</div>
		
<?php endforeach;?>









