<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct()
?>
<?php $weekday = Mage::getSingleton('core/date')->date('w'); ?>
<?php $hour    = Mage::getSingleton('core/date')->date('G'); ?>
<?php $selectedTime = Mage::getModel('core/date')->date('H:i');?>
<?php

$endTime = strtotime("+180 minutes", strtotime($selectedTime));
$endTimeFormat = date('H:i', $endTime);

?>
<?php 
                						$presale = $_product->getData('presale');
                						$product_inventory = $_product->getData('product_inventory');
                						
                					?>
                					<div class="info-ship-container text-center">
                					<?php if ( $_product->getData('product_inventory') == '95' && $weekday >= 1 && $weekday <= 6 && $hour >= 8 && $hour < 18 ):?>
        		
    									<div class="info-ship small-text-center">
        			Produk ini dikirim oleh Wearinasia.</br>
        			Pesan sekarang estimasi sampai <b>Pk <?php echo $endTimeFormat;?> WIB</b></br>
        			<a class="fast-ship-a" data-open="fast-shipModal">Pilihan Pengiriman</a> | <a class="fast-ship-a" data-open="pickupstore-shipModal">Pickup Store</a>
        			
        		</div>
        								<div class="reveal medium" id="fast-shipModal" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center">
  		<h3><i class="fa fa-lg fa-truck" aria-hidden="true"></i> Pilihan Pengiriman</h3>
  		<p class="gotham f500">Estimasi sampai di alamat tujuan <?php echo $endTimeFormat;?> WIB hari ini!</p>
  		<p class="gotham f100 small-text">Produk ini tersedia dan siap dikirimkan dari gudang kami. Pilih metode pengiriman <b>Private Courier / Gosend / Grab Parcel</b> pada saat melakukan pemesanan</p>
  		<p class="gotham f100 small-text">Sameday Delivery hanya berlaku untuk daerah JABODETABEK dan diluar tanggal merah / hari libur nasional</p>
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div>
										<div class="reveal medium" id="pickupstore-shipModal" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center gotham">
  		<h3><i class="fa fa-lg fa-cube" aria-hidden="true"></i> Pengambilan Langsung</h3>
  		<p class="gotham f500">Pesan online dan ambil langsung di experience store kami</p>
  		<p class="gotham f100 small-text">
  		Produk ini tersedia pada experience store kami, silahkan melakukan pemesanan online dan melakukan pengambilan langsung pada experience store kami dengan membawa bukti invoice
  		</p>
  		<h5 class="uppercase letter-spacing-1">Store Location</h5>
  		<div class="flex-video padding-center" style="width:100%;height:400px"><iframe style="width:100%;height:400px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126915.98641289827!2d106.55190940292492!3d-6.247310369049785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fc739901c289%3A0x5e9c2a48d715cb11!2sWearinasia.com!5e0!3m2!1sid!2sid!4v1456472268728"  frameborder="0" style="border:0" allowfullscreen></iframe></div>
  		
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div> 

    								<?php elseif ( $_product->getData('product_inventory') == '94' && $weekday >= 1 && $weekday <= 6 && $hour >= 8 && $hour < 18 ):?>
        		
    									<div class="info-ship small-text-center">
        			Produk ini dikirim oleh Wearinasia.</br>
        			Pesan sekarang estimasi sampai <b>Pk <?php echo $endTimeFormat;?> WIB</b></br>
        			<a class="fast-ship-a" data-open="fast-shipModal">Pilihan Pengiriman</a> | <a class="fast-ship-a" data-open="pickupstore-shipModal">Pengambilan Langsung</a>
        			
        		</div>
        								<div class="reveal medium" id="fast-shipModal" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center">
  		<h3><i class="fa fa-lg fa-truck" aria-hidden="true"></i> Pilihan Pengiriman</h3>
  		<p class="gotham f500">Estimasi sampai di alamat tujuan <?php echo $endTimeFormat;?> WIB hari ini!</p>
  		<p class="gotham f100 small-text">Produk ini tersedia dan siap dikirimkan dari gudang kami. Pilih metode pengiriman <b>Private Courier / Gosend / Grab Parcel</b> pada saat melakukan pemesanan</p>
  		<p class="gotham f100 small-text">Sameday Delivery hanya berlaku untuk daerah JABODETABEK dan diluar tanggal merah / hari libur nasional</p>
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div><div class="reveal medium" id="pickupstore-shipModal" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center gotham">
  		<h3><i class="fa fa-lg fa-cube" aria-hidden="true"></i> Pengambilan Langsung</h3>
  		<p class="gotham f500">Pesan online dan ambil langsung di experience store kami</p>
  		<p class="gotham f100 small-text">
  		Produk ini tersedia pada experience store kami, silahkan melakukan pemesanan online dan melakukan pengambilan langsung pada experience store kami dengan membawa bukti invoice
  		</p>
  		<h5 class="uppercase letter-spacing-1">Store Location</h5>
  		<div class="flex-video padding-center" style="width:100%;height:400px"><iframe style="width:100%;height:400px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126915.98641289827!2d106.55190940292492!3d-6.247310369049785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fc739901c289%3A0x5e9c2a48d715cb11!2sWearinasia.com!5e0!3m2!1sid!2sid!4v1456472268728"  frameborder="0" style="border:0" allowfullscreen></iframe></div>
  		
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div> 
    								<?php elseif ($product_inventory=='93'):?>
    									<div class="info-ship small-text-center">
        			Produk ini dikirim langsung oleh distributor resmi.</br>
        			Estimasi pengiriman tercepat <b>1 - 2 Hari Kerja</b></br>
        			<a class="fast-ship-a" data-open="fast-shipModal">Pilihan Pengiriman</a>
        			
        		</div>
        								<div class="reveal medium" id="fast-shipModal" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center">
  		<h3><i class="fa fa-lg fa-truck" aria-hidden="true"></i> Sameday Delivery</h3>
  		<p class="gotham f500">Estimasi sampai di alamat tujuan <?php echo $endTimeFormat;?> WIB hari ini!</p>
  		<p class="gotham f100 small-text">Produk ini tersedia dan siap dikirimkan dari gudang kami. Pilih metode pengiriman <b>Private Courier / Gosend / Grab Parcel</b> pada saat melakukan pemesanan</p>
  		<p class="gotham f100 small-text">Sameday Delivery hanya berlaku untuk daerah JABODETABEK dan diluar tanggal merah / hari libur nasional</p>
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div> 
    								<?php elseif ($product_inventory=='96'):?>
    									<div class="info-ship small-text-center">
        			Produk ini adalah produk import</br>
        			Estimasi pengiriman tercepat <b>7 - 14 Hari Kerja</b></br>
        			<a class="fast-ship-a" data-open="fast-shipModal">Pilihan Pengiriman</a>
        			
        		</div>
        								<div class="reveal medium" id="fast-shipModal" data-reveal>
  		<div class="row">
  			<div class="medium-10 medium-centered columns padding-center">
  		<h3><i class="fa fa-lg fa-truck" aria-hidden="true"></i> Sameday Delivery</h3>
  		<p class="gotham f500">Estimasi sampai di alamat tujuan <?php echo $endTimeFormat;?> WIB hari ini!</p>
  		<p class="gotham f100 small-text">Produk ini tersedia dan siap dikirimkan dari gudang kami. Pilih metode pengiriman <b>Private Courier / Gosend / Grab Parcel</b> pada saat melakukan pemesanan</p>
  		<p class="gotham f100 small-text">Sameday Delivery hanya berlaku untuk daerah JABODETABEK dan diluar tanggal merah / hari libur nasional</p>
  		<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
  		</div>
  			</div>
	</div> 
    								<?php endif;?>
    								</div>

				
				


   								
    								
    								