	<?php $post = $this->getPost() ?>
	<?php $image_point_array []= json_decode($post->getMetaValue('sip_image_points'));?>
	<?php $points_array = json_decode($post->getMetaValue('sip_pointss'));?>
	
	<remove>
	<div class="row">
		<div class="medium-12 columns">
			<div class="sip-wrapper">
			<?php foreach ( $image_point_array as $value )
		{
				$urlToImage = $value->image;
				$_file_name = basename($urlToImage); // Here $cat is category data array                
 				$_media_dir = Mage::getBaseDir() . DS . 'wmedia' . DS . 'wp-content' . DS . 'uploads' . DS ;             
 				$cache_dir = $_media_dir . 'journal' . DS; // Here i create a homepage-tile folder. for upload new category image
                if (file_exists($cache_dir . $_file_name)) {
                             $catImg = Mage::getBaseUrl() . 'wmedia' . DS . 'wp-content' . DS . 'uploads' . DS . 'journal' . DS . $_file_name;
                         } elseif (file_exists($_media_dir . $_file_name)) {
                             if (!is_dir($cache_dir)) {
                                 mkdir($cache_dir);
                             }
                             $_image = new Varien_Image($_media_dir . $_file_name);
                             $_image->constrainOnly(true);
                             $_image->keepAspectRatio(true);
                             $_image->keepFrame(false);
                             $_image->keepTransparency(true);
                             $_image->resize(1600, 0); // change image height, width
                             $_image->save($cache_dir . $_file_name);
                             $catImg = Mage::getBaseUrl() . 'wmedia' . DS . 'wp-content' . DS . 'uploads' . DS . 'journal' . DS . $_file_name;
                         }
  				echo '<img src="'.$catImg.'">';
		}
		
		?>
			<?php foreach ( $points_array as $value ):?>
			<?php $product = Mage::getModel('catalog/product')->load($value->icon_text);?>
			<a href="<?php echo $product->getProductUrl();?>" class="sip-point sip-point-icon-text active" data-left="<?php echo $value->left;?>" data-top="<?php echo $value->top;?>" >
		<span class="sip-point-text pulse-button"></span>
		<div class="sip-popup sip-popup-link sip-popup-top">
			<div class="sip-popup-inner">
				<div class="sip-popup-title">


				
				<?php $prod_name = $this->htmlEscape($product->getName()); ?>
                    	<?php
                    $count_str = strlen($prod_name);
                    if ($count_str < 20) {
                        echo $prod_name;
                    } else {
                        $offset = 0;
                        $length = 21;   
                        $prod_name = html_entity_decode($prod_name);                     
                        echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;                        
                    }
                    ?>
				
				</div>
				<div class="sip-popup-price">
				Rp <?php echo number_format($product->getPrice(), 2) ?>
				</div>
				<div class="sip-popup-buy">
				Buy Now
				</div>
			</div>
		</div>
		</a>
			<?php endforeach;?>
			<div class="journal-shop-icon">
				<i class="fa fa-lg fa-shopping-bag" aria-hidden="true"></i>
			</div>
			</div>
    		<p class="wp-caption-text text-center show-for-small-only">Tap image to shop the product</p>
   		</div>
	</div>
	</remove>

	