<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>



<?php if(count($this->getItems())): ?>
	<table class="comparation">
  		<thead>
    <tr>
      <th width="50">Gambar</th>
      <th width="200">Nama</th>
      <th width="150">Fitur</th>
      <th width="150">Harga</th>
    </tr>
  </thead>
  		<tbody>
  			<?php foreach($this->getItems() as $_item): ?>
        
    		<tr>
     			<td>
     					<a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(150) ?>" width="150" height="150" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" /></a>
                   
     			</td>
      			<td>
      				<a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a>
                    
      			</td>
      			<td>
      			
      				<?php echo $_item->getData('tech_overview');
      				
      				?>
      			</td>
      			<td>
      			
                <?php $price = $_item->getPrice();
$formatted = Mage::helper('core')->currency($price, true, false);
echo $formatted;
?>
               
                </td>
      			
    		</tr>
    		<?php endforeach ?>
    		
  		</tbody>
	</table>
<?php endif ?>

<style>
	.comparation {padding: 1rem}
	.comparation thead{
	text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-family: "Gotham", Roboto, Arial, sans-serif !important;
    font-weight:600;
	}
	
	.comparation tbody, .comparation tbody ul > li{
	text-transform: none;
    font-size: 12px;
    line-height:1.5;
    text-align: left;
    font-family: "Gotham", Roboto, Arial, sans-serif !important;
    font-weight:500;
	}
	
	.comparation tbody tr{border-bottom:1px solid #eee}
	
	
</style>
	 