<?php if ($this->getClass()) : ?>
    <strong class="<?php echo $this->getClass(); ?>"><?php echo $this->getInnerContent(); ?></strong>
<?php else: ?>
    <strong><?php echo $this->getInnerContent(); ?></strong>
<?php endif; ?>


dada