<?php
 $storeId = Mage::app()->getStore()->getStoreId();
$storeId;
?>

<div class="off-canvas-wrapper">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
	
		<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
	
   	<div class="mobile-menu">
		<ul class="vertical menu" data-accordion-menu>
       		
       		<?php 
    				if(!Mage::getSingleton('customer/session')->isLoggedIn()){
        echo ' <li><a href="https://wearinasia.com/customer/account/">Login / Register</a></li>';
    }else{
         echo '<li><a href="https://wearinasia.com/customer/account/logout/">Logout / Keluar</a></li>';
        
    }
?>
       		
       		
       		<li>
    			<a href="#">Support</a>
    			<ul class="menu vertical nested">
    	
    	
    				<li><a href="/faq/">FAQ</a></li>
    				<li><a href="/pengiriman/">Pengiriman</a></li>
    	
    				<li><a href="/pengembalian/">Pengembalian</a></li>
    				    				<li><a href="/contacts/">Layanan Konsumen</a></li>
    				
    				
    			</ul>
  			</li>
  			
  			
       		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mobile-menu')->toHtml() ?>

   			<li>
    			<a href="/story">Read The Journal</a>
   			</li>
   			
          	
          
    </ul>

    </div>
</div>
		<div class="off-canvas-content" data-off-canvas-content>