<div class="mobile-live-chat-container">
	<ul>
		
		<li>
		<div class="mobile-live-chat-icon">
			<a href="#" data-open="helpModal">
			
			
			<i class="fa fa-2x fa-comments-o" aria-hidden="true"></i>Help
			</a>
			</div>
		</li>
		
	</ul>
	
</div>

<style>
	.mobile-live-chat-container{
	position: fixed;
    bottom: 1%;
    right: 3%;
    z-index: 999999999999999999999999;
    
	}
	.mobile-live-chat-container ul > li {display:block}
	.mobile-live-chat-icon{
	border-radius: 100%;
     background: #063241;
    text-align: center;
    font-size: 9px;
    border-radius: 100%;
    line-height: 60px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color:#333;
	margin-bottom:2px;
	-webkit-box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
    -moz-box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
    box-shadow: -1px -1px 10px 1px rgba(176,176,176,0.5);
	}
	.mobile-live-chat-icon a{color:white}
</style>






<div class="reveal full" id="helpModal" data-reveal>
	<h4>Help</h4>
	<p>Silahkan hubungi kami, kami siap membantu!</p>
	<div class="callout padding-top-1">
				<a class="button secondary expanded" target="_blank" href="https://tawk.to/chat/57f34baa1fd15618f0d8af85/default/?$_tawk_popout=true">
				<i class="fa fa-2x fa-comments-o" aria-hidden="true"></i> Live Chat
				</a>
				
		
					
				<a class="button secondary expanded" href="tel:(021) 2222 7825">
					<i class="fa fa-2x fa-phone" aria-hidden="true"></i> Phone Call
					
				</a>
			
				<a class="button secondary expanded" target="_blank" href="https://api.whatsapp.com/send?phone=6281586602152&text=Hi">
				<i class="fa fa-2x fa-whatsapp" aria-hidden="true"></i> Whatsapp Chat

				
				</a>

				<div class="close-button" data-close aria-label="Close modal" type="button">
    		<div aria-hidden="true">&times;</div>
  		</div>
			
	</div>

</div>


