
<a class="backnav-url" href="<?php echo $this->getUrl('exp/bankaccount') ?>">
    <i class="fa fa-angle-left" aria-hidden="true"></i> My Bank Account</a>
    <h1>
    Edit Bank Account
    </h1>

    <?php 
    $idsession = $this->getCustomer()->getEntityId();
    $baru = $this->selectpayoutmethod();
    ?>
   
    
    <form class="form" method="post" action=<?php echo $this->getUrl("exp/bankaccount/editPost", $params) ?> >
        <?php foreach($baru as $data) :?>
        <?php echo $this->getBlockHtml('formkey') ?>
       <label for="">Account name</label>
        <input class="required-entry" type="text"  name='acc_name' value="<?php echo $data['acc_name']?>" /><br>
        <label for="">Account Number</label>
        <input class="required-entry" name="acc_id" type="hidden" value="<?php echo $data['acc_id']?>" />
        <input class="required-entry" type="text"  name='acc_number' value="<?php echo $data['acc_number']?>" /><br>
        <label for="">Bank Name</label>
        <input class="required-entry" type="text"  name='bank_name' value="<?php echo $data['bank_name']?>" /><br>
        <?php endforeach; ?>
        <input type='submit' value='edit'/>
        <input type="hidden" name = "idsession" value ="<?php echo $idsession ?>" />
        
    </form>
