<div>

    <h1>
   My Bank Account
    </h1>

    <?php 
    $idsession = $this->getCustomer()->getEntityId();
    $baru = $this->selectpayoutmethod();

    ?>

    <a class="button small" href="<?php echo $this->getBaseUrl() ?>exp/bankaccount/add">+ Add New Bank Account</a>
    <?php foreach($baru as $data) : ?>
        <p>
        <b><?php echo $data['acc_name']?></b></br>
       
       
        <?php echo $data['acc_number'] ?></br>
        <?php echo $data['bank_name'] ?></br>
        </p>
        <a class="small-text" href="<?php echo $this->getBaseUrl()?>exp/bankaccount/edit/acc_id/<?php echo $data['acc_id']?>" >Edit Account</a>
       
<?php endforeach ;?>
  


</div>