<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<div class="row">
	
	<div class="medium-12 columns">
		<div class="blog-home">
			<?php echo $this->getPostListHtml() ?>
		</div>
		
	</div>
</div>


