<?php $customer = $this->getCustomer();?>
<?php $_product = $this->getProduct();?>
<?php $_session = $this->getSession();?>
    
    <div class="padding-center">
        <h3>Price & Availability</h3>
        <label for="price">Price / Person</label>
        <input class="required-entry" type="text" name="price" onkeypress="return CheckNumeric()"
            onkeyup="FormatCurrency(this)">
        <label for="qty">Max Person / Day</label>
        <input class="required-entry" type="text" name="qty">

        <label for="exp_duration">Duration / Experience</label>
        <select class="required-entry" name="exp_duration" id="exp_duration">
            <option value="">Please select duration</option>
            <option value="1 Hours">1 Hours</option>
            <option value="3 - 4 Hours">3 - 4 Hours</option>
            <option value="6 - 12 Hours">6 - 12 Hours</option>
            <option value="1 Day">1 Day</option>
        </select>

        <label for="exp_location">Experience Location</label>
        <select class="required-entry" name="exp_location" id="exp_location">
            <option value="">Please select location</option>
            <option value="Jakarta">Jakarta</option>
            <option value="Tangerang">Tangerang</option>
            <option value="Bali">Bali</option>
            <option value="Bandung">Bandung</option>
            <option value="Bogor">Bogor</option>
        </select>

    </div>