<?php $customer = $this->getCustomer();?>
<?php $_product = $this->getProduct();?>
<?php $_session = $this->getSession();?>

<div class="padding-center">
        <h3>Basic Information</h3>


        <label for="name">Title</label>
        <input class="required-entry" value="<?php echo $_product->getName()?>"
            placeholder="Manual coffee brewing and testing" type="text" name="title">
        <label for="short_description">Short info about your experience</label>
        <input class="required-entry" value="<?php echo $_product->getShortDescription()?>" type="text"
            placeholder="Learn coffee manual coffee brewing 101" name="short_description">

        <label for="description">Tell more about your experience</label>
        <textarea class="required-entry" placeholder="See the example below" type="text"
            name="description"><?php echo $_product->getDescription()?></textarea>

        <div class="callout success">
            <h5>Tips</h5>
            <p>
                First we'll do a tour inside the roastery. You'll be able to see the green coffee seeds and different
                roast profiles. Then we'll do a cupping! If you've never heard this word, it's ok, we can explain it to
                you. Cupping is what we call a coffee tasting session. You'll experience exotic and interesting coffee
                flavors and aromas.

            </p>
        </div>

    </div>