<?php $customer = $this->getCustomer();?>
<?php $_product = $this->getProduct();?>
<?php $_session = $this->getSession();?>

    <div class="padding-center">
        <h3>Experience Details</h3>

        <legend>What will you provide for this experience</legend>

        <div class="row medium-up-2">
            <div class="columns">
                <div class="list-group">
                    <input id="food" type="checkbox" name="include[0][type]" value="Food"><label for="food">Food</label>
                    <input type="text" name="include[0][value]" placeholder="Tell more about the food you'll provide">
                </div>
            </div>
            <div class="columns">
                <div class="list-group">
                    <input id="drink" type="checkbox" name="include[1][type]" value="Drink"><label
                        for="drink">Drink</label>
                    <input type="text" name="include[1][value]" placeholder="Tell more about the drink you'll provide">
                </div>
            </div>
            <div class="columns">
                <div class="list-group">
                    <input id="ticket" type="checkbox" name="include[2][type]" value="Ticket"><label
                        for="ticket">Ticket</label>
                    <input type="text" name="include[2][value]" placeholder="Tell more about the ticket you'll provide">
                </div>
            </div>
            <div class="columns">
                <div class="list-group">
                    <input id="transportation" type="checkbox" name="include[3][type]" value="Transportation"><label
                        for="transportation">Transportation</label>
                    <input type="text" name="include[3][value]"
                        placeholder="Tell more about the transportation you'll provide">
                </div>
            </div>
        </div>

        <legend>What should the customer bring to this experience</legend>
        <div class="list-group">
            <input type="text" name="exclude[]"
                placeholder="Tell more about what the customer should bring to this experience">
            <div id="exclude"></div>
            <a onclick="addMore('exclude')">+ Add More</a>
        </div>

        <div class="padding-center">
        <legend>Add Itenerary</legend>
        <div class="list-group">
            <div class="row">
                <div class="small-3 columns">
                <input type="text" name="itenerary[0][time]"
                placeholder="5am - 6am">
                </div>
                <div class="small-9 columns">
                <input type="text" name="itenerary[0][value]"
                placeholder="We will start climb the mount Batur">
                </div>
            </div>
            
           
            
           
            <div id="itenerary"></div>
            <a onclick="addMore('itenerary')">+ Add More</a>
            
        </div>
        </div>
       

     


    </div>

    <script>
   
    count = 0;
    function addMore(value) {
       
        if (value == 'itenerary'){
            count += 1;
           
            $('itenerary').insert(
              
               "<div class='row'><div class='small-3 columns'><input type='text' name='itenerary["+count+"][time]' placeholder='5am - 6am'></div><div class='small-9 columns'><input type='text' name='itenerary["+count+"][value]' placeholder='We will start climb the mount Batur'></div></div>"
            
        );
        }

   

       
        if (value == 'exclude'){
            $('exclude').insert(
                "<input type='text' name='exclude[]' placeholder='Tell more about what the customer should bring to this experience'>"
            
        );
        }
        
    }


    function FormatCurrency(ctrl) {
        //Check if arrow keys are pressed - we want to allow navigation around textbox using arrow keys
        if (event.keyCode == 37 || event.keyCode == 38 || event.keyCode == 39 || event.keyCode == 40) {
            return;
        }

        var val = ctrl.value;

        val = val.replace(/,/g, "")
        ctrl.value = "";
        val += '';
        x = val.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';

        var rgx = /(\d+)(\d{3})/;

        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }

        ctrl.value = x1 + x2;
    }

    function CheckNumeric() {
        return event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode == 46;
    }
</script>

<style>
label, legend{
    font-size:14px !important;
    font-weight:500 !important;
}
</style>