<?php $customer = $this->getCustomer();?>
<?php $_product = $this->getProduct();?>
<?php $_session = $this->getSession();?>

<div class="padding-center">
        <h3>Personal Information</h3>

        <label for="customer_bio">Tell more about your self</label>
        <textarea class="required-entry" placeholder="See the example below" type="text"
            name="customer_bio"><?php echo $customer->getCustomerBio();?></textarea>

        <div class="callout success">
            <h5>Tips</h5>
            <p>
                I am a law student in Flores. I am also a travel blogger for 5 years. I would love to show you the best
                of our home city and try the best of our well known street foods. I am pretty sure you can not see
                Waerebo well by yourself because it hidden in the alleys where all local live. Just go with me I will
                take you to the place only local know to meet people and understand more about my beautiful city.
            </p>
        </div>

        <label for="customer_job">Tell more about your professional job / skill</label>
        <input class="required-entry" type="text" placeholder="Im a professional photographer based in Jakarta"
            name="customer_job" value="<?php echo $customer->getCustomerJob();?>">


    </div>