<?php $customer = $this->getCustomer();?>
<?php $_product = $this->getProduct();?>
<?php $_session = $this->getSession();?>

<style>
    table {
        text-align: center
    }

    .active {
        background: #063241;
        color: white;
    }
</style>


<h1>Manage Schedule</h1>

<?php
     $dateComponents = getdate();
     $month = $dateComponents['mon']; 			     
     $year = $dateComponents['year'];
     echo $this->getCalendar($month,$year);
     
?>

<form class="form" method="post" name="editproductform" id="editproductform"
    action="<?php echo Mage::getBaseUrl();?>exp/product/editSchedulePost/id/<?php echo $_product->getId();?>"
    enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey') ?>
    <input name="session_id" type="hidden" value="<?php echo $_session ?>" />
    <input type="hidden" class="required-entry" name="customer_id" value="<?php echo $customer->getId();?>" />
    <input type="hidden" id="available_date" name="available_date">
    <button class="button" type="submit" value="edit">
        Save Schedule
    </button>

</form>




<script>
    document.observe("dom:loaded", function (event) {

        var available_dates = <?php echo $_product->getExpAvailableDate()?>;
        document.getElementById("available_date").value = JSON.stringify(available_dates);
        available_dates.each(function (item) {
                $(item).addClassName('active');
            }

        );
    });
</script>

<script>
    var available_dates = <?php echo $_product->getExpAvailableDate()?>;

    

    $('calendar').observe('click', function (event) {
        var clickedRow = event.findElement('tr>td');

        if (clickedRow) {

            var data = clickedRow.readAttribute("data-recnum");
            var check = available_dates.include(data);

            console.log(data);


            if (check == true && data !== null) {
                available_dates = available_dates.filter(item => item !== data);
                //console.log(available_dates)
                clickedRow.removeClassName('active');
                document.getElementById("available_date").value = JSON.stringify(available_dates);
            }

            if (check == false && data !== null) {
                clickedRow.addClassName('active');
                available_dates.push(data);
                //console.log(available_dates);
                document.getElementById("available_date").value = JSON.stringify(available_dates);
            }

        }

        

    });
</script>
