<div>
    <h1>chat order</h1>
    <?php 
    $params = $this->getRequest()->getParams();
    $orderid = $params['incrementid'];
    $chat =  $this->riwayatchat($orderid);
    echo $chat;
    ?>
    
    
    <?php
    $order = Mage::getModel('sales/order')->loadByIncrementId($orderid);
    if($order->getStatus()=="processing" ){
    
    ?>
    <form method="post" action=<?php echo $this->getUrl("exp/bookorder/kirimchat", $params) ?> > 
        pesan :
        <input name="pesan" type="text" placeholder="masukkan pesan anda">
        <input name="orderid" type="hidden" value=<?php echo $orderid ?> >
        <input type="submit" value="kirim">
    </form>

    <?php 
    }
    ?>
    <button onclick="goBack()">Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
</div>