<div>

    <h1>
    Payout Method - EDIT
    </h1>

    <?php 
    $idsession = $this->getCustomer()->getEntityId();
    $baru = $this->selectpayoutmethod();
    ?>
   
    
    <form method="post" action=<?php echo $this->getUrl("exp/payoutmethod/editpayoutmethod", $params) ?> >
        <?php foreach($baru as $data) :?>
        nama akun :
        <input name='acc_name' value="<?php echo $data['acc_name']?>" /><br>
        nomor rekening :
        <input name='acc_number' value="<?php echo $data['acc_number']?>" /><br>
        nama bank :
        <input name='bank_name' value="<?php echo $data['bank_name']?>" /><br>
        <?php endforeach; ?>
        <input type='submit' value='edit'/>
        <input type="hidden" name = "idsession" value ="<?php echo $idsession ?>" />

    </form>
    <button onclick="goBack()">Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>

</div>