<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Pquestion2
 * @version    2.1.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>
<div  class="box">
<h5 class="uppercase letter-spacing-1">Tulis Pertanyaan</h5>
<form id="aw-pq2-question-form" class="aw-pq2-form" action="<?php echo $this->getAddQuestionUrl(); ?>" method="post">
    <div class="aw-pq2-form__field-wrapper hide">
        <div class="aw-pq2-form__field aw-pq2-form__field_position_left">
            <div class="aw-pq2-form__label-box">
                <label for="question_author_name" class="aw-pq2-form__label"><?php echo $this->__('Name'); ?><em class="aw-pq2-form__label__asterisk">*</em></label>
            </div>
            <div class="aw-pq2-form__input-box aw-pq2-form__input-box_offset_right">
                <input class="aw-pq2-form__input input-text required-entry" type="text" id="question_author_name" name="author_name" value="<?php echo trim(Mage::getSingleton('customer/session')->getCustomer()->getName()); ?>" title="<?php echo $this->__('Name'); ?>" maxlength="255">
            </div>
        </div>
        <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
            <div class="aw-pq2-form__field aw-pq2-form__field_position_right">
                <div class="aw-pq2-form__label-box">
                    <label for="question_author_email" class="aw-pq2-form__label"><?php echo $this->__('Email Address'); ?><em class="aw-pq2-form__label__asterisk">*</em></label>
                </div>
                <div class="aw-pq2-form__input-box">
                    <input class="aw-pq2-form__input input-text required-entry validate-email" type="text" id="question_author_email" name="author_email" value="" title="<?php echo $this->__('Email Address'); ?>" maxlength="255">
                </div>
            </div>
        <?php endif; ?>
        <div class="aw-pq2-form__field-clear"></div>
    </div>
    <div>
        <textarea class="aw-pq2-form__textarea input-text required-entry" placeholder="Tulis pertanyaan Anda disini" name="content" id="question_content" title="<?php echo $this->__('Question Content'); ?>"></textarea>
    </div>
    <div class="aw-pq2-form__button-set text-right">
        <?php if ($this->canSpecifyVisibility()) : ?>
            <div class="aw-pq2-form__field-checkbox">
            	
                <input type="checkbox" name="is_private" placeholder="Tulis pertanyaan Anda disini" id="question_visibility"><label for="question_visibility" class="aw-pq2-form__label aw-pq2-form__label_indent_left"><?php echo $this->__('Is Question Private?'); ?></label>
            </div>
        <?php endif; ?>
        <button type="submit" class="button secondary aw-pq2-form__button aw-pq2-form__button_position_left" title="<?php echo $this->__('Send Question'); ?>"><span><span><?php echo $this->__('Tambah Pertanyaan'); ?></span></span></button>
        <div class="aw-pq2-form__note-wrapper">
            <p class="aw-pq2-form__button-note"><?php echo $this->__('Question will be displayed after moderation.'); ?></p>
        </div>
        <div class="aw-pq2-form__field-clear"></div>
    </div>
    <input type="hidden" name="product_id" value="<?php echo $this->getProduct()->getId(); ?>" />
</form>
</div>
<script type="text/javascript">
    var formKeyElement = new Element('input');
    formKeyElement.setAttribute('type', 'hidden');
    formKeyElement.setAttribute('name', 'form_key');
    formKeyElement.setAttribute('value', '<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>');
    $('aw-pq2-question-form').appendChild(formKeyElement);
    var addQuestionForm = new VarienForm($('aw-pq2-question-form'));
    addQuestionForm.validator.options.onFormValidate = function(result, form) {
        if (result === true) {
            form.select('button[type=submit]').first().addClassName('disabled').writeAttribute('disabled', 'disabled');
        }
    }
</script>