<section id="homepage-search-banner" class="hero-banner">
        <div class="row collapse show-for-medium">
            <div class="medium-12 columns">
                <div class="hero-banner-container">
                        <div class="hero-banner-image">
                                <img src="https://petloka.com/media/wysiwyg/Petloka/landing_page.jpg" alt="">
                        </div>
                        <div class="hero-banner-content">
                                
                                <h2>Find an on demand pet service</br>in your area</br>
                                
                                </h2>
                                <h6>Grooming, Pet Hotel and supplies</h6>
                                <form class="form" id="contact-info" method="post" action=<?php echo $this->getUrl("service/product/search") ?>>

                                <div class="search-container">
                                    <div class="row">
                                        <div class="medium-6 columns">
                                                <div class="row">
                                                        <div class="medium-6 columns">
                                                        <label>Select service</label>
                                                                        <select id="service" name="service_type">
                                                                          <option value="grooming">Grooming</option>
                                                                          <option value="hotel">Pet Hotel</option>
                                                                          
                                                                        </select>
                                                                      
                                                        </div>
                                                        <div class="medium-6 columns">
                                                        <label>Select your pet</label>
                                                                        <select id="pet" name="pet">
                                                                          <option value="dog">Dog</option>
                                                                          <option value="cat">Cat</option>
                                                                          
                                                                        </select>
                                                                      
                                                        </div>
                                                        
                                                        
                                                    </div>
                                        </div>
                                        <div class="medium-6 columns">
                                            <div class="row">
                                                <div class="medium-6 columns">
                                                <label>Select your location</label>
                                                                        <select id="location" name="location">
                                                                          <option value="Jakarta">Jakarta</option>
                                                                          <option value="Tangerang">Tangerang</option>
                                                                          
                                                                        </select>
                                                                      
                                                </div>
                                                <div class="medium-6 columns">
                                                        <button href="#" class="button secondary expanded" style="margin-top:1.5rem">Search Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </form>
                        </div>
                </div>
                    
            </div>
            
        </div>
        <form class="form show-for-small-only" id="contact-info" method="post" action=<?php echo $this->getUrl("service/product/search") ?>>

        <div class="search-container">
                                    <div class="row">
                                        <div class="medium-6 columns">
                                                <div class="row">
                                                        <div class="medium-6 columns">
                                                        <label>Select service</label>
                                                                        <select id="service" name="service_type">
                                                                          <option value="grooming">Grooming</option>
                                                                          <option value="hotel">Pet Hotel</option>
                                                                          
                                                                        </select>
                                                                      
                                                        </div>
                                                      
                                                        
                                                        
                                                    </div>
                                        </div>
                                        <div class="medium-6 columns">
                                            <div class="row">
                                                <div class="medium-6 columns">
                                                <label>Select your location</label>
                                                                        <select id="location" name="location">
                                                                          <option value="Jakarta">Jakarta</option>
                                                                          <option value="Tangerang">Tangerang</option>
                                                                          
                                                                        </select>
                                                                      
                                                </div>
                                                <div class="medium-6 columns">
                                                        <button href="#" class="button secondary expanded" style="margin-top:1.5rem">Search Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </form>
       
        
</section>

<style>
.std{
        display:none
}
</style>