<span id="formLoader">
    Please wait...
</span>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>



<?php if(!$this->hasError()): ?>



<section id="checkout-cart" class="checkout padding-center">

    <?php if(!Mage::getSingleton('customer/session')->isLoggedIn()):?>
       <?php Mage::app()->getFrontController()->getResponse()->setRedirect(Mage::getBaseUrl().'customer/account/login/');?>

    <?php else:?>
    <?php echo $this->getChildHtml('mobile-summary.phtml') ?>
    <div class="row small-uncollapse medium-uncollapse">
        <div class="medium-7 columns">
            <?php echo $this->getChildHtml('billing') ?>
            
            <form id="checkoutform" name="checkoutform" method="post" action="<?php echo $this->getUrl('checkoutv2/order/createorder') ?>">
                <?php echo $this->getBlockHtml('formkey') ?>
<button <?php if(!$this->customerHasAddresses()): ?> disabled <?php endif;?>type="submit" class="button expanded">Lanjut ke Pembayaran <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                <p style="font-size:12px;font-weight:300" class="text-center"><i class="fa fa-lock" aria-hidden="true"></i> Dengan melakukan pemesanan Anda telah setuju dengan</br><a href="#">Syarat & Ketentuan</a> dan <a href="#">Ketentuan Privacy.</a></p>
            </form>

        </div>
        <div class="medium-5 columns right" data-sticky-container>
            <div class="sticky" data-sticky data-anchor="foo" data-top-anchor="checkout-cart" data-options="sticky_on: ['medium']">
                <?php echo $this->getChildHtml('checkout.onepage.sidebar') ?>
            </div>
        </div>
    </div>
    <?php endif;?>
</section>



<?php else:?>
<?php Mage::app()->getFrontController()->getResponse()->setRedirect($this->getUrl('checkout/cart'));?>
<?php endif; ?>








<script>
    new Event.observe(window, 'load', function (e) {
        e.stop();
        //updateShippingAddress();
        //updateShippingMethod();
        //updateOrderSummary();

    });


    //update shipping method
    function check() {
        var rates = $$('input:checked[type=radio][name=shipping-rate]')[0].value;
        //alert (rates);
        new Ajax.Request('<?php echo $this->getUrl("checkoutv2/order/setShippingAddress") ?>', {
            method: 'post',
            parameters: {
                estimate_method: rates
            },

            onComplete: function (data) {
                ///updateOrderSummary();
                // console.log(data);
                $('review-table-container').update(data.responseText);
            },



        });




    }


    function applyvoucher(value) {
        

       if(value == true){
        var code = $$('[name="voucher"]')[0].value;
       }
       else{
        var code = 'remove';
       }
        
        new Ajax.Request('<?php echo $this->getUrl("checkoutv2/order/applyvoucher") ?>', {
            method: 'post',
            parameters: {
                code: code,
               
            },
            onComplete: function (data) {
                //console.log(data.responseText);

                $('review-table-container').update(data.responseText);
            },



        });




    }


    function updateOrderSummary() {
        //update ordersummary
        new Ajax.Updater('review-table-container', '<?php echo $this->getUrl("checkoutv2/order/updateOrderSummary") ?>', {
            method: 'get',
            onComplete: function () {
                //alert('uppdate ordersummary success');

            },
        });
    }


</script>



