<style>
    .service-card {
        padding: 2.5rem;
        border: 2px solid #eee;
        text-align: center
    }

    .padding-middle {
        padding: 2rem;
    }

    .padding-middle-2x {
        padding: 4rem;
    }

    .step {
        opacity: 0.4
    }

    .step .active {
        opacity: 1
    }
</style>

<div class="row collapse">
    <div class="medium-3 columns">
        <div class="padding-middle">
            

            <h2 class="margin-bottom-1">Hi, James</h2>

            <ul class="no-bullet margin-bottom-2">
                <li><h5>MY ACCOUNT</h5></li>
               
                <li><a href="<?php echo $this->getUrl('service/account/order') ?>">My Order</a></li>
                
            </ul>
            <ul class="no-bullet">
                <li><h5>MANAGE SERVICE</h5></li>
                <li><a href="<?php echo $this->getUrl('service/account/booking') ?>">Booking</a></li>
                <li><a href="<?php echo $this->getUrl('service/account/product') ?>">My Service</a></li>
            </ul>
        </div>

    </div>

    <div class="medium-9 columns">
        <section id="booking-form" class="padding-middle-2x">
            <div class="row">
                <div class="medium-12 columns">
                    

                    <?php echo $this->getChildHtml('personal-info');?>
            <?php echo $this->getChildHtml('service-info');?>
            <?php echo $this->getChildHtml('product-info');?>
            <?php echo $this->getChildHtml('schedule');?>


                </div>
            </div>

           

           

        </section>
    </div>
</div>
