
<form class="form" id="contact-info" method="post" action=<?php echo $this->getUrl("service/account/signin") ?>>

    <section id="main">
        <div class="row collapse">

            <div class="medium-12 medium-centered columns">
                <div class="page-container">

                    <div class="medium-5 medium-centered">
                        <div class="form-container">
                            <h3>Login</h3>
                            <label for="name">Email</label>
                            <input type="text" class="required-entry validate-email" name="email">

                            <label for="name">Password</label>
                            <input type="password" class="required-entry" name="password">


                            <button type="submit" class="button expanded secondary">Login</button>
                            <a class="button expanded" href="/service/account/register/">Create New Account</a>
                           

                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>

</form>

<script type="text/javascript">
    //< ![CDATA[
        var customForm = new VarienForm('contact-info');
    //]]>
</script>
