

<form class="form" id="contact-info" method="post" action=<?php echo $this->getUrl("service/account/signup") ?>>

<section id="main">
    <div class="row collapse">

        <div class="medium-12 medium-centered columns">
            <div class="page-container">

                <div class="medium-5 medium-centered">
                    <div class="form-container">
                        <h3>Register</h3>
                        <label for="name">Email</label>
                            <input type="text" class="required-entry validate-email" name="email">

                            <label for="name">Password</label>
                            <input type="password" id="password" class="required-entry" name="password">
                            <label for="name">Confirm Password</label>
                            <input name="password_confirm" class="required-entry" type="password" id="password_confirm" oninput="check(this)" />




                        <button type="submit" class="button expanded">Register</button>
                       
                       

                    </div>
                </div>




            </div>
        </div>
    </div>
</section>

</form>

<script type="text/javascript">
//< ![CDATA[
    var customForm = new VarienForm('contact-info');
//]]>
</script>

<script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>
