<?php $step = $this->getRequest()->getParam('step');?>
<?php $serviceType = $this->getRequest()->getParam('service_type');?>



<?php if($serviceType == 'grooming' && $step == '3'):?>

<?php $products = $this->getProductDetails();
//var_dump($products )?>

<a href="/service/product/add/service_type/<?php echo $serviceType?>/step/2"><i class="fa fa-angle-left" aria-hidden="true"></i> Service Info</a>
<h1>Price & Packet</h1>

<div class="form-container">
    <form class="form" id="contact-info" method="post"
        action=<?php echo $this->getUrl("service/product/saveProduct") ?>>

        <div class="booking-form-container">
            <h3>Add Packet For Your Grooming Service</h3>
            <div class="booking-contact-details">

                <div class="row">
                    <div class="medium-12 columns">
                        <input type="hidden" name="service_type" value="<?php echo $serviceType;?>">
                        <label>Packet Name
                            <input type="text" class="required-entry" name="product_name" placeholder="Grooming Cantik">
                        </label>
                        <label>Packet Description
                            <input class="required-entry" type="text" name="about" placeholder="All in packet hemat">
                        </label>

                        <label>Service Include
                            <select class="required-entry" multiple name="including[]">
                                <option value="Blow dry">Blow dry</option>
                                <option value="Complete with aromatic">Complete with aromatic</option>
                                <option value="Ear cleaning">Ear cleaning</option>
                                <option value="Nail Triming">Nail Triming</option>
                                <option value="Hair shaving in certain area">Hair shaving in certain area</option>
                                <option value="Toothbush">Toothbush</option>
                                <option value="Style cuts">Style cuts</option>
                                <option value="Anti Kutu">Anti Kutu</option>
                                <option value="Anti Jamur">Anti Jamur</option>

                            </select>
                        </label>


                        <label>Price
                            <input class="required-entry" type="text" name="price" placeholder="price">
                        </label>

                        <label>Note
                            <textarea class="required-entry" type="text" name="note" placeholder="note">
                        </textarea>
                        </label>

                    </div>


                </div>

            </div>


        </div>

        <button type="submit" class="button secondary">Add Packet</button>
        <a href="/service/product/add/service_type/grooming/step/4/" class="button">Save & Continue</a>



    </form>
</div>

<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('contact-info');
    //]]>
</script>

<?php foreach ($products as $product):?>
<?php if($product['service_type'] == 'grooming'):?>
<div class="experience-details margin-bottom-2 border-bottom">
    <ul class="no-bullet group-list">
        <li>
            <div class="packet">

                <div class="row">
                    <div class="small-8 medium-9 columns">
                        <div class="title">
                            <?php echo $product['product_name']?>
                        </div>
                        <p><?php echo $product['about']?></p>
                        <?php $includes = $product['including']?>
                        <ul>
                            <?php foreach ($includes as $include):?>
                            <li> <?php echo $include?></li>

                            <?php endforeach;?>
                        </ul>


                    </div>
                    <div class="small-4 medium-3 columns text-center">
                        <div class="price">
                            <?php echo Mage::helper('core')->currency($product['price'], true, false);?>
                        </div>

                    </div>
                </div>

            </div>
        </li>



    </ul>

</div>
<?php endif?>

<?php endforeach?>

<?php endif;?>



<?php if($serviceType == 'hotel' && $step == '3'):?>

<?php $products = $this->getProductDetails();
//var_dump($products )?>

<a href="/service/product/add/service_type/<?php echo $serviceType?>/step/2"><i class="fa fa-angle-left" aria-hidden="true"></i> Service Info</a>
<h1>Price & Packet</h1>

<div class="form-container">
    <form class="form" id="contact-info" method="post"
        action=<?php echo $this->getUrl("service/product/saveProduct") ?>>

        <div class="booking-form-container">
            <h3>Add Packet For Your Grooming Service</h3>
            <div class="booking-contact-details">

                <div class="row">
                    <div class="medium-12 columns">
                        <input type="hidden" name="service_type" value="<?php echo $serviceType;?>">
                        <label>Packet Name
                            <input type="text" class="required-entry" name="product_name" placeholder="Grooming Cantik">
                        </label>
                        <label>Packet Description
                            <input class="required-entry" type="text" name="about" placeholder="All in packet hemat">
                        </label>

                        <label>Facility
                            <select class="required-entry" multiple name="including[]">
                                <option value="Full Ac">Full AC</option>
                                <option value="Include Food">Food</option>
                                <option value="Pet Walking">Pet Walking</option>
                                <option value="Grooming">Grooming</option>
                            </select>
                        </label>


                        <label>Price
                            <input class="required-entry" type="text" name="price" placeholder="price">
                        </label>

                        <label>Note
                            <textarea class="required-entry" type="text" name="note" placeholder="note">
                        </textarea>
                        </label>

                    </div>


                </div>

            </div>


        </div>

        <button type="submit" class="button secondary">Add Packet</button>
        <a href="/service/product/add/service_type/hotel/step/4/" class="button">Save & Continue</a>



    </form>
</div>

<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('contact-info');
    //]]>
</script>

<?php foreach ($products as $product):?>
<?php if($product['service_type'] == 'hotel'):?>
<div class="experience-details margin-bottom-2 border-bottom">
    <ul class="no-bullet group-list">
        <li>
            <div class="packet">

                <div class="row">
                    <div class="small-8 medium-9 columns">
                        <div class="title">
                            <?php echo $product['product_name']?>
                        </div>
                        <p><?php echo $product['about']?></p>
                        <?php $includes = $product['including']?>
                        <ul>
                            <?php foreach ($includes as $include):?>
                            <li> <?php echo $include?></li>

                            <?php endforeach;?>
                        </ul>


                    </div>
                    <div class="small-4 medium-3 columns text-center">
                        <div class="price">
                            <?php echo Mage::helper('core')->currency($product['price'], true, false);?>
                        </div>

                    </div>
                </div>

            </div>
        </li>



    </ul>

</div>
<?php endif?>

<?php endforeach?>

<?php endif;?>

