<div class="row small-up-2 medium-up-2">
                        <div class="columns">
                            <a href="<?php echo $this->getUrl('service/product/add/service_type/grooming/step/1') ?>">

                                <div class="service-card callout">
                                    <div class="icon">
                                        +
                                    </div>
                                    <h5>Add New Grooming Service</h5>
                                </div>

                            </a>
                        </div>
                        <div class="columns">
                        <a href="<?php echo $this->getUrl('service/product/add/service_type/hotel/step/1') ?>">


                                <div class="service-card callout">
                                    <div class="icon">
                                        +
                                    </div>
                                    <h5>Add New Pet Hotel</h5>
                                </div>

                            </a>
                        </div>
                    </div>