<?php $step = $this->getRequest()->getParam('step');?>
<?php $serviceType = $this->getRequest()->getParam('service_type');?>




<?php if($serviceType == 'grooming' && $step == '2'):?>

<?php $service = $this->getServiceDetails();
//var_dump ($service);?>

<a href="/service/account/product_add/step/1"><i class="fa fa-angle-left" aria-hidden="true"></i> Personal
    Information</a>
<h1>Service Info</h1>

<div class="form-container">

    <form class="form" id="contact-info" method="post"
        action="<?php echo $this->getUrl("service/product/saveService") ?>">

        <input type="hidden" name="service_type" value="<?php echo $serviceType?>">
        <div class="row">
            <div class="medium-12 columns">

                <div class="booking-form-container">
                    <h3>Service Info</h3>
                    <div class="booking-contact-details">

                        <div class="row">
                            <div class="medium-12 columns">
                                <label>What is your service name?
                                    <input type="text" class="required-entry" name="host_name"
                                        placeholder="Hello Petshop"
                                        value="<?php echo $service['host']['grooming']['host_name']?>">
                                </label>

                                <label>What is your service tagline?
                                    <input type="text" class="required-entry" name="tagline" placeholder="Best Petshop"
                                        value="<?php echo $service['host']['grooming']['tagline']?>">
                                </label>


                                <label for="coverage">Where is your service Area</label>

                                <select class="required-entry" name="coverage_area[city]">
                                    <option value="Kota Tangerang">Kota Tangerang</option>
                                    <option value="Tangerang Selatan">Tangerang Selatan</option>
                                    <option value="Kab Tangerang">Kab Tangerang</option>
                                    <option value="Jakarta Pusat">Jakarta Pusat</option>
                                    <option value="Jakarta Utara">Jakarta Utara</option>
                                    <option value="Jakarta Selatan">Jakarta Selatan</option>
                                    <option value="Jakarta Barat">Jakarta Barat</option>
                                    <option value="Jakarta Timur">Jakarta Timur</option>
                                    <option value="Bandung">Bandung</option>
                                    <option value="Depok">Depok</option>
                                    <option value="Bogor">Bogor</option>
                                    <option value="Bekasi">Bekasi</option>
                                    <option value="Surabaya">Surabaya</option>
                                    <option value="Yogyakarta">Yogyakarta</option>
                                    <option value="Malang">Malang</option>
                                    <option value="Semarang">Semarang</option>
                                    <option value="Solo">Solo</option>
                                    <option value="Tanah Bumbu">Tanah Bumbu</option>
                                </select>

                                <label>Do you want to host as a corporate or individual ?
                                    <select class="required-entry" name="is_company">
                                        <option value="0">Individual</option>
                                        <option value="1">Corporate</option>
                                    </select>
                                </label>


                                <label for="count">How many groomer you have?</label>
                                <input type="text" class="required-entry" name="count"
                                    value="<?php echo $service['host']['grooming']['count']?>">
                            </div>

                        </div>

                    </div>



                </div>
            </div>


        </div>


        <button type="submit" class="button">Save and Continue <i class="fa fa-long-arrow-right"
                aria-hidden="true"></i></button>

    </form>
</div>


<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('contact-info');
    //]]>
</script>



<?php endif;?>


<?php if($serviceType == 'hotel' && $step == '2'):?>

<?php $service = $this->getServiceDetails();
//var_dump ($service);?>

<a href="/service/account/product_add/step/1"><i class="fa fa-angle-left" aria-hidden="true"></i> Personal
    Information</a>
<h1>Service Info</h1>

<div class="form-container">

    <form class="form" id="contact-info" method="post"
        action="<?php echo $this->getUrl("service/product/saveService") ?>">


        <input type="hidden" name="service_type" value="<?php echo $serviceType?>">
        <div class="row">
            <div class="medium-12 columns">

                <div class="booking-form-container">
                    <h3>Service Info</h3>
                    <div class="booking-contact-details">

                        <div class="row">
                            <div class="medium-12 columns">
                                <label>What is your service name?
                                    <input type="text" class="required-entry" name="host_name"
                                        placeholder="Hello Petshop"
                                        value="<?php echo $service['host']['hotel']['host_name']?>">
                                </label>

                                <label>What is your service tagline?
                                    <input type="text" class="required-entry" name="tagline" placeholder="Best Petshop"
                                        value="<?php echo $service['host']['hotel']['tagline']?>">
                                </label>


                                <label for="coverage">Where is your service Area</label>

                                <select class="required-entry" name="coverage_area[city]">
                                    <option value="Kota Tangerang">Kota Tangerang</option>
                                    <option value="Tangerang Selatan">Tangerang Selatan</option>
                                    <option value="Kab Tangerang">Kab Tangerang</option>
                                    <option value="Jakarta Pusat">Jakarta Pusat</option>
                                    <option value="Jakarta Utara">Jakarta Utara</option>
                                    <option value="Jakarta Selatan">Jakarta Selatan</option>
                                    <option value="Jakarta Barat">Jakarta Barat</option>
                                    <option value="Jakarta Timur">Jakarta Timur</option>
                                    <option value="Bandung">Bandung</option>
                                    <option value="Depok">Depok</option>
                                    <option value="Bogor">Bogor</option>
                                    <option value="Bekasi">Bekasi</option>
                                    <option value="Surabaya">Surabaya</option>
                                    <option value="Yogyakarta">Yogyakarta</option>
                                    <option value="Malang">Malang</option>
                                    <option value="Semarang">Semarang</option>
                                    <option value="Solo">Solo</option>
                                    <option value="Tanah Bumbu">Tanah Bumbu</option>
                                </select>

                                <label>Do you want to host as a corporate or individual ?
                                    <select class="required-entry" name="is_company">
                                        <option value="0">Individual</option>
                                        <option value="1">Corporate</option>
                                    </select>
                                </label>


                                <label for="count">How many room do you have?</label>
                                <input type="text" class="required-entry" name="count"
                                    value="<?php echo $service['host']['hotel']['count']?>">
                            </div>

                        </div>

                    </div>



                </div>
            </div>


        </div>


        <button type="submit" class="button">Save and Continue <i class="fa fa-long-arrow-right"
                aria-hidden="true"></i></button>

    </form>
</div>


<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('contact-info');
    //]]>
</script>



<?php endif;?>