<?php $step = $this->getRequest()->getParam('step');?>
<?php $serviceType = $this->getRequest()->getParam('service_type');?>


<?php if($serviceType == 'grooming' && $step == '5'):?>


<?php $service = $this->getServiceDetails();
$customer = $this->getCustomerDetails();

//var_dump ($service);?>




<?php $photos = $service['host']['grooming']['photo_urls']?>

<a href="/service/account/product_add/step/4"><i class="fa fa-angle-left" aria-hidden="true"></i> Manage Schedule</a>
<h1>Manage Photos</h1>



<div class="form-container">
    <h3>Add Logo To Your Service</h3>
    <div class="row medium-up-5 margin-bottom-2">


        <div class="columns">

            <div class="square-box fullbackground" style="
        background: url('<?php echo $customer['photo_url']?>') no-repeat center center; ">
                <div class="square-content">
                    <button class="hide label secondary hollow"
                        onclick="remove('<?php echo $file_name;?>')">Remove</button>

                </div>
            </div>
        </div>



    </div>

    <form action="<?php echo $this->getUrl("service/product/saveLogo") ?>" method="post"
        enctype="multipart/form-data">
        <input type="hidden" name="service_type" value="<?php echo $serviceType;?>">
        <input type="hidden" name="logo" value="1">
        <div class="input-box">
            <input id="file" name="file[]" type="file" multiple />
        </div>
        <button type="submit" class="button tiny" name="submit" value="Upload Image">
            Upload Photo
        </button>
        <p class="small-text">Recommended Photo Size 100px x 100px</p>
    </form>
</div>






<div class="form-container">
    <h3>Add Photos For Your Service</h3>
    <div class="row medium-up-5 margin-bottom-2">

        <?php foreach ($photos as $photo):?>
        <div class="columns">

            <div class="square-box fullbackground" style="
        background: url('<?php echo $photo;?>') no-repeat center center; ">
                <div class="square-content">
                    <button class="hide label secondary hollow"
                        onclick="remove('<?php echo $file_name;?>')">Remove</button>

                </div>
            </div>
        </div>



        <?php endforeach;?>

    </div>

    <form action="<?php echo $this->getUrl("service/product/saveUploadFile") ?>" method="post"
        enctype="multipart/form-data">
        <input type="hidden" name="service_type" value="<?php echo $serviceType;?>">

        <div class="input-box">
            <input id="file" name="file[]" type="file" multiple />
        </div>
        <button type="submit" class="button tiny" name="submit" value="Upload Image">
            Upload Photo
        </button>
        <p class="small-text">Recommended Photo Size 300px x 200px</p>
    </form>
</div>


<a href="https://petloka.com/service/product/add" class="button">Save and Continue</a>
<?php endif;?>










<?php if($serviceType == 'hotel' && $step == '5'):?>


<?php $service = $this->getServiceDetails();
$customer = $this->getCustomerDetails();

//var_dump ($service);?>






<?php $photos = $service['host']['hotel']['photo_urls']?>

<a href="/service/account/product_add/step/4"><i class="fa fa-angle-left" aria-hidden="true"></i> Manage Schedule</a>
<h1>Manage Photos</h1>

<div class="form-container">
    <h3>Add Logo To Your Service</h3>
    <div class="row medium-up-5 margin-bottom-2">


        <div class="columns">

            <div class="square-box fullbackground" style="
        background: url('<?php echo $customer['photo_url']?>') no-repeat center center; ">
                <div class="square-content">
                    <button class="hide label secondary hollow"
                        onclick="remove('<?php echo $file_name;?>')">Remove</button>

                </div>
            </div>
        </div>



    </div>

    <form action="<?php echo $this->getUrl("service/product/saveLogo") ?>" method="post"
        enctype="multipart/form-data">
        <input type="hidden" name="service_type" value="<?php echo $serviceType;?>">
        <input type="hidden" name="logo" value="1">
        <div class="input-box">
            <input id="file" name="file[]" type="file" multiple />
        </div>
        <button type="submit" class="button tiny" name="submit" value="Upload Image">
            Upload Photo
        </button>
        <p class="small-text">Recommended Photo Size 100px x 100px</p>
    </form>
</div>

<div class="form-container">
    <h3>Add Photos For Your Service</h3>
    <div class="row medium-up-5 margin-bottom-2">

        <?php foreach ($photos as $photo):?>
        <div class="columns">

            <div class="square-box fullbackground" style="
        background: url('<?php echo $photo;?>') no-repeat center center; ">
                <div class="square-content">
                    <button class="hide label secondary hollow"
                        onclick="remove('<?php echo $file_name;?>')">Remove</button>

                </div>
            </div>
        </div>



        <?php endforeach;?>

    </div>

    <form action="<?php echo $this->getUrl("service/product/saveUploadFile") ?>" method="post"
        enctype="multipart/form-data">
        <input type="hidden" name="service_type" value="<?php echo $serviceType;?>">

        <div class="input-box">
            <input id="file" name="file[]" type="file" multiple />
        </div>
        <button type="submit" class="button tiny" name="submit" value="Upload Image">
            Upload Photo
        </button>
        <p class="small-text">Recommended Photo Size 300px x 200px</p>
    </form>
</div>
<a href="https://petloka.com/service/product/add" class="button">Save and Continue</a>
<?php endif;?>



<style>
    [type=text],
    textarea {
        border-bottom: 1px solid #eee
    }

    label {
        font-weight: 500;
        font-size: 14px !important
    }

    .fullbackground {

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 1rem
    }

    .square-box {
        position: relative;
        width: 100%;
        overflow: hidden;
        background: #4679BD;
    }

    .square-box:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .square-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        padding: 15%;
        text-align: center;


    }

    .square-content:hover {
        background: rgba(0, 0, 0, 0.3)
    }
</style>