<?php
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($_category->getName()).'" title="'.$this->escapeHtml($_category->getName()).'" />';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
?>






<section class="footer-content padding-center border-top" style="background:#fafafa">



    <div class="row">
        <div class="medium-5 columns">
            <?php if(!empty($_category->getDescription())):?>
            <h5>ABOUT THE BRAND</h5>
            <h2 class="margin-bottom-1"><?php echo $_category->getName();?> Story</h2>
            <p>
                        <?php echo $_category->getDescription();?>
            </p>

            <?php endif;?>

        </div>
        <div class="medium-7 columns content-2">
        <?php if(!empty($_category->getData('footer-content'))):?>
            <?php echo $_category->getData('footer-content');?>
            <?php endif;?>
        </div>
    </div>

</section>

<style>
.content-2,.content-2 p{
    
    font-size:14px;
}
</style>