<?php
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($_category->getName()).'" title="'.$this->escapeHtml($_category->getName()).'" />';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
    $_subcategorys = $_category->getChildrenCategories()
?>

<?php $theme = Mage::getSingleton('core/design_package')->getTheme('locale');?>

<?php if ($theme !== "experience"): //experience?>

<div class="promo-bar">
        <?php if(!empty($_category->getData('sw_ocat_promotional_text'))):?>

        <?php echo $_category->getData('sw_ocat_promotional_text'); ?>
        <?php if ( !empty($_category->getData('sw_ocat_voucher_code'))):?>
        | Kode Promo : <span class="f600"
                style="border-bottom:1px dotted white;text-transform:uppercase"><?php echo $_category->getData('sw_ocat_voucher_code'); ?>

        </span>

        <?php endif;?>

        <?php if ( !empty($_category->getData('promo_end_date'))):?>

        | Promo End :

        <?php
$date = date_create( $_category->getData('promo_end_date') );
echo date_format($date,"d-M-Y");
?>


        <?php endif;?>

        <?php if ( !empty($_category->getData('show-term'))):?>
        | <a href="#" style="border-bottom:1px solid white" data-open="exampleModal11" class="f600">View Details</a>
        <div class="reveal" id="exampleModal11" data-reveal>
  <h3>Promo Details</h3>
<?php echo $_category->getData('show-term')?>

  
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
        <?php endif;?>

        <?php else:?>
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('promo-bar')->toHtml(); ?>
        <?php endif;?>
</div>
<?php endif;?>


<?php if($_category->getCategoryTemplate() == 358): // Brand - Parrent?>

<section id="brand-parrent" class="padding-center">
        <div class="row">
                <div class="medium-8 medium-centered columns text-center">
                        <div class="category-header">

                                <h1>
                                        <?php echo $_category->getName();?>
                                </h1>
                                <p>
                                        <?php echo $_category->getCategoryShortDescription();?>
                                </p>
                        </div>


                </div>
        </div>
</section>

<?php elseif($_category->getCategoryTemplate() == 359): // Brand - Child?>

<section id="brand-child" class="padding-center">
        <div class="row">
                <div class="medium-8 medium-centered columns text-center">
                        <div class="category-header">

                                <h1>
                                        <?php echo $_category->getName();?>
                                </h1>
                                <p>
                                        <?php echo $_category->getCategoryShortDescription();?>
                                </p>
                        </div>


                </div>
        </div>
</section>

<?php elseif($_category->getCategoryTemplate() == 360): // Category - Parrent?>

<section id="category-child" class="padding-center">
        <div class="row">
                <div class="medium-8 medium-centered columns text-center">
                        <div class="category-header">

                                <h1>
                                        <?php echo $_category->getName();?>
                                </h1>
                                <p>
                                        <?php echo $_category->getCategoryShortDescription();?>
                                </p>
                        </div>


                </div>
        </div>
</section>




<?php elseif($_category->getCategoryTemplate() == 361): // Category - Child?>
<section id="category-child" class="padding-center">
        <div class="row">
                <div class="medium-8 medium-centered columns text-center">
                        <div class="category-header">

                                <h1>
                                        <?php echo $_category->getName();?>
                                </h1>
                                <p>
                                        <?php echo $_category->getCategoryShortDescription();?>
                                </p>
                        </div>


                </div>
        </div>
</section>

</section>
<?php elseif($_category->getCategoryTemplate() == 362): // Experience Parrent?>
<section id="experience-parrent" class="lazy-bg parallax-header margin-bottom-2" style="background: url(<?php echo $_category->getImageUrl();?>) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
        <div class="parallax-container half">
                <div class="parallax-content">
                        <h5>
                                <?php echo $_category->getData('category_label');?>
                        </h5>
                        <h1>
                                <?php echo $_category->getData('category_title');?>
                        </h1>
                        <p>
                                <?php echo $_category->getCategoryShortDescription();?>
                        </p>

                </div>

        </div>

</section>
<?php elseif($_category->getCategoryTemplate() == 363): // Exp Child?>

        <section id="category-child" class="padding-center">
        <div class="row">
                <div class="medium-8 medium-centered columns text-center">
                        <div class="category-header">

                                <h1>
                                        <?php echo $_category->getName();?>
                                </h1>
                                <p>
                                        <?php echo $_category->getCategoryShortDescription();?>
                                </p>
                        </div>


                </div>
        </div>
</section>


<?php elseif($_category->getCategoryTemplate() == 364): // Location - Parrent?>
<section id="location-parrent" class="parallax-header">
        <div class="parallax-container half">
                <div class="parallax-content">
                        <h5>
                                <?php echo $_category->getData('category_label');?>
                        </h5>
                        <h1>
                                <?php echo $_category->getData('category_title');?>
                        </h1>
                        <p>
                                <?php echo $_category->getCategoryShortDescription();?>
                        </p>

                </div>

        </div>

</section>

<?php elseif($_category->getCategoryTemplate() == 365): // Location - Child?>
<section id="location-parrent" class="parallax-header">
        <div class="parallax-container half">
                <div class="parallax-content">
                        <h5>
                                <?php echo $_category->getData('category_label');?>
                        </h5>
                        <h1>
                                In
                                <?php echo $_category->getName();?>
                        </h1>
                        <p>
                                <?php echo $_category->getCategoryShortDescription();?>
                        </p>

                </div>

        </div>

</section>

<?php elseif($_category->getCategoryTemplate() == 366): // Promo - Thematic?>

<?php elseif($_category->getCategoryTemplate() == 367): // Promo - Collaboration?>

<?php elseif($_category->getCategoryTemplate() == 368): // Custom - Fullwidth?>

<?php elseif($_category->getCategoryTemplate() == 369): // Custom - Half?>

<?php elseif($_category->getCategoryTemplate() == 370): // Custom - Empty?>

<?php endif;?>



<?php if($_category->getCategoryTemplate() == 240): // Fullpage Banner?>
<section class="parallax-header">
        <div class="parallax-container">
                <div class="parallax-content">
                        <h5>
                                <?php echo $_category->getName();?>
                        </h5>
                        <h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h1>
                        <p>
                                <?php echo $_category->getCategoryShortDescription();?>
                        </p>

                </div>

        </div>

</section>



<?php elseif($_category->getCategoryTemplate() == 239): // Deafault?>
<div class="card">
        <div class="fullwidth-bottom-cta card-hero">


                <a href="<?php echo $_category->getParentCategory()->getUrl();?>">
                        <h5>
                                <?php echo $_category->getParentCategory()->getName();?>
                        </h5>
                </a>


                <h2>
                        <?php echo $_category->getName();?>
                </h2>


                <p>
                        <?php echo $_category->getCategoryShortDescription();?>
                </p>


        </div>
</div>

<?php elseif($_category->getCategoryTemplate() == 241): // Half Banner?>
<div class="card">
        <div class="fullwidth-bottom-cta card-hero">
                <div class="card-image">
                        <img src="https://via.placeholder.com/375x225" alt="">


                </div>
                <div class="card-content">
                        <div class="s">
                                <a href="<?php echo $_category->getParentCategory()->getUrl();?>">
                                        <h5>
                                                <?php echo $_category->getParentCategory()->getName();?>
                                        </h5>
                                </a>


                                <h2>
                                        <?php echo $_category->getName();?>
                                </h2>


                                <p>
                                        <?php echo $_category->getCategoryShortDescription();?>
                                </p>

                        </div>

                </div>
        </div>
</div>
<?php endif;?>


<?php if ( $_category->getCategoryTemplate() == 362 && count($_subcategorys) >= 3): // Experience Category Header?>
<!-- <section id="featured-category" class="padding-center">

        <div class="row">
                <div class="small-12 columns">

                        <h2>
                                Trending Experience
                        </h2>

                        <div id="featured-experience"
                                class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
                                <?php foreach($_subcategorys as $_subcategory): ?>

                                <?php $_subcategory_obj = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>
                                <div class="item">
                                        <div class="card">
                                                <div class="featured-experience card-experience">
                                                        <div class="card-image">
                                                                <a href=" <?php echo $_subcategory_obj->getUrl()?>">
                                                                        <img src="<?php echo $_subcategory_obj->getResizedThumbnailImage(718,524,78); ?>"
                                                                                width="718" height="525"
                                                                                alt="<?php echo $_subcategory_obj->getname();?>">


                                                                </a>
                                                        </div>
                                                        <div class="card-content">
                                                                <div class="row collapse">

                                                                        <div class="small-12 columns">
                                                                                <div class="exp-desc">
                                                                                        <h5>
                                                                                                <?php echo $_subcategory_obj->getData('category_label')?>
                                                                                        </h5>

                                                                                        <h2>
                                                                                                <a
                                                                                                        href=" <?php echo $_subcategory_obj->getUrl()?>">
                                                                                                        <?php echo $_subcategory_obj->getData('category_title')?>
                                                                                                </a>
                                                                                        </h2>
                                                                                        <p>
                                                                                                <?php echo $_subcategory_obj->getCategoryShortDescription()?>
                                                                                        </p>

                                                                                </div>


                                                                        </div>

                                                                </div>

                                                        </div>
                                                </div>

                                        </div>
                                </div>

                                <?php endforeach;?>
                        </div>


                </div>
        </div>




</section> -->

<?php elseif ( $_category->getCategoryTemplate() == 360 && count($_subcategorys) >= 3): // Category Parrent?>
<section id="featured-category" class="padding-center hide">

        <div class="row">
                <div class="small-12 columns">


                        <div id="featured-experience"
                                class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
                                <?php foreach($_subcategorys as $_subcategory): ?>



                                <?php $_subcategory_obj = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>

                                <div class="item">
                                        <div class="card">
                                                <div class="featured-experience card-experience">
                                                        <div class="card-image">
                                                                <a href=" <?php echo $_subcategory_obj->getUrl()?>">
                                                                        <img src="<?php echo $_subcategory_obj->getResizedThumbnailImage(718,524,78); ?>"
                                                                                width="718" height="525"
                                                                                alt="<?php echo $_subcategory_obj->getname();?>">


                                                                </a>
                                                        </div>
                                                        <div class="card-content">
                                                                <div class="row collapse">

                                                                        <div class="small-12 columns">
                                                                                <div class="exp-desc">


                                                                                        <h2>
                                                                                                <a
                                                                                                        href=" <?php echo $_subcategory_obj->getUrl()?>">
                                                                                                        <?php echo $_subcategory_obj->getName();?>
                                                                                                </a>
                                                                                        </h2>
                                                                                        <p>
                                                                                                <?php echo $_subcategory_obj->getCategoryShortDescription()?>
                                                                                        </p>

                                                                                </div>


                                                                        </div>

                                                                </div>

                                                        </div>
                                                </div>

                                        </div>
                                </div>


                                <?php endforeach;?>
                        </div>


                </div>
        </div>




</section>
<?php elseif ( $_category->getCategoryTemplate() == 364 && count($_subcategorys) >= 3): // Location Category?>
<section id="featured-category" class="padding-center">

        <div class="row">
                <div class="small-12 columns">

                        <h2>
                                Trending Location
                        </h2>
                        <div id="featured-location"
                                class="owl-carousel owl-theme owl-middle-narrow owl-banner-carousel">
                                <?php foreach($_subcategorys as $_subcategory): ?>

                                <?php $_subcategory_obj = Mage::getModel('catalog/category')->load($_subcategory->getId()) ?>
                                <div class="item">
                                        <a href=" <?php echo $_subcategory_obj->getUrl()?>">
                                                <div class="card">

                                                        <div class="card-place">
                                                                <div class="card-image">
                                                                        <img src="<?php echo $_subcategory_obj->getResizedThumbnailImage(500,400,78); ?>"
                                                                                width="400" height="500"
                                                                                alt="<?php echo $_subcategory_obj->getname();?>">

                                                                </div>
                                                                <div class="card-content">
                                                                        <div class="bottom">
                                                                                <h5>
                                                                                        <?php echo $_subcategory_obj->getData('category_label');?>
                                                                                </h5>
                                                                                <h2>
                                                                                        <?php echo $_subcategory_obj->getName();?>
                                                                                </h2>
                                                                                <p>
                                                                                        <?php echo $_subcategory_obj->getData('sw_ocat_promotional_text');?>
                                                                                </p>
                                                                        </div>

                                                                </div>

                                                        </div>

                                                </div>

                                        </a>

                                </div>

                                <?php endforeach;?>
                        </div>

                </div>
        </div>





</section>
<?php endif;?>