<?php 
$_categoryId = '198';
$_tileId = $this->getTileId();
$root = Mage::getModel('catalog/category')->load($_categoryId); 
$subCat = explode(',',$root->getChildren()); 
$collection  = $root
             ->getCollection()
             ->addAttributeToSelect("*")
             ->addFieldToFilter("entity_id", array("in", $subCat) )
             ->addAttributeToSelect('*')
			->addAttributeToSort('sw_ocat_orders')
			->addAttributeToFilter('include_in_menu' , 1)
             
?>

<section id="padding-center" class="border-bottom">

	
	<div class="row">
		<div class="small-12 large-6 large-push-3 columns text-center">
			<div class="caption">
				<h3>Shop By Activities</h3>
			</div>
		</div>
		<div class="medium-12 columns">
			<div class="row small-up-1 medium-up-3">
				<?php foreach($collection as $category) :?>
					
					<?php 
               $_file_name = $category->getData("sw_ocat_category_icon_image"); // Here $cat is category data array                
  $_media_dir = Mage::getBaseDir('media') . DS . 'catalog' . DS . 'category' . DS;
                $cache_dir = $_media_dir . 'homepage-tile' . DS; // Here i create a homepage-tile folder. for upload new category image
                        
   if (file_exists($cache_dir . $_file_name)) {
                             $catImg =Mage::getBaseUrl('media') .  'catalog' . DS . 'category' . DS . 'homepage-tile' . DS . $_file_name;
                         } elseif (file_exists($_media_dir . $_file_name)) {
                             if (!is_dir($cache_dir)) {
                                 mkdir($cache_dir);
                             }

                             $_image = new Varien_Image($_media_dir . $_file_name);
                             $_image->constrainOnly(true);
                             $_image->keepAspectRatio(true);
                             $_image->keepFrame(false);
                             $_image->keepTransparency(true);
                             $_image->resize(692, 494); // change image height, width
                             $_image->save($cache_dir . $_file_name);
                             $catImg = Mage::getBaseUrl('media') . 'catalog' . DS . 'category' . DS . 'homepage-tile' . DS . $_file_name;
                         }
 
 ?>
					
					
					<div class="columns">
		<div class="homepage-tile-container promo-container">
			<div id="loading" class="small-grid promo-banner-container">
					<a href="<?php echo $category->getURL();?>">
						<img src="<?php echo $catImg;?>" height="643" width="900">
						<div class="promo-banner-content filter-content-black white text-center">
							
							
							<span class="parrent-category">Shop For</span>
							<h3><?php echo $category->getName();?></h3>
						</div>
						
					</a>
					
					</div>
					
			<div class="promo-details">
			
				
				
			</div>
			<div class="row small-up-2">
				<div class="columns">
			<a href="<?php echo $category->getURL();?>" class="category-more shop-now">SHOP NOW</a>
			
				</div>
				<div class="columns text-right">
					<span class="mercury tiny-text italic"><?php echo $category->getData("sw_ocat_promotional_text");?></span>
			
				</div>
			</div>
			
		</div>
		
	</div>
				<?php endforeach ?>
			</div>
			
		</div>	 	 
	</div>
</section>



