<?php
$_categoryId = $this->getCategoryId();
$post = Mage::getModel('wordpress/post')->load($_categoryId);
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
   
$attributes = Mage::getSingleton('catalog/config')->getProductAttributes();
$collection = Mage::helper('wordpress/associations')->getAssociatedProductsByPost($post);
$collection->addAttributeToSelect($attributes);	   
   
     
?>

<?php if ($post): ?>
	<?php $helper = $this->helper('wordpress') ?>
	<?php $author = $post->getAuthor() ?>
	

<?php endif; ?>



					<table class="row collapse">
							
  							<tr>
  							
    							<th class="small-12 large-12 columns" style="padding:0 !important;width:100%">
      								<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>">
						<img src="<?php echo $featuredImage->getPostThumbnailImage();?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
					</a>
				<?php endif; ?>	
      							</th>		
    							<th class="expander"></th>
  							</tr>		
					</table>
					<table class="spacer float-center">
              			<tbody>
                			<tr>
                  				<td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                			</tr>
             			</tbody>
            		</table>
                    <table class="row">
  							<tr>
    							<th class="full padding-center caption text-center">
    								<h5 style="text-align:center !important">Journal</h5>
    								<h3 style="text-align:center !important"><?php echo $this->escapeHtml($post->getPostTitle()) ?></h3>
			
			<?php echo $this->getBeforePostContentHtml() ?>
      								<?php echo $post->getPostExcerpt(150)?>
      								<a href="<?php echo $post->getPermalink() ?>">Baca Selengkapnya</a>
      							</th>
  							</tr>
					</table>
                   	<table class="spacer float-center">
              			<tbody>
                			<tr>
                  				<td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                			</tr>
             			</tbody>
            		</table>
					


<?php 
	$_categoryId = $this->getCategoryId();
	$posts = Mage::getResourceModel('wordpress/post_collection');
	$posts->addPostTypeFilter('post')
			->addStickyPostsToCollection()
			->setPageSize(6);
?>


<?php if (count($posts) > 0): ?>
					<table class="row">
						<tr class="full-grid">
    							<th class="text-center caption">
      								
      								<h5>NOW TRENDING ON JOURNAL</h5>
      								
    							</th>
  						</tr>	
						<tr class="journal-grid">
							<?php foreach($posts as $post): ?>
    						<th class="text-center product">
    								<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>" target="_blank">
						<img src="<?php echo $featuredImage->getPostThumbnailImage();?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
					</a>
				<?php endif; ?>
							<h3><a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>" target="_blank"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a>
				</h3>
    						</th>
    						<?php endforeach; ?>
  						</tr>
					</table>
<?php endif; ?>

<table class="row">
                    	<tr class="full-grid">
    							<th class="text-center caption">
      								
      								<h5>Shop The Collection</h5>
      								
    							</th>
  						</tr>	
    					<tr class="product-grid">
    							
    							<?php $count = 0;?>
    				<?php foreach ($collection as $_product): ?>
        				<th class="text-center product">
      								 <a class="product-image" href="<?php echo $_product->getProductUrl() ?>">
                <img height="204" width="236" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            </a>
      								<h5><a href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a></h5>
      								<h3>
      								<a href="<?php echo $_product->getProductUrl() ?>">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
      								</h3>
      								<p><?php echo $this->getPriceHtml($_product, true) ?></p>
    					</th>
        				<?php endforeach ?>
  						</tr>
					</table>