<?php
    $_helper    = Mage::helper('catalog/output');
    $_category  = Mage::registry('current_category');
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $_description=$_category->getDescription();
?>
<?php $invalid = $_category->getData("promo_end_date");?>
<?php $promo_start_date = $_category->getData("promo_start_date");?>
							
<div class="promo-bar">	
<?php if(!empty($_category->getData('sw_ocat_promotional_text'))):?>
	
	<?php echo $_category->getData('sw_ocat_promotional_text'); ?>
	<?php if ( !empty($_category->getData('sw_ocat_voucher_code'))):?>
			| Kode Promo : <span class="f600" style="border-bottom:1px dotted white;text-transform:uppercase"><?php echo $_category->getData('sw_ocat_voucher_code'); ?>
			
			</span>
	
	<?php endif;?>
	
	<?php if ( !empty($_category->getData('promo_end_date'))):?>
	
	 | Promo End : 
	
	<?php
$date = date_create( $invalid );
echo date_format($date,"d-M-Y");
?> 

	
	<?php endif;?>
	
	<?php if ( !empty($_category->getData('show-term'))):?>
	| <a href="#" style="border-bottom:1px solid white" data-open="exampleModal11" class="f600">VIEW Details</a>	
	<?php endif;?>
	
<?php else:?>
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('promo-bar')->toHtml(); ?> 
<?php endif;?>
</div>




<div class="reveal" id="exampleModal11" data-reveal>
  
  <?php if ( !empty($_category->getData('how_to_get'))):?>
  <p class="lead">How to Get Voucher</p>
        	<?php echo $_category->getData('how_to_get');?>
<?php endif;?>
  
  <p class="lead">Syarat dan Ketentuan</p>
  <?php echo $_category->getData('show-term');?>
  
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

