<?php
$_categoryId = $this->getCategoryId();
$post = Mage::getModel('wordpress/post')->load($_categoryId);
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
   

     
?>

<?php if ($post): ?>
	<?php $helper = $this->helper('wordpress') ?>
	<?php $author = $post->getAuthor() ?>
	

<?php endif; ?>

<tr>
	
  	<td class="full">
        <table class="columns">
            <tr>
                  <td style="text-align:center !important;color:white" background="<?php echo $post->getFeaturedImage()->getThumbnailImage();?>
" bgcolor="#ddf3e9" width="700" height="500">

                	<div style="background:rgba(0,0,0,0.3);height:100%;padding:2rem;text-align:left">
                		<div style="position:relative;top:50%;width:90%">
                	<span style="text-align:;left;font-size:10px;letter-spacing:5px">FEATURED JOURNAL</span>
                	<a style="color:white; bottom:0;text-decoration:none" href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL&utm_campaign=EMAIL&utm_medium=EMAIL">
    					<h1 style="font-size:1.2rem;text-align:left !important;text-transform:uppercase"><?php echo $this->escapeHtml($post->getPostTitle()) ?></h1>
					</a>

      				<p style="font-family: mercury;font-size:14px !important;letter-spacing:0.3px;text-align:left"><?php echo $post->getPostExcerpt(200)?></p>
      				
      				<a style="color:white; border:1px solid white;padding:0.5rem 1rem;bottom:0;text-decoration:none;font-size:10px;margin-top:1rem" href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL&utm_campaign=EMAIL&utm_medium=EMAIL">
    					READ JOURNAL
					</a>

      					</div>
      				</div>

      			</td>			
  			</tr>
  		</table>
  	</td>
  							
  							
</tr>


<?php 
	$_categoryId = $this->getCategoryId();
	$posts = Mage::getResourceModel('wordpress/post_collection');
	$posts->addPostTypeFilter('post')
			->addStickyPostsToCollection()
			->setPageSize(6);
?>

<tr>
	
  	<td class="full">
        <table class="columns">
            <tr>
                  <td>
                  	<h3>NOW TRENDING ON JOURNAL</h3>
                  </td>			
  			</tr>
  		</table>
  	</td>
  							
  							
</tr>



<tr>
    <td class="full">
    	<?php $count = 0;?>
    	<?php foreach($posts as $post): ?>
    						
    		<table class="half columns">
        	<tr>
        		<td class="expander"></td>
                <td style="padding:0.5rem">
                	<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL&utm_campaign=EMAIL&utm_medium=EMAIL" target="_blank">
						<img class="main-image" src="<?php echo $featuredImage->getThumbnailImage();?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
					</a>
					<?php endif; ?>
					<h3><a style="text-transform:uppercase;text-decoration:none;color:#333" href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL&utm_campaign=EMAIL&utm_medium=EMAIL" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>" target="_blank"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a>
					<p style="font-family: mercury;font-size:12px !important;letter-spacing:0.3px;font-style: italic;"><?php echo $post->getPostExcerpt(150)?></p>
                </td>
                <td class="expander"></td>
            </tr>
           
        </table>
        <?php endforeach ?>
    </td>
</tr>

