<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(4);
    
?>

			
			<?php
				$cat_icon_img = $_categoryUrl->getData("sw_ocat_category_email_image");
				$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
			?>
		
		
		
		<tr>
		
    <td class="full">
        <table class="columns">
            <tr>
                <td >
					<a href="<?php echo $_categoryUrl->getURL();?>?utm_source=Email">
      					<img class="main-image" src="<?php echo $cat_icon_img_url;?>">
      				</a>                  
                </td>
                
                
                
                <td class="expander"></td>
            </tr>
        </table>
        <table class="columns">
            <tr>
                
                
                <td style="text-align:center;padding:0.5rem 1rem">
					<p style="font-family:mercury;font-size:18px !important;text-align-center;font-style:italic;letter-spacing:0.3px"><?php echo $_categoryUrl->getDescription() ?>	</p>                
                </td>
                
                
                <td class="expander"></td>
            </tr>
        </table>
        
    </td>
</tr>
		
		<tr>
    <td class="full">
    	<?php $count = 0;?>
    	<?php foreach ($_productCollection as $i=>$_product): ?>
        <table class="half columns">
        	<?php if ($i % 2 == 0): ?>
            <tr>
                <td style="padding:2rem 1rem">
					<a class="product-image" href="<?php echo $_product->getProductUrl() ?>?utm_source=Email">
               	 		<img height="200" width="200" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            		</a>
            		<h5><a style="color:#ccc !important" href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a></h5>
      								<h3>
      								<a style="color:#333;text-decoration:none;text-transform:uppercase" href="<?php echo $_product->getProductUrl() ?>?utm_source=EMAIL&utm_campaign=EMAIL&utm_medium=EMAIL">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
      								</h3>
      								<p><?php echo $this->getPriceHtml($_product, true) ?></p>              
                </td>
                <td class="expander"></td>
            </tr>
            <?php elseif ($i % 2 == 1): ?>
            
            <tr>
                <td style="padding:2rem 1rem">
					<a class="product-image" href="<?php echo $_product->getProductUrl() ?>?utm_source=Email">
               	 		<img height="200" width="200" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            		</a>
            		<h5><a style="color:#ccc !important" href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a></h5>
      								<h3>
      								<a style="color:#333;text-decoration:none;text-transform:uppercase" href="<?php echo $_product->getProductUrl() ?>?utm_source=Email">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
      								</h3>
      								<p><?php echo $this->getPriceHtml($_product, true) ?></p>              
                </td>
                <td class="expander"></td>
            </tr>
            <?php endif;?>
        </table>
        <?php endforeach ?>
    </td>
</tr>
		
		




