<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>


<?php 
	$_categoryId = $this->getCategoryId();
	$posts = Mage::getResourceModel('wordpress/post_collection');
	$posts->addPostTypeFilter('post')
			->addStickyPostsToCollection()
			->setPageSize(6);
?>

<table class="spacer float-center border-top">
              			<tbody>
                			<tr>
                  				<td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                			</tr>
             			</tbody>
            		</table> 				
<?php if (count($posts) > 0): ?>
					<table class="row">
						<tr class="full-grid">
    							<th class="text-center caption">
      								
      								<h3>Now Trending On Journal</h3>
      								
    							</th>
  						</tr>	
						<tr class="journal-grid">
							<?php foreach($posts as $post): ?>
    						<th class="text-center product">
    								<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>" target="_blank">
						<img src="<?php echo $featuredImage->getPostThumbnailImage();?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
					</a>
				<?php endif; ?>
							<h3><a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>" target="_blank"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a>
				</h3>
    						</th>
    						<?php endforeach; ?>
  						</tr>
					</table>
<?php endif; ?>