<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load(97)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(6);
    
?>

			
		
		
		
		
		<tr>
    <td class="full">
    	<table class="columns">
            <tr>
                
                
                <td style="text-align:center;padding:0.5rem 1rem">
                	<h2>EDITOR'S PICK</h2>
                	               
                </td>
                
                
                
                
                <td class="expander"></td>
            </tr>
        </table>
        
    	<?php $count = 0;?>
    	<?php foreach ($_productCollection as $i=>$_product): ?>
       	 	<table class="third columns product-info" style="text-align:center !important">
        	<tr>
                <td style="padding:1rem 0.5rem">
					<a href="<?php echo $_product->getProductUrl() ?>?utm_source=EMAIL">
               	 		<img class="main-image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(350); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            		</a>
            		<h5><a class="brand-name" style="color:#ccc !important" href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a></h5>
      								<h3>
      								<a class="product-name" style="color:#333;text-decoration:none;text-transform:uppercase" href="<?php echo $_product->getProductUrl() ?>?utm_source=EMAIL">
            	
            	<?php $prod_name = $this->htmlEscape($_product->getName()); ?>
                    	<?php
                    $count_str = strlen($prod_name);
                    if ($count_str < 30) {
                        echo $prod_name;
                    } else {
                        $offset = 0;
                        $length = 31;   
                        $prod_name = html_entity_decode($prod_name);                     
                        echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;                        
                    }
                    ?>
            	</a>
      								</h3>
      								<span class="product-price"><?php echo $this->getPriceHtml($_product, true) ?></span>              
                </td>
                <td class="expander"></td>
            </tr>
        </table>
        <?php endforeach ?>
    </td>
    
    
</tr>

		
		




