<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(4);
    
?>

			
		
		
		

		<tr>
	
  	<td class="full">
        <table class="columns">
            
  			 <tr>
  			 	
                
                  <td style="text-align:center !important">
					<img class="main-image" style="margin:0" src="<?php echo $_categoryUrl->getResizedThumbnailImage(700,500); ?>"  alt="<?php echo $_categoryUrl->getname();?>">
					<div class="content-container">
					<span style="font-size:12px;letter-spacing:5px;text-transform:uppercase;padding:0 !important;line-height:1;color:#ccc">
					PREORDER
							
					</span>
					<a style="line-height:1;margin:0;color:#333; bottom:0;text-decoration:none" href="<?php echo $_categoryUrl->getURL();?>?utm_source=EMAIL">
    					<h1 style="line-height:1;margin:0;font-size:2rem;text-transform:uppercase">
    						<?php echo $_categoryUrl->getName();?>
    					</h1>
					</a>

      				<p style="color:#333;font-family: mercury;letter-spacing:0.3px;padding-bottom:1rem">
      					<?php echo $_categoryUrl->getData("category_short_description");?>
      					
      				</p>
      				<a class="button black" href="<?php echo $_categoryUrl->getURL();?>?utm_source=EMAIL">
      				SHOP <?php echo $_categoryUrl->getName();?>
      				</a>
      				
      				
					</div>
      			</td>
      				
  			</tr>
  		</table>
  	</td>
  							
  							
</tr>
		
		
		
		




