<?php
$_categoryId = $this->getCategoryId();
$post = Mage::getModel('wordpress/post')->load($_categoryId);
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
   

     
?>



<tr>
	
  	<td class="full">

  		
    	<table class="columns">
            <tr>
                
                
                <td style="border-bottom:1px solid #eee">
                	<h5>NOW TRENDING JOURNAL</h5>
                	               
                </td>
                
                
                
                
            </tr>
        </table>
  	</td>
  							
  							
</tr>


<?php 
	$_categoryId = $this->getCategoryId();
	$posts = Mage::getResourceModel('wordpress/post_collection');
			$posts->addPostTypeFilter('post')
			->addStickyPostsToCollection()
			->addIsViewableFilter()
			->setPageSize(3);
?>





<tr>
    <td class="full">
    	<?php $count = 0;?>
    	<?php foreach($posts as $post): ?>
    						
    		<table class="columns">
        	<tr style="padding:2rem !important">
               <td style="padding:0.5rem 0;width:40%">
                
                	<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL" target="_blank">
						<img class="main-image" src="<?php echo $featuredImage->getThumbnailImage();?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
					</a>
					<?php endif; ?>
					</td>
                <td style="padding:0 1.5rem;width:60%;margin:0">
                	
					<h3><a style="text-decoration:none;color:#333" href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>" target="_blank"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a>
					<p style="font-family: mercury;letter-spacing:0.3px"><?php echo $post->getPostExcerpt(150)?></p>
                	<a class="read-more" href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL" target="_blank">
                	Read More
                	</a>
                </td>
                <td class="expander"></td>
            </tr>
           
           
           
        	</table>
        <?php endforeach ?>
    </td>
</tr>

