<?php
$_categoryId = $this->getCategoryId();
$post = Mage::getModel('wordpress/post')->load($_categoryId);
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
   

     
?>

<?php if ($post): ?>
	<?php $helper = $this->helper('wordpress') ?>
	<?php $author = $post->getAuthor() ?>
	

<?php endif; ?>

<tr>
	
  	<td class="full">
  		
        
        <table class="columns">
           
  			<tr>
                  <td style="text-align:center">
					<img class="main-image" src="<?php echo $post->getFeaturedImage()->getThumbnailImage();?>">
                	<div class="content-containers" style="padding:1rem 1.5rem">
                	
                	
					
					<span style="font-size:12px;letter-spacing:5px;text-transform:uppercase;padding:0 !important;line-height:1;color:#ccc">FEATURED JOURNAL</span>
                	<a style="line-height:1;margin:0;color:#333; bottom:0;text-decoration:none" href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL&utm_medium=EMAIL&utm_campaign=EMAIL">
    					<h1 style="line-height:1;margin:0;">
    						<?php echo $this->escapeHtml($post->getPostTitle()) ?>
    					</h1>
					</a>
					
      				<p><?php echo $post->getPostExcerpt(200)?></p>
      				
      				<a class="button black" href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL&utm_medium=EMAIL&utm_campaign=EMAIL">
    					READ MORE
					</a>
					</div>

                	
      			</td>			
  			</tr>
  		</table>
  		
        
  	</td>
  							
  							
</tr>


