<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(4);
    
?>

			
			<?php
				$cat_icon_img = $_categoryUrl->getData("sw_ocat_category_email_image");
				$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
			?>
		
		
		

		<tr>
	
  	<td class="full">
        <table class="columns">
            <tr>
                  <td style="text-align:center !important;color:white;background-size:cover; height:600px;width:600px" background="<?php echo $cat_icon_img_url;?>">

                	<div style="background:rgba(0,0,0,0.3);height:100%;padding:2rem;text-align:left">
                		<div style="position:relative;top:50%;width:90%">
                	<span style="text-align:;left;font-size:10px;letter-spacing:5px;margin:0 !important;text-transform:uppercase;padding:0 !important;line-height:1"><? echo $_categoryUrl->getData("category_label");?></span>
                	<a style="color:white; bottom:0;text-decoration:none" href="<?php echo $_categoryUrl->getURL();?>?utm_source=EMAIL&utm_campaign=EMAIL&utm_medium=EMAIL">
    					<h1 style="font-size:2.3rem;text-align:left !important;text-transform:uppercase">
    						<? echo $_categoryUrl->getData("category_title");?>
    					</h1>
					</a>

      				<p style="font-family: mercury;font-size:16px !important;letter-spacing:0.3px;text-align:left;padding-bottom:1rem">
      					<? echo $_categoryUrl->getData("category_short_description");?>
      					
      					<? echo $_categoryUrl->getData("promo_end_date");?>
      					
      				</p>
      				
      				<a style="color:black;background:white;border:1px solid white;padding:0.7rem 1.5rem;bottom:0;text-decoration:none;font-size:12px;margin-top:1rem" href="<?php echo $_categoryUrl->getURL();?>?utm_source=EMAIL&utm_campaign=EMAIL&utm_medium=EMAIL">
    					SHOP NOW
					</a>

      					</div>
      				</div>

      			</td>			
  			</tr>
  		</table>
  	</td>
  							
  							
</tr>
		
		<tr>
    <td class="full">
    	<table class="columns">
            <tr>
                
                
                <td style="text-align:center;padding:0.5rem 1rem;border-bottom:1px solid #eee">
                	<h4>EDITOR'S PICK</h4>
                	               
                </td>
                
                
                
                
                <td class="expander"></td>
            </tr>
        </table>
        
    	<?php $count = 0;?>
    	<?php foreach ($_productCollection as $i=>$_product): ?>
       	 	<table class="half columns">
        	<?php if ($i % 2 == 0): ?>
            <tr>
                <td style="padding:2rem 1rem">
					<a class="product-image" href="<?php echo $_product->getProductUrl() ?>?utm_source=Email">
               	 		<img height="200" width="200" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            		</a>
            		<h5><a style="color:#ccc !important" href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a></h5>
      								<h3>
      								<a style="color:#333;text-decoration:none;text-transform:uppercase" href="<?php echo $_product->getProductUrl() ?>?utm_source=EMAIL&utm_campaign=EMAIL&utm_medium=EMAIL">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
      								</h3>
      								<p><?php echo $this->getPriceHtml($_product, true) ?></p>              
                </td>
                <td class="expander"></td>
            </tr>
            <?php elseif ($i % 2 == 1): ?>
            
            <tr>
                <td style="padding:2rem 1rem">
					<a class="product-image" href="<?php echo $_product->getProductUrl() ?>?utm_source=Email">
               	 		<img height="200" width="200" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            		</a>
            		<h5><a style="color:#ccc !important" href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a></h5>
      								<h3>
      								<a style="color:#333;text-decoration:none;text-transform:uppercase" href="<?php echo $_product->getProductUrl() ?>?utm_source=Email">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
      								</h3>
      								<p><?php echo $this->getPriceHtml($_product, true) ?></p>              
                </td>
                <td class="expander"></td>
            </tr>
            <?php endif;?>
        </table>
        <?php endforeach ?>
    </td>
    
    
</tr>

<tr>
    <td class="full">
    	<table class="columns">
            <tr>
                
                
                <td style="text-align:center;padding:0.5rem 1rem;border-bottom:1px solid #eee">
                	<h4>SHOP BY CATEGORY</h4>
                	               
                </td>
                
                
                
                
                <td class="expander"></td>
            </tr>
        </table>
        <table class="half columns">
        	<tr>
                <td style="padding:0.2rem 1rem">
                	<a href="https://wearinasia.com/promo" style="color:black;border:1px solid black;text-align:center;text-decoration:none;text-transform:uppercase;display:block;padding:0.5rem 1rem">Promo</a>
                </td>
                <td class="expander"></td>
            </tr>
            
            
        </table>
        
         <table class="half columns">
        	<tr>
                <td style="padding:0.2rem 1rem">
                	<a href="https://wearinasia.com/accessories/bags" style="color:black;border:1px solid black;text-align:center;text-decoration:none;text-transform:uppercase;display:block;padding:0.5rem 1rem">BAGS</a>
                </td>
                <td class="expander"></td>
            </tr>
            
            
        </table>
        
        <table class="half columns">
        	<tr>
                <td style="padding:0.2rem 1rem">
                	<a href="https://wearinasia.com/tech" style="color:black;border:1px solid black;text-align:center;text-decoration:none;text-transform:uppercase;display:block;padding:0.5rem 1rem">TECH & GEAR</a>
                </td>
                <td class="expander"></td>
            </tr>
            
            
        </table>
        
        <table class="half columns">
        	<tr>
                <td style="padding:0.2rem 1rem">
                	<a href="https://wearinasia.com/footwear" style="color:black;border:1px solid black;text-align:center;text-decoration:none;text-transform:uppercase;display:block;padding:0.5rem 1rem">FOOTWEAR</a>
                </td>
                <td class="expander"></td>
            </tr>
            
            
        </table>
        
        <table class="half columns">
        	<tr>
                <td style="padding:0.2rem 1rem">
                	<a href="https://wearinasia.com/clothing" style="color:black;border:1px solid black;text-align:center;text-decoration:none;text-transform:uppercase;display:block;padding:0.5rem 1rem">CLOTHING</a>
                </td>
                <td class="expander"></td>
            </tr>
            
            
        </table>
        
        <table class="half columns">
        	<tr>
                <td style="padding:0.2rem 1rem">
                	<a href="https://wearinasia.com/accessories/" style="color:black;border:1px solid black;text-align:center;text-decoration:none;text-transform:uppercase;display:block;padding:0.5rem 1rem">ACCESORIES</a>
                </td>
                <td class="expander"></td>
            </tr>
            
            
        </table>
       
    </td>
    
    
</tr>
		
		




