<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(2);
    
?>

			
		
		
		

		<tr>
	
  	<td class="full">
        <table class="columns">
            
  			 <tr>
  			 	
                
                  <td style="text-align:center !important">
					<img class="main-image" style="margin:0" src="<?php echo $_categoryUrl->getResizedThumbnailImage(700,500); ?>"  alt="<?php echo $_categoryUrl->getname();?>">
					<div style="padding:1rem">
					<span style="font-size:12px;letter-spacing:5px;text-transform:uppercase;padding:0 !important;line-height:1;color:#ccc"><?php echo $_categoryUrl->getName();?></span>
                	<a style="line-height:1;margin:0;color:#333; bottom:0;text-decoration:none" href="<?php echo $_categoryUrl->getURL();?>?utm_source=EMAIL">
    					<h1 style="line-height:1;margin:0;font-size:2rem;text-transform:uppercase">
    						<?php echo $_categoryUrl->getData("category_title");?>
    					</h1>
					</a>

      				<p style="color:#333;font-family: mercury;letter-spacing:0.3px;padding-bottom:1rem">
      					<?php echo $_categoryUrl->getData("category_short_description");?>
      					
      				</p>
      				
      				
					</div>
      			</td>
      				
  			</tr>
  		</table>
  	</td>
  							
  							
</tr>
		
		<tr>
    <td class="full">
    	
        
    	<?php foreach ($_productCollection as $i=>$_product): ?>
       	 	
        	<table class="half columns product-info" style="text-align:center !important">
        	<tr>
                <td style="padding:1rem 0.5rem">
					<a href="<?php echo $_product->getProductUrl() ?>?utm_source=Email">
               	 		<img class="main-image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(350); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            		</a>
            		<h5><a class="brand-name" style="color:#ccc !important" href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a></h5>
      								<h3>
      								<a class="product-name" style="color:#333;text-decoration:none;text-transform:uppercase" href="<?php echo $_product->getProductUrl() ?>?utm_source=EMAIL">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
      								</h3>
      								<span class="product-price"><?php echo $this->getPriceHtml($_product, true) ?></span>              
                </td>
                <td class="expander"></td>
            </tr>
        </table>
        	
        	
        <?php endforeach ?>
        
        <table class="columns">
            
  			 <tr>
  			 	
                
                <td style="text-align:center !important">
                	<div class="content-container">
					<a class="button black" href="<?php echo $_categoryUrl->getURL();?>?utm_source=Email">
      				SEE ALL <?php echo $_categoryUrl->getName();?> Collection
      				</a>
      				</div>
      			</td>
      				
  			</tr>
  		</table>
    </td>
    
    
</tr>

		
		




