<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);

    $_productCollection = $this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    
?>

		
		

		<tr>
	
  	<td class="full">
        <table class="columns">
            
  			 <tr>
  			 	
                
                <td style="text-align:center !important">
                	<a style="width:100% !important;padding:0 !important" class="button black" href="<?php echo $_categoryUrl->getURL();?>?utm_source=email-blast-wia&utm_medium=email-blast-wia&utm_campaign=email-blast-wia" style="padding:0 !important;margin: 0 !important">
						<img class="main-image" style="margin:0" src="<?php echo $_categoryUrl->getEmailImage(1200,2820,78); ?>"  alt="<?php echo $_categoryUrl->getname();?>">
					</a>
					<div class="content-container">
					
      				<p style="color:#333;font-family: mercury;letter-spacing:0.3px;padding-bottom:1rem">
      					<?php echo $_categoryUrl->getDescription();?>
      					
      				</p>
      				
      				
					</div>
      			</td>
      				
  			</tr>
  		</table>
  	</td>
  							
  							
</tr>

	<tr>
    <td class="full">
    	
        
    	<?php $i = 0;foreach ($_productCollection as $_product): ?>
       	 	
        	<table class="half columns product-info" style="text-align:center !important">
        		<tr>
                <td style="padding:1rem 0.5rem">
                
                
                
					<a href="<?php echo $_product->getProductUrl() ?>/?utm_source=email-blast-wia">
               	 		<img class="main-image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(350); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />	
            		</a>
            		<h5><a class="brand-name" style="color:#ccc !important" href="<?php echo $_product->getData('brand_url');?>">
               			<?php
               		 $attribute = $_product->getResource()->getAttribute('brand');
               		 $attribute_value = $attribute ->getFrontend()->getValue($_product);
               			if ($attribute_value != 'No') 
    					{
        					echo $attribute_value;
    					}
    					else
    					{
    						echo '</br>';
    					}
    				
               		?>
               		</a></h5>
      								<h3>
      								<a class="product-name" style="color:#333;text-decoration:none;text-transform:uppercase" href="<?php echo $_product->getProductUrl() ?>/?utm_source=email-blast-wia">
            	<?php echo $this->htmlEscape($_product->getName()) ?>
            	</a>
      								</h3>
      								<span class="product-price"><?php echo $this->getPriceHtml($_product, true) ?></span>  
      								
      								  
                </td>
                <td class="expander"></td>
            </tr>
        	</table>
        	<?php if (++$i == 4):?>
        		<?php break;?>
        	<?php endif;?>
        	
        	
        	
        <?php endforeach ?>
        
        <table class="columns">
            
  			 <tr>
  			 	
                
                <td style="text-align:center !important">
                	<div class="content-container">
					<a class="button black" href="<?php echo $_categoryUrl->getURL();?>/?utm_source=email-blast-wia">
      				SEE ALL <?php echo $_categoryUrl->getName();?> Collection
      				</a>
      				</div>
      			</td>
      				
  			</tr>
  		</table>
    </td>
    
    
</tr>

		
		
		
		




