<?php
$_categoryId = $this->getCategoryId();
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->addAttributeToSort('position')
    ->setPageSize(4);
    
?>

			
		
		
		

		<tr>
	
  	<td class="full">
        <table class="columns">
            
  			 <tr>
  			 	
                
                <td style="text-align:center !important">
                	<a class="button black" href="<?php echo $_categoryUrl->getURL();?>?utm_source=email-blast-wia&utm_medium=email-blast-wia&utm_campaign=email-blast-wia" style="padding:0 !important;margin: 0 !important">
						<img class="main-image" style="margin:0" src="<?php echo $_categoryUrl->getEmailImage(1200,1000); ?>"  alt="<?php echo $_categoryUrl->getname();?>">
					</a>
      			</td>
      				
  			</tr>
  		</table>
  	</td>
  							
  							
</tr>
		
		
		
		




