<?php 
$_categoryId = $this->getCategoryId();
$_tileId = $this->getTileId();
$root = Mage::getModel('catalog/category')->load($_categoryId); 
$subCat = explode(',',$root->getChildren()); 
$collection  = $root
             ->getCollection()
             ->addAttributeToSelect("*")
             ->addFieldToFilter("entity_id", array("in", $subCat) )
             ->addAttributeToSelect('*')
			->addAttributeToSort('sw_ocat_orders')
			->addAttributeToFilter('include_in_menu' , 1)
             
?>

<section id="padding-center" class="border-bottom">


	<div class="row">
		<div class="medium-12 columns">
			<div class="row medium-up-<?php echo $_tileId; ?>">
				<?php foreach($collection as $category) :?>
					
					<div class="columns">
						<div class="homepage-tile-container">
							<div id="loading" class="small-grid promo-banner-container">
					<a href="<?php echo $category->getURL();?>">
						<?php echo $category->getName();?>
					</a>
					
					</div>

						</div>
					</div>
				<?php endforeach ?>
				
			</div>
		</div>	 	 
	</div>
</section>