<?php
	$terms = explode(',', $this->getCategoryId());
	$parent_category = Mage::getModel('catalog/category')->load($this->getParentCategoryId());
?>

<section id="padding-center" class="border-bottom show-for-medium">
	<div class="row">
		<div class="small-12 large-6 large-push-3 columns text-center">
			<div class="caption">
				<h3><?php echo $this->__( $this->getTitle() ); ?></h3>
			</div>
		</div>
  		<div class="show-for-medium small-12 large-3 large-push-3 columns">
  			<div class="caption text-right small-text-center">
				<a href="<?php echo $parent_category->getUrl();?>" target="_blank" class="category-more">View All <?php echo $parent_category->getName();?> <i class="fa fa-angle-right"></i></a>	
			</div>
		</div>
		
		<div class="medium-12 columns">
			<div class="row medium-up-3">
<?php foreach ($terms as $term):?>
	<?php 
               $_categoryUrl = Mage::getModel('catalog/category')->load($term); 
               
 
 ?>
	
	<div class="columns">
		<div class="homepage-tile-container promo-container">
			<div id="loading" class="small-grid promo-banner-container">
					<a href="<?php echo $_categoryUrl->getURL();?>">
						<img src="<?php echo $_categoryUrl->getResizedThumbnailImage(700,500); ?>" width="700" height="500" alt="<?php echo $_categoryUrl->getname();?>">
						
						<div class="promo-banner-content filter-content-black-0 padding-50 white text-center">
							
							
							
						</div>
						
					</a>
					
					</div>
					
			<div class="promo-details">
			
				
								
				
			</div>
			<div class="row small-up-2">
				<div class="columns">
			<a href="<?php echo $_categoryUrl->getURL();?>" class="category-more shop-now">SHOP NOW</a>
			
				</div>
				<div class="columns text-right">
					<span class="mercury tiny-text italic"><?php echo $_categoryUrl->getData("sw_ocat_promotional_text");?></span>
			
				</div>
			</div>
			
		</div>
		
	</div>
<?php endforeach;?>
</div>

			
		</div>
		
	</div>
</section>




					



























































































