<div class="row">
	<div class="medium-8 medium-centered columns">
		<div class="callout light-grey-bg">
			<form action="https://wia.id/operationalsales/pickup/getHireMe" name="verification_codeforms" id="verification_codeforms" method="post" enctype="multipart/form-data">
			<div class="row">
        		<div class="medium-12 medium-centered columns">
        		<label>Nama</label>
        		<input type="text" name="nama_code" id="name_code" class="input-text required-entry" placeholder="Nama"/>
    			
    			<label>Domisili</label>
        		<input type="text" name="domisili_code" id="domisili_code" class="input-text required-entry" placeholder="Domisili"/>
        		
        		<label>Social Media (Instagram)</label>
        		<input type="text" name="social_code" id="domisili_code" class="input-text required-entry" placeholder="@instagram"/>
        		
        		
        		
        		<label>Job</label>
        		
    			<select name="job_code" class="input-text required-entry">
    				<option value="Pilih Job">Pilih Job...</option>
    				<option value="Junior Developer">Junior Developer</option>
    				<option value="Senior Developer">Senior Developer</option>
    				<option value="Graphic Designer">Graphic Designer</option>
    				<option value="Content Writer">Content Writer</option>
    
  				</select>
    			
    			
    		
    			<label>Alamat Email</label>
        		<input type="text" name="email_code" id="email_code" class="input-text email required-entry" placeholder="Alamat Email"/>
    			
    			<label>No. Handphone</label>
        		<input type="text" name="handphone_code" id="handphone_code" class="input-text required-entry" placeholder="No. Handphone"/>
    			
    			
    			
    			
    			<button class="button" id="quotation" title="Quotation" class="button">HIRE ME!</button>
        	</div>
        	</div>
       	</form>
<script type="text/javascript">

    //< ![CDATA[
        var customForm = new VarienForm('verification_codeforms');
    //]]>
    
   
    
	</script>
		</div>
	</div>
</div>


