<?php
	
	
	$categories = Mage::getModel('catalog/category')
		->getCollection()
		->setStoreId($storeId)
		->addFieldToFilter('is_active', 1)
		->addFieldToFilter('homepage_f_brand', '1')
		->addAttributeToSelect('*')
		->addAttributeToSort('sw_ocat_orders')
		->setPageSize(6)
?>
<section id="padding-center" class="border-bottom">
<div class="row">
		<div class="small-12 large-6 large-push-3 columns text-center">
  			<div class="caption">
				<h4>Shop By Brand</h4>
			</div>
		</div>
  		<div class="show-for-medium small-12 large-3 large-push-3 columns">
  			<div class="caption text-right small-text-center">
				<a href="/brand" target="_blank" class="category-more">View All Brand <i class="fa fa-angle-right"></i></a>	
			</div>
		</div>
		
		<div class="medium-12 columns">
			<div class="row small-up-1 medium-up-3">
				<?php foreach($categories as $category) :?>
					
					
					
					<div class="columns">
		<div class="homepage-tile-container promo-container lazy">
			<div id="loading" class="small-grid promo-banner-container">
					<a href="<?php echo $category->getURL();?>">
						<img src="<?php echo $category->getResizedThumbnailImage(700,500); ?>" width="700" height="500" alt="<?php echo $category->getname();?>">
						
						<div class="promo-banner-content filter-content-black-0 padding-50 white text-center">
							
						
							
						</div>
						
					</a>
					
					</div>
					
			<div class="promo-details">
				<p><?php /* echo $category->getData("category_short_description"); */?></p>	
								
				
			</div>
			<div class="row small-up-2">
				<div class="columns">
			<a href="<?php echo $category->getURL();?>" class="category-more shop-now">SHOP NOW</a>
			
				</div>
				<div class="columns text-right">
					<span class="mercury tiny-text italic"><?php echo $category->getData("sw_ocat_promotional_text");?></span>
			
				</div>
			</div>
			
		</div>
		
	</div>		
				<?php endforeach ?>
			</div>
			
		</div>
		<div class="medium-12 columns text-center show-for-small-only">
			<a href="/brand" target="_blank" class="button secondary expanded">View All Brand <i class="fa fa-angle-right"></i></a>	
			
		</div>	 	 
	</div>
</section>





















































































