<?php
	$_categoryId = $this->getCategoryId();
	$category_att = $this->getNameInLayout();
	$categories = Mage::getModel('catalog/category')
		->getCollection()
		->addFieldToFilter('is_active', 1)
		->addFieldToFilter($category_att, '1')
		->addAttributeToSelect('*')
		->addAttributeToSort('sw_ocat_orders');
		//->setPageSize(6);
	
?>





<?php if( $category_att == 'homepage_f_brand'):?>
<section id="padding-center">
<div class="row">
		<div class="small-12 medium-8 columns text-left">
  			<div class="caption">
  				<p><?php echo $this->__( $this->getLabel() ); ?></p>
				<h4><?php echo $this->__( $this->getTitle() ); ?></h4>
				
			</div>
		</div>
  		<div class="show-for-medium medium-4 columns">
  			<div class="caption text-right small-text-center">
  					<a href="/brand" target="_blank" class="category-more">View All Brand <i class="fa fa-angle-right"></i></a>
				
			</div>
		</div>
		<div class="medium-12 columns">
			<div class="row small-up-1 medium-up-3">
				<?php foreach($categories as $category) :?>
					<div class="columns">
		<div class=" promo-container">
			<div id="loading" class="small-grid promo-banner-container">
					
					<a href="<?php echo $category->getURL();?>">
						
						<img src="<?php echo $category->getResizedThumbnailImage(718,524,78); ?>" width="718" height="525" alt="<?php echo $category->getname();?>">
						<?php if ( !empty($category->getData('sw_ocat_promotional_text')) ):?>
						<div class="promo-banner-content">
							<div class="bottom hover-active">
								<div class="promotion">
									<?php echo $category->getData("sw_ocat_promotional_text");?>
								</div>
							</div>
						</div>
						<?php endif;?>
						
					</a>
					
					
			</div>
					
			
			
		</div>
		
	</div>	
				<?php endforeach ?>
			</div>
			
		</div>
		 	 
	</div>
</section>
<?php endif;?>



<?php if( $category_att == 'homepage_f_category'):?>
<section id="padding-center">
<div class="row">
		<div class="medium-12 columns">
			<div class="row small-up-1 medium-up-3">
				<?php foreach($categories as $category) :?>
					<div class="columns">
		<div class=" promo-container">
			<div id="loading" class="small-grid promo-banner-container">
					
					<a href="<?php echo $category->getURL();?>">
						
						<img src="<?php echo $category->getResizedThumbnailImage(718,524,78); ?>" width="718" height="525" alt="<?php echo $category->getname();?>">
						
						<div class="promo-banner-content">
							<h5 class="text-center white"><?php echo $category->getParentCategory()->getName();?></h5>
							
							<h3 class="text-center white"><?php echo $category->getName();?></h3>
							<?php if ( !empty($category->getData('sw_ocat_promotional_text')) ):?>
							<div class="bottom hover-active hover-active">
								<div class="promotion">
									<?php echo $category->getData("sw_ocat_promotional_text");?>
								</div>
							</div>
							<?php endif;?>
						</div>
						
						
					</a>
					
					
			</div>
					
			
			
		</div>
		
	</div>	
				<?php endforeach ?>
			</div>
			
		</div>
		 	 
	</div>
</section>
<?php endif;?>

<?php if( $category_att == 'homepage_f_activity'):?>
<section id="padding-center">
<div class="row">
		<div class="small-12 large-6 large-push-3 columns text-center">
  			<div class="caption">
  				<p><?php echo $this->__( $this->getLabel() ); ?></p>
				<h4><?php echo $this->__( $this->getTitle() ); ?></h4>
				
			</div>
		</div>
  		<div class="show-for-medium small-12 large-3 large-push-3 columns">
  			<div class="caption text-right small-text-center">
  					<a href="/activity" target="_blank" class="category-more">View All Activity <i class="fa fa-angle-right"></i></a>
				
			</div>
		</div>
		<div class="medium-12 columns">
			<div class="row small-up-1 medium-up-3">
				<?php foreach($categories as $category) :?>
					<div class="columns">
		<div class=" promo-container">
			<div id="loading" class="small-grid promo-banner-container">
					
					<a href="<?php echo $category->getURL();?>">
						
						<img src="<?php echo $category->getResizedThumbnailImage(718,524,78); ?>" width="718" height="525" alt="<?php echo $category->getname();?>">
						<?php if ( !empty($category->getData('sw_ocat_promotional_text')) ):?>
						<div class="promo-banner-content">
							<div class="bottom hover-active">
								<div class="promotion">
									<?php echo $category->getData("sw_ocat_promotional_text");?>
								</div>
							</div>
						</div>
						<?php endif;?>
						
					</a>
					
					
			</div>
					
			
			
		</div>
		
	</div>	
				<?php endforeach ?>
			</div>
			
		</div>
		 	 
	</div>
</section>
<?php endif;?>

<?php if( $category_att == 'homepage_f_promo'):?>
<section id="padding-center">
<div class="row">
		<div class="small-12 medium-8 columns text-left">
  			<div class="caption">
  				<p><?php echo $this->__( $this->getLabel() ); ?></p>
				<h4><?php echo $this->__( $this->getTitle() ); ?></h4>
				
			</div>
		</div>
  		<div class="show-for-medium medium-4 columns">
  			<div class="caption text-right small-text-center">
  					<a href="/promo" target="_blank" class="category-more">View All Promo <i class="fa fa-angle-right"></i></a>
				
			</div>
		</div>
		<div class="medium-12 columns">
			<div class="row small-up-1 medium-up-3">
				<?php foreach($categories as $category) :?>
					<div class="columns">
		<div class=" promo-container">
			<div id="loading" class="small-grid promo-banner-container">
					
					<a href="<?php echo $category->getURL();?>">
						
						<img src="<?php echo $category->getResizedThumbnailImage(718,524,78); ?>" width="718" height="525" alt="<?php echo $category->getname();?>">
						<?php if ( !empty($category->getData('sw_ocat_promotional_text')) ):?>
						<div class="promo-banner-content">
							<div class="bottom hover-active">
								<div class="promotion">
									<?php echo $category->getData("sw_ocat_promotional_text");?>
								</div>
							</div>
						</div>
						<?php endif;?>
						
					</a>
					
					
			</div>
					
			
			
		</div>
		
	</div>	
				<?php endforeach ?>
			</div>
			
		</div>
		 	 
	</div>
</section>
<?php endif;?>





					



























































































