<?php
$_categoryId = $this->getCategoryId();
$post = Mage::getModel('wordpress/post')->load($_categoryId);
$_categoryUrl = Mage::getModel('catalog/category')->load($_categoryId);
   

     
?>

<?php if ($post): ?>
	<?php $helper = $this->helper('wordpress') ?>
	<?php $author = $post->getAuthor() ?>
	

<?php endif; ?>

<tr>
	
  	<td class="full">
  		
        
        <table class="columns">
           
  			<tr>
                  <td style="text-align:center">
					<img class="main-image" src="<?php echo $post->getFeaturedImage()->getThumbnailImage();?>">
                	<div class="content-containers" style="padding:1rem">
                	
                	
					
					<span style="font-size:12px;letter-spacing:5px;text-transform:uppercase;padding:0 !important;line-height:1;color:#ccc">FEATURED JOURNAL</span>
                	<a style="line-height:1;margin:0;color:#333; bottom:0;text-decoration:none" href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL">
    					<h1 style="line-height:1;margin:0;">
    						<?php echo $this->escapeHtml($post->getPostTitle()) ?>
    					</h1>
					</a>
					
      				<p><?php echo $post->getPostExcerpt(200)?></p>
      				
      				<a class="button black" href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL">
    					READ MORE
					</a>
					</div>

                	
      			</td>			
  			</tr>
  		</table>
  		
    	<table class="columns">
            <tr>
                
                
                <td style="border-bottom:1px solid #eee">
                	<h5>NOW TRENDING JOURNAL</h5>
                	               
                </td>
                
                
                
                
            </tr>
        </table>
        <table class="columns">
            <tr>
                
                
                <td style="text-align:center;padding:0.5rem 1rem;border-bottom:1px solid #eee">
                	<h2>NOW TRENDING ON STORE</h2>
                	               
                </td>
                
                
                
                
                <td class="expander"></td>
            </tr>
        </table>
  	</td>
  							
  							
</tr>


<?php 
	$_categoryId = $this->getCategoryId();
	$posts = Mage::getResourceModel('wordpress/post_collection');
	$posts->addPostTypeFilter('post')
			->addStickyPostsToCollection()
			->setPageSize(2);
?>





<tr>
    <td class="full">
    	<?php $count = 0;?>
    	<?php foreach($posts as $post): ?>
    						
    		<table class="columns">
        	<tr style="padding:2rem !important">
               <td style="padding:0.5rem 0;width:40%">
                
                	<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<a href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL" target="_blank">
						<img class="main-image" src="<?php echo $featuredImage->getThumbnailImage();?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
					</a>
					<?php endif; ?>
					</td>
                <td style="padding:0 1rem;width:60%;margin:0">
                	
					<h3><a style="text-decoration:none;color:#333" href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>" target="_blank"><?php echo $this->htmlEscape($post->getPostTitle()) ?></a>
					<p style="font-family: mercury;letter-spacing:0.3px"><?php echo $post->getPostExcerpt(150)?></p>
                	<a class="read-more" href="<?php echo $post->getPermalink() ?>?utm_source=EMAIL" target="_blank">
                	Read More
                	</a>
                </td>
                <td class="expander"></td>
            </tr>
           
           
           
        	</table>
        <?php endforeach ?>
    </td>
</tr>

