<?php

$journal_id = $this->getJournalId();
 
?>

<?php $post = Mage::getModel('wordpress/post')->load($journal_id) ?>
<?php if ($post->getId()): ?>
	
		<div class="homepage-tile-container">
							<div id="loading" class="promo-banner-container filter-content-black text-left">
					
					
					<?php if ($featuredImage = $post->getFeaturedImage()): ?>
	<a href="<?php echo $post->getPermalink() ?>">
		<img src="<?php echo $featuredImage->getLargeImage() ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
			<div class="promo-banner-content filter-content-black-1 padding-10 white text-center">
							<h5>FEATURED JOURNAL</h5>
							</br>
							<h3 class="f600"><?php echo $this->htmlEscape($post->getPostTitle()) ?></h3>
							</br>
							<div class="button white">
							READ JOURNAL
							</div>
			</div>
	
	</a>
<?php endif; ?>
					
					
					</div>

		</div>
	
    
    
<?php endif; ?>












































































