<?php
$collection = Mage::getResourceModel('catalog/category_collection');
	$storeId = Mage::app()->getStore()->getStoreId();
	$rootCategoryId = Mage::app()->getStore($storeId)->getRootCategoryId();
	$categories = Mage::getModel('catalog/category')
		->getCollection()
		->setStoreId($storeId)
		->addFieldToFilter('is_active', 1)
		->addFieldToFilter('homepage_f_category', '1')
		->addAttributeToSelect('*')
		->addAttributeToSort('sw_ocat_orders')
		  
?>
<?php $todaydate= Mage::getModel('core/date')->gmtDate('Y-m-d')?>

	<div class="row">
		<div class="medium-12 columns">
			<div class="row medium-up-3">
				<?php foreach($categories as $category) :?>
					<?php
						//sw_icon_image
						$cat_icon_img = $category->getData("sw_ocat_category_icon_image");
						$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
					?>
					<?php 
						$invalid = $category->getData("sw_ocat_promotional_expired");
						$datetime1 = new DateTime($todaydate);
						$datetime2 = new DateTime($invalid);
						$interval = $datetime1->diff($datetime2);
					?>
					<div class="columns">
					<div id="loading" class="small-grid promo-banner-container">
					<a href="<?php echo $category->getURL();?>?utm_source=JOURNAL&amp;utm_campaign=<?php echo $category->getName();?>&amp;utm_medium=JOURNAL_Featured_Brand">
						<img src="<?php echo $cat_icon_img_url;?>" height="643" width="900">
						<div class="promo-banner-content bottom filter-content-black-0 white text-center">	
							<div class="bottom">
								<?php if ($interval->days !== 0): ?>
									<div class="promotion">
										<h3><?php echo $category->getData("sw_ocat_promotional_text");?></h3>
										<div class="small-text"><i class="fa fa-clock-o" aria-hidden="true"></i> Berakhir dalam <?php echo $interval->days?> Hari</div>
									</div>
								<?php endif; ?>
							</div>
						</div>
					</a>
					</div>
						<div class="text-center promo-banner-content-text brand">
							<a href="<?php echo $category->getURL();?>?utm_source=JOURNAL&amp;utm_campaign=<?php echo $category->getName();?>&amp;utm_medium=JOURNAL_Featured_Brand"><?php echo $category->getName();?></a>
							<p><?php echo $category->getData("sw_ocat_additional_content");  ?></p>
						</div>
					</div>
				<?php endforeach ?>
				
			</div>
		</div>
	</div>
</section>


































































































