

<?php $post = $this->getPost() ?>

<?php 
	$activity = $post->getMetaValue('activity');
	
	if( $activity == 'Run-Training')
	{
		$cat_id = '414';
		$message = 'Get your run & training essential, disc up to 50% off : ';
	}
	if( $activity == 'Hike-Camp')
	{
		$cat_id = '32';
		$cat_id = 'Get your hike & camp essential, disc up to 50% off : ';
	}
	if( $activity == 'Travel')
	{
		$cat_id = '253';
		$message = 'Get your travel essential, disc up to 50% off : ';
	}
	if( $activity == 'Yoga')
	{
		$cat_id = '417';
		$message = 'Get your yoga essential, disc up to 50% off : ';
	}
	if( $activity == 'Bike')
	{
		$cat_id = '416';
		$message = 'Get your bike essential, disc up to 50% off : ';
	}
	if( $activity == 'Water')
	{
		$cat_id = '207';
		$message = 'Get your water activity essential, disc up to 50% off : ';
	}
	
	if( $activity == 'Default')
	{
		$cat_id = 'default';
		
	}
	
	
?>




<?php 


$_category = Mage::getModel('catalog/category')->load($cat_id);

?>

<div class="promo-bar">
	<?php if( $cat_id  !== null && $cat_id  !== 'default'):?>
		<?php echo $message;?><a style="border-bottom:1px solid white" class="f600" href="<?php echo $_category->getUrl(); ?>">SHOP NOW</a>
	<?php else:?>
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('promo-bar')->toHtml(); ?> 
	<?php endif;?>
</div>
