<?php
	$terms = explode(',', $this->getCategoryIds());
	$columns = $this->getColumns();
	$label = $this->getLabel();
	$template = $this->getCategoryTemplate();
	
	
	$parent_category = Mage::getModel('catalog/category')->load($this->getParentCategoryId());
	$_category = Mage::getModel('catalog/category')->load($this->getCategoryId()); 

	
?>

<div class="block-title text-left">
   <h5><?php echo $label;?></h5>      
</div>

<ul class="row medium-up-<?php echo $columns?> <?php echo $template?> vertical menu dropdown-megamenu-first">
    
<?php foreach ($terms as $term):?>
	<?php 
               $category = Mage::getModel('catalog/category')->load($term); 
    ?>
	
	
	<li class="columns">
			<div  class="grid-<?php echo $columns?> small-grid promo-banner-container">
					
					<a href="<?php echo $category->getURL();?>">
						
						<img src="<?php echo $category->getResizedThumbnailImage(328,240,78); ?>" width="328" height="240" alt="<?php echo $category->getname();?>">
							<div class="promo-banner-content">
								<?php if ($template == "category"):?>
									<h5 class="text-center white"><?php echo $category->getParentCategory()->getName();?></h5>
                                	<h3 class="text-center white"><?php echo $category->getName();?></h3>
                                <?php endif;?>
							<?php if ( !empty($category->getData('sw_ocat_promotional_text')) ):?>
						
							<div class="bottom hover-active">
								<div class="promotion">
									<?php echo $category->getData("sw_ocat_promotional_text");?>
								</div>
							</div>
							<?php endif;?>
						</div>
						
						
					</a>
					
					
			</div>
					
			
			
		
	</li>	
<?php endforeach;?>
</ul>


































































































					