<?php
	$collection = Mage::getResourceModel('catalog/category_collection');
	$storeId = Mage::app()->getStore()->getStoreId();
	$rootCategoryId = Mage::app()->getStore($storeId)->getRootCategoryId();
	$categories = Mage::getModel('catalog/category')
		->getCollection()
		->setStoreId($storeId)
		->addFieldToFilter('is_active', 1)
		->addFieldToFilter('acc_f_brand', '1')
		->addAttributeToSelect('*')
		->addAttributeToSort('sw_ocat_orders')
?>
				 <ul class="vertical menu">
				<?php foreach($categories as $category) :?>
					
					<li>
					<a href="<?php echo $category->getURL();?>">
						<?php echo $category->getName();?>
					</a>
					</li>
				<?php endforeach ?>
					
			</ul>
































































































