<?php
	$collection = Mage::getResourceModel('catalog/category_collection');
	$storeId = Mage::app()->getStore()->getStoreId();
	$rootCategoryId = Mage::app()->getStore($storeId)->getRootCategoryId();
	$categories = Mage::getModel('catalog/category')
		->getCollection()
		->setStoreId($storeId)
		->addFieldToFilter('is_active', 1)
		->addFieldToFilter('tech_f_category', '1')
		->addAttributeToSelect('*')
		->addAttributeToSort('sw_ocat_orders')
?>
				<?php foreach($categories as $category) :?>
					<?php
						//sw_icon_image
						$cat_icon_img = $category->getData("sw_ocat_category_icon_image");
						$cat_icon_img_url = Mage::getBaseUrl('media').'catalog/category/'.$cat_icon_img;
					?>
					<div class="columns">
						<a href="<?php echo $category->getURL();?>?utm_source=NAVIGATION_MENU&amp;utm_campaign=<?php echo $category->getName();?>&amp;utm_medium=NAVIGATION_MENU_FEATURED_CATEGORY">
							<img src="<?php echo $cat_icon_img_url;?>" height="643" width="900">
							
							</a>
						<div class="navigation-banner-content-text ">
							<h4 class="uppercase"><?php echo $category->getName();?></h4>		
							<p><?php echo $category->getData("sw_ocat_additional_content");  ?></p>
						</div>
					</div>
				<?php endforeach ?>

























































































