<?php
    $_helper    = Mage::helper('catalog/output');
    $_category  = Mage::registry('current_category');
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    $_description=$_category->getDescription();
?>



<?php if(!empty($_category->getData('footer-content'))):?>
	
	
	
	<section class="padding-center border-bottom footer-story light-grey-bg text-center">
	<div class="row">
		<div class="medium-8 medium-centered columns">
			
			<?php echo $_category->getData('footer-content'); ?>
			<div class="toggle-container">
				<div class="show-more tiny-text italic"><div id="toggle-filter-product"><p>Read More <i class="fa fa-angle-down" aria-hidden="true"></i></p></div></div>
				<div class="show-less tiny-text italic hide"><div id="toggle-filter-product-less"><p>Close <i class="fa fa-angle-up" aria-hidden="true"></p></i></div></div>
			</div>
			
		</div>
	</div>
</section>
<?php endif;?>


