<?php 
$_categoryId = '373';
$_tileId = $this->getTileId();
$root = Mage::getModel('catalog/category')->load($_categoryId); 
$subCat = explode(',',$root->getChildren()); 
$collection  = $root
             ->getCollection()
             ->addAttributeToSelect("*")
             ->addFieldToFilter("entity_id", array("in", $subCat) )
             ->addAttributeToSelect('*')
			->addAttributeToSort('sw_ocat_orders')
			->addAttributeToFilter('include_in_menu' , 1)
             
?>

<section id="padding-center" class="border-bottom">

	
	<div class="row">
		<div class="small-12 large-6 large-push-3 columns text-center">
			<div class="caption">
  				<h4>On Going Promo</h4>
				
			</div>
		</div>
		<div class="medium-12 columns">
			<div class="row small-up-1 medium-up-3">
				<?php foreach($collection as $category) :?>
					
					
					
					
	
					<div class="columns">
		<div class=" promo-container margin-bottom-1">
			<div id="loading" class="small-grid promo-banner-container">
					
					<a href="<?php echo $category->getURL();?>">
						
						<img src="<?php echo $category->getResizedThumbnailImage(718,524,78); ?>" width="718" height="525" alt="<?php echo $category->getname();?>">
						<?php if ( !empty($category->getData('sw_ocat_promotional_text')) ):?>
						<div class="promo-banner-content">
							<div class="bottom hover-active">
								<div class="promotion">
									<?php echo $category->getData("sw_ocat_promotional_text");?>
								</div>
							</div>
						</div>
						<?php endif;?>
						
					</a>
					
					
			</div>
					
			
			
		</div>
		
	</div>	
						
				<?php endforeach ?>
			</div>
			
		</div>	 	 
	</div>
</section>



