<?php
$collection = Mage::getResourceModel('catalog/category_collection');
	$storeId = Mage::app()->getStore()->getStoreId();
	$rootCategoryId = Mage::app()->getStore($storeId)->getRootCategoryId();
	$categories = Mage::getModel('catalog/category')
		->getCollection()
		->setStoreId($storeId)
		->addFieldToFilter('is_active', 1)
		->addFieldToFilter('tech_f_brand', '1')
		->addAttributeToSelect('*')
		->addAttributeToSort('sw_ocat_orders')
		  
?>

<section class="border-bottom">
	<div class="row">
		<div class="medium-12 columns">
			<div class="row small-up-1 medium-up-3">
				<?php foreach($categories as $category) :?>
					
					<?php 
               $_file_name = $category->getData("sw_ocat_category_icon_image"); // Here $cat is category data array                
  $_media_dir = Mage::getBaseDir('media') . DS . 'catalog' . DS . 'category' . DS;
                $cache_dir = $_media_dir . 'homepage-tile' . DS; // Here i create a homepage-tile folder. for upload new category image
                        
   if (file_exists($cache_dir . $_file_name)) {
                             $catImg =Mage::getBaseUrl('media') .  'catalog' . DS . 'category' . DS . 'homepage-tile' . DS . $_file_name;
                         } elseif (file_exists($_media_dir . $_file_name)) {
                             if (!is_dir($cache_dir)) {
                                 mkdir($cache_dir);
                             }

                             $_image = new Varien_Image($_media_dir . $_file_name);
                             $_image->constrainOnly(true);
                             $_image->keepAspectRatio(true);
                             $_image->keepFrame(false);
                             $_image->keepTransparency(true);
                             $_image->resize(692, 494); // change image height, width
                             $_image->save($cache_dir . $_file_name);
                             $catImg = Mage::getBaseUrl('media') . 'catalog' . DS . 'category' . DS . 'homepage-tile' . DS . $_file_name;
                         }
 
 ?>
					<div class="columns">
						<div class="homepage-tile-container promo-container">
							<div id="loading" class="small-grid promo-banner-container">
							<a href="<?php echo $category->getURL();?>">
								<img src="<?php echo $catImg;  ?>" height="494" width="692"/>
								<div class="promo-banner-content padding-50 white text-center">
							
							
							<?php if (!empty($category->getData("sw_ocat_promotional_text")) && $category->getData('show-freeshipping') == '1'):?>
								<div class="bottom" style="position: absolute;padding: 0;bottom: 0;left: 0;width: 100%;">
							<div class="promotion">
								<h5>Freeshipping + <?php echo $category->getData("sw_ocat_promotional_text");?></h5>
							</div>
						</div>
							<?php elseif ( $category->getData('show-freeshipping') == '1'):?>
								<div class="bottom" style="position: absolute;padding: 0;bottom: 0;left: 0;width: 100%;">
							<div class="promotion">
								<h5>Freeshipping</h5>
							</div>
						</div>
							<?php endif; ?>	
						</div>
							</a>
					</div>
<div class="brand-details">
	<div class="row collapse">
		<div class="small-8 columns">
			<?php echo $category->getData("sw_ocat_additional_content");  ?>
		</div>
		<div class="small-4 columns">
			<a href="<?php echo $category->getURL();?>" class="button border-black expanded">Shop Now</a>
	
		</div>
		
	</div>
	
</div>



						</div>
					</div>
				<?php endforeach ?>
			</div>
		</div>	 	 
	</div>
</section>


<style>
.promo-date{font-size:11px;text-transform:uppercase;font-weight:600}
.promo-container {border-bottom:1px dotted #cacaca;margin-bottom:2rem}
.promo-container h3{display:none}
.promo-container p{font-family: "Mercury SSm A", "Mercury SSm B";font-size:12px}

</style>

































































































