<section id="main">
    <div class="row collapse">
        <div class="medium-3 columns">
            <div class="admin-sidebar sticky" data-sticky data-top-anchor="main" data-btm-anchor="main-footer">
            <h2>Add Service</h2>
            <ul class="no-bullet step">
                <li>Select Service</li>
                <li>Personal Information</li>
                <li>Service Info</li>
                <li>Price & Packet</li>
                <li>Manage Schedule</li>
                <li><a href="https://petloka.com/service/account/product_add/step/5">Manage Photos</a></li>
            </ul>
            </div>
        </div>
        <div class="medium-9 columns">
            <div class="page-container">
            <?php echo $this->getChildHtml('personal-info');?>
            <?php echo $this->getChildHtml('service-info');?>
            <?php echo $this->getChildHtml('product-info');?>
            <?php echo $this->getChildHtml('schedule');?>
            <?php echo $this->getChildHtml('service-image');?>




            </div>
        </div>
    </div>
</section>
dad