<style>
    .service-card {
        padding: 2.5rem;
        border: 2px solid #eee;
        text-align: center
    }

    .padding-middle {
        padding: 2rem;
    }

    .padding-middle-2x {
        padding: 4rem;
    }

    .step {
        opacity: 0.4
    }

    .step .active {
        opacity: 1
    }
</style>

<?php $product = $this->getProductDetail();
var_dump($product);?>


<div class="row collapse">
    <div class="medium-3 columns">
        <div class="padding-middle">
            <a><i class="fa fa-arrow-left" aria-hidden="true"></i> My Service</a>


            <h2>Add Grooming Service</h2>
            <ul class="no-bullet step">
                <li class="active">Personal Information</li>
                <li>Service Info</li>
                <li>Price & Packet</li>
                <li>Manage Schedule</li>
            </ul>
        </div>

    </div>

    <div class="medium-9 columns">
        <section id="booking-form" class="padding-middle-2x">
            <div class="row">
                <div class="medium-12 columns">
                    



                </div>
            </div>

           

           

        </section>
    </div>
</div>
