
<?php $customer = $this->getLoginCustomer();
//var_dump($customer);?>



<section id="main">
    <div class="row collapse">
        <div class="medium-3 columns">
            <div class="admin-sidebar sticky" data-sticky data-top-anchor="main" data-btm-anchor="main-footer">
            <h2>Add Service</h2>
            <ul class="no-bullet step">
                <li>Select Service</li>
                <li>Personal Information</li>
                <li>Service Info</li>
                <li>Price & Packet</li>
                <li>Manage Schedule</li>
                <li><a href="https://petloka.com/service/account/product_add/step/5">Manage Photos</a></li>
            </ul>
            </div>
        </div>
        <div class="medium-9 columns">
            <div class="page-container">
                <h1>Select Service</h1>


                
                    <div class="row small-up-2 medium-up-2">
                        <div class="columns">
                            <a href="<?php echo $this->getUrl('service/account/product_add/step/1') ?>">

                                <div class="service-card callout">
                                    <div class="icon">
                                        +
                                    </div>
                                    <h5>Add New Grooming Service</h5>
                                </div>

                            </a>
                        </div>
                        <div class="columns">
                            <a href="#">

                                <div class="service-card callout">
                                    <div class="icon">
                                        +
                                    </div>
                                    <h5>Add New Pet Hotel</h5>
                                </div>

                            </a>
                        </div>
                    </div>




            </div>
        </div>
    </div>
</section>