<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Pquestion2
 * @version    2.1.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /** @var AW_Pquestion2_Block_Notification_Manage $this */?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
    <h1><?php echo $this->__('Manage Notification List') ?></h1>
</div>
<form action="<?php echo $this->getFormAction(); ?>" id="aw_pq2_notification_manage_form" method="post">
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Notifications') ?></h2>
        <?php $notificationTypes = $this->getNotificationTypes(); ?>
        <ul>
            <?php foreach ($notificationTypes as $type): ?>
                <li>
                    <input type="checkbox" id="aw_pq2_notification_subscribe_to_<?php echo $type['value']?>"
                           name="aw_pq2_notification_subscribe_to[]" value="<?php echo $type['value']?>"
                        <?php echo $type['checked']?'checked':'';?>
                        />
                    <label for="aw_pq2_notification_subscribe_to_<?php echo $type['value']?>"><?php echo $type['label'];?></label>
                </li>
            <?php endforeach;?>
        </ul>
    </div>
    <div class="buttons-set">
        <button type="submit" title="<?php echo $this->__('Save') ?>" class="button">
            <span><span><?php echo $this->__('Save') ?></span></span>
        </button>
    </div>
</form>
<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
    //]]>
</script>