<?php $post = $this->getPost() ?>


	
<?php 
	$activity = $post->getMetaValue('activity');
	
	if( $activity == 'Run-Training')
	{
		$cat_id = '414';
	}
	if( $activity == 'Hike-Camp')
	{
		$cat_id = '32';
	}
	if( $activity == 'Travel')
	{
		$cat_id = '253';
	}
	if( $activity == 'Yoga')
	{
		$cat_id = '417';
	}
	if( $activity == 'Bike')
	{
		$cat_id = '416';
	}
	if( $activity == 'Water')
	{
		$cat_id = '207';
	}
	
?>
<?php 


$_category = Mage::getModel('catalog/category')->load($cat_id);

?>
<div id="loading">
				<div class="promo-banner-container">
					<a href="<?php echo $_category->getUrl(); ?>">
  					<img src="<?php echo $_category->getImageUrl(); ?>">
  					<div class="promo-banner-content filter-content-black-0 padding-50 white text-center">
  						<h5>BEFORE YOU GO</h5>
						<?php echo $_category->getData('inner-banner-content')?>
						<div class="button white">SHOP NOW</div>
					</div>
					</a>
				</div>
			</div>
			
<style>
	.promo-banner-container {
    margin-bottom: 0rem;
}
.promo-banner-content.padding-50 {
    padding: 12% 10%;
}


@media screen and (max-width: 39.9375em) {
.promo-banner-container img {
    max-width: none;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
    height: 350px;
    width: auto;
}

}

</style>