<?php $post = $this->getPost() ?>


	
<?php 
/*
$images = $post->getMetaValue('inner_banner');
$images2 = $post->getMetaValue('inner_banner_2');
$images3 = $post->getMetaValue('inner_banner_3');
$images4 = $post->getMetaValue('inner_banner_4');
$PostImageData = Mage::getModel('wordpress/post')->setPostType('attachment')->load($images)->getData();
$imageUrl = $PostImageData['guid'];

*/

?>




 


<div class="homepage-banner">
							<div id="loading" class="promo-banner-container filter-content-black text-left">
					
					
					<?php if ($featuredImage = $post->getFeaturedImage()): ?>
	
		<img src="<?php echo $featuredImage->getLargeImage() ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
			<div class="promo-banner-content padding-10 filter-content-black-3 white text-center">
				<ul class="no-bullet show-for-small-only white">
    	<li>SHARE</li>
    	<li><button class="white" onclick="window.open('https://www.facebook.com/sharer.php?u=<?php echo $post->getPermalink() ?>','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
	<i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
	</button></li>
	
	
		
    </ul>
				<div class="row show-for-medium">
					<div class="large-10 large-centered columns">
							<h5>THE JOURNAL</h5>
							<h1><?php echo $this->htmlEscape($post->getPostTitle()) ?></h1>
							<ul class="no-bullet white">
    	<li>SHARE</li>
    	<li><button class="white" onclick="window.open('https://www.facebook.com/sharer.php?u=<?php echo $post->getPermalink() ?>','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
	<i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
	<div id="results"></div>
	</button></li>
	
	
		
    </ul>
    				</div>
				</div>
							
			</div>
	
<?php endif; ?>
					
					
					</div>

		</div>


<ul class="no-bullet" style="position: fixed;
    z-index: 99999999;
    left: 1%;
    bottom: 10%">
    	
    	<li style="height:40px;width:40px;line-height:40px;background:#eee;border-radius:100%;text-align:center"><button onclick="window.open('https://www.facebook.com/sharer.php?u=<?php echo $post->getPermalink() ?>','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">
	<i class="fa fa-lg fa-facebook-square" aria-hidden="true"></i>
	
	</button>
	
	
	</li>
	
	
	</button></li>
	
	
		
    </ul>


<script type="text/javascript">
jQuery(document).ready(function($){
  var token = '1792367184373817|94b3c635004ec4d03ed0ae341795bd13';
  $.ajax({
      url: 'https://graph.facebook.com/v2.1/',
	    dataType: 'jsonp',
	    type: 'GET',
	    data: {access_token: token, id: '<?php echo $post->getPermalink() ?>' },
	    success: function(data){
 		    $('#results').html(data.share.share_count);
	    }
    });
});
</script>
