<?php $post = $this->getPost() ?>
<meta name="description" content="<?php echo $post->getPostExcerpt('140') ?>">
<link rel="canonical" href="<?php echo $post->getPermalink() ?>" />
<meta property="og:description" content="<?php echo $post->getPostExcerpt('140') ?>" />
<meta property="og:type" content="article" />
<meta property="og:title" content="<?php echo $this->escapeHtml($post->getPostTitle()) ?> | Journal - Wearinasia.com" />
<meta property="og:url" content="<?php echo $post->getPermalink() ?>" />
<meta property="og:site_name" content="Wearinasia.com" />
<meta property="article:published_time" content="<?php echo $post->getPostDate();?>" />
<meta property="article:modified_time" content="<?php echo $post->getPostDate();?>" />
<meta property="og:image" content="<?php $featuredImage = $post->getFeaturedImage();echo $featuredImage->getAvailableImage();?>" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="800" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="<?php echo $this->escapeHtml($post->getPostTitle()) ?> | Journal - Wearinasia.com" />
<meta name="twitter:image" content="<?php $featuredImage = $post->getFeaturedImage();echo $featuredImage->getAvailableImage();?>" />


<?php 
	
	$activity = $post->getMetaValue('activity');
	
	if( $activity == 'Run-Training')
	{
		$cat_id = 'run-training-activity';
	}
	if( $activity == 'Hike-Camp')
	{
		$cat_id = 'hike-camp-activity';
	}
	if( $activity == 'Travel')
	{
		$cat_id = 'travel-activity';
	}
	if( $activity == 'Yoga')
	{
		$cat_id = 'yoga-activity';
	}
	if( $activity == 'Bike')
	{
		$cat_id = 'bike-activity';
	}
	if( $activity == 'Water')
	{
		$cat_id = 'water-activity';
	}
	
?>

<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-954168025',
    'ecomm_pagetype': 'journal',
    'ecomm_journalid': '<?php echo $cat_id; ?>'
  });
  

  
  
  fbq('track', 'ViewContent', {
  content_name: '<?php echo $post->getPostName();?>',
  content_category: '<?php echo $cat_id; ?>',
  content_type: 'journal',
 });
  
</script>
