<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_AdvancedReviews
 * @version    2.3.10
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ( $this->canShow() ):  ?>
    <?php if (Mage::helper('advancedreviews')->checkVersion('1.4.0.0') && ( $this->showCons() || $this->showPros()  )): echo "<br />"; endif; ?>
    <?php if ( $this->showPros() ): ?>
        <strong><?php echo $this->__('Pros:') ?></strong>
        <?php $isFirst = true ?>
        <?php foreach( $this->getProsCollection() as $pros )
              {
                  $name = $this->__( $pros->getName() );
                  echo ( $isFirst ? $name : ( ', '.$name ) );
                  $isFirst = false;
              } ?><br />
    <?php endif ?>
    <?php if ( $this->showCons() ): ?>
        <strong><?php echo $this->__('Cons:') ?></strong>
        <?php $isFirst = true ?>
        <?php foreach( $this->getConsCollection() as $cons )
              {
                  $name = $this->__( $cons->getName() );
                  echo ( $isFirst ? $name : ( ', '.$name ) );
                  $isFirst = false;
              } ?>
    <?php endif ?>
<br /><br />
<?php endif ?>