<div>

    <h1>Inbox</h1>

    <?php 
    //untuk orderan dari host
    $orders = $this->selectOrder();
    //untuk orderan sebagai customer
    $orderx = $this->selectorderviewcust();

    ?>
    <table border='1'> 
    <tr>
        <td>increrment id </td>
        <td>nama host/customer </td>
        <td>status order</td>
        <td>chat</td>
    </tr>
    <?php 
        foreach($orders as $ord) : 
            $order = Mage::getModel('sales/order')->load($ord);
            //order as a host
            if($order->getState()=="processing" ){
    ?>
    <tr>
        <td><?php echo $order->getIncrementId() ?></td>
        <td><?php echo $order->getBillingAddress()->getFirstname(); ?></td>
        <td><?php echo $order->getStatus();  ?></td>
        <td>
            <a href="<?php echo $this->getBaseUrl();?>exp/inboxorder/add/increment_id/<?php echo $order->getIncrementId()?>">chat</a>
        </td>
    </tr>
    <?php 
            }
        endforeach ;
        //order as a customer
        foreach($orderx as $ord) :  ?>
            <tr>
                <td><?php echo $ord['increment_id'] ?></td>
                <td><?php echo $ord['nama'] ?></td>
                <td><?php echo $ord['status'] ?></td>
                <td>
                    <a href="<?php echo $this->getBaseUrl();?>exp/inboxorder/add/increment_id/<?php echo $ord['increment_id'] ?>">chat</a>
                </td>
            <tr>
        <?php endforeach  ?>
    </table>
</div>