<div class="reveal small" id="login-Modal" data-reveal>
  
   
    <?php echo $this->getMessagesBlock()->toHtml() ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('customer.form.login.extra')?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
        <?php echo $this->getBlockHtml('formkey'); ?>
        
        <div class="row">
        <div class="medium-8 medium-centered columns">
           	<div class="content padding-center">
           		 <div class="text-center caption">
        <h4>SELAMAT DATANG KEMBALI</h4>
         <p><?php echo $this->__('If you have an account with us, please log in.') ?></p>
    </div>
            	<ul class="form-list">
                        <li>
                            <div class="input-box">
                                <input type="text" placeholder="Masukan Email" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email Address')) ?>" autocomplete="off"/>
                            </div>
                        </li>
                        <li>
                            <div class="input-box">
                                <input type="password" placeholder="Masukan Password" autocomplete="off" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Password')) ?>" />
                            </div>
                        </li>
                        <?php echo $this->getChildHtml('form.additional.info'); ?>
                        
                         <a class="small-text" href="<?php echo $this->getForgotPasswordUrl() ?>"><?php echo $this->__('Forgot Your Password?') ?></a>
                    </ul>
                <div class="buttons-set">
                      
                    <button type="submit" class="button small expanded secondary" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Login')) ?>" name="send" id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>
                	<?php echo $this->getChildHtml('inchoo_socialconnect_checkout')?>
                	 <p class="small-text">Belum punya akun? <a data-open="registerModal">Daftar disini</a></p>
                </div>
            </div>
        </div>
            
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('login-form', true);
    //]]>
    </script>

 	 <a class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </a>
</div>








<style>
	@-webkit-keyframes autofill {
    to {
        color: white;
        background: transparent;
    }
}


input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
 </style>
