<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Advancednewsletter
 * @version    2.4.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>
<?php $this->setBlockUniqueId($this->getBlockUniqueId() + 1) ?>


<div class="pop-up reveal" id="voucherModal" data-reveal>
	 <div class="subscribe-container" id="advancednewsletter-subscribe-<?php echo $this->getBlockUniqueId() ?>">
    <form action="<?php echo $this->getUrl('advancednewsletter/index/subscribe', array('_secure'=>Mage::app()->getStore(true)->isCurrentlySecure())) ?>" method="post" id="advancednewsletter-form-<?php echo $this->getBlockUniqueId() ?>">
       
        <div class="block-content padding-center text-center">
            <div class="an-segments">
                <?php echo $this->getChildHtml('advancednewsletter.options.'.Mage::getStoreConfig(AW_Advancednewsletter_Block_Subscribe::STYLES_PATH)); ?>
            </div>
            <div class="row">
            	<div class="small-12 medium-10 medium-centered columns text-center">
            	<h3>Saya mau voucher senilai Rp 150.000,00</h3>

            	</div>
            	<div class="small-12 medium-10 medium-centered columns">
            		<div class="footer-subscribe-container-form margin-bottom-1">
                		<?php echo $this->getChildHtml('advancednewsletter.subscriber.data') ?>
           			</div>
            	</div>
            	<div class="small-12 medium-10 medium-centered columns ">
            		 <div class="footer-subscribe-container-button">
                <button type="submit" class="button" onclick="advancednewsletterForm<?php echo $this->getBlockUniqueId() ?>.submit()"><span>
                <?php echo $this->__('Subscribe') ?></span>
            	</button>
            </div>
            		<p class="tiny-text"><input type="checkbox" name="verification" value="verification" class="an-data required-entry">  Saya menyetujui syarat dan ketentuan yang berlaku</p>
            	</div>
            </div>
            
           
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var advancednewsletterForm<?php echo $this->getBlockUniqueId() ?> = new VarienForm('advancednewsletter-form-<?php echo $this->getBlockUniqueId() ?>');
        //]]>
        
       
    </script>
    
    
</div> 
  <div class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
