<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Advancednewsletter
 * @version    2.4.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $this->setBlockUniqueId($this->getBlockUniqueId() + 1) ?>
<?php if (preg_match('/^1.3/', Mage::getVersion())): ?>
<div class="box base-mini mini-newsletter an-subscribe" id="advancednewsletter-subscribe-<?php echo $this->getBlockUniqueId() ?>">
    <form action="<?php echo $this->getUrl('advancednewsletter/index/subscribe', array('_secure'=>Mage::app()->getStore(true)->isCurrentlySecure())) ?>" method="post" id="advancednewsletter-form-<?php echo $this->getBlockUniqueId() ?>">
        <div class="head"><h4><?php echo $this->__('Newsletter') ?></h4></div>
        <div class="block-content">
            <div class="an-segments">
                <?php echo $this->getChildHtml('advancednewsletter.options.'.Mage::getStoreConfig(AW_Advancednewsletter_Block_Subscribe::STYLES_PATH)); ?>
            </div>
            <div>
                <?php echo $this->getChildHtml('advancednewsletter.subscriber.data') ?>
            </div>
            <div class="an-buttons">
                <button type="submit" class="form-button-alt" onclick="advancednewsletterForm<?php echo $this->getBlockUniqueId() ?>.submit()"><span><?php echo $this->__('Subscribe') ?></span></button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var advancednewsletterForm<?php echo $this->getBlockUniqueId() ?> = new VarienForm('advancednewsletter-form-<?php echo $this->getBlockUniqueId() ?>');
        //]]>
    </script>
</div>
<?php else: ?>

	<div class="row">
		<div class="medium-12 columns">
			  <div class="subscribe-container" id="advancednewsletter-subscribe-<?php echo $this->getBlockUniqueId() ?>">
    <form action="<?php echo $this->getUrl('advancednewsletter/index/subscribe', array('_secure'=>Mage::app()->getStore(true)->isCurrentlySecure())) ?>" method="post" id="advancednewsletter-form-<?php echo $this->getBlockUniqueId() ?>">
       
        <div class="block-content">
            <div class="an-segments">
                <?php echo $this->getChildHtml('advancednewsletter.options.'.Mage::getStoreConfig(AW_Advancednewsletter_Block_Subscribe::STYLES_PATH)); ?>
            </div>
            <div class="row collapse">
            	<div class="small-12 medium-6 columns text-center">
            	<h4>Subscribe dan dapatkan voucher senilai 75rb untuk transaksi pertama</h4>
            	<p class="small-text">Dapatkan penawaran menarik dan informasi terbaru terkait produk kami</p>
            	</div>
            	<div class="small-12 medium-4 columns">
            		<div class="footer-subscribe-container-form">
                <?php echo $this->getChildHtml('advancednewsletter.subscriber.data') ?>
            </div>
            	</div>
            	<div class="small-12 medium-2 columns">
            		 <div class="footer-subscribe-container-button">
                <button type="submit" class="button" onclick="advancednewsletterForm<?php echo $this->getBlockUniqueId() ?>.submit()"><span>
                <?php echo $this->__('Subscribe') ?></span>
            	</button>
            </div>
            	</div>
            </div>
            
           
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var advancednewsletterForm<?php echo $this->getBlockUniqueId() ?> = new VarienForm('advancednewsletter-form-<?php echo $this->getBlockUniqueId() ?>');
        //]]>
    </script>
</div> 
		</div>
	</div>
 
<?php endif; ?>