<?php $customer = $this->getCustomer();?>
<?php $_session = $this->getSession();?>


<h1>Edit Profile</h1>

<form class="form" method="post" name="editaccountForm" id="addproductform"
    action="<?php echo Mage::getBaseUrl();?>exp/account/editPost" enctype="multipart/form-data">

    <?php echo $this->getBlockHtml('formkey') ?>
    <input name="session_id" type="hidden" value="<?php echo $_session ?>" />
    <input type="hidden" name="customer_id" value="<?php echo $customer->getId();?>" />


    <label for="customer_job">Tell more about your professional job</label>
    <input type="text" name="customer_job" value="<?php echo $customer->getCustomerJob();?>">

    <label for="customer_bio">Tell more about your self</label>
        <textarea class="required-entry" placeholder="See the example below" type="text"
            name="customer_bio"><?php echo $customer->getCustomerBio();?></textarea>

        <div class="callout success">
            <h5>Tips</h5>
            <p>
                I am a law student in Flores. I am also a travel blogger for 5 years. I would love to show you the best
                of our home city and try the best of our well known street foods. I am pretty sure you can not see
                Waerebo well by yourself because it hidden in the alleys where all local live. Just go with me I will
                take you to the place only local know to meet people and understand more about my beautiful city.
            </p>
        </div>


    


    <button type="submit" value="add" class="button">Save Profile</button>
</form>

