<?php $customer = $this->getCustomer();?>
<?php $_session = $this->getSession();?>

<h1>Profile Picture</h1>

<form class="form" method="post" name="uploadPhotoForm" id="uploadPhotoForm"
    action="<?php echo Mage::getBaseUrl();?>exp/account/uploadProfilePhoto" enctype="multipart/form-data">

    <?php echo $this->getBlockHtml('formkey') ?>
    <input name="session_id" type="hidden" value="<?php echo $_session ?>" />
    <input type="hidden" name="customer_id" value="<?php echo $customer->getId();?>" />


    <input id="file" name="file[]" type="file" multiple/>
    <button type="submit" value="add" class="button">Save Photo</button>
</form>