<?php $customer = $this->getCustomer();?>
<?php $_product = $this->getProduct();?>
<?php $_session = $this->getSession();?>


<?php $image = $this->getRequest()->getParam('image');?>

<a class="backnav-url" href="<?php echo $this->getUrl('exp/product') ?>">
<i class="fa fa-angle-left" aria-hidden="true"></i> My Experience</a>

<?php $set_schedule = $this->getRequest()->getParam('schedule');?>

<?php if($set_schedule == 1):?>
<?php echo $this->getChildHtml('schedule');?>
<?php elseif($image == 1):?>
<?php echo $this->getChildHtml('upload-image');?>
<?php else:?>

<h1>Edit Experience</h1>

<form class="form" method="post" name="editproductform" id="editproductform"
    action="<?php echo Mage::getBaseUrl();?>exp/product/editPost/id/<?php echo $_product->getId();?>"
    enctype="multipart/form-data">

    <?php echo $this->getBlockHtml('formkey') ?>
    <input name="session_id" type="hidden" value="<?php echo $_session ?>" />
    <input type="hidden" name="customer_id" value="<?php echo $customer->getId();?>" />

        
    <?php echo $this->getChildHtml('personal-information');?>
    <?php echo $this->getChildHtml('basic-information');?>
    <?php echo $this->getChildHtml('availability');?>
    <?php echo $this->getChildHtml('details');?>

    <button type="submit" value="add" class="button">Save & Continue</button>
</form>

<?php endif;?>

