

<?php
$customer = $this->getCustomer();
$productCollection = $this->getProductCollection();           

?>

<?php $mediaUrl = Mage::getBaseUrl('media') . 'host' . $customer->getCustomerPhotoUrl();?>


<h1>My Experience</h1>

<a href="/exp/product/add" class="button small">+ Add New Experience</a>

<section class="padding-center">
<div class="row medium-up-2">
    <?php foreach($productCollection as $product) :?>
    
    <?php 
    $productModel = Mage::getModel('catalog/product')->load($product->getId());
    foreach ($productModel->getMediaGalleryImages() as $image):?>
   <?php if($image->getLabel() !== 'host_upload'){
       continue;
   };?>

<?php   $file_name = $image->getFile();
         $image_url = $this->helper('catalog/image')->init($this->getProduct(), 'small_image', $image->getFile())
         ->constrainOnly(false)
         ->keepAspectRatio(true)
         ->keepFrame(false)
         ->resize(400);
?>

    
<?php endforeach;?>

    <div class="columns">
        <div class="card">
            <div class="card-host-edit card-host">


                <div class="card-image" style="min-height:250px;background: url(<?php echo $image_url?>) no-repeat center center; 
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;">
                    <div class="card-image-content">
                        <div class="top-left">
                            <div class="location"> <?php echo $product->getExpLocation();?></div>
                            <div class="duration"> <?php echo $product->getDuration();?></div>
                        </div>
                        <div class="top-right">
                            <?php if($product->getVisibility() == '1'):?>
                            <div class="status">
                                On Review
                            </div>
                            <?php endif;?>
                            <?php if($product->getVisibility() == '4'):?>
                            <div class="status">
                                Active
                            </div>
                            <?php endif;?>

                        </div>

                    </div>


                </div>
                <div class="card-content">
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <div class="host-image">
                            <img src="<?php echo $mediaUrl?>" alt="">
                    
                                
                            </div>

                        </div>
                        <div class="small-7 columns">
                            <div class="exp-desc">
                                <h2>
                                    <a href="">
                                        <?php echo $product->getName();?>
                                        
                                    </a>
                                </h2>

                            </div>
                            <div class="exp-edit">
                            <a class="button tiny secondary" style="padding:5px 7px" href="/exp/product/edit/id/<?php echo $product->getId();?>">Edit</a>
                            <a class="button tiny secondary" style="padding:5px 7px" href="/exp/product/edit/id/<?php echo $product->getId();?>/schedule/1">Manage Schedule</a>
                            </div>


                        </div>
                        <div class="small-3 columns">
                            <div class="exp-price">
                                <div class="price-label">Start From</div>
                                <div class="price-value"><?php echo Mage::helper('core')->currency($product->getPrice(), true, false);?> / Session</div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <?php endforeach;?>
</div>
</section>
