<?php echo $this->getCssJsHtml() ?>


<script>
document.addEventListener("DOMContentLoaded", yall);




    function toggleUp(value) {
        $(value).toggleClassName('show');
        $('main-body').toggleClassName('no-scroll');
    }


    function toggleShow(value) {
        $(value).show();
        //alert(value);
        //$('main-body').toggleClassName('no-scroll');
    }
    function toggleHide(value) {
        $(value).hide();
        //alert(value);
        //$('main-body').toggleClassName('no-scroll');
    }
</script>


<script>


    jQuery(document).ready(function ($) {
        $('.media').owlCarousel({
            center: true,
            items: 1,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            loop: true,
            margin: 0,
            dots: true,
            autoplay: false,
            nav: false,
        });
    });

    jQuery(document).ready(function ($) {
        var owl = $('#product-slider.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: false,
            margin: 0,
            nav: false,
            dots: true,
            
        })
    });



</script>

