<nav id="mobile-navigations" class="mobile-global-footer-nav show-for-small-only text-center">
        <div class="row small-up-4">
        <div class="columns">
                        <a href="<?php echo $this->getUrl('') ?>">
                                <div class="icon">
                                        <img style="height:25px"
                                                src="https://petloka.com/media/wysiwyg/Petloka-Service/logo-hotel-web.png">
                                </div>
                                <div class="title">
                                       Home
                                </div>
                        </a>

                </div>
                <div class="columns">
                        <a href="<?php echo $this->getUrl('service/product/list') ?>">
                                <div class="icon">
                                        <img style="height:25px"
                                                src="https://petloka.com/media/wysiwyg/Petloka-Service/logo-grooming-web.png">
                                </div>
                                <div class="title">
                                        Grooming
                                </div>
                        </a>

                </div>
                
                <div class="columns">
                        <a href="<?php echo $this->getUrl('help') ?>">
                                <div class="icon">
                                        <img style="height:25px"
                                                src="https://petloka.com/media/wysiwyg/Petloka-Service/logo-help-web.png">
                                </div>
                                <div class="title">
                                        Help
                                </div>
                        </a>

                </div>

                

                <div class="columns">
                        <a href="<?php echo $this->getUrl('service/account/login') ?>">
                                <div class="icon">
                                        <img style="height:25px"
                                                src="https://petloka.com/media/wysiwyg/Petloka-Service/logo-account-web.png">
                                </div>
                                <div class="title">
                                        Account
                                </div>
                        </a>

                </div>



        </div>
</nav>